[2016-10-28 11:08] mojoaxel commented on #1955
fixed with #2239

[2016-10-28 11:09] #1955 closed

[2016-10-28 16:18] daattali commented on #1955
Awesome, thank you!

[2016-10-28 19:12] josdejong commented on #2155
Awesome job @mojoaxel and @yotamberk ! You've done a tremendous amount of work there, thanks.

[2016-10-28 19:40] yotamberk commented on #2015
@mojoaxel I don't see an easy way to solve this... The only workaround I see that works is applying`vis.moment(data.start)' and `vis.moment(data.end)` over all the data every time you load the data...
I really don't see a legit way to do it except for saving any date object in the dataset as a `moment` date, which requires some breaking changes...

[2016-10-28 20:13] mojoaxel commented on #2110
The problem only exists if two axes are enabled. Than one axes becomes the "master" and defines how many (major and minor) steps are in the y-axis-grid. The second axis has to fitted to this pre-defined grid. This "fitting" of this axis to the other one is done in the function [followScale](https://github.com/almende/vis/blob/develop/lib/timeline/component/DataScale.js#L134), as already mentions b

[2016-10-28 21:28] yotamberk commented on #2098
@mojoaxel Do you know which timeout? I don't the configuration for the event release of the drag handler...

[2016-10-28 21:46] yotamberk commented on #2194
@ihatecodinglikeking I've just found a way to do this:
set in you options:
[code]

Works for you?

[2016-10-28 21:53] #2194 closed

[2016-10-28 21:57] qubotong opened #2240 "Is there a way to draw rects in network?"
I find there is no way to draw rectangles in network even though they are popular. Is there any considerations stop you guys to implement that shape when drawing a node?

[2016-10-29 09:20] Tooa commented on #2240
Hi,

the `big box``[here](http://visjs.org/examples/network/nodeStyles/shapes.html) almost looks like a rectangle. Is that what you are looking for?

[2016-10-29 14:07] pliablepixels commented on #1683
Out of curiosity, how does one moveTo 3/4 of the screen easily ?
I'm doing:
[code]

[2016-10-29 15:30] pliablepixels commented on #1683
So I looked at the implementation of moveTo and replicated it instead of calling it, so I can change the half way point to another point. But changing 0.5 to say 0.7 below doesn't seem to move the red bar to 70% of the displayable range. What am I missing? Thanks

[code]

[2016-10-29 16:05] seveves opened #2242 "Angular2 Wrapper"
Hi everyone,
I've just started (yesterday night ... friday night ...) to write a angular2 wrapper for vis.js. The first thing I've implemented is the network component with the help of the vis-tyings project by @agileek.

I hope you are fine with my attempt to make vis.js available to the angular community.

Please check it out and let me know if I should change anything:
* [ng2-vis](https://githu

[2016-10-29 16:26] mokraemer commented on #2015
but don't you agree it is a need for the entire applet that loading a stored dataset gives you the same data as before? It is not quite common all computers use utc time ;-)

The question on breaking changes is - what does it break and who is affected.

[2016-10-29 17:53] mojoaxel commented on #1683
If you have a question please try [stackoverflow](http://stackoverflow.com/tags/vis.js) or create a new issue. This issue is closed.

[2016-10-29 18:50] mojoaxel opened #2243 "Update external dependencies"

[2016-10-29 20:24] mojoaxel commented on #2015
I can not longer reproduce this issue with the current develop version.
I have provided some improvements for this issue with #2244 but I think we can mark it as fixed :tada:

[2016-10-29 20:24] #2015 closed

[2016-10-29 21:25] llavayssiere commented on #1965
I depend on this feature to improve my visual interface and i hope it will be soon available. It is an essential feature to create node labels with HTML content like "title" node property (docs network : The title can be an HTML element or a string containing plain text or HTML).

[2016-10-29 21:41] yotamberk commented on #2242
@seveves good job! We are more than happy for ng-2 users to come and use this lib.

[2016-10-29 21:43] yotamberk commented on #2240
@qubotong I think what @Tooa showed is what you are looking for. If you're still not satisfied, please add a feature request

[2016-10-29 21:43] #2240 closed

[2016-10-29 22:02] mojoaxel commented on #2242
@seveves You also should check out [visjs/angular-visjs](/visjs/angular-visjs). It's from @josdejong a former visjs core developer.

[2016-10-30 07:02] seveves commented on #2242
Thank you! I will check it out and see if I can use anything for migrating to angular2.

[2016-10-30 08:24] mojoaxel commented on #2181
fixed with #2245

[2016-10-30 08:24] #2181 closed

[2016-10-30 09:13] mojoaxel commented on #2098
There is a [deduplication timout in hammer.js set to 2.5s](https://github.com/hammerjs/hammer.js/commit/bfeb89a77f778c527f771150d1e9687bd318ce8d#diff-d61bfbd2add2f0bf6821207e80705f11R81).

My thoughts are: Maybe we can add an option to disable Hammer.js if not needed (non touch devices) and fall back on normal mouse events?

[2016-10-30 09:14] mojoaxel commented on #2098
I think that's a minor issue and would need big changes. Maybe we can even close it?

[2016-10-30 17:49] mojoaxel commented on #2243
I would like to introduce https://greenkeeper.io into this project to keep external dependencies (in develop) always up to date.
Has somebody a reason not to do it?

[2016-10-30 20:55] yotamberk commented on #2243
@mojoaxel Looks good! Not sure yet how it works but I trust it does well what it says

[2016-10-30 21:04] yotamberk commented on #2098
@mojoaxel I don't think we should close it. Adding an option of removing Hammer.js for non-touch devices - using pure mouse events, is a great feature request, but doesn't solve this issue. Increasing the timeout is the way to go in the mean time.
In any case, this issue is not critical. It can wait

[2016-10-31 08:11] mojoaxel commented on #2098
Removing hammer.js completely is not the way to go, because vis.js seems to depend on it for all input handling. Maybe we should move this issue over to hammer.js. I'm sure we can create a nice little example without vis.js that demonstrates the problem on non-touch devices.

We can't increase the timeout! This has to be done in hammer.js. Also an Increase would not get rid of the problem.

[2016-10-31 09:37] yotamberk commented on #2098
Agreed. I see, though, that hammerjs has not been maintained for the last few months...

I hoped there was a way to define the timeout externally... I see now that it is indeed not possible... And in any case it really doesn't solve the problem...

I'm going to try to implement the `panmove` with `mousedown` and `mousemove` events. Maybe we can solve this with pure mouse events (at least for non-t

[2016-10-31 09:44] mojoaxel commented on #2243
It looks like this only could be done by a "owner" of the `almende` account itself :angry:
So maybe @ludost is the only guy who can do it at the moment.

[2016-10-31 10:28] ludost commented on #2243
ok, I'll try and look at this in the afternoon.

Greetings,
Ludo.

On Mon, Oct 31, 2016 at 10:44 AM, Alexander Wunschik <
notifications@github.com> wrote:

--
Met vriendelijke groet/Kind regards,

Ludo Stellingwerff

Almende BV

m: +31 6 24495602
e:  ludo@almende.org

Q ... Being abstract is something profoundly different from being vague...
The purpose of abstraction is not to be vague, but to cr

[2016-10-31 18:07] netbrothers-tr opened #2249 "Make customTime non-draggable"
Have I missed a way of making a custom time non-draggable? I wish to add custom time bars to illustrate some limits (thresholds) but prevent the user from dragging them around.

[2016-11-01 04:52] qubotong commented on #2240
@yotamberk As my understanding, the size of big box is decided by the labels inside it. What if I just need to draw a rect without any labels, or what if I need to add same size rects with different labels?

[2016-11-01 04:56] qubotong commented on #2240
@yotamberk could you please reopen this issue and modify the label to feature request? or do you prefer I add another issues refers to this one?

[2016-11-01 08:56] mojoaxel commented on #2249
Just set `min`, `max` and `zoomable`:
[code]

[Here](http://jsbin.com/gisatiy/2/edit?html,output) is an example.

[2016-11-01 09:21] netbrothers-tr commented on #2249
Hi @mojoaxel ! Thanks for taking your time to look into this. I didn't mean the whole timeline to be fixed and non-draggable but rather custom time objects (described in http://visjs.org/docs/timeline/#Methods as

, see method `addCustomTime` for example) to be fixed and non-draggable. Is there any way to achieve this elegantly?

[2016-11-01 09:49] mojoaxel commented on #2249
I've looked into it and I don't see a way at the moment of disabling dragging for customTimes. I think this is something we really need and I will look into it. I hope I get it done for the upcoming v4.17 release.

I clean up this issue and change it to a feature-request...

[2016-11-01 12:43] aytech opened #2251 "Timeline axis labels disappearing"
Hi,
This might be a duplicate of #1393, but I can still reproduce the issue (v. 4.16.1). I've created a [bin here](http://jsbin.com/sezatos/edit?html,output).

You have to do a bit of fiddling to reproduce the issue:
1. Resize the width of the output window to make it as wide as possible.
2. Click on "Run with JS"
3. Grab the far left of the timeline axis and drag it to the right.
At some point al

[2016-11-01 14:43] Tooa commented on #2251
Can you test whether the issue also occurs in the 'develop' branch?

[2016-11-01 21:33] #2118 closed

[2016-11-01 22:29] #668 closed

[2016-11-01 22:29] #680 closed

[2016-11-01 22:32] #825 closed

[2016-11-01 22:33] #971 closed

[2016-11-01 22:34] #1032 closed

[2016-11-01 22:35] #1057 closed

[2016-11-01 22:37] #1295 closed

[2016-11-01 22:39] #1336 closed

[2016-11-01 22:40] #1360 closed

[2016-11-01 22:41] #1613 closed

[2016-11-01 22:43] #1966 closed

[2016-11-01 22:44] #2065 closed

[2016-11-01 22:50] mojoaxel commented on #1066
@paolovallafolid Can we close this issue?

[2016-11-01 22:55] mojoaxel commented on #1126
@daniel-pfeiffer Is that still an issue for you? Should we add the functions or close this issue?

[2016-11-02 03:56] paolovalladolid commented on #1066
Sorry for the late response.  Yes the issue can be closed.

[2016-11-02 04:16] roboslone commented on #2132
Hi!

In my case timeline updates in real time and users cannot change the data via web interface. So only backend decides when item needs to stop updating. I believe default behaviour should be "if item has no end it updates forever".

Just to clarify things, I'm using timeline in read-only mode and my users do not interact with data directly through timeline in web interface. I think most other c

[2016-11-02 04:39] fancling opened #2252 "some nodes which have edge between them may be placed in same level"
my local options is
randomseed:2
improvedlayout:false
hierarchical:{
enabled:true,
edgeMinimization:false
sortmethod:directed
}
for example , a →d b→d c→d ..abc only have d as son. d has many sons.
but abcd are in the same level so cant see all the edges from abc→d,it seems like there is just one  edge .
can not set the level because it's difficult.
when in hubsize,the problem is that the father n

[2016-11-02 07:22] aytech commented on #2251
Yes, sorry I didn't mention, I was testing in develop branch. Now tested in master, the same result, the bug is there

[2016-11-02 07:36] aytech commented on #2251
Ok, I think I found the commit that introduced this: a9ca766af7d658f7fe42c5f35f2da382ea4e164a (Fixed #24: Implemented support for time zones (see examples/timeline/other/timezone.html)).
This was in v. 4.5.1, 4.6.0 was released with this bug already
I will try to debug, just don't know when yet, a bit tight on schedule, will have to downgrade for now.

[2016-11-02 08:05] #1066 closed

[2016-11-02 08:13] aytech commented on #2251
Just a small note: console shows no errors/warnings when labels disappear

[2016-11-02 08:14] mojoaxel commented on #2252
I don't see a question mark. Is this a question? If you have a question on how to use vis.js in your project please ask it on [stackoverflow](stackoverflow.com/tags/vis.js)).

If you think you have found a bug in vis.js please provide a [jsbin](jsbin.com) that demonstrates your issue in detail.

[2016-11-02 08:16] mojoaxel commented on #2251
@aytech Thanks for reporting this. In which browser does the problem occur?

[2016-11-02 08:26] aytech commented on #2251
@mojoaxel Hi Alex, so far tested on Chrome 54.0.2840.87 / Firefox 45.3.0 / IE 11 (11.06.36) / MS Edge

[2016-11-02 08:42] netbrothers-tr commented on #2249
Appreciate it very much. Thanks!

[2016-11-02 08:54] mojoaxel commented on #2251
OK, I can confirm this is a bug.

[2016-11-02 09:05] #1701 closed

[2016-11-02 09:06] #1788 closed

[2016-11-02 09:07] #1837 closed

[2016-11-02 09:12] mojoaxel commented on #1867
[RTFM!](http://visjs.org/docs/timeline/)

[2016-11-02 09:12] #1867 closed

[2016-11-02 09:13] mojoaxel commented on #1376
@globegithub Is this issue still relevant?

[2016-11-02 09:14] mojoaxel commented on #1195
@artim Is this issue still relevant?

[2016-11-02 09:20] mojoaxel commented on #1871
@Lukather1971 Thats's not possible at the moment. If this is a feature you need please reopen this issue and we will change it to a feature-request.

[2016-11-02 09:20] #1871 closed

[2016-11-02 09:27] mojoaxel commented on #1875
@yotamberk Can you answer this?

[2016-11-02 09:28] mojoaxel commented on #1883
@0x13a We don't know. It you'll find it out please let us know ;-)

[2016-11-02 09:28] #1883 closed

[2016-11-02 09:32] mojoaxel commented on #1891
@Alex36 Is this still relevant or can we close it?

[2016-11-02 09:33] mojoaxel commented on #1895
@Kajvdh Is this still relevant or can we close it?

[2016-11-02 09:34] mojoaxel commented on #1904
@Kaliph Can we close this?

[2016-11-02 09:36] Kaliph commented on #1904
Yes u can. Thx

Von meinem iPhone gesendet

[2016-11-02 12:18] m212121 opened #2253 "[Question][Timeline] Can I customize zooming behavior?"
Hello,
I want to skip some zoom levels while zooming timeline.

For example I don't like when `timeline.timeAxis.step.scale == 'month' ` and `timeline.timeAxis.step.step = 3 ` because then some month labels are hidden. So I want to go from `scale == 'month'` and `step = 1` to the `scale == 'year'`.

![timelinetogh](https://cloud.githubusercontent.com/assets/13718016/19928199/84a4c722-a10e-11e6-908

[2016-11-02 13:13] mojoaxel commented on #1905
You can access and change the group-label like so:
[code]

[2016-11-02 13:13] #1905 closed

[2016-11-02 13:15] mojoaxel commented on #1906
@yotamberk Letzts change this issue to a feature-request.

[2016-11-02 13:16] mojoaxel commented on #1918
@vivadave Is this question still relevant or can we close this issue?

[2016-11-02 13:21] #1904 closed

[2016-11-02 13:24] mojoaxel commented on #1925
@adamtal3 Is this issue still relevant or can we close it?

[2016-11-02 14:02] mojoaxel commented on #1952
@SchDen Is this still an issue or can we close this?

[2016-11-02 14:45] mojoaxel commented on #1985
@kylerberry Sorry for the late answer. Items are auto-arranged. You can reorder items manually but the order propably is changed by moving or zooming the timeline. A change would require some major changes, but of course you are invited to try!  Or should we close this issue?

[2016-11-02 14:59] mojoaxel commented on #2029
@steffchep Please see http://visjs.org/examples/timeline/other/localization.html.
If you have further problem with your locale, feel free to reopen this issue.

[2016-11-02 14:59] #2029 closed

[2016-11-02 15:03] mojoaxel commented on #2076
@dragos090 Is this issue still relevant or can we close it?

[2016-11-02 15:06] #2119 closed

[2016-11-02 15:07] mojoaxel commented on #2120
@lukasw44 Is this issue still relevant or can we close it?

[2016-11-02 15:07] kylerberry commented on #1985
@mojoaxel The project for which I would have liked the change has hence died. Seeing as there are no other "+1's" it's likely no one else cares. I'm comfortable closing this issue. When I have free time I may revisit in the future to see if I can work this in as a feature request. Thanks.

[2016-11-02 15:07] #1985 closed

[2016-11-02 15:09] mojoaxel commented on #2126
@2dvisio Is this issue still relevant or can we close it?

[2016-11-02 15:10] mojoaxel commented on #2172
@palra Is your question answered? Than, please close the issue.

[2016-11-02 15:18] mojoaxel commented on #2198
@ihatecodinglikeking I'm not sure what you want. You can use `min` and `max` to e.g. only show items in 2013. The others can than be reached by scrolling horizontally. Is that what you are looking for?

[2016-11-02 18:13] yotamberk commented on #2132
@roboslone Working at it =) I hope to have something for the next release

[2016-11-02 18:24] yuvraj11 commented on #2203
Thanks @yotamberk . Unfortunately I wouldn't be able to implement it at this time but I am going to go with the No Border options as suggested by @dragonzone . Thanks a bunch for your response y'all!

[2016-11-02 19:04] adamtal3 commented on #1925
I've chosen a different approach for my needs so I no longer need this functionality from vis.

You can close the issue but it'll be great if you can just specify that this is not achievable "out of the box" with vis (or maybe it is?).

[2016-11-03 00:57] chrislong commented on #577
I think I'm getting this bug in 4.16.1, with Chromium on Linux. When I click on the timeline, I get two `select` events instead of one. I looked into it a little and the second comes from a function called by a timer. It's not causing a problem for our app, but just thought I'd note that it's still there.

[2016-11-03 04:18] roboslone commented on #2132
@yotamberk Thanks!

[2016-11-03 06:52] 2dvisio commented on #2126
Well. As I mentioned, I have found an hack to do this. The hack is *really* ugly as I have to compute the distance of each click on the plot with the points and get the closest point.
This makes the tooltip very hacky.

Having the possibility of adding attributes to the SVG single elements would be amazing as it will allow to leverage the HTML innate mechanisms to handle situations like mine.
I th

[2016-11-03 06:54] SchDen commented on #1952
Hi @mojoaxel
Yes, close

[2016-11-03 08:28] #1952 closed

[2016-11-03 08:40] mojoaxel commented on #2126
@2dvisio So, adding the UUID from the DataSet as an attribute to the svg elements would help? I don't think that this would be difficult.
Also `mouseover` and `mouseout` events were introduced to the timeline with #1367. Maybe we can generalize this to work also with graph2d.

I'm going to clean up this issue and change it to a feature-request...

[2016-11-03 08:47] mojoaxel commented on #1925
Having a number-based timeline (no dates) is a big feature-request! We track it with #92
I hope some day somebody will find the time to implement it!

_I'm going to label it as duplicate of #92 and close this one._

[2016-11-03 08:47] #1925 closed

[2016-11-03 09:38] 2dvisio commented on #2126
Mouseover and mouseout would make it easier I guess to manage the mouse events.

[2016-11-03 10:04] ryancrosser commented on #273
What is the typical timeline for a feature to go from the develop branch to master?

[2016-11-03 13:02] itfourp commented on #1612
@yotamberk Sorry, I forgot about this and haven't updated my local version yet. I'll look into it next week and then I'm probably able to create the promised PR.

[2016-11-03 13:32] m1neral opened #2255 "Network Server Side nodes positioning."
Hello!
There is only one way to rendering network with needed nodes positions - serialize coordinates (x, y) from browser / headless browsers.

What about raw server side rendering with using "Force-directed graph drawing" algorithm, when we give data about connections (from, to) and get nodes coordinates(x, y) ?

[2016-11-03 13:53] mojoaxel commented on #2255
Interesting idea! [We accept pull requests](https://github.com/almende/vis/blob/develop/misc/how_to_help.md#creating-pull-requests) :wink:
Feel free to provide an example for that!

[2016-11-03 16:00] acmookey commented on #2151
@dbkaplun hi，i'm wondering did you implement your own custom sortMethod yet, I just have a similar requirement. I would be grateful if you can provide the code  for my reference.

[2016-11-03 17:39] steffchep commented on #2029
As I said, without requirejs, as in the example it works okay, so that did not really solve my problem.

The load order when using require is not always fixed, and it can happen that moment-with-locales is loaded too late if you just use the define([array of dependencies], function().... )

By now I do have an idea how to solve it, but it never hurts to be aware of this issue!

[2016-11-04 07:39] yotamberk commented on #2249
@mojoaxel I'm not sure I understand this feature request. You can add on the item itself `editable: false` and that will make that specific item non-draggable. Is this not what he needs?

[2016-11-04 08:11] mojoaxel commented on #2155
I want to invite everybody interested to join our [gitter chat](https://gitter.im/vis-js/Lobby) at [05.11.2016 13:00 CET](https://www.tickcounter.com/countdown/1478347200000/europe-berlin/dhms/FFFFFF3B5998000000FF0000/vis.js_v4.17_release_discussion) to discuss the upcomming v4.17 release.

[2016-11-04 08:27] mojoaxel commented on #2249
@yotamberk I had problems understanding it, too at first. The customTime feature adds something like a "marker" in form of a blue line over the timeline:
![image](https://cloud.githubusercontent.com/assets/600565/19999101/c3d9518e-a270-11e6-96da-a30b62f3389d.png)
This marker is always movable. I need this "markers"-feature in a project so I'm going to improve it in the next weeks.

[2016-11-04 08:28] yotamberk commented on #2249
ahhhhhhhhhh ok! sounds good

[2016-11-04 08:36] mojoaxel commented on #2029
You can define dependencies in require.js using the [shim config](http://requirejs.org/docs/api.html#config-shim).
Another way would be to generate a [custom vis.js](/almende/vis#custom-builds) without moment.js.

[2016-11-04 08:39] #1506 closed

[2016-11-04 08:40] mojoaxel commented on #1506
@yotamberk Thanks for that cool new feature!

[2016-11-04 11:57] mojoaxel commented on #2155
Ok, we are now in a code-freeze for the v4.17 release. The release is scheduled after a short round of voting at 05.11.2016 13:00 CET.

[2016-11-04 17:12] yuvraj11 opened #2257 "network.on(selectNode) doesn't work when a node is moved"
When a node is moved, network.on('selectNode') doesn't get fired. I am thinking of using the network.on('click') and check if the nodeId is not null, then call my custom function. Is it a bug?

[2016-11-04 19:38] mojoaxel commented on #2257
You can test a lot of the events in the [interactionEvents example](http://visjs.org/examples/network/events/interactionEvents.html). If a node is moved the "dragEnd" event is fired.

[2016-11-04 20:13] mojoaxel opened #2259 "Remove "Blog" from webpage"
I think the "[blog](http://visjs.org/blog.html)" can be removed from the webpage. The entries are completely outdated or even have [no reference to the subject](http://visjs.org/blog.html#CrownstoneKickstarter) and the style is non-compliant.

@ludost Wow do you guys from almende feel about this?

[2016-11-04 20:51] kuehn-sba commented on #2023
I have to take an eye on this further, but it seems chrome version 54.0.2840.87 Final (02.11.2016) fixed that issue (no stuttering so far).

[2016-11-04 21:26] globegithub commented on #1376
Not to me as I am not working on the project that was going to use Vis.
Thank you.

On Wed, Nov 2, 2016 at 2:13 AM, Alexander Wunschik [Masked] <

[2016-11-04 21:29] mojoaxel opened #2261 "Issue with mousewheel zoom"
I noticed problems with mouse wheel zoom in current develop branch.
Zoom is not possible at all (examples/timeline/interaction/limitMoveAndZoom.html) or seems to loose events (examples/timeline/other/localization.html).

This must be fixed before the v4.17 release because this was introduced since v4.16.1 :cry:

[2016-11-05 07:47] yotamberk commented on #2261
Looking at thisissue, I see the zoom does work but only if the mouse is on an item... Weird... Looking in to it.

[2016-11-05 11:59] mojoaxel commented on #2261
Fixed my @yotamberk with #2262

[2016-11-05 11:59] #2261 closed

[2016-11-05 12:21] yotamberk opened #2263 "Infinite redraw and scroll jump"
When having a timeline with many groups and a `maxHeight` with `orientaion: 'bottom'` There seems to be an infinite redraw + a scroll jump in the timeline.

(take for example vis/examples/timeline/groups/verticalItemsHide.html
change the options and remove orientation:'top')

[2016-11-05 12:43] #1881 closed

[2016-11-05 12:45] wimrijnders commented on #1973
I have picked up issue #524. When I am done with it, #1973 will also be possible due to changes in the drawing method. Hence, when I solve #524, I will also have solved #1973. This work is in progress right now.

[2016-11-05 12:46] mojoaxel commented on #2243
No longer sure if we need this!
Updating dependencies is already part of the release process.

[2016-11-05 12:46] #2243 closed

[2016-11-05 13:03] #1376 closed

[2016-11-05 14:51] mojoaxel commented on #2155
* release is done: https://github.com/almende/vis/releases/tag/v4.17.0
* npm is updated: https://www.npmjs.com/package/vis
* bower works also.

[2016-11-05 15:09] mojoaxel commented on #2155
Updated gh-pages: #2266

[2016-11-05 15:10] mojoaxel commented on #2155
I Think that's it!
Thanks to everybody!!
:clap: :clap:  :clap:

[2016-11-05 15:10] #2155 closed

[2016-11-05 15:14] ludost commented on #2259
Hi Alexander,

I agree, it can be removed...

Greetings,
Ludo.

On Fri, Nov 4, 2016 at 9:13 PM, Alexander Wunschik <notifications@github.com

--
Met vriendelijke groet/Kind regards,

Ludo Stellingwerff

Almende BV

m: +31 6 24495602
e:  ludo@almende.org

Q ... Being abstract is something profoundly different from being vague...
The purpose of abstraction is not to be vague, but to create a new
sem

[2016-11-05 15:15] ludost commented on #2155
Congratulations and thank you! Great work!

Kind regards,
Ludo.

On Nov 5, 2016 16:10, "Alexander Wunschik" <notifications@github.com> wrote:

[2016-11-05 15:28] yotamberk commented on #2253
@m212121 In the new release (released today!!!) there is a `timeline.zoomIn()` and `timeline.zoomOut()` which you can use and pass as parameter the factor you want to zoom (zoom factor must be between 0 and 1)
Try it out and tell us if this is what you need =)

[2016-11-05 15:29] #2259 closed

[2016-11-05 17:42] qazimir commented on #1957
No I did not use this solution for hierarchical network.

[2016-11-05 17:50] JorricksTU commented on #917
Did you manage to fix it nipunarora?

[2016-11-05 17:54] mojoaxel commented on #2129
Thanks for the idea!
Hacktoberfest is now over and some of us earned themselves a T-shirt!

[2016-11-05 17:54] #2129 closed

[2016-11-05 18:49] mojoaxel commented on #1218
This is still an issue in v4.17.0!

[2016-11-05 19:12] mojoaxel commented on #778
This is still an issue in v4.17.0.
Here is an example: http://jsbin.com/vimiqi/1/edit?html,output

[2016-11-05 19:15] mojoaxel commented on #294
I can not reproduce this anymore with v4.17.0

[2016-11-05 19:15] #294 closed

[2016-11-05 20:20] JorricksTU opened #2270 "Graph not centering"
After setting a custom width and height the graph is sometimes completely out of view.
Now after reading through the entire documentation I still have no idea how to fix this.
Can someone please provide me with an example?
I'm using the network code from the 'getting started'. http://visjs.org/docs/network/

[2016-11-05 20:23] #2173 closed

[2016-11-05 20:30] yotamberk commented on #1948
@surendrans Why would you want this?

[2016-11-05 20:32] yotamberk commented on #1895
This doesn't happen anymore in v4.17.0 (since the items get calculated correctly now for there visibility in view)

[2016-11-05 20:32] #1895 closed

[2016-11-05 20:36] yotamberk commented on #1891
@Alex36 This can be done easily by going over the items and finding the item with the next closest start time and then setting it as the selected item. If you supply a jsbin we can help you write up the function needed to do this.

[2016-11-05 20:39] yotamberk commented on #1875
@JagdshLKChand Not possible yet. It's an interesting feature request. Is this still in your needs?

[2016-11-05 20:40] yotamberk commented on #1861
@alexxcarvalho Is this issue still relevant? I don;t understand this feature request

[2016-11-05 20:46] yotamberk commented on #1519
@serge144 We've implemented some performance boosters (such as vertically hiding items that are not visible, etc). This issue seems to be solved in v4.17.0 so I'm closing this issue for now. If you are still having problems with this issue in the new version, please reopen this issue.

[2016-11-05 20:46] #1519 closed

[2016-11-05 20:46] yotamberk commented on #1514
Solved in v4.17.0

[2016-11-05 20:52] yotamberk commented on #1426
@ibnesayeed This issue is way out of our scope. It's a new view in vis and I really don't see this happening. I think you're better off using the libraries you've supplied to achieve this view.

[2016-11-05 20:52] #1426 closed

[2016-11-05 20:53] yotamberk commented on #1340
Fixed in v4.17.0

[2016-11-05 20:53] #1340 closed

[2016-11-05 21:04] yotamberk commented on #1187
@allayli vertical hiding of items has been implemented in v4.17.0. performance has improved immensely. Hope this is sufficient for your needs =)

[2016-11-05 21:04] #1187 closed

[2016-11-05 21:07] yotamberk commented on #1186
@DChau10  `verticalScroll` is now an option in v4.17.0! You are welcome to try it out =)

[2016-11-05 21:07] #1186 closed

[2016-11-05 21:13] yotamberk commented on #1179
@wjvriend  In v4.17.0 the items are calculated correctly for there visibility in the viewport.

[2016-11-05 21:15] yotamberk commented on #965
@matikucharski seems to be solved in v4.17.0! If still happens to you, please reopen this issue =)

[2016-11-05 21:15] #965 closed

[2016-11-05 21:21] #636 closed

[2016-11-05 21:38] yotamberk commented on #240
This exists with the `onMove` event

[2016-11-05 21:38] #240 closed

[2016-11-05 21:40] yotamberk commented on #239
This issue is resolved in v4.17.0. zoom/drag is only possible in the centaerContainer (the range)

[2016-11-05 21:40] #239 closed

[2016-11-05 21:43] yotamberk commented on #192
Seems to be working fine in v4.17.0

[2016-11-05 21:43] #192 closed

[2016-11-05 21:48] mojoaxel commented on #2270
Could you provide a screenshot or something that shows what exactly the problem is, please.

[2016-11-05 21:55] mojoaxel commented on #1514
Selecting an item by clicking on the dot does not work for me. At least not on mobile.

[2016-11-05 22:00] mojoaxel commented on #1519
@yotamberk We should check it with the jsbin example above.

[2016-11-05 22:00] yotamberk commented on #1514
Whoops... I thought the dot on the point item... This sounds more like a feature request

[2016-11-05 22:08] mojoaxel commented on #1895
@yotamberk I think you misunderstood. This is still the default behavior, but I think we can close it anyways.

[2016-11-05 22:12] mojoaxel commented on #1861
@alexxcarvalho It is possible to hide dates in the timeline. You could simply hide timespans of multiple days without any item.

[2016-11-05 22:12] #1861 closed

[2016-11-06 09:03] yotamberk commented on #1187
@mojoaxel this issue is kind of weird. The real solution is to loading less itema at a time (as jos recommended). The vertical hidden items intriduced helps the performance of the timeline. I think this issue is irrelevant

[2016-11-06 09:51] mojoaxel commented on #1187
@yotamberk I think the issue is hiding items that are covered by other items. These are not out of the view and therefore not hidden by the new functionality. Not sure if we should close this one...

[2016-11-06 10:38] JorricksTU commented on #2270
![image](https://cloud.githubusercontent.com/assets/20257392/20036888/7c9d5d28-a415-11e6-9bb4-6017b28581b5.png)

`<div class="regelschema-div an-outer-div" style="display:none; height:85%">
            <div class="row" style="height:100%;">
                <div class="regelschema col-md-9" style="height:100%;">
                    <div class="panel panel-default" style="height:100%;">

[2016-11-06 19:40] steffchep commented on #2029
Will play around with that, thanks!

[2016-11-07 07:49] mojoaxel commented on #1179
@yotamberk It may be interesting to adopt the proposal from @daniel-pfeiffer
We should try it out for v5.0.

[2016-11-07 07:52] mojoaxel commented on #1895
may be a duplicate of #1179

[2016-11-07 07:55] mojoaxel commented on #1519
I can't see a problem in http://jsbin.com/hiheci/edit?html,output
So it's probably fixed.

[2016-11-07 08:08] mojoaxel commented on #2270
@JorricksTU Sorry, I can not reproduce your issues. Maybe you can create a [jsbin](http://jsbin.com/hibuca/edit?html,output) that shows your problems!?

You also could try calling `network.fit()` after your dynamic layout has rendered.

[2016-11-07 08:09] aashay0101 opened #2271 "items.on('add') function returns only id of the item that is added, but no start date."
Example of the implementation:

`
items.on('add', function (event,properties) {
    console.log(JSON.stringify(properties));
});
`
properties does not have a start date, how can I retrieve start date?

[2016-11-07 08:11] #1288 closed

[2016-11-07 08:12] #1891 closed

[2016-11-07 08:13] mojoaxel commented on #1948
@surendrans I would recommend handling these types of business logic outside of the timeline in your own application.

[2016-11-07 08:13] #1948 closed

[2016-11-07 08:15] Jagdsh commented on #1875
@yotamberk.Thank you for your response. This was an important need for us, since this was not supported by visjs and for other reasons also we were forced to move out of visjs, to create our own timeline with D3. @mojoaxel thanks for bring this up

[2016-11-07 09:44] matikucharski opened #2273 "Cannot scroll page when zoomKey is enabled"
With newest release on timeline when I specify `zoomKey` or I set `zoomable` to false I cannot scroll page to bottom when mouse cursor is over timeline. The default scroll is `defaultPrevent`ed no matter what.
That wasn't the case with previous releases. Is there a way to allow page scrolling?

See here vis 4.17 (scroll not working): https://jsfiddle.net/matikucharski/6u5pz7jc/
And here previous 4

[2016-11-07 10:06] mojoaxel commented on #2273
@matikucharski Thanks for reporting this.

[2016-11-07 10:23] aashay0101 commented on #2271
There is a function called `items.get(id)` which can be used to get the data of the dynamically added item, It will retrieve all the details including startdate, enddate and content of the item. Solved.

[2016-11-07 10:23] #2271 closed

[2016-11-07 10:52] Loreno10 opened #2274 "3DGraph disappears when setSize() is called"
Hi, I've been experimenting with 3DGraph (bar-style).
It's been great, but i have one issue:
When I call graph.setSize(x, y) (for example graph3d.setSize('400px', '400px');) the graph disappears and i only see its background! In order to see the graph again, I have to move the camera with my mouse a little bit and the graph reappears again.
Here you can see what I just described: http://codepen.io

[2016-11-07 12:08] JorricksTU commented on #2270
@mojoaxel I just realised something.. I set up the width in percentages as I wanted the screen to be dynamic.
However, in the start the div regelschema-div is hidden and I called network.fit() right after the document is ready. Therefore I called it too early, resulting in an unwanted result. I added a delay for the fitted command and it works way better now! Thanks for the help!

[2016-11-07 12:56] itfourp commented on #2251
Not sure this helps since it was mentioned in https://github.com/almende/vis/issues/1393, but this problem is related to the daylight saving time, when there should be more or less than 24 hours.

[2016-11-07 14:05] superciccio14 opened #2276 "Offset in time axes synchronisation of a grouped timeline and 2d plots"
Hi there, I'm trying to sync two plots sharing time axes (a timeline and a 2d). I'm listening to `rangechange` and it seems working fine. But I noticed a strange constant offset between "linked" axes (you can see it in this plnkr http://plnkr.co/edit/3v33RSGuz7kzSUlsoH3k?p=preview).

Why is happening and how can I fix?

[2016-11-07 14:16] itfourp commented on #2276
The offset comes from the groups-list on the left side of the timeline. If both groups have the same width, the timelines will be in sync without any offset.
I'm not sure if there is an option to fox the width of the group. I've always been lucky enough to have very long group names that took care of that problem for me...

[2016-11-07 14:46] superciccio14 commented on #2276
I have suspected something like that :(

[2016-11-07 14:47] vjn2000 opened #2277 "The timeline dates(times) order on time axis is broken when scaling up or dragging"
When scaling up keeping current time (red vertical line) visible , the normal order of dates/times on time axis is getting broken at some moment. I tried an example from the distribution package: vis-4.17.0\examples\timeline\items\itemOrdering.html. But you can get the same error trying other samples. I get the same issue in my own app. The snapshot is attached
![image](https://cloud.githubusercon

[2016-11-07 14:53] #2277 closed

[2016-11-07 17:59] robbrit commented on #450
I can confirm that this bug is fixed, I was having the issue and it went away after upgrading to a newer version.

[2016-11-07 20:29] pliablepixels opened #2278 "get Zoom Level"
Hi there, I noticed some useful functions, [zoomIn and zoomOut added](https://github.com/almende/vis/issues/1955) in 4.17 - thanks they are useful.

Is it possible to get the current zoom level? I need to store it in a DB so I can go back to that zoom level when the app restarts (the data may change, but the zoom level needs to be retained in my app). Thanks

[2016-11-07 21:36] yotamberk commented on #2278
You can get the start and end time and לstore them

בתאריך 7 בנוב׳ 2016 10:29 אחה״צ,‏ "Pliable Pixels" <notifications@github.com>
כתב:

Hi there, I noticed some useful functions, zoomIn and zoomOut added
<https://github.com/almende/vis/issues/1955> in 4.17 - thanks they are
useful.

Is it possible to get the current zoom level? I need to store it in a DB so
I can go back to that zoom level when th

[2016-11-07 21:43] yotamberk commented on #2278
You can save the start and end times. Wont that have the same effect?

[2016-11-07 21:49] yotamberk commented on #2273
I see the problem. I'll fix it this weekend

[2016-11-07 21:50] #2270 closed

[2016-11-07 21:51] #2276 closed

[2016-11-07 21:56] pliablepixels commented on #2278
I think that would only work if the data set range is the same.
Here is what I mean:

I've set my graph options with a specific zoomMin (say granularity of 1 month) and a zoomMax (say granularity of 1 minute)

Now, if a person always wants to view his timeline at the granularity of 10 minutes, he will zoom in till he sees 10 minutes gaps. Now, even if he changes the date from/to he wants to always

[2016-11-07 22:04] yotamberk commented on #2278
So you can save the end and start difference and you get the soon level

[2016-11-07 22:41] almute opened #2279 "Setting 'locale' for timeline doesn't work"
Hello,
for a timeline I have setup in config `locale: 'de'` - but all month are still displayed in English.
Even if I use `moment.locale` to setup the language, all month are still displayed in English. Testing with `alert (moment.month())` shows the month in the correct language.
Why doesn't the text change?

[2016-11-07 22:53] mojoaxel commented on #2279
Please check out the locale example: http://visjs.org/examples/timeline/other/localization.html

[2016-11-07 23:07] almute commented on #2279
I have already checked all examples. The examples are working but my timeline not. I did all the same way as in the examples. Is there something to consider? I use my timeline inside of a FileMaker WebViewer on Mac. All other settings are working - only setting the language not.

[2016-11-08 01:13] pliablepixels commented on #2278
Sorry if I'm sounding daft (likely because I am) but here is what I am doing:

[code]

Here is the graph:
<img width="697" alt="screen shot 2016-11-07 at 8 10 40 pm" src="https://cloud.githubusercontent.com/assets/4116654/20082792/8610e796-a526-11e6-811d-65f145d94fae.png">

And here is the callback console.log

<img width="764" alt="screen shot 2016-11-07 at 8 10 54 pm" src="https://cloud.githubus

[2016-11-08 01:18] pliablepixels commented on #2278
Okay, so it looks like the object passed to this callback is something else, not the visible window.
Changing it to this gives the correct displayed range:
[code]
This produces:
<img width="604" alt="screen shot 2016-11-07 at 8 18 10 pm" src="https://cloud.githubusercontent.com/assets/4116654/20082917/5502617e-a527-11e6-911c-2b5bbc3355d6.png">

[2016-11-08 07:14] yotamberk commented on #2278
I'm sorry but i really dont understand why you need the zoom. If you have the start and end date, you can save them and when you refresh, set the timeline to these times. Or, calculate the difference and set the start to whatever you want and the end date to the start time + the difference calculated before. No need for calling zoomIn

[2016-11-08 08:57] pliablepixels commented on #2278
argh. Indeed - you are absolutely correct. Classic case of [XY](http://mywiki.wooledge.org/XyProblem) problem solving.

[2016-11-08 08:57] #2278 closed

[2016-11-08 10:09] almute commented on #2279
Problem is solved:
In my timeline (based on the example for groups) the vis.js was loaded before moments.js. When I first load moments.js it works.

[2016-11-08 10:12] mast0r opened #2280 "browserify timeline failed"
Hi, I've tried to get my own custom build with only a timeline and dataset. I used the code from the example and get the following error:

[code]

The custom.js is just from the official example too:

[code]

I have updated all the necessary utilities (node etc.):
[code]

What I am doing wrong?

[2016-11-08 11:30] #2279 closed

[2016-11-08 13:42] codegliders opened #2282 "Problem using twitter bootstrap modals"
I am trying to use a bootstrap modal for network manipulation.
Everything works fine for adding a node, but when I add the edge, I can set only the first edge because the second one I try to set returns the same ids of the previous so the system does not allow to add the edge.

This code works fine:

` addEdge: function (data, callback) {
                if (data.from && data.to) {

[2016-11-08 16:29] Ganon-M commented on #1935
Any progress on this issue? I have encountered the exact same problem. I would like to look into the issue
myself but don't have time at the moment.

[2016-11-08 19:22] jesalg opened #2285 "Timeline onUpdate no longer working in v4.17.0"
I just upgraded to v4.17.0 and noticed `onUpdate` callback for the Timeline is not being triggered. Its not working in the example demo either: http://visjs.org/examples/timeline/editing/editingItemsCallbacks.html

[2016-11-08 19:39] yotamberk commented on #2285
Thanks for reporting this! Will be fixed!

[2016-11-08 19:42] jesalg commented on #2285
Great, thanks!

[2016-11-08 19:42] yotamberk commented on #1179
@mojoaxel Ummm well, it seems like an additional option (like the `margin.axis/margin.items`). Can be done indeed.

[2016-11-08 21:17] karanveerm commented on #1845
In case anyone also runs into this, I couldn't find a very clean way of doing this, but the following seems to work for me:

[code]

[2016-11-08 21:43] mojoaxel commented on #1845
@karanveerm Thanks!

I think we should create an example that shows how to change the cursor!
Changing to an feature-request...

[2016-11-09 11:45] pnande opened #2287 "Timeline jittering when updating group heights in 4.17.0"
Hi,

Timeline examples in documentation all seem to allow it to grow in height as needed, with the timeline container set to, e.g.

`#visualization {
      box-sizing: border-box;
      width: 100%;
      height: 300px;
    }`

and no 'height' or 'maxHeight' set in the Timeline object options.

This allows it to grow or shrink in height nicely when zooming in/out, with the group heights being adju

[2016-11-09 12:32] mojoaxel commented on #2287
Sadly I can confirm this was introduced with v4.17.0:

It's not easy to record, but I think you can see some flickering:
![visjs_2287](https://cloud.githubusercontent.com/assets/600565/20138368/4daad1ea-a680-11e6-999a-ec7ec52ed85f.gif)

v4.16.1 did not jet have this problem: https://jsbin.com/reqapuh/3/edit?html,output

[2016-11-09 12:34] mojoaxel commented on #2287
@yotamberk Maybe this was introduced with #2062 ?

[2016-11-09 12:37] yotamberk commented on #2287
I'll take a look at it. It seems like that I need to add some modifications to group loading

[2016-11-09 12:39] yotamberk commented on #2287
Notice this happens only for `options.orientation: 'bottom'`... I'll take a look

[2016-11-09 12:58] pnande commented on #2287
Thanks for looking into this! It happens when orientation is only 'bottom' too (or not set by default).

[2016-11-09 13:27] chubaka opened #2288 "Timeline Date breaks on Daylight savings time"
Hi,
I am using the timeline for a projects of mine and on daylight savings time Oct 30,2016 the timeline dates break...When scrolling it goes from Oct 29th to Nov 1...it skips Oct 30...

I also checked your demo here and found the same issue:
[http://visjs.org/examples/timeline/other/localization.html](url)

I scrolled back to Oct 29th  08:00 ( hrs)...The next day to the right is Nov 1st....It ski

[2016-11-09 13:38] yotamberk commented on #2288
Thanks for reporting! We noticed this problem in #2251.

[2016-11-09 14:39] pmfiebig opened #2289 "Timeline display differently between Firefox and Chrome"
Hi
I think visjs and the work you guys have done is amazing. I recently ran into a little problem.

These Timelines used to be identical on Firefox and on Chrome. Now it seems that Firefox does not display the full start and end date. Here are screen shots
This is how the Timeline looks in Chrome
<img width="1248" alt="screen shot 2016-11-09 at 6 30 31 am" src="https://cloud.githubusercontent.com/

[2016-11-09 15:09] mojoaxel commented on #2289
@pmfiebig Thanks for reporting this. Could you maybe provide a [jsbin](jsbin.com) with your example?

[2016-11-09 15:20] mojoaxel commented on #2288
Closing as duplicate of #2251

[2016-11-09 15:20] #2288 closed

[2016-11-09 18:04] pdugas opened #2291 "Icon in Shape"
I would like to be able to use a glyph icon (i.e. FontAwesome, Ion, etc.) overlaid on a standard shape node like dot or diamond.  The idea is to be able to color the underlying shape to represent the state of the object the node represents while using the glyph to represent the object type.

I modified the _drawShape() method on the ShapeNode class to add the guts of the _icon() method from the Ic

[2016-11-09 18:30] pmfiebig commented on #2289
Thanks for the quick response. You can view jsbin here
http://jsbin.com/funipa/edit?html,output

It displays differently in firefox than chrome

[2016-11-09 21:23] pdugas commented on #2291
Hmm...  The colors aren't correct when set to something other than the defaults.  Looking for the fix.

[2016-11-09 21:39] qubotong opened #2292 "Set the color of the background"
For now, the network doesn't has a backgroiund color. That means when save the image to a file using right button menu, the background will doesn't have any color. This can be hard for directly reviewing since the results would shown different from viewing in web page.
![image](https://cloud.githubusercontent.com/assets/6183742/20155711/f2f36328-a681-11e6-9472-df39e07e5c7d.png)

[2016-11-10 02:35] pdugas commented on #2291
This version of that added block appears to be working for me.  YMMV

[code]

[2016-11-10 08:26] mojoaxel commented on #2291
You can just use the unicode symbols e.g. from FontAwsome as `label` in you nodes:
Here is a working example: http://jsbin.com/hiqega/edit?js,output
![image](https://cloud.githubusercontent.com/assets/600565/20169388/8faa268e-a727-11e6-9a35-b017221c87e4.png)
Oh! To the wonders of unicode!

[2016-11-10 10:51] wimrijnders commented on #2274
OK confirmed. A fix is in the process.

In the meantime, as a temporary measure, you can call `graph.redraw()` right after the call to `setSize()`. This will redraw the graph immediately..

[2016-11-10 11:16] Loreno10 commented on #2274
Yeah, I thought about the same thing, that's what I'm doing.

[2016-11-10 11:17] wimrijnders commented on #2274
:+1:

[2016-11-10 11:54] pdugas commented on #2291
That is pretty cool but it doesn't let me have a separate text label drawn below it. Should have mentioned that requirement.

[2016-11-10 11:55] pdugas commented on #2291
![image](https://cloud.githubusercontent.com/assets/710928/20175817/ae8630ee-a712-11e6-8210-905e0a1aec5d.png)

[2016-11-10 13:25] ssabba opened #2294 "enter dates - ten digits & single digit"
I write  [new Date(-37,0,1), ,"contents"], [new Date(3,0,1), ,"contents"], [new Date(53,11,1), ,"contents"],  [new Date(373,0,1), , "contents"],

In this case, BC37 & AD373 are no problems, but AD3 & AD53, they are not appear in timeline.

What should I do? please help me.

[2016-11-10 13:33] MiikaL commented on #2123
The 4.17 update made the zooming work kind of, but it seems like it is zooming the timeline AND the page at the same time. In other words, is there a missing preventDefault/stopPropagation/return false in there somewhere which would make the timeline fully capture the zoom event if it starts within the confines of the timeline?

[2016-11-10 13:42] pdugas commented on #2291
I'll work on a fork and merge request if you'd like.  Would like a brief review of the proposed code change before I spend the time to get a build/test setup going.  I've only been editing the vis.js dist file in the npm package I pulled into the project.

[2016-11-10 13:46] brichbe commented on #2294
What you posted is not even valid JSON.

You need to provide a working example on http://jsbin.com

[2016-11-10 13:50] mojoaxel commented on #2291
The only way I see to  achieve this is to use `shape: image`. There are multiple ways to do that:
1. Use colored [images](http://visjs.org/examples/network/nodeStyles/images.html) and labels.
2. Define your own icon-font that has a circle around each symbol and than use the [icon example](http://visjs.org/examples/network/nodeStyles/icons.html) together with labels.
3. Generate a simple [SVG-Image

[2016-11-10 13:51] mojoaxel commented on #2291
Here is an example using SVG-images: http://jsbin.com/hiqega/3/edit?js,output
![image](https://cloud.githubusercontent.com/assets/600565/20179188/306f1a8e-a755-11e6-8bf9-886dd370d3b9.png)

[2016-11-10 13:51] #2291 closed

[2016-11-10 13:53] mojoaxel commented on #2291
@pdugas _By the way: Please use [stackoverflow](stackoverflow.com/tags/vis.js) next time! This is not a help forum! I had fun anyway..._

[2016-11-10 13:53] pdugas commented on #2291
What's wrong with the approach I took?  It's working and doesn't appear to be terribly invasive.

[2016-11-10 14:04] dragonzone commented on #2292
I am not sure what you mean, you can set a background color using CSS. You can view example here:

https://jsfiddle.net/qaL6yx2u/

[2016-11-10 14:09] dragonzone commented on #2282
Probably best if you can post example on jsfiddle.net so we can see the actual error instead of saying error. Could be your logic problem using bootstrap modal.

[2016-11-10 15:01] mojoaxel commented on #2123
@MiikaL Thanks for reporting this. Can you recommend an example to test this? I have access to an iPadMini.

[2016-11-10 15:06] mojoaxel commented on #2292
This does not work. If you save the canvas as image the background keeps transparent.

[2016-11-10 21:57] garrettloy opened #2295 "Timeline issues with vertical scroll and maxHeight 100%"
Hi,

First let me say that I'm really excited that vertical scrolling has been added to the Timeline.  I work with a lot of groups and scrolling makes the user experience much better over dragging up and down. I've been playing around with it and have run into a couple of issues.

I'll start off with a couple images and a fiddle:

Figure 1
![image](https://cloud.githubusercontent.com/assets/738784

[2016-11-10 23:30] qubotong opened #2297 "A layout bug with no clue of reasons"
![image](https://cloud.githubusercontent.com/assets/6183742/20198494/d0de15f2-a759-11e6-913a-124f809020a8.png)

As the img above shows, some nodes are distributed very far away from others in horizontal. Any body know the reason of this sick layout?

I have a really complicated tree structure data, each node can has multiple parents and multiple children, and the image above only show few of the e

[2016-11-10 23:35] qubotong opened #2298 "The size of network box could be changed without depending on text"
For now, the size of the box is depends on the text inside it. What if people want to show a hiearchical tructure graph with same size of rectangle nodes? What if some of nodes only have few words inside, but the size of it should be really big to reflect some visualization parameters like number of parents?

[2016-11-11 00:15] qubotong commented on #2297
Here is the codes of the problem example in my github:
https://github.com/qubotong/vis/blob/96ff1b8d683215ecb405e7fbaab6df8855c27a09/examples/network/layout/problematic_hierarchicallayout.html

[2016-11-11 00:17] simo9000 commented on #257
@mojoaxel I just ran into the need for this feature. If you don't mind i'd like to take a shot at implementing this.

[2016-11-11 01:57] ssabba commented on #2294
hmm...I think they are valid type.

I tried examples in official homepage.

I edited 'examples10_link_two_timelines' in 'http://almende.github.io/chap-links-library/timeline.html'
////////////////
  data1.addRows([
                [new Date(10,7,23), , 'Conversation<br>' +
                        '<img src="img/comments-icon.png" style="width:32px; height:32px;">'],
                [new Date(10,7,

[2016-11-11 09:50] mojoaxel commented on #2298
@qubotong Please read the [docs](http://visjs.org/docs/network/nodes.html) !!
Additional to the label nodes also have a `value` and `scaling`.
See http://visjs.org/examples/network/data/scalingCustom.html

[2016-11-11 09:51] koukimetal opened #2299 "Node unselectable"
Is it possible to make only nodes unselectable?
I can find unselectable both node and edge in interaction but can't find either option.

Another thing is about node color
color.background = '#D2E5FF'
color.highlight.background = '#D2E5FF'
but doesn't look same color.

thank you

[2016-11-11 09:57] mojoaxel commented on #2297
Here is the running example: http://jsbin.com/bavojuy/1/edit?output

[2016-11-11 10:31] koukimetal commented on #2299
I'm not sure it's a bug.
I made selectConnectedEdges false, but when I selected node, label of edges connecting the node became bold.

[2016-11-11 10:34] roboslone opened #2300 "Nested groups in timeline"
Hi! I'd like to use nested groups in timeline, is there a way to do so?

If it's not possible right now, could it be a feature?
I don't know if implementing infinite depth is necessary, I would personally be happy with max depth of 2 (one child and one parent). Probably setting any parent group as item's group should not be possible.

[2016-11-11 10:45] roboslone commented on #2300
To clarify, this is what I want to see:
![1](https://cloud.githubusercontent.com/assets/1941275/20212582/095f6654-a815-11e6-93b0-dbf4e75ded2c.png)

[2016-11-11 11:22] koukimetal commented on #2299
I'm also not sure it's a bug.
I can't select an edge whose id is 0.

[2016-11-11 11:24] koukimetal commented on #2299
I use https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.js

[2016-11-11 11:28] yotamberk commented on #2300
I like this! I need this feature too!
Are you working on this?

[2016-11-11 11:33] roboslone commented on #2300
Sorry, I'm afraid I can't contribute to source code, my JS skills are awful :( I could help with ideas/testing or something like that, though.

[2016-11-11 11:43] yotamberk commented on #2300
I hope I can get to this feature soon... I have a lot on my plate right now... I'll do my best

[2016-11-11 11:44] roboslone commented on #2300
@yotamberk, thank you so much!

[2016-11-11 12:05] yotamberk commented on #2287
@mojoaxel The jittering you're showing is not the same as mentioned in the issue. What you see is the growth and reduction of a group height depending if an item is visible or not (in range). There really isn't anything to do with that jittering because it depends on the items in the timeline. The only way to solve that is by adding animation. I wouldn;t even call it jittering... I mean, how else

[2016-11-11 12:07] yotamberk commented on #2295
Hey @garrettloy, Thanks for reporting! This is very much related to #2263. I'm fixing this at this moment =)

[2016-11-11 22:10] qubotong commented on #2298
@mojoaxel I was talking about the "box", as I know, the width and height of abox depends on its content, right? Can we just set a box to a specific width and length? What I really want is a rectangle node which can only get by box nodes for now.

[2016-11-11 22:12] qubotong commented on #2297
@mojoaxel thanks, any idea of the reasons of this?

[2016-11-12 01:01] pmfiebig commented on #2289
I figured out what the issue is. If I add a time to the date for example *2014-08-09 23:59:00* then Firefox fails. If I format the date like *2014-08-09* everything is good. I'm not sure why this recently changed. I guess that I can pass a date with time in a different format than Firefox will accept.

[2016-11-12 07:27] yotamberk commented on #2289
@pmfiebig interesting. Thanks for sharing! This might be something that will require a fix.

[2016-11-12 07:46] yotamberk commented on #2287
@pnande At further inspection, I see the problem is much harder the originally thought... We have a problem introduced with vertically hiding items that are not visible in the window. Hiding non-visible items causes the center container to change its height every time a new group is revealed and then the scrollTop is relative to a differently sized container originally calculated - which causes th

[2016-11-12 17:09] TJRL opened #2306 "Network animation on load"
Hi, I'd like to add a fly in animation on the network, starting very much zoomed in on one node, than zooming out to fit. However, it should run only once, when the page is loaded. I tried to set the initial zoom level with the beforeDrawing event, but that event triggers apparently over and over again, which makes it return to this position each time you try to move or zoom out.

[code]

I also t

[2016-11-12 17:46] marcortw commented on #1405
Hey @yotamberk thanks for considering working on this issue :) Are you going to work on it anytime soon? I was thinking of working on it, but i'm rather inexperienced with js, git and the library code.

[2016-11-12 17:50] pnande commented on #2287
@yotamberk thanks for looking into this. In the meantime I've switched the orientation to 'top' and the issue seems to be gone. Users will have to get used to it but it's a perfectly acceptable option. I will wait until the fix is in place before returning to bottom orientation.

[2016-11-12 18:11] pnande opened #2307 "Timeline synchronous load in 4.17.0"
Hi,

In version 4.12.0 I was able to successfully use setWindow() and focus() immediately after creating a Timeline and setting its data, i.e. the view would land wherever those functions were told to go, without having to care for whether the timeline had finished initializing or not.

In version 4.17.0, however, calling setWindow() or focus() right after initializing the timeline will not work.

[2016-11-12 18:46] yotamberk commented on #1405
If you want to have a go at it, please go a head! I promise to help you with it if you need advise. I will review your work too. It can be a good oppertunity for you to practice. What do you day? Want to have a shot at it? I will only be able to work on it in two weeks if not

[2016-11-12 20:03] mojoaxel commented on #2263
fixed with #2302

[2016-11-12 20:03] #2263 closed

[2016-11-12 20:05] mojoaxel commented on #2295
fixed with #2302

[2016-11-12 20:05] #2295 closed

[2016-11-12 20:05] mojoaxel commented on #2273
fixed with #2302

[2016-11-12 20:05] #2273 closed

[2016-11-12 21:47] TJRL commented on #2306
Ah! Solved it issue myself already. Rather than network.on I should use network.once! So, this is what I got to make the animation start automatically and play once:

network.once("beforeDrawing", function() {
  network.focus(0, {scale:10});
   });

network.once("afterDrawing", function(){
network.fit({animation: {duration:2500, easingFunction: 'easeOutQuint'}});
});

[2016-11-12 21:48] TJRL commented on #2306
Ah! Solved it issue myself already. Rather than network.on I should use network.once! So, this is what I got to make the animation start automatically and play once:

`
network.once("beforeDrawing", function() {
network.focus(0, {scale:10});
});

network.once("afterDrawing", function(){
network.fit({animation: {duration:2500, easingFunction: 'easeOutQuint'}});
});
`

[2016-11-12 23:18] federicoco opened #2308 "Timeline 2D does not render an item in json"
Hello I've my timeline in which I load dynamic data from db.
on the first image, one item is rendered wrong.
My json returned is
evento_15:
Object content:"vomito verde"
end:"2016-05-08 14:00:00"
group:"23"
id:"evento_15"
start:"2016-06-06 14:00:00"
subgroupOrder:0

which is the one rendered wrong.Why is the width so small ?
In the second on IE8 there are graphics issue. can they be fixed?
I would

[2016-11-12 23:23] yotamberk commented on #2308
I think the problem is the time format. Try converting the time to ISOString and only then set the items for the timeline

[2016-11-13 09:46] mojoaxel commented on #2289
That sounds like a bug. Can we create a very simple jsbin that demonstrated the problem?

[2016-11-13 09:48] mojoaxel commented on #2306
@TJRL That sounds interesting!! Maybe you can create a simple example that demonstrates this? We would be more than happy to include it in the examples.

[2016-11-13 09:58] mojoaxel commented on #2307
I can confirm this is a bug :cry:
http://jsbin.com/vihijid/2/edit?js,output

[2016-11-13 20:05] mojoaxel commented on #2297
No, static layouts are quite complicated.
You could try increasing the `levelSeparation` thats brings the Network more "together".

I'll played around with your data and stumbled on multiple issues. I simply have not the time to get into the network layouting. Maybe we can find the problems over time and create simple demos to isolate them.

[2016-11-13 20:18] mojoaxel commented on #2298
You can set `scaling.label.enabled` to scale boxes (labels) by the nodes value: http://jsbin.com/damikat/1/edit?js,output

[2016-11-13 20:27] mojoaxel commented on #2300
@yotamberk There are already `subgroups`. I think I have seen a timeline were somebody achieved something like this with subgroups.

[2016-11-13 20:43] yotamberk commented on #2300
I've done something like that in subgroups, but still missing the functionality asked for in this feature

[2016-11-13 22:43] andrea-bologna opened #2309 "network positioning no physics"
Hi,
I would like to have a graph drawn without any physical effect, but with correct automatic positioning...is it possible? If I enable physics, I get overlapped layouts with a really long stabilization process, and if I disable it, I get all the nodes overlapped...
Thanks

[2016-11-13 22:44] andrea-bologna opened #2310 "Network only using a squared container?"
I'm drawing a network inside a rectangular div but it seems that nodes positioned automatically only fits a sub-square...is it possible to use all the available space?
Thanks

[2016-11-13 23:49] Tooa commented on #2309
You can use the `storePositions()` [function of the network](http://visjs.org/docs/network/) once the network is stabilized in the `stabilizationIterationsDone` or `stabilized` event. This allows you storing the current node positions and loading them instantly using a dataset afterward. Make sure you have the physics disabled when loading the nodes again.

However, I cannot say much to the long s

[2016-11-13 23:50] Tooa commented on #2310
Can you provide a [jsbin](jsbin.com) for your problem?

[2016-11-14 03:41] ghost opened #2311 "Node drawn on top of circuit when using hierarchical layout. Gives misleading circuit paths."
When using version 3.12.0, I do not have this problem. However, when using version 4.0.0 or higher, a node will overlap onto a circuit path and give the impression that the circuit is going to that overlapping node. See attached screenshots. This first screenshot is when hierarchical layout is set to false.
![newlibhierarchical](https://cloud.githubusercontent.com/assets/19678058/20252165/88e8018e

[2016-11-14 08:36] andrea-bologna commented on #2309
Well, I am loading nodes and edges from an external data source which is totally dynamic, so that I cannot predict in any way the number of nodes and edges. I didn't set any particular option on the network.

        var options = {
          physics : {
            enabled : true
          },
          layout : {
            improvedLayout:false
          }
        };

And then I'm disabling phys

[2016-11-14 08:38] federicoco commented on #2308
I've tried with ToIsoString , Date.parse and new Date....still the problem occurs

[2016-11-14 08:43] yotamberk commented on #2308
Can you supply a jsbin?

[2016-11-14 08:46] federicoco commented on #2308
https://output.jsbin.com/tipanunuza/

[2016-11-14 11:26] Tooa commented on #2309
Maybe the default physic options do not fit for your network and causing therefore these long stabilization times. You can play around with the different physic solver and options. Can you provide a [jsbin](jsbin.com) with a sample network generated from your dynamic data source?

So you can either tune the physics parameter in order to improve stabilization time or pre-calculate the node position

[2016-11-14 12:52] roboslone commented on #2300
@mojoaxel, I've missed subgroups in docs, I'll try that.
Do you think subgroups should be mentioned in "Groups" section in [docs](http://visjs.org/docs/timeline/)?

Also, as @yotamberk mentioned, subgroups don't completely solve this issue, since they aren't displayed as normal groups.

[2016-11-14 13:42] mast0r opened #2312 "Timeline: verticalScroll bug 4.17.0 - the content area slides downwards"
Hi, I've found a bug while using a new very cool parameter `verticalScroll : true`. If set to `true` and there is enough space so no scroll bar is rendered - the content area just "slides" to the bottom of the timeline:

![image](https://cloud.githubusercontent.com/assets/9842532/20266907/6f44f8ca-aa78-11e6-993c-1395f7bffea8.png)

Here is a jsfiddle: http://jsfiddle.net/Lkskqz9q/3/

[2016-11-14 16:09] mast0r opened #2314 "Timeline: onUpdate has no effect in 4.17.0"
Hi, I've just tried the `onUpdate` in the new version 4.17.0 and got no feedback from the function. Does it work differently now?

Here is jsbin. Try to doubleclick any item...
http://jsbin.com/badahuxaba/edit?html,js,output

[2016-11-14 20:51] Tooa commented on #2314
This is a bug and was introduced with the 4.17.0 release. However, it is already fixed in the `develop` branch. For more information, see #2285. You may close the issue if the fix works for you.

Best Uli

[2016-11-14 21:17] #2314 closed

[2016-11-14 21:17] yotamberk commented on #2314
Fixed in #2304

[2016-11-14 21:21] yotamberk commented on #2312
Wow... that's a big one... Thanks for reporting! I'm on it!

[2016-11-15 06:15] Rikk commented on #2181
What about people that would like to have a compiled js from develop branch? It would be great for testing.

[2016-11-15 07:56] jiangxinlei opened #2316 "network: Whether you can change the layout by adding properties?"
Hi,
    I‘m form China. My company is currently doing a project on data visualization, the need to show a large number of data, there may be more than ten thousand nodes and on one hundred thousand edges. Not only that , but also a lot of operation and function. It's hard to achieve. So I have the following questions:

1). What are the properties and methods of performance optimization? There may

[2016-11-15 08:26] jiangxinlei commented on #1618
hi, I am very interested to know if you have realized minimap.

[2016-11-15 09:26] yotamberk commented on #2316
Hey @jiangxinlei
For some of your question:
1. here is an example for a performance example: http://visjs.org/examples/network/exampleApplications/worldCupPerformance.html
in general, when loading large amount of data, you are better off loading the data in chunks so the browser doesn't need to deal with data overload. Using clusters might help with the view rendering performance.
2. For the full

[2016-11-15 10:55] jiangxinlei commented on #2316
First, thank you for your reply.  Can you give me your email address if you convenient?

[2016-11-15 11:21] vk7282 commented on #1126
I think @daniel-pfeiffer is right and i also need this functionality to be implemented for my usage in the required project. So this feature can be a good advantage for more developers as well in the future.

[2016-11-15 11:44] federicoco opened #2317 "Setting the italian locale not working in timeline Vis"
hello i've saw the localization example on your site and after giving you the translation, I decided to set on it.
[code]
even setting it, the locale is not changed and in the console, it doesn't display errors

[2016-11-15 11:49] dboire commented on #2312
Hi.
Fun part is horizontalScroll have a totally inverted issue :D
work only on the crossed part

[2016-11-15 12:16] achimschrepfer opened #2318 "Timeline 4.17.0 layout with margin.item.horizontal = 0 is broken"
In previous versions setting the margin to zero worked like this
![Vis Timeline 4.16.1](https://picload.org/image/rdwroocr/visjs_4161.png)

Now in 4.17.0 it seems to be broken:
![Vis Timeline 4.17.0](https://picload.org/image/rdwrooca/visjs_4170.png)

My options are as follows:
`        var options = {
            start: Date.now() - 60 * 60 * 1000,
            end: new Date(Date.now() + 8 * 60 *

[2016-11-15 14:15] dboire opened #2319 "Bug in TimeStep.prototype.getClassName"
I dont find it in forum, and it look like a bug :

TimeStep.prototype.getClassName :
case 'day': (and maybe some other)

`return 'vis-day' + current.date() + ' vis-' + current.format('MMMM').toLowerCase() + today(current) + currentMonth(current) + this.step <= 2 ? today(current) : '' + this.step <= 2 ? ' vis-' + current.format('dddd').toLowerCase() : '' + even(current.date() - 1);`

the first part

[2016-11-15 14:25] Tooa commented on #2317
Hi,
it works in the [examples](http://visjs.org/examples/timeline/other/localization.html). Does it work when you only provide the locale property and remove the rest?

[2016-11-15 14:43] federicoco commented on #2317
yes, even taking out **editable** and **width** field, it does not change, look at the image i'm not joking
![visprobl](https://cloud.githubusercontent.com/assets/22914696/20309927/358d7a8a-ab4a-11e6-914f-41ffc6e3c5be.jpg)
![visprobl2](https://cloud.githubusercontent.com/assets/22914696/20309926/35898128-ab4a-11e6-90bf-42ddbfc130be.jpg)

[2016-11-15 14:45] Tooa commented on #2317
Do you have this line/lib included?

`<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.1/moment-with-locales.min.js"></script>`

[2016-11-15 14:51] federicoco commented on #2317
no, I've added it now that you wrote, cleared cache and restarted gulp (the engine that uploads my frontend). It didn't change the locale

[2016-11-15 14:53] Tooa commented on #2317
Then you need to provide a **minimal** example of your code on [jsbin](jsbin.com).

[2016-11-15 15:12] federicoco commented on #2317
look, I've been able to reproduce the bug on jsfiddle with a basic example from your timeline :
http://jsfiddle.net/e7uodse2/912/

[2016-11-15 16:18] mojoaxel commented on #2181
@Rikk Just build it yourself. It's really easy!

[2016-11-15 20:59] yotamberk commented on #2318
Thanks for reporting! (A temporary solution is to set it to ` margin: { item: { horizontal: -1 } } `)

[2016-11-16 00:35] Rikk commented on #2181
When someone doesn't have any use for things like npm that person probably doesn't want to install and configure such build environments. And if it is so easy, you shouldn't have trouble keeping /dist folder updated after every commit.

[2016-11-16 03:24] Brancepeng opened #2320 "why node can not use setOptions method set the 'nodes' property,but can set the other properties,for instance ,color?"
[code]

the above code works,and the following doesn't.

[code]

[2016-11-16 10:44] Broekhuis opened #2321 "Multiple bands with different scales (timeline)"
I would love to have the option to create multiple bands (at least 2) with different scales, like here (simile timeline): http://www.simile-widgets.org/timeline/

Is that possible somehow? If not, it would be my feature request..

Thanks & regards,

Erik

[2016-11-16 15:49] Piu257 commented on #757
how can we add label for each item if we want the label to be just above but outside the item box?

[2016-11-16 18:07] TJRL commented on #2306
Sure!

https://jsfiddle.net/Thymus82/paxeppmv/18/

[2016-11-16 18:55] mojoaxel commented on #2317
I imported the local support from moments.js and it seams to work: https://jsfiddle.net/e7uodse2/917/
Here is another axample: http://jsbin.com/guhufe/1/edit?html,js,output

[2016-11-16 19:11] federicoco commented on #2317
**If you encounter problems with locales, try these things** :
1) Clear Cache
2)If you use Gulp or something similiar to this,be careful that your import of moment-with-locale.js
    is not being rewritten
3)check for syntax mistakes (like you forgot a semicolon);
4) better use 'language' than "language" when you are defining the locale.

[2016-11-16 19:12] #2317 closed

[2016-11-16 19:22] TJRL opened #2322 "SVG mouseover does not work?"
I've tried to implement SVG nodes with mouseover effects, but they don't work whatever method I used (I tried most methods discussed here: http://www.petercollingridge.co.uk/data-visualisation/mouseover-effects-svgs). Is this a bug? Is there a way I can make it work by changing something in the source code?

The fiddle shows an svg with a mouseover effect, one embedded in the network, and one in t

[2016-11-16 19:25] federicoco opened #2323 "Bug in Timeline vis if integrated with Angular JS, Vis timeline rendered twice or more"
hello,
just found this bug, don't know if it's a noob error or really a bug.
I will explain now the issue
**HTML**
[code]
**Javascript**
[code]
if you insert more than one time a div with ng-controller ="nameofController", the timeline gets rendered twice or more than twice (loop)

[2016-11-16 19:47] yotamberk commented on #2323
Can you please supply a jsbin? I've used it in angular and work a fine for me

[2016-11-16 20:03] Tooa commented on #2323
Just a guess since I cannot see where the `scope.init` is called: The controller is instantiated every time you attach it via `ng-controller`. Thus, the body of the controller is executed multiple times and the timeline is therefore created (and rendered?) multiple times. To give a more elaborate answer, we need a jsbin as @yotamberk mentioned.

[2016-11-16 20:37] yotamberk commented on #2321
You can try using 2 timelines and synchronize them (see examples)

[2016-11-16 20:40] yotamberk commented on #2294
@ssabba I'm not sure what you mean... Can you please supply a jsbin with the example that doesn't work?

[2016-11-16 21:36] yotamberk commented on #2308
the example is not working for me =(

[2016-11-16 21:45] yotamberk commented on #2280
@mojoaxel can you help?

[2016-11-16 21:53] yotamberk commented on #2120
@lukasw44 If this issue is still relevant please reopen

[2016-11-16 21:53] #2120 closed

[2016-11-17 00:20] Broekhuis commented on #2321
Thanks yotamberk but sorry, I can't seem to find an example with synchronized timelines. Do you mean there is an example of one on this page? > http://visjs.org/timeline_examples.html

Thanks & regards,

Erik

[2016-11-17 03:15] eymiha commented on #1756
I worked code in for editEdgeMode to short-circuit the edge source/target changing and go straight to calling an editEdge function, but I can see where you'd want it both ways - that is

  1. Skip the dragging and directly call the editEdge function (my changes), or
  2. Do the dragging and then call the editEdge function (existing functionality).

It appears it may need a boolean to discriminate

[2016-11-17 04:01] eymiha commented on #2068
It's a simple change. At the beginning of _performEditEdge, include
[code]
in the defaultData. It'll be delivered to the user-supplied editEdge function. I'll make the pull request if folks want me to.

[2016-11-17 05:31] jiangxinlei opened #2324 "network: How to implement local layout?"
hi,
We can overall layout of the network, if you select some of the nodes, how to layout the selected of the node?
Please tell me how to do. Thank you.

[2016-11-17 06:55] jiangxinlei commented on #2324
or make the selected nodes become the new network?

[2016-11-17 07:20] KunalAppensure opened #2325 "In hierarchical view node scatter away"
when we are using hierarchical view (LR) in network the node scatters away which makes the whole network container layout tiny and which is difficult to find the interconnections among them . Is there any way to bring the scattered node close to rest of nodes.
![screenshot](https://cloud.githubusercontent.com/assets/23517872/20379810/3e9e52a4-acc4-11e6-97b2-8b12a34d5893.png)

[2016-11-17 08:16] northwind11 opened #2326 "large nodes overlapping in hierarchical mode"
Can you please help with answer on question http://stackoverflow.com/questions/40610389/vis-js-large-nodes-overlapping-in-hierarchical-mode

Is it possible to have nodes in vis.js in hierarchical layout without overlaping on X axis?

I tried to add options:

    var options = {
        layout: {
            hierarchical: {
                direction: "UD",
                sortMethod: "directed"

[2016-11-17 11:51] Clarence344 opened #2327 "Drag and Drop Timeline for external events drop without mouseposition"
Hey,

I have lot of external items that I want to drag and drop into the group timeline.
I want to drop an item with fix time, start and end.

like:

[code]

But if I drop the item into the timeline they always takes the position of the mouse pointer for the start time.

How can I solve this problem?

[2016-11-17 12:04] yotamberk commented on #2327
So the idea was when i've first implemented it was to purposly not set an item by its start time, but solely by the mouse position. I do think that if a time is supplied, it should set it accordingly. But still not implemented yet.
 I think this feature is needed. I'll take a look at implementing it the next few days when i have the time :-)

[2016-11-17 12:11] Clarence344 commented on #2327
Thanks a lot, I'm looking forward to hear from you soon
But why includes the item options "start" and "end", I dont understand that :)

[2016-11-17 12:15] yotamberk commented on #2327
The initial thought was to simply use the difference between the times to determine the length of the item.
I didn't put too much thought in to it obviously, hoping the opensource community will help me better understand this new feature I was introducing.
Basically I was feeling out drag and drop. I'm happy people are interested in it.

[2016-11-17 12:15] yotamberk commented on #2327
I'm also looking at D&D for groups. I want to see if there is interest in that too

[2016-11-17 12:21] Clarence344 commented on #2327
thanks. I need this important feature to bring my project to the end :)

[2016-11-17 12:32] mojoaxel commented on #2326
@northwind11 You could try playing with `hierarchical.nodeSpacing`. But therefor physics must be off.

[2016-11-17 15:48] 3xH opened #2328 "Vertical drag and drop needs to be horizontal first"
Hi,

I want to be able to  move my groups, but the group drag and drop doesn't work when following a vertical path. It works fine only if I drag horizontally first.

![group_drag_and_drop](https://cloud.githubusercontent.com/assets/23527463/20396088/566e13ee-ace5-11e6-8014-1b69c32fd259.png)

Thanks for your help.

[2016-11-17 15:55] yotamberk commented on #2328
Thanks for reporting! I can confirm the bug. Will be fixed!

[2016-11-17 19:21] mojoaxel commented on #2326
Answered on [stackoverflow](http://stackoverflow.com/a/40663279/722162).

[2016-11-17 19:21] #2326 closed

[2016-11-18 04:12] carueda commented on #617
Although #1846 was marked as duplicate of this one, seems to me that issue is actually closer to the desired behavior I still see lacking, which is to also **adjust vertical scroll in case the desired item is not visible**. I note that support for a **vertical scrollbar** was [just introduced](https://github.com/almende/vis/commit/b889a5057d027e8c94ac98f10b44c908dc1009d6) in vis 4.17.0 (the latest

[2016-11-18 06:06] yotamberk commented on #617
You can use jquery scrollTop on the elements (vis-left and vis-centerContainer.) That should work in the mean time

[2016-11-18 06:18] KunalAppensure commented on #2325
Hey, I have found one solution
          set **hierarchical.edgeMinimization**   as **true**
         or
         set the combination of **hierarchical.edgeMinimization** and **hierarchical.blockShifting**  to
        **true** or **false** according to your choice .
           It worked for me.

[2016-11-18 06:23] KunalAppensure commented on #2140
Hey, I have found one solution
set **hierarchical.edgeMinimization** as **true**
or
set the combination of **hierarchical.edgeMinimization** and **hierarchical.blockShifting** to
**true** or **false** according to your choice of layout in the layout module .
It worked for me , hope it will help :) .

[2016-11-18 06:25] #2325 closed

[2016-11-18 10:58] Clarence344 opened #2330 "Timeline sava data"
Hi,

how can I save processed items on my timeline in a mysql database? for examaple with drag and drop or by edit the item which is already present in the timeline?

thanks

[2016-11-18 15:39] Rince7 opened #2331 "Timeline zoomable=false and mouse wheel does nothing"
So I have several timelines with groups on a page, all are not zoomable.
When the mouse is over one of them the mouse wheel events are ignored.
If the mouse is not over a timeline, or over the groups part of one, I can scroll with the mouse wheel.

[2016-11-18 16:11] yotamberk commented on #2331
Duplicate of #2273. This was fixed for in #2301

[2016-11-18 16:11] #2331 closed

[2016-11-18 16:17] yotamberk commented on #2330
This should be implemented by saving the items you supplied the timeline. It should update the items you supplied so saving those items to the db is an options.
The other option is listening to `onUpdated`, `onAdd` and `onRemove` and manipulate the db with the item updated/added/removed.
Does this answer your question?

[2016-11-18 16:25] Clarence344 commented on #2330
thank you for the comment. I solve the problem with ajax:

` var options = {
    stack: true,
    itemsAlwaysDraggable: true,
    orientation: 'top',
	margin: 10,
	zoomMin: 1080000,
	zoomMax: 86400000,
	editable: true,
        onMove: function (item, callback) {
			var group = item.group;

			$.ajax({
				 type: "POST",
                    url: "testforajax.php",
                    data:
					{

[2016-11-18 16:27] yotamberk commented on #2330
So can we close this issue?

[2016-11-18 16:28] Clarence344 commented on #2330
of course

[2016-11-18 16:28] #2330 closed

[2016-11-18 17:47] eymiha opened #2332 "Multi-font labels, and margin settings and constrained width/heights for Nodes"
Wouldn't it be sweet?

*Multifont* - If turned on I envision a reduced set of markdown-style markup (stars surround *bold text*, underscores surrounds _italic text_, and backticks surrounds `code`) and extra whitespace is reduced. _Just like it all is when writing these issues!_

It's not hard to segment lines by mod (normal, bold, italic, bold-italic, and monospaced) and calculate label width and

[2016-11-18 18:21] garrettloy opened #2333 "Timeline Vertical Scrollbar - scrollbar width not recalculated on browser zoom"
Hi!

I have a straightforward issue with a proposed fix.

Zooming in or out in the browser with verticalScroll:true on the timeline does not recalculate the width of the scrollbar, which throws off the width of group labels:

![image](https://cloud.githubusercontent.com/assets/7387847/20441209/7118868c-ad78-11e6-8d33-6e3eec78c375.png)

proposed fix: add the starred line to Core.prototype._startAut

[2016-11-18 19:10] mojoaxel commented on #2298
@qubotong Please close this issue if your question is answered!

[2016-11-18 19:58] carueda commented on #617
Thanks for the tip.  My particular project is not using jquery, though.

[2016-11-19 02:59] DoubleTK commented on #2322
Hi @TJRL ,
I'm not sure if it's a bug or not, but there is a simple workaround that might work for you. I haven't looked at the source code, but I'm guessing the 'color' attribute of the node is not setting the 'fill' attribute of the svg image and that's why it's not working.

For the workaround, are you able to create a second 'highlighted' svg of the 114 image? If you can do that, you can simpl

[2016-11-19 04:23] eymiha commented on #2332
Margins are complete...
  `{ nodes: { margin: value0 }}`
or
  `{ nodes: { margin: { top: value1, right: value2, bottom: value3, left: value4 }}}`

Works wonderfully... stay tuned.

[2016-11-19 06:59] yotamberk commented on #2333
Thanks @garrettloy (both for reporting and for the solution suggestion!)
Do you want to submit a PR with this fix?

[2016-11-19 06:59] #2332 closed

[2016-11-19 09:58] TJRL commented on #2322
Thanks @DoubleTK! I was already on this track, but hadn't figured out how exactly to correctly use hoverNode and blurNode in the code. Super!

[2016-11-19 10:02] #2322 closed

[2016-11-20 14:51] Jinkwon opened #2336 "Timeline: Can't zoom with mousewheel in CurrentTime"
I attached this case's demo.
Can't zoom with mouse wheel in time indicator. (It was same current time and custom time)
It makes so hard to zoom and control it. I wanna make it to enable wheel event in time indicator as well.

Is this bug or has any solution? :)

![mousewheel_status](https://cloud.githubusercontent.com/assets/1798916/20463658/81dbaee0-af7b-11e6-8522-1c6f45b45198.gif)

[2016-11-20 21:09] yotamberk commented on #2287
I've added a PR (#2334) improving this issue but not solving it. I say there:

To compliment the smoothness, I suggest adding:
[code]

It's not a solution to the jittering since there is no easy way currently to solve the sudden height changes, but this does make it feel much better and more natural

[2016-11-20 22:32] TJRL opened #2337 "Custom labels inside image nodes?"
Hi!
I have been trying to place the labels for image nodes inside the node, as for example lables for circles are placed. However, the standard setting is that labels for image nodes are placed beneath them. I sort of succeeded placing custom labels by having them drawn over the node with an afterDrawing event. But now I loose all the nice properties that labels usually have, most importantly:

1.

[2016-11-21 12:39] jcortes92 commented on #2144
@yotamberk  Hi!
Using react to inject the template, how can use onClick to show more info?
Thanks!

[2016-11-21 12:45] yotamberk commented on #2144
Do you mean as a popup? Simply define your React template with an inner component that with onclick function to toggle a parameter that reveals the popup component  (add and remove a class on the inner component and use css to display/hide it)

[2016-11-21 13:35] mojoaxel commented on #1756
fixed with #2329

[2016-11-21 13:35] #1756 closed

[2016-11-21 13:38] mojoaxel commented on #2233
@eymiha are you sure this is fixed with #2329 ?

[2016-11-21 15:40] eymiha commented on #2233
In `examples/network/other/manipulationEditEdgeNoDrag.html` you can see that now, when editing a labeled edge, the current value is being pulled from the passed data. Unless I really mucked something up it should be working because the label data is loaded in the `ManipulationSystem#performEditEdge` function.

[2016-11-21 15:52] mojoaxel commented on #2233
@eymiha Yes looks good.
@sawatsky Feel free to reopen if this is still an issue.

[2016-11-21 15:52] #2233 closed

[2016-11-21 16:11] mojoaxel commented on #2336
A simple work around would be to disable event-catching for this element:
[code]

[2016-11-21 16:14] mojoaxel commented on #1835
This is also a problem when using e.g. FontAwsome Icons als Images.

[2016-11-21 16:19] mojoaxel commented on #2069
see #2073

[2016-11-21 16:19] #2069 closed

[2016-11-21 16:21] EmanuelOverflow opened #2338 "Timeline items don't propagate pan events."
I'm emulating vertical scroll because I need to have on same timeline two sections on which the top section must scroll to show all items and the bottom one have to be fixed. I use pan events to simulate vertical scroll and all works fine while I drag blank area on timeline, unfortunatelly when I try to drag on vis-item it doens't work it emits only one panstart panend event. There is a solution t

[2016-11-21 17:34] jrpomeroy opened #2341 "Option to vertically scroll instead of zoom on timeline"
For my timeline use case being able to use the mouse wheel to scroll vertically is much more important than zooming.  However, it seems even if I disable zooming the mouse wheel still doesn't work for scrolling vertically.  In that case the mouse wheel just does nothing.  Ideally setting zoomKey would enable zoom while holding the key down but allow vertical scrolling when the key is not held down

[2016-11-21 17:36] yotamberk commented on #2341
Try verticalScroll:true and zoomKey:'ctrlKey'

[2016-11-21 17:42] jrpomeroy commented on #2341
Sorry, I should have mentioned I already tried playing with `verticalScroll: true`.  All it seems to do is add a visible scrollbar to the left of the groups, but does not make the mouse wheel scroll the timeline vertically when the mouse is over the content.  The timeline does scroll vertically when the mouse is over the groups, just not the content.  But then it works that way without verticalScr

[2016-11-21 17:47] yotamberk commented on #2341
Well, if you set a maxHeight, verticalScroll and zoomKey, it is quite useful...
If that's not what youre looking for, please supply a jsbin and lets okay on an exampless until we get what you are looking for.

[2016-11-21 18:22] jrpomeroy commented on #2341
Basically what I was hoping for is a way to make the timeline simply let the mouse wheel events propagate up to the browser so that it could handle those events as it normally would.  I was able to make this work by removing the 'mousewheel' event listener after creating my timeline.  It's not ideal since this will not allow zooming at all, but it's probably good enough for my case.
[code]

[2016-11-21 18:54] eymiha opened #2342 "Specify label margins"
To improve layout inside nodes, margin values should be able to be adjusted.

[2016-11-21 19:46] yotamberk commented on #2341
I'm really not sure what you mean. The behavior you're describing works for me. What browser are you using? Can you supply a jsbin to show your example and we can try and see if this is a bug or simply a miss understanding of the options?

[2016-11-21 19:48] yotamberk commented on #2338
Thanks for reporting!
It would be great if you could add a simple example of this so we can see it too and try fixing it.

[2016-11-21 20:13] #2319 closed

[2016-11-21 20:23] yotamberk commented on #415
using  #2315 this issue is solved with filtering groups that are not visible

[2016-11-21 20:23] #415 closed

[2016-11-21 20:36] #1195 closed

[2016-11-21 20:36] yotamberk commented on #1195
closed due to inactivity. If still relevant, please reopen.

[2016-11-21 20:39] yotamberk commented on #1010
@mojoaxel agreed... I think this issue should be closed.

[2016-11-21 21:25] #1010 closed

[2016-11-21 21:55] shivpatel opened #2345 "Timeline items disappearing when using groups (_isGroupVisible bug)"
I've created a simple Plunker to consistently recreate the issue: https://plnkr.co/edit/SYI1dWuQeTObkLEZ1sPL?p=preview

- There are 3 groups, each with 50 items. All 150 items start on December 21 and end on a randomized date in the future.
- I have enabled verticalScroll in the options, so you can scroll vertically using the group column.
- Using the scroll zoom in the main column, set the date r

[2016-11-21 22:39] tsak opened #2346 "One for the showcase"
http://sirius.modeselektor.com/

![siriusmodeselektor](https://cloud.githubusercontent.com/assets/1022521/20503608/47049d5c-b03b-11e6-8288-f0ce176b17f5.png)

[2016-11-22 01:23] sk29110 opened #2347 "Is it possible to put same width for each step?"
Is it possible to set up so that each step has 50px wide in timeline? I know by default the width of each step get adjusted depending on the windows size and data but I want to have the width to stay the same no matter the windows size is. I treid with
[code]
It displays the way I want but width get adjusted as you change the widow sizes. If I have few hours timeline it works nicely but  time gets

[2016-11-22 06:26] jiangxinlei commented on #2316
Hi,

There is a problem really bothers me, Please be sure to help me answer, thank you vary much.

Network: How to implement local layout? Network layout is the layout for all nodes, But when selecting a part of the nodes, you can also customize the layout.

I know it's a little hard to understand, I've been trying to describe it. I read the document, but also to see the source code, which is diff

[2016-11-22 11:03] vcamaral opened #2349 "Node overlapping with large labels"
![vis_nodes_overlapping](https://cloud.githubusercontent.com/assets/860466/20521417/573e5bac-b092-11e6-89d2-8b5e8fd71298.PNG)

How can I solve this problem?

[2016-11-22 11:32] mignoncharly opened #2350 "save network (and use it in code)"
Hello ,
I was wondering if there is a way to save the rendered graph as an Image (which I could call with a line of code in my programm - to have the same Output- ).
Well the Problem is:
I have two Arrays one for nodes and another one for edges.
In a form(input) each time a node (a  letter) is given in the form a graph is rendered but  I  could only fix the Position for just one letter 'A' (the gr

[2016-11-22 12:34] mojoaxel commented on #1653
fixed by @eymiha with #2343

[2016-11-22 12:34] #1653 closed

[2016-11-22 12:35] mojoaxel commented on #2342
fixed by @eymiha with #2343
Thanks a lot!

[2016-11-22 12:35] #2342 closed

[2016-11-22 12:38] mojoaxel commented on #2333
Fixed by @garrettloy with #2344

[2016-11-22 12:38] #2333 closed

[2016-11-22 12:42] mojoaxel opened #2351 "Release v4.18"
We are working on the next v4.18 release.
- [x] Checkout if we have major or minor changes.
- [x] Who should make the release?
- [x] Set timeframe for the new release.
- [x] Identify major bugs and add them to the 4.18 milestone.
- [x] Fix major bugs and complete [milestone v4.18](/almende/vis/milestone/2).
# Official Release Checklist
## Build
- [x] Change the version number of the library in `pa

[2016-11-22 13:41] Clarence344 commented on #2327
Hi @yotamberk have you already a solution for my problem? thanks

[2016-11-22 14:05] yotamberk commented on #2327
Not yet... I'm working on other critical bugs. If you can pick this up, that would be great.
Hopefully I can do this for next week

[2016-11-22 14:05] yotamberk commented on #2345
Thanks for reporting! We'll take a look at this

[2016-11-22 14:06] yotamberk commented on #2346
Awesome! thanks!

[2016-11-22 14:16] eymiha opened #2353 "babel -> babel-loader ?"
To get my builds building on my work box - a newer mac than my home box, with newer npm stuff (et al.) - I had to change gulpfile.js from `loader: 'babel',` to `loader: 'babel-loader'` to keep from getting a node error during the build:

During the process I ended up installing some node modules globally, and others just in the vis space. Cleaning the node_modules and installing today, with the lo

[2016-11-22 14:35] tsak commented on #2346
Forgot to add some context:

Siriusmodeselektor was a collaboration of Siriusmo and Modeselektor - two electronic music acts. They played quite a few gigs in 2015 and I came up with the idea to use `Timeline` as the model for the site. I really liked the stacking of nodes when there are too many items in a given interval and that drove the design. The site shows both dates (yellow nodes) and image

[2016-11-22 17:08] vcamaral commented on #2349
@yotamberk can you help me?

[2016-11-22 18:46] dodongjuan commented on #1957
Is there any solution/hack we can do with this ..?

[2016-11-22 19:54] yotamberk commented on #2349
Sorry but I'm not really strong with the network section... I deal mostly with the timeline...
I think you can maybe have a max-width for a node (with overflow hidden and word-break). That should solve the problem. There might be some kind of min-margin between nodes, I simply don;t know to be honest

[2016-11-22 19:56] yotamberk commented on #2353
@mojoaxel Can you take a look at this?

[2016-11-22 19:58] yotamberk commented on #2347
Unfortunately not a way I know... This can be a good feature request.

[2016-11-22 20:11] sk29110 commented on #2347
After reading the doc a couple of times, I see there are options zoomMax, ZoomIn and when I set zoomMax and ZoomIn the same value it does similar thing is what we wanted. I just had to put the right number( I am not sure how people come up with number ) which was 80000000.

[2016-11-22 20:11] yotamberk commented on #2316
@jiangxinlei Sorry but still not clear what you're asking... Can you provide an illustration/sketch of the behavior you're looking for?

[2016-11-22 20:13] yotamberk commented on #2323
@Tooa I bet you're right with your guess. I've been using timeline with angular and had a similar problem. It works fine for me now with no double rendering.

[2016-11-22 20:16] yotamberk commented on #2347
Good! Glad to hear you found a solution =) Can we close this issue?

[2016-11-22 20:39] sk29110 commented on #2347
Thanks

[2016-11-22 20:39] #2347 closed

[2016-11-22 21:40] federicoco commented on #2323
So what do you think @yotamberk it is a real bug or just some noob error?if you want we can close the issue. Same for me now it works without problems (but a code different from the one supplied)

[2016-11-22 21:57] Tooa commented on #2323
@federicoco wouldn't call this a "noob error". All of us run into issues every day - especially when you are not used to a library. I'm glad it works for you now. Maybe you can share your (minimal) changes for others here. Someone might run into the same problem.

[2016-11-22 22:09] federicoco commented on #2323
Ok, so here is a Solution that I've reached so far :
In angular you can define multiple controllers and multiple directives (the controllers must always be separated in single files, like separated class in separated files FYI),but you cannot inject two controllers into an html because even if the controllers could share the same scope, they would have different instances of the controller.
Angula

[2016-11-22 22:30] tsak commented on #2346
Added a pull request #2354

[2016-11-22 22:57] yotamberk commented on #2323
Cool. Good job!

[2016-11-22 22:57] #2323 closed

[2016-11-23 06:57] jiangxinlei commented on #2316
Hi, I sent a example, there are some explanations.  But I expect the effect is only through the language to describe. Thank you.

[2016-11-23 08:31] marcortw commented on #1405
Thank you very much for offer to help, @yotamberk ! I'm just a bit too busy currently, maybe if i'll find the time around christmas...

[2016-11-23 08:40] mojoaxel commented on #2349
@vcamaral  Use line breaks or `nodeSpacing`.

[2016-11-23 08:43] mojoaxel commented on #2349
duplicate of #2326

[2016-11-23 08:44] #2349 closed

[2016-11-23 12:28] chenko47 opened #2355 "Network graph - broken lines edges and arrow color"
Hey, two issues around here in the network graph :

1. How can I set network graph edges as broken line ? (not dash or rounded, like some chart flows that not a straight line):
.................... (item2)
(item) **____/**
2.How can I custom the middle arrow? I would like to add some background color, border radius and so .

Thanks.

[2016-11-23 12:31] yoavdamri opened #2356 "Add pointer positions to zoom event"
Hi,

currently zoom event  properties include the scale and the direction.
it will be very useful, if the pointer position will be added to.

the change is very simple to implement.
in vis.js file, at the end of the "zoom" value function,
change it to:
if (scaleOld < scale) {
            this.body.emitter.emit('zoom', { direction: '+', scale: this.body.view.scale**, pointer: pointer** });

[2016-11-23 13:00] mojoaxel commented on #2346
fixed with #2354

[2016-11-23 13:00] #2346 closed

[2016-11-23 13:02] mojoaxel commented on #2355
@chenko47 Can you please provide a drawing/screenshow or something that clarifies what you want to achieve.!

[2016-11-23 13:03] EmanuelOverflow commented on #2338
Hi, I partially solved the problem. I reset dataset on each scroll action and if I'm scrolling on a element in the dataset it is cancelled and action binded with it is lost. I solved intercepting the event in panstart action getting its parent vis-group changing the target in the event to vis-group and emitting a new pan start using timeline.hammer.emit on the modified event.

It works well with m

[2016-11-23 13:16] chenko47 commented on #2355
![eg](https://cloud.githubusercontent.com/assets/16509369/20563106/b708eb44-b18f-11e6-8b9f-e463896469e9.png)
In short- something like this

[2016-11-23 13:26] yotamberk commented on #2338
It's a bit difficult to help when there is no example... It sounds hackish. If you get the vis-group parent, you can propagate more to reach the Range (vis-centerContainer) and change the target in the event there. Again, kinda hackish but possible.

[2016-11-23 13:48] yotamberk commented on #2345
This is solved in the `develop` branch by #2334

[2016-11-23 13:50] mojoaxel commented on #2053
see also #2355 for angled edges.

[2016-11-23 13:51] mojoaxel commented on #2355
Sadly this is not possible at the moment. See also [here](
http://stackoverflow.com/questions/39096205/family-chart-with-horizontal-and-vertical-line-connectors-using-vis-js).

[Here is an example](http://visjs.org/examples/network/edgeStyles/arrows.html) on how to use arrow in the middle of the edge. You can also change the color of the edge but no other fancy styles.

So, in short: This is not p

[2016-11-23 13:51] #2355 closed

[2016-11-23 13:56] chenko47 commented on #2355
Thank you for the fast answer !
There is any way that can I contribute and implement that ? any suggestions where to start and so on..
or it will be too complicated ?

thanks

[2016-11-23 14:05] mojoaxel commented on #2355
I think the new arrow option would not be that hard to implement. You would propably need a [new type of ending](https://github.com/almende/vis/blob/develop/lib/network/shapes.js#L211).

The angeld edges on the other hand would require a new impementation based on [EdgeBase](https://github.com/almende/vis/blob/master/lib/network/modules/components/edges/util/EdgeBase.js). I accept that to be super

[2016-11-23 14:10] mojoaxel commented on #2318
have you tried the option `stack: false` ?

[2016-11-23 14:14] yotamberk commented on #2318
If stacking is still important to you, try `margin: { item: { horizontal: -0.5 } }`

[2016-11-23 14:42] mojoaxel commented on #1176
This was implemented with #2357

[2016-11-23 14:42] #1176 closed

[2016-11-23 14:56] halli-pronestor commented on #2341
Same problem here i think. If you take this example http://visjs.org/examples/timeline/other/groupsPerformance.html and add zoomKey: 'ctrlKey' to options. Then make the browser window small enough so it only shows Trucks 1 and 2. Then the page does not scroll when mouse is over timeline (vis-panel vis-center). The page only scrolls when mouse is over group names.

[2016-11-23 15:01] mojoaxel commented on #2341
There is also a [question on stackoverflow](http://stackoverflow.com/questions/40142243/timeline-vis-js-scroll-up-and-scroll-down-to-move-view-from-left-to-right).

[2016-11-23 15:19] halli-pronestor commented on #2341
I was using 4.15 where page scrolling worked, but didnt work after upgrading to 4.17.

[2016-11-23 15:21] mojoaxel commented on #2341
@halli-pronestor That worked before? What was the control-key? Maybe it's a bug?

[2016-11-23 15:23] arvindpdmn opened #2358 "Unsure why I need to build vis"
The readme file says to build `vis` I have to do the following:
[code]

I'm new to using `npm`. I'm not sure why the build is required. I did a clone of the repo. I am able to open the examples in my browser without doing any such build. BTW, I haven't installed `npm` on my Windows 10 laptop.

[2016-11-23 15:38] halli-pronestor commented on #2341
@mojoaxel By control-key you mean zoomKey:'ctrlKey' ? My problem i described above, with 4.17 it does not scroll when mouse is over the vis-center, but works if i swap it out with 4.16.1.

[2016-11-23 15:40] yotamberk commented on #2341
I'm on it. PR will be ready by the weekend

[2016-11-23 16:06] mojoaxel commented on #2358
@arvindpdmn You don't have to build the library if you just want to use it. Building is just needed if you want to make changes to the source code of vis.js.
If you download the current [release](https://github.com/almende/vis/releases) you can use the pre-built files in the `dist` folder.

[2016-11-23 16:06] #2358 closed

[2016-11-23 16:15] mojoaxel commented on #2353
I use the following in a project of min:

### package.json
[code]

### webpack.config.js
[code]

Than I just can import `visTimeline` in my project.

[2016-11-23 16:25] chenko47 opened #2359 "Network graph | nodes overflows from canvas"
1.I got network graph with some images icons instead of shapes. the network graph includes one main shape, that all the other are connected to it .
but unfortunately, When I am starting to make some edges and connection between the nodes to the main one, some of the nodes are getting out of the canvas (they are invisible,but you can see the edge line to them).
How can I fix that issue ?
2.In addit

[2016-11-23 16:49] adrian-ionescu commented on #2177
I'm facing this issue as well.

Vis.js graph loads in 10+ seconds, whereas equivalent Chap-links graph loads in 1 second and Google-Timeline virtually instantly.

Looks like RangeItem.redraw() is called for every element during loading (!?). Chrome developer tools even warn you about this: "_Forced reflow is a likely performance bottleneck._"

![visjs](https://cloud.githubusercontent.com/assets/16

[2016-11-23 23:59] adamjmac opened #2361 ""fixed" nodes not staying put after new node is added"
With a hierarchical layout, I have a few fixed nodes, circled in red:

![image](https://cloud.githubusercontent.com/assets/23709888/20582377/1a4a9f0a-b1b7-11e6-9203-788503bd5a52.png)

Then I add a new node with this code (from Chrome console):

vis_nodes.update({id: "newnode", level: 0});

I would like the new node to simply add to the bottom without affecting the rest of the hierachy. However the

[2016-11-24 00:49] jiangxinlei commented on #2316
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Network | Layout</title>
    <link rel="stylesheet" href="css/vis.css" />

    <style type="text/css">
        #mynetwork {
            width: 800px;
            height: 500px;
            border: 1px solid #ddd;
        }
    </style>
</head>

<body>

    <p>
        1.There are four layout systems and I can use the hierarchical

[2016-11-24 07:45] halli-pronestor commented on #2341
Little more info from me. It is of course mouse wheel scroll. I upgraded from 4.15 to 4.17 to get a fix on a similar problem where finger scroll did not work over the vis-center on devices.

[2016-11-24 08:58] SaptakS commented on #2292
I haven't checked out the entire code yet and am willing to start contributing. Can't we use `fillStyle` and `fillRect` of canvas to create a rectangle of the context size and fill it with some color. That should be equivalent to having a background color I think.

[2016-11-24 19:25] sk29110 commented on #1982
FYI I only have 2 items in the timeline view still able to reproduce the problem. Just you like mentioned when you scroll(pan) so that 2 items are not in the visible view and scroll back to show those two items they are collapsed into each other.

![2016-11-24_11-16-37](https://cloud.githubusercontent.com/assets/626182/20608554/c46711d2-b237-11e6-8b69-a532b3cf107b.png)

[2016-11-25 09:45] Jinkwon commented on #2336
@mojoaxel
I don't think this is a complete solution. :0
Because this "pointer-events" codes even makes prevent customTIme's drag event.

[2016-11-25 10:38] yotamberk commented on #2341
Fixed with #2301

[2016-11-25 10:39] yotamberk commented on #2318
@achimschrepfer Can we close this issue? Does our solutions satisfy the problem?

[2016-11-25 10:41] achimschrepfer commented on #2318
Please let me check out the suggestions first. I think I can do this during this day.

[2016-11-25 10:43] BrunoM13 opened #2364 "Add Legend in Network Hierarchical graph ?"
- feature-request -

I'm trying to add "legend" in a Network Hierarchical graph by using the sample "using node as a legend" but
![25112016_114150](https://cloud.githubusercontent.com/assets/18261269/20622689/57e2ca06-b304-11e6-9c40-0c44c5d7c831.png)
 I'm facing a problem. (and I think it's normal due to the algorythm used)

I draw a hierarchical network with several nodes which have level propert

[2016-11-25 11:30] almute opened #2365 "Editing groups"
Hi,
is there also a function for editing the groups similar to
timeline.on('select',  function (properties){}
using which I can edit the entries (items)?

Thanks, Almute

[2016-11-25 11:39] yotamberk commented on #2365
Hi @almute, There is no way to do so yet. It's a good feature request though.
A workaround in the meantime could be making the group a groupTemplate with an html element containing an `onClick` event receiving the groupId  and filtering the items belonging to this groupId.

[2016-11-25 12:39] federicoco commented on #1545
Hello I know that this issue has been closed.
Happened to me and quickly found the solution :
It's not a bug ,it's a problem with your database.
If you set to NOT NULL the field which you'll associate to end field of Timeline Vis, and you'll leave it without inserting a date, your field will not contain null but 0000-00-00 00:00:00 (with DATE or DATETIME).

So, Vis.js reads 0000-00-00 00:00:00 , h

[2016-11-25 13:11] achimschrepfer commented on #2318
Hi all,

i finally made a test again with 4.17.0 (from npm). It all works fine now! Since my last test I only changed some options like this:

`options = {
        start: Date.now() - 60 * 60 * 1000,
        end: new Date(Date.now() + 16 * 60 * 60 * 1000),
        editable: true,
        autoResize: true,
        orientation: "top",
        clickToUse: true,
        groupOrder: "position",

[2016-11-25 13:11] achimschrepfer commented on #2318
Or at least I can :-)

Thanks
Achim

[2016-11-25 13:11] #2318 closed

[2016-11-25 16:22] adrian-ionescu commented on #2177
I think I found the culprit: https://github.com/almende/vis/blame/88f14a0d42b8af38e0dcd7b9b7d95eaf0df86d67/lib/timeline/component/item/RangeItem.js#L117-L122

I commented those 4 lines out and now the graph loads instantly.

@josdejong, it seems you anticipated this would be a performance problem. Any idea how to fix it? I have no experience with web development myself, unfortunately.

[2016-11-25 17:15] almute commented on #2365
Hi @yotamberk, thank you for responding.
I do not have so much experience with HTML and JavaScript, so I unfortunately have no idea how I can implement this.
I use Timeline in a Webviewer in FileMaker. What I want to achieve is that with a click on a group a FM script is started. For the items I got it working.

[2016-11-25 20:19] mojoaxel commented on #2359
Call `network.fit();`

[2016-11-25 20:24] chenko47 commented on #2359
I have tried this function, but the grapg becames smaller.  I just want the length between the nodes to fix himself to the canvas height.

[2016-11-25 22:48] yotamberk commented on #2336
Another workaround is add `z-index:1` to `.vis-panel.vis-center`. This will make the `customTime` draggable only on the time axis. I'm still trying to fix this... It's more difficult than I expected...

[2016-11-25 23:34] yotamberk commented on #2249
@netbrothers-tr  try adding;
[code]

[2016-11-26 07:59] yotamberk commented on #2365
Just so I'm clear on this, you want to catch an event that when you click a group, you receive the group properties (group id, name and items that belong to that group)?

[2016-11-26 08:07] yotamberk opened #2367 "Editing groups doesn't work"
Trying to drag groups when `groupEditable: true` doesn't work.

Uncaught TypeError: this.groupsData.update is not a function(…)

occurs in the console log.

[2016-11-26 08:16] almute commented on #2365
Yes, I want to catch an event when clicking on a group. But I only need to receive the group ID of this group. All other properties are then available for me in my FileMaker database.

[2016-11-26 08:27] yotamberk commented on #2365
Add this:
[code]
The props should contain the group properties when clicking anywhere in the timeline.

[2016-11-26 08:53] almute commented on #2365
I have tried, but this doesn't work. I also have add an alert to be sure. Nothing happens.

[2016-11-26 09:00] almute commented on #2365
I have changed the ID to look for to 'visualization'. This is the only ID used in my html.
Now I get a message:
object Object
But it has no valid information.

[2016-11-26 09:02] yotamberk commented on #2365
Ummm can you add a jsbin? It works for me fine.
 The props don't contain the groupId. Only the group content btw.

[2016-11-26 09:04] almute commented on #2365
Sorry, what is a jsbin?

[2016-11-26 09:09] yotamberk commented on #2365
https://jsbin.com/?html,js,output

basically sharing code to check examples and bugs. copy paste the relevant sections and share your code so I can see if something you're doing is causing the `[object object]`

I've tried what I suggested on one of the website's examples and works fine, so I think something in your implementation is not correct.

[2016-11-26 09:31] yotamberk commented on #2367
introduced in #2315

[2016-11-26 10:54] almute commented on #2365
I don't really understand what to do in jsbin. Is there another way to provide you with mit html?
As I already said - I'm not a programmer, I only know to work with FileMaker and a little bit with html.

[2016-11-26 11:31] almute commented on #2365
I have tried
document.getElementById('visualization').onclick = function (event) {
  var props = timeline.getEventProperties(event)
  console.log(props);
  alert (props);
}
in your group example and I'm getting "object Object" too.

[2016-11-26 12:02] yotamberk commented on #2365
try switching `alert(props);` with `alert (JSON.stringify(props));`

[2016-11-26 12:07] almute commented on #2365
Perfect. Now it is working and I'm sure that I will get this connected to my FileMaker database.
Thank you for providing such a useful timeline solution!

[2016-11-26 12:18] #2365 closed

[2016-11-26 15:00] yotamberk commented on #2367
@simo9000 can you take care of this please? it seems like the problem is comes from  https://github.com/almende/vis/pull/2315/files#diff-b6d6829c0beaea329845d1d6610f2be0R269

[2016-11-26 15:38] yotamberk commented on #2367
nvm, I solved it

[2016-11-26 15:48] yotamberk commented on #1810
This is too difficult for me to do right now. I'll put it again to a label of `For everyone` and hopefully someone will be able to pick it up in the future.

[2016-11-27 13:32] primozs opened #2369 "Graph2d group z order, z-index"
I am drawing multiple groups some shaded some not.

- Shaded groups seams to order nicely just by the order they are added. But I cant control z-index - order for lines (stroke) that don't specify "shaded". Is something like this possible. Unfortunately css z-index for svg does not work.

In general how does the vertical order work, suppose to work?
Cheers!

[2016-11-27 20:21] gulench opened #2370 "Timeline drag-and-drop does not work in Internet Explorer"
The drag-and-drop example, [examples/timeline/other/drag&drop.html](https://github.com/almende/vis/blob/v4.17.0/examples/timeline/other/drag%26drop.html), does not work in Internet Explorer (versions ..., 10, 11).

This is the error that gets logged: `SCRIPT438: Object doesn't support property or method 'includes'` in [lib/timeline/Core.js](https://github.com/almende/vis/blob/v4.17.0/lib/timeline/

[2016-11-28 09:07] MarkPajak commented on #1066
I have found that when the snap function is enabled, it effects dropping events onto the timeline - it fails to read the snapped date from the drop event

[2016-11-28 12:00] rinatio opened #2371 "avoidOverlap cause network to rotate forever"
Here's an [example](http://jsfiddle.net/rinatio/o93fkczq/1/). Try to move green node slightly and all nodes will start to rotate around `Test Phone` node and never stop.

[2016-11-28 12:11] yotamberk commented on #1956
@daattali I've started implementing this and was thinking again if this feature is actually needed. This is easy enough to do without an internal option. The control panel is something that will be implemented differently for each application and I really don't think supplying a default control panel has a real use... I think that doing it yourself (like the example above) gives the user much more

[2016-11-28 12:11] #1956 closed

[2016-11-28 12:15] yotamberk commented on #2356
@yoavdamri Are you planning to submit a PR with this addition?

[2016-11-28 12:18] mojoaxel commented on #1956
I all think a nice example will do.

[2016-11-28 12:20] yotamberk commented on #1956
@mojoaxel not sure what you mean

[2016-11-28 13:06] vcamaral opened #2374 "Network - Insert image/icon before node label"
![capture](https://cloud.githubusercontent.com/assets/860466/20669144/adaf3efe-b559-11e6-9ff8-2917757faf51.PNG)

Can I do this with Vis?

From what I read in the Network docs can only use icons from fonts like FontAwesome and IonIcons. I need use custom icons before node labels and not only icons (shape: 'icon').

Can someone help me please?

[2016-11-28 15:11] yotamberk commented on #2338
@EmanuelOverflow I see this happens only when an item is selected and you try to drag vertically when starting on the selected item.
An easy solution for this is simply making the items not editable. Does this work for you?

[2016-11-28 16:23] yotamberk commented on #2307
Further investigation shows that this bug was introduced between 0.16.1 and 0.17.0.
I'm working on solving the problem.

[2016-11-28 16:46] daattali commented on #1956
Sure, makes sense,

[2016-11-28 22:28] pgoldweic opened #2375 "are there any plans to incorporate centrality measure calculations in the library?"
I'm a current vis.js user and would like to know if there are any plans for incorporating centrality calculations within the library. If not, is there a recommended way to go about computing these for an existing vis.js network graph? (e.g. recommended third party library to use in conjunction of vis.js, etc.). Thanks!

[2016-11-29 06:06] jianxia612 opened #2376 "NetWork Nodes show Cicrle's margin?"
Network's Nodes show circle margin？

[2016-11-29 06:25] yoavdamri commented on #2356
thanks @yotamberk.
DONE!

[2016-11-29 09:44] ZhengxianLan opened #2378 "How to set distance between nodes and arrows?"
Hi,I would like to know how to set distance between nodes and arrows?
It just like a node has a margin,and the arrow of an edge can't touch it.
The graph type is network.
Thanks.

[2016-11-29 12:00] yotamberk commented on #2375
Finding the center of mass?

[2016-11-29 12:12] yotamberk opened #2379 "Editing an Item for the first time doesn't work"
an error occurs when trying to extend/reduce a ranged item start/end time before moving it.
After the first drag of any item, editing works.
the error:
ItemSet.js:1364 Uncaught TypeError: Cannot read property 'editable' of undefined(…)

[2016-11-29 13:57] achimschrepfer commented on #2318
BTW: today I've seen this issue again (with the exact same settings as mentioned above, so to me it seem's like a rounding issue or something like that). I gave @mojoaxel's suggestion a try and added "stack: false" to my options wich works like a charm.

[2016-11-29 15:43] pgoldweic commented on #2375
Actually not, I was referring to the graph theory concepts of centrality (degree, betweenness, closeness, eigenvector, etc. -many such measures have been defined- for each node in a graph)

[2016-11-29 19:38] gerardp commented on #2300
Please, make it collapsible, something like that:

![Uploading 095f6654-a815-11e6-93b0-dbf4e75ded2c.png…]()

[2016-11-29 19:52] yotamberk commented on #2300
@gerardp How do you expect the closed group to act? what Items should be shown in the parent? the sum of the items? all of the items of it's children?

[2016-11-29 20:11] gerardp commented on #2300
@yotamberk
In my opinion, children are subtasks of the father. If I close the father only has to show the father's timeline, something similar to the gantt attached.

![896px-ganttchartanatomy svg](https://cloud.githubusercontent.com/assets/168353/20727083/5dabcbd2-b678-11e6-8f4b-576496ff2809.png)

[2016-11-29 20:13] yotamberk commented on #2300
So basically the parent should be the sum of all children but in merged items, agreed?

[2016-11-29 20:40] gerardp commented on #2300
Not necessarily, i can also imagine some case that does not:

![img3](https://cloud.githubusercontent.com/assets/168353/20728085/747b60c6-b67c-11e6-88ab-e4eb632fa0fa.png)

[2016-11-29 20:47] yotamberk commented on #2300
But the parent still must be somehow limited to not be smaller than the last item end time. That's why I'm not sure what rules must apply on this parent group. Do we allow the children items to be movable anywhere? does the parent adjust? or are the children limited by the parent?

[2016-11-29 20:54] yotamberk commented on #2308
@federicoco I'm trying to understand this issue. Can you supply a working jsbin please? I can't help you otherwise...

[2016-11-29 20:56] #2294 closed

[2016-11-29 20:58] yotamberk commented on #2289
@pmfiebig Can you please supply a simple example so we can solve this problem?

[2016-11-29 21:00] yotamberk commented on #2253
This seems to me like a new feature when I read this again.

[2016-11-29 21:06] gerardp commented on #2300
@yotamberk
I would do it as simple as possible, without any limitation on the size of the father or the children. It does not matter that the children outnumber the father.
What is your opinion?

[2016-11-29 21:13] yotamberk commented on #2300
I think for a start I'll make the parent group independent of its children. Any kind of logic will have to be done by the user. Give me a few days. I'm on it.

[2016-11-29 21:15] gerardp commented on #2300
Great! thank you @yotamberk  !!

[2016-11-29 22:24] #2172 closed

[2016-11-29 22:26] #2076 closed

[2016-11-30 07:27] MiikaL commented on #2123
The issue can be seen on http://visjs.org/examples/timeline/interaction/limitMoveAndZoom.html .

It is a little hard to explain what is happening, as it appears to be behaving a little inconsistently. If you pinch/extend your fingers horizontally, it appears to work (more often than not), as long as you are very careful to stay within the bounds of the timeline element. pinch/extend vertically app

[2016-11-30 08:18] maitre-matt commented on #1763
@MichaelBitard could that repo be merged into https://github.com/DefinitelyTyped/DefinitelyTyped to be available with the rest of TS definitions?

[2016-11-30 08:19] federicoco commented on #2308
Hello, sorry to not answer but work kept me busy.
I found with other colleagues that it's from the database : if the field which hold start date & end date is set to not null, when you leave it empy, it will be set to `0000-00-00 00:00:00.`
Timeline does not know how to read `0000-00-00 00:00:00`, so that's why timeline Vis graphically render it like in the image.
Maybe could you suggest a pull re

[2016-11-30 08:28] #2308 closed

[2016-11-30 08:30] yotamberk commented on #2308
I don't there is a real reason to handle `0000-00-00 00:00:00` specifically. I think it's a data problem that needs to be handled by the user, like in your case.
Glad to hear you've solved the problem =)

[2016-11-30 08:31] MichaelBitard commented on #1763
Yes, feel free to do that, just put an issue here https://github.com/agileek/typings-vis once it's done so I can close this repo

[2016-11-30 09:20] EmanuelOverflow commented on #2338
The item is not editable yet. The problem seems to be that mobile devices handles pan actions in different way, because actions are emitted but the behavior is different from desktop browser

[2016-11-30 09:50] yotamberk commented on #1606
This doesn't occur anymore in v0.4.17. If this bug occurs again, please reopen this issue.

[2016-11-30 09:50] #1606 closed

[2016-11-30 10:15] yotamberk commented on #1582
This doesn't make sense to me - stacking is meant to be between items. A background is not a regular item. It's meant to act as a background... If you want an item that stacks and looks like the background, you can do it via css (`height:100%`, `border:none` etc.) It simply doesn't make sense to stack background with items.

In terms of stacking items (that are NOT backgrounds) based parameters, t

[2016-11-30 10:15] #1582 closed

[2016-11-30 11:17] mstumpf818 commented on #1810
thanks

[2016-11-30 11:42] yotamberk commented on #1285
@hitmanmcc Items spanning over a number of groups means that the item can only span over groups that are beside each-other?  How does one add an item to a group and link it to another group that is not directly near it?
I feel like this should be implemented by the user like @josdejong mentioned above. I don't think it's a hack or a UX problem if you trigger an event after adding an item and a pro

[2016-11-30 13:01] yotamberk commented on #257
closed with #2315

[2016-11-30 13:01] #257 closed

[2016-11-30 15:05] adamjmac commented on #2361
Any suggested workaround? Currently the best I was able to come up with is a full refresh of the page.

[2016-11-30 16:21] YMA-MDL commented on #1077
would this be a better solution :
[code]

[2016-11-30 20:06] eymiha opened #2384 "Width/height options for network elements"
Nodes should have minimum and maximum widths. The node's label should be able to be right- and left-padded if smaller than the minimum, and label's lines should be able to be broken on spaces if larger than the maximum.

Edges should have maximum widths. The edge's label's lines should be able to be broken on spaces if larger than the maximum.

Nodes should have minimum heights. The node's label s

[2016-12-01 00:36] patsissons commented on #1763
I started to do this, but my typings are in the typescript 2 format and not fully compatible with the other typings that have already been written. When i have a bit more time I can look into bringing the other types in.

[2016-12-01 05:19] gigglegirl opened #2387 "Data not displaying when i set horizontal scroll bar"
Hi ,

I want the data to be displayed when scrolled horizontally , i have added property "overflow-x : scroll "in css file.
It is displaying data when i drag or mousewheell , but not when horizontally scrolled.
Please tell how can i implement this feature.

Thanks

[2016-12-01 07:40] yotamberk commented on #2387
Hi @gigglegirl can you please add a jsbin so I can see your example?

[2016-12-01 09:52] gigglegirl opened #2388 "How to redraw timeline when horizontally scrolled ."
I was trying to implement horizontal scroll bar , I found that data is coming blank if i am scrolling it to right or left.

I realised it is not able to repaint or redraw when i scroll .(Correct me if i am wrong).I want to repaint my timeline with new data when i scroll .

Please suggest me how can i do that .

I tried to reference you following link "http://visjs.org/examples/timeline/interaction

[2016-12-01 13:25] federicoco opened #2389 "Feature Request for Timeline Module"
Hello,
I would like to propose this feature : can timeline be equipped with a neat preloader?
You could put a simple preloader(with a function to toggle or not the animation preloader like true = show preloader and meanwhile load the graphics in that 1-2 seconds, false = don't show the preloader and do like we always did).

Could it be a feature ?

[2016-12-01 13:26] federicoco opened #2390 "How to know on which subgroup the item has been placed"
hello, I was looking for the subgroup editing demo.
If I have to know that item1 has been moved from subgroup bar to subgroup foo, how can I achieve it ?

[2016-12-01 13:30] mojoaxel commented on #2389
see also #2306

[2016-12-01 14:00] #2387 closed

[2016-12-01 14:00] yotamberk commented on #2388
Continuation of #2387 and #1810

[2016-12-01 14:09] yotamberk commented on #2388
So, the problem with implementing this feature is a bit complex. The timeline only loads the data in a certain range. The range is loaded dynamically and does not load areas to the right and left, so the size of the div containing the center is constant and equal to the center container you see (this is unlike the vertical size which loads all the groups. This means that it knows that the groups s

[2016-12-01 14:29] yotamberk commented on #2390
Unfortunately it's not possible yet =(

[2016-12-01 15:48] eymiha opened #2391 "Vary individual line justification in labels"
When labels are multifont, this opens up some simple composition opportunities. It would sure be nice if some extended markup could be added to line beginnings (in html and markdown) that would allow that and subsequent lines to be justified differently than set up with the align option.

For instance, this would let the label contain a composition with a centered title in a larger bold typeface f

[2016-12-01 21:57] dockstreet opened #2392 "Add network Edge labels to physics repulsion"
Is it possible to add the labels to the physics so nodes or other edges would not overlay the text? In particular for a hierarchy?

[2016-12-01 21:59] dockstreet commented on #2392
This a duplicate of https://github.com/almende/vis/issues/1964

[2016-12-01 21:59] #2392 closed

[2016-12-01 22:03] dockstreet commented on #1964
It would be great if we could get the label text added into the physics or this solved. Is the above viable?  If so could it be included?

[2016-12-02 08:42] federicoco opened #2393 "Request of adding tutorial for redrawing Timeline"
hello,
Can you add on example page of timeline vis, a tutorial for redrawing the timeline when updating an item or a group?
Timeline vis is great, it would be more great if there would be more example and a more detailed doc about it (it's written well,dont' worry)

[2016-12-02 08:59] gigglegirl commented on #2387
hi @yotamberk ,  I realised that my timeline is not able to redraw timeline when i scroll it horizontally (correct me if i am wrong) .

So if there will be a way to fire an event (which gets fired on mousewheel or drag and drop)which redraws timeline when scrolled horizontally  may help in implementing horizontal scroll bar .

Thanks

[2016-12-02 09:03] gigglegirl commented on #2387
and i have one more question , we are firing following function on click of left or right button( Link : "http://visjs.org/examples/timeline/interaction/navigationMenu.html").

 function move (percentage) {
        var range = timeline.getWindow();
        var interval = range.end - range.start;

        timeline.setWindow({
            start: range.start.valueOf() - interval * percentage,

[2016-12-02 09:06] yotamberk commented on #2387
Yo can try firing a `timeline.setWindow({... })` as well in `timeline.addEventListener('mousewheel',...)` or maybe `scroll` event...
That might be a good workaround.

[2016-12-02 09:22] yotamberk commented on #2393
Thanks! will do.
See also #2226

[2016-12-02 10:21] mojoaxel commented on #1603
implemented by @eymiha with #2385

[2016-12-02 10:21] #1603 closed

[2016-12-02 10:21] mojoaxel commented on #1628
implemented by @eymiha with #2385

[2016-12-02 10:21] #1628 closed

[2016-12-02 10:22] mojoaxel commented on #1936
implemented by @eymiha with #2385

[2016-12-02 10:22] #1936 closed

[2016-12-02 10:22] mojoaxel commented on #2298
implemented by @eymiha with #2385

[2016-12-02 10:22] #2298 closed

[2016-12-02 10:23] mojoaxel commented on #2384
implemented by @eymiha with #2385

[2016-12-02 10:23] #2384 closed

[2016-12-02 11:37] ZhengxianLan commented on #2378
#[The arrow and the edge can't match well](http://ww1.sinaimg.cn/large/006y8mN6gw1facoge95nmj31860x2dj5.jpg)

[2016-12-02 12:05] hyanwong opened #2396 "Single axis possibility for user-defined hierarchical network layout"
When drawing a hierarchical graph (network), vis allows the user to define a level (by default, the position on the y axis). This can be meaningful (e.g. in my case it represents time on a family tree). So it would be nice if it would be possible in this case to add a y-axis with a scale to the network plot. In most cases axes are, of course, meaningless in a mathematical graph, but this is an exc

[2016-12-02 14:17] federicoco opened #2397 "Italian locale not setting....Again"
hello,
sorry to re-open this issue but i'm having again this issue :
I've included in my **html**
`<script src="/bower_components/moment/min/moment-with-locales.min.js"></script>`
in **main.js**
  options = {
            editable : false ,
            locale : "it_IT" ,
            width : '100%' ,

options is a global variable never modified.
![italianlocale](https://cloud.githubusercontent.com/a

[2016-12-02 14:20] yotamberk commented on #2397
Add to the options - `moment:moment'

[2016-12-02 14:23] federicoco commented on #2397
not working, it just continue to `print WARNING: options.locales['it_IT'] not found. See http://visjs.org/docs/timeline/#Localization` , flushed cache and cookies

[2016-12-02 15:07] smadapathi opened #2398 "Mouse position on canvas on hover for edges"
Thanks for this library!
I need to find the mouse position(x,y) when hover on edges. There is an event `hoverEdge`, but like `click` event, it doesn't give mouse x, y co-ordinates on the canvas in the callback. Is there any other way I can get this information?

[2016-12-02 15:15] Tooa commented on #2397
Does it work with locale `it` instead of `it_IT`?

[2016-12-02 15:21] federicoco commented on #2397
With it or it_IT , this is the output :
![timelinviscrash](https://cloud.githubusercontent.com/assets/22914696/20839053/5c222b28-b8ab-11e6-850c-f7a7a6b87f32.png)

the only month in italian is Ottobre 2016

[2016-12-02 21:08] thomashrabe opened #2400 "VisJS network ready function?"
I am using VisJS network to show graphs and was wondering if there's a specific `finishedLoading` event for the object?

Any ideas?

[2016-12-03 08:34] Tooa commented on #2398
Looks like this is not possible. We are open for pull-requests.  You might add this information to `hoverNode` as well.

[2016-12-03 08:38] Tooa commented on #2400
I recommend you to take a look at our [example page](http://visjs.org/network_examples.html). There are some stabilization events [here](http://visjs.org/examples/network/events/physicsEvents.html), and even an example showing [how to implement a loading screen](http://visjs.org/examples/network/exampleApplications/loadingBar.html). Is this what you are looking for?

[2016-12-03 09:37] yotamberk commented on #2356
Closed with #2377

[2016-12-03 09:37] #2356 closed

[2016-12-03 09:38] #2341 closed

[2016-12-03 09:38] #2345 closed

[2016-12-03 09:38] #2312 closed

[2016-12-03 09:39] #2251 closed

[2016-12-03 09:39] #2285 closed

[2016-12-03 09:39] #2336 closed

[2016-12-03 09:40] #2307 closed

[2016-12-03 09:57] mojoaxel commented on #2367
this was fixed by @yotamberk with #2368

[2016-12-03 09:58] mojoaxel commented on #2328
this was fixed by @yotamberk with #2368

[2016-12-03 15:27] thomashrabe commented on #2400
Hi,
yes, in fact I found the stabilization events and use them.
However, our page sometimes displays large graphs like 200 nodes. For large graphs the events fire before even one pixel is drawn on the screen. I'll add a link later.

Thanks,
Thomas

From the road

[2016-12-03 20:39] eymiha opened #2402 "util.topMost function failing"
When an element of the given 'pile' to test is undefined, the accessing the element's property fails (of course.)

[2016-12-03 20:51] mojoaxel commented on #2402
I have a fix for that with #2401

[2016-12-04 09:07] rqzheng2015 opened #2404 "How to know the exact nodeIds shown in canvas view when drag finished?"
I want to use the canvas position to help me judge whether they are shown in the browser canvas view at a time.  But how can i know the canvas position of 4 corner of the canvas view?
![image](https://cloud.githubusercontent.com/assets/13147584/20865121/1880c9c0-ba44-11e6-90f3-235bf7ce111b.png)

[2016-12-04 09:36] Tooa commented on #2404
Visjs does not have native support for something like this. A method checking whether a given node is visible like `ìsNodeVisible(nodeId)` would be useful IMHO. We are open for pull-requests. You might pick it up.

[2016-12-04 09:50] #2402 closed

[2016-12-04 10:05] maitre-matt commented on #1763
I copied @MichaelBitard definitions in PR https://github.com/DefinitelyTyped/DefinitelyTyped/pull/13092 . @patsissons we can merge what you have there. I added the tests that I had written for my app.

[2016-12-04 10:42] mojoaxel commented on #1763
It looks like @MichaelBitard and @seveves are working on TypeScript definitions at the moment:
* [agileek/typings-vis](/agileek/typings-vis)
* [seveves/ng2-vis](/seveves/ng2-vis)

We are thinking about making them part of the official vis.js repository to make sure they are always up-to-date. At the moment @seveves and I are looking into [generating](/DefinitelyTyped/DefinitelyTyped/issues/2103) T

[2016-12-04 10:53] maitre-matt commented on #1763
What is the ETA for that work? If it's soon we can skip DefinitelyTyped (it actually recommends packaging types with the code). Auto-generation could come later: there is enough in https://github.com/agileek/typings-vis to make it useful as-is.

[2016-12-04 11:10] mojoaxel commented on #1763
We could integrate the Type-Definitions as soon, as we have a well designed Pull-Request for that!
The question is what is a good way on integrating the Definition-Files in the current project structure? I personally would like to have a `*.d.ts` file for every source-file and concat them together in the build-step. But I have no experience with TypeScript. Maybe other projects use a different app

[2016-12-04 14:15] mojoaxel opened #2405 "Splitting vis.js into multiple libraries."
Vis.js consists of multiple different chart-implementations: "Network", "Graph-2D/Timeline" and "Graph-3D". They have almost nothing in common except the usage of "DataSet" and some general utilities.

I propose splitting the vis.js into multiple modules:
* vis-utilities
* vis-dataset
* vis-network
* vis-graph-2d
* vis-graph-3d

### Pros
* Users only have to import the lib they are using.
* Update

[2016-12-04 14:30] mojoaxel commented on #2387
@yotamberk Is this a duplicate? If so from what?

[2016-12-04 14:31] mojoaxel commented on #2392
@dockstreet A duplicate of which issue?

[2016-12-04 14:41] mojoaxel commented on #1066
@MarkPajak If you think that is a bug please feel free to create a new issue.

[2016-12-04 15:44] mojoaxel commented on #2397
@federicoco moment.js must be loaded before vis.js

[2016-12-04 15:56] mojoaxel commented on #2289
There already is an example: http://jsbin.com/funipa/edit?html,output
But here all start dates have been changed to pure dates.

[2016-12-04 16:11] mojoaxel commented on #2289
I can not see any problems using a time in `start` or `end` in a simple example (Chrome and Firefox): http://jsbin.com/hewegin/2/edit?html,output

@pmfiebig Feel free to reopen this issue if you can provide a simple example that shows the problem.

[2016-12-04 16:11] #2289 closed

[2016-12-04 16:12] #2249 closed

[2016-12-04 16:18] mojoaxel commented on #2280
Custom builds are no longer possible as described in the README.
@mast0r Sorry, we need to update the docs.

[2016-12-04 18:39] seveves commented on #1763
I gave the typescript-closure-tools a try and tried to generate the type definitions for the Network.js file.
It works but it is not as smooth as expected. You can see the first results in [this commit](https://github.com/seveves/vis/commit/fd82606f44fbdd942d45c5247e6be111c4f26a8f). As you can see it needs a lot of changes and blows up the code base with interface objects and so on. But when I com

[2016-12-04 19:01] MichaelBitard commented on #1763
I didnt know about this tool and it looks promising, I'd say give it a try. Worst case scenario is that we have to switch back to typing-vis, and we'll know typescript-closure-tools is not useful for vis.

[2016-12-04 19:18] mojoaxel commented on #1763
It was to be expected, that we have to adopt the code-documentation quite a bit for this. Please everybody make sure not to give in to the temptation to clean up the code at the same time. Pull request regarding Type-Definition-Information should only do exactly this and not much more. Also, as always: Keep Pull-Requests small and manageable. I say go for it! Thanks!

@seveves By the way: If you f

[2016-12-04 19:23] seveves commented on #1763
It is not an introduction but [this](https://github.com/google/closure-compiler/wiki/Annotating-JavaScript-for-the-Closure-Compiler) is the document I'm currently using.
I will stick to the network objects and when I'm finished (maybe end of the week) we can discuss if we really want to give this a go.

[2016-12-04 19:33] mojoaxel opened #2407 "Generate docs using JSdocs"
There are experiments at the moment to see if it is possible to generate TypeScript-type-definitions from special JSDoc-comments (see #1763). We should keep an eye on that. Maybe it is possible to generate the documentation using the same JSDocs.
This would ensure that every public function is documented an that the documentation fits always to the code-base.

[2016-12-05 00:23] mdcanham opened #2408 "Image vs Icon"
I was wondering if anyone can provide me with some insight into the difference in rendering with images and rendering with icons (SVGs).

Currently I am producing graphs that are on the order of 1500 objects and when I use 'icons' the performance is good, when I use 'images' (PNGs) the performance is terrible, even when the image is the same on all nodes.

Obviously rendering a PNG is going to use

[2016-12-05 01:29] tushersuvro opened #2409 "Is it possible to add linear gradient on node background color"
I was looking visjs examples on nodes color. But it seems only single color can be implemented on node background. I see there is a way to implement gradient on edge color by using inherit option both. Is there a way to add linear gradient on node background color as well? Any help with code example will be very helpful. I have attached one sample example as image.
![linear-gradients-on-nodes](htt

[2016-12-05 07:29] Tooa commented on #2409
As far as I know there is no such feature though I like the idea. Maybe you might pick it up and send a pull-request?

[2016-12-05 10:08] yotamberk commented on #2405
I personally think that splitting the library is the correct think to do, BUT, this will be very difficult to do... Is it possible to copy the idsuess and history in an easy fashion?

[2016-12-05 11:39] mehl321 opened #2412 "Create non-minified versions too in the "dist" folder"
We would like to use a non-minified version of `vis-network.min.js` in our project because our webpack configuration is already doing the minification and the sourcemapping (we custumized the vis.js code a bit).

Could we also have non-minified versions of the files in `dist` so we don't have to do a custom build for this? It would make vis.js more approachable for other developers too.

[2016-12-05 14:20] KunalAppensure opened #2413 "vis network isn't showing properly in bootstrap modal"
vis network isn't showing properly in bootstrap modal even if I have provided height and width of modal ,
network doesn't fits in modal its coming large and doesn't appear as whole in bootstrap modal .
Is anyone showing network in bootstrap modal , please help and provide one example if possible.
Thanks

[2016-12-05 14:39] mehl321 opened #2414 "Error while creating a custom bundle"
I followed the steps from the README and ran the command (`browserify custom.js -t babelify -o vis-custom.js -s vis`).

I got an error:
`Error: Parsing file cs/lib/timeline/Timeline.js: 'import' and 'export' may appear only with 'sourceType: module' (18:0)`

It's probably because we need to install some presets with the new version of babel. It's doesn't include anything by default anymore.

Has a

[2016-12-05 15:48] Tooa commented on #2413
Can you provide us with a minimal example of your problem [here](http://jsbin.com/)? However, I guess the problem is not related to visjs.

[2016-12-05 16:49] yotamberk commented on #2408
What happens if you try to use a smaller png? doe sit improve?

[2016-12-05 16:50] yotamberk commented on #2414
@mojoaxel Can you take care of this?

[2016-12-05 16:59] #2328 closed

[2016-12-05 19:30] 3xH commented on #2328
Thanks a lot!

[2016-12-05 19:31] thomashrabe commented on #2400
Here's the link:

http://cancer3d.org/mainView.php?ensemblID=ENSP00000306330&state=MF

It takes a while to load all data from the server. The loading modal is linked to `stabilizationIterationsDone`
but the graph keeps moving. I am looking for the event when basically all nodes and edges were drawn to the canvas, such as `drawComplete` or so.

Is there a way to reduce the movement energy of the no

[2016-12-05 19:39] seveves commented on #2407
How do you generate the documentation at the moment?

[2016-12-05 20:16] Tooa commented on #2400
The network layout algorithm is not finished when the `stabilizationInterationsDone` fires. It just means that your iteration threshold - defined in the options - is reached. You could disable the physics simulation after the event fires i.e. `options['physics'] = false`. This will stop the nodes from moving. However, in your case it looks like your physics settings are not optimal for your graph.

[2016-12-05 20:29] thomashrabe commented on #2400
Here you are:

var options = {
          layout: {
            randomSeed: undefined,
            improvedLayout:false
          }
      };

It’s very low level. Maybe you could suggest few additional parameters. Thanks.

[2016-12-05 22:13] mdcanham commented on #2408
@yotamberk This does improve performance, it is still slower than when using SVGs. Currently aiming to produce graphs on the order of 20K+ objects in which case even 1x1 PNGs are causing the graph to perform slowly.

[2016-12-05 22:18] planer-pro opened #2415 "Problem with chart"
Hi everyone. I have some trouble with current chart. How to fix it?
code:
`   // create a dataSet with groups
    var names = ['SquareShaded', 'Bargraph', 'Blank', 'CircleShaded'];
    var groups = new vis.DataSet();
    groups.add({
        id: 0,
        content: names[0]
        });

    groups.add({
        id: 1,
        content: names[1],
        options: {
            yAxisOrientation: 'rig

[2016-12-06 06:29] KunalAppensure commented on #2413
[http://jsbin.com/qitumazamu/edit?html,output](url)

[2016-12-06 08:08] #2397 closed

[2016-12-06 08:11] federicoco commented on #2397
Sorry for not answering, thank you @mojoaxel this helped me to fix the problem. Thank you everyone

[2016-12-06 08:14] yotamberk commented on #2408
I think the problem is reloading the image to the canvas over and over. I've read somewhere that png images should be cached in canvas, especially if reusing that image. We might need to implement caching node images... @Tooa or @eymiha do you have any insights to do this?

[2016-12-06 10:15] nothor84 commented on #1715
The issue is still relevant, I think the main point here is to have a WeekStep in the TimeStep.

@marcortw To calculate the week depending on the Local there is some Code in Internet. For example:
http://www.epoch-calendar.com/support/getting_iso_week.html

I know it's not an easy issue to implement, but a Timeline without weeks, it's really difficult to use for real Projects.
At least in Germany

[2016-12-06 10:21] yotamberk commented on #1715
@nothor84 Thanks! I'll get working on this.
Give me a few days, hopefully I can find time to take care of it.

[2016-12-06 10:34] Tooa commented on #2413
You missed to post the link, right?

[2016-12-06 11:03] KunalAppensure commented on #2413
please look into this
http://jsbin.com/pexarigefa/1/edit?html,output

[2016-12-06 12:07] mojoaxel commented on #2353
@eymiha Do you still have problems with babel or can we close this issue?

[2016-12-06 12:15] mojoaxel commented on #2311
@redcameron I see the problem, but how would you expect the graph to look in a hierarchical layout?

[2016-12-06 12:29] mojoaxel commented on #2320
@Brancepeng you need to set the `nodes`option on the network not a node:
[code]

[2016-12-06 12:32] mojoaxel commented on #2140
@glampr Was the answer of @KunalAppensure helpful to you? If so please close this issue.

[2016-12-06 12:39] mojoaxel commented on #2350
You can save the x/y position of each node and set it on creation. See [this example](http://visjs.org/examples/network/other/saveAndLoad.html).
Another possibility would no hide the existing nodes and show them after change.

_But to be honest: I'm not sure what you want to achieve._

[2016-12-06 13:30] mojoaxel commented on #2413
@KunalAppensure You can not draw the network as long the modal is not visible yet. because it has no position. Use a modal-event to trigger the network draw: http://jsbin.com/famenic/2/edit?js,output
Giving the modal-body a fixed size and play around with css might also work.

[2016-12-06 13:30] #2413 closed

[2016-12-06 13:36] omkarbodke opened #2417 "Is it possible to customise Timeline axis labels"
Is it possible to customise Timeline axis labels as,
If the date range is between 15 days, then the axis will display in DD D format.
If the date range is greater than 15 but less than a month, then the axis will display "|" for the day and DD D format for a weekday.

[2016-12-06 13:40] yotamberk commented on #2327
Closed with #2372

[2016-12-06 13:40] #2327 closed

[2016-12-06 13:41] yotamberk commented on #2370
Works for IE11. See #2372

[2016-12-06 13:53] yotamberk commented on #2417
Hi @timelineAxis (wow... what a specific name lol),
take a look at: #2172
This is basically what you're looking for.

[2016-12-06 14:09] #2367 closed

[2016-12-06 14:32] Tooa opened #2418 "Use issue and pull request templates"
A lot of issue tickets miss a minimal example demonstrating the problem or could be solved by taking a look at the documentation. Similar problems occur with external pull requests e.g. they reference the wrong branch or lack updated documentation or examples.

Therefore, I suggest using [issue and pull request templates](https://github.com/blog/2111-issue-and-pull-request-templates). Following my

[2016-12-06 15:14] federicoco opened #2419 "Providing more docs to timeline"
Hello,
my internship for my thesis is almost ending and thanks to timeline there is a chance to
be hired from the company.
If I'm hired I would like to contribute with some examples and more detailed docs to Timeline Vis JS module.
That's would be a little thanks for you.

[2016-12-06 16:02] redcameron commented on #2311
I would expect that the graph would not allow the edges to overlap or for a node to overlap an edge in this small graph because in this situation, a user would only be able to select one edge rather than the other two edges between nodes 'Second' and 'Third'.  This would be very inconvenient for the user who would need to select either edge.

This issue gives the false impression that the edge bet

[2016-12-06 16:56] glampr commented on #2140
The only way to make the second network "kind of" work, is to disable **edgeMinimization** and **blockShifting**, see this example.
https://plnkr.co/edit/Q867VY?p=preview
Seems like this is not yet fixed.

[2016-12-06 20:40] eymiha commented on #2353
No problems since the initial ones. The issue was mainly added in case
others had seen the same problem.

On Tue, Dec 6, 2016 at 7:07 AM Alexander Wunschik <notifications@github.com>
wrote:

[2016-12-07 03:17] yubitib opened #2421 "doubleClick Events it not fired."
when "clickToUse" is true once i clicked item i could use click event again i click the same item i could not use click event it not fired.

[2016-12-07 05:19] thomasbarone opened #2422 "Timeline onMove callback"
There is a problem with the onMove callback function which causes the dragged item to return to the wrong group when using `callback(null)`.

This bug seems to only occur when the timeline height is restricted so to enable vertical dragging between groups.

I have briefly looked into it, and I believe it may have something to do with the ItemSet._onDragStart() method being called twice. I have inc

[2016-12-07 09:16] netbrothers-tr commented on #2249
@mojoaxel, thanks for the solution. Would this imply I can't have both draggable and non-draggable bars in the same timeline?

[2016-12-07 09:36] mojoaxel commented on #2249
That's true. You can't have both draggable and non-traggable custom markers at this time. Feel free to reopen this issue if you need this.

[2016-12-07 11:13] timelineAxis commented on #2417
Hi yotamberk, It was helpful, but for the week we able to format dates which are starting and ending dates of the week not the day which fall in between those (suppose step is 7).

[2016-12-07 12:03] mojoaxel opened #2423 "CodeClimate"
We are thinking of integrating [CodeClimate](https://codeclimate.com/github/almende/vis) into this project.
Actually the first steps are already done with #2360 #2395 and #2411.

CodeClimate now uses Tools to find ways to improve the code. You can find [sugestions for improvment here](https://codeclimate.com/github/almende/vis/code).

Let's now discuss if we want such a tool and what "rules" make

[2016-12-07 12:45] mojoaxel commented on #2423
I'm not sure about the eslint rule `This function has too many statements. Maximum allowed is 30.`. Maybe we could increase it to 100 or disable it!?

[2016-12-07 12:48] mojoaxel commented on #2423
The eslint rule `Function X' has a complexity of Y.` makes also not much sense. To fix that we would have to break functions up into smaller functions. This makes no sense it many cases. Should we increase allowed complexity or disable the rule altogether?

[2016-12-07 13:39] Tooa commented on #2421
It works for me with [this](http://jsbin.com/xadoyuhugo/edit?html,console,output) minimal example. I need to click on the timeline once since the option `clickToUse` is activated. Then the timeline is marked with a blue border. Then I click on `item 2` and the the `click` event is fired. A second click on the same element i.e. `item 2` issues another `click` event.

[2016-12-07 13:39] Spannella opened #2424 "Timeline support for higher resolution times"
I have some use cases where I want to timeline out a series of events that occurred on a system. The entire process is less than 1 millisecond. I was thinking of either a way to raise the resolution that is supported or create a custom axis since applications needing such fine resolution likely do not need to go out as far as a month or a year.

If you have advice how I could define my own custom

[2016-12-07 14:07] yotamberk commented on #2424
Hi @Spannella, in terms of limiting the zoom, you have a `zoomMax` option you can limit the user.
In terms of having items smaller than 1ms, we don't support smaller resolution. There is a feature #92 that needs implementing to represent the axis as numeric numbers and not numbers. Once that is implemented, we can achieve what you're looking for.

[2016-12-07 17:42] mojoaxel commented on #2370
@yotamberk What about IE10? Should we reopen this?

[2016-12-07 20:32] yotamberk commented on #1906
closed with #2420

[2016-12-07 20:32] #1906 closed

[2016-12-07 21:37] beowulf29a commented on #2396
Is this not just options.layout.hierarchical.levelSeparation ?
http://visjs.org/examples/network/layout/hierarchicalLayoutWithoutPhysics.html

[2016-12-07 22:00] beowulf29a opened #2425 "Vertical Hierarchical Alignment"
https://jsfiddle.net/rj78tLrr/

I don't see a way in which to set the minimum vertical alignment for hierarchies which have one node per level.  In my example, dragging a node and releasing will display the nodes in the manner which I want them displayed.  However, I would like to have a setting for starting alignment.

[2016-12-07 22:09] hyanwong commented on #2396
Erm - not sure what you mean. I mean that I would like to have a labelled Y-axis, from e.g. 0 to 100 (or whatever) with a line and tick marks on the right or left side of the network.

[2016-12-07 23:05] hitmanmcc commented on #1285
@yotamberk Hello, we have since abandoned this part of the application and did not pursue this further, I was reading over this to better contextualize my answer. What was intended at the time was for us to be able to perform operations like we do on our desktop PMS software, where we drag-select a square/rectangle like area that covers a group of consecutively numbered rooms and dates.
What this

[2016-12-07 23:09] #1702 closed

[2016-12-07 23:33] beowulf29a commented on #2396
Did you see the fiddle? they are all perfecrly aligned for me until I grab
one of the nodes, and move it slightly to the side.  After releasing, that
is the organization I would prefer for the nodes.

On Dec 7, 2016 17:09, "Yan Wong" <notifications@github.com> wrote:

[2016-12-08 09:39] yotamberk commented on #1285
@hitmanmcc Thanks for the response! So let me get this clear:
The feature asked is the ability to multi-select a number of items using a mouse hold-&-drag over a number of groups (kind of like on the Windows desktop selecting a few icons)?

[2016-12-08 09:51] hyanwong commented on #2396
On 7 Dec 2016, at 23:33, beowulf29a <notifications@github.com> wrote:

Sorry, I think we are at cross purposes. I did see the fiddle, and yes, the nodes are all aligned fine on the Y axis. But what I am requesting is a labelled axis at the side of the network, as you might see in a normal scatter plot.

Yan

[2016-12-08 09:53] beowulf29a commented on #2396
Yes,sorry i understand that now, i dont think that is a feature that isn't
supported.  but should be easy to implement :-) happy coding!

On Dec 8, 2016 04:51, "Yan Wong" <notifications@github.com> wrote:

[2016-12-08 09:53] #2353 closed

[2016-12-08 10:07] yotamberk commented on #2370
Fixes with #2426

[2016-12-08 10:29] yotamberk commented on #2417
not sure what you mean. Can you elaborate?

[2016-12-08 10:51] yotamberk commented on #92
@sawatsky & @audy  I've managed to accomplish this with the current `develop` branch using the `options.format` with the next function:
[code]
You can change how the label will be presented. The above is a simple example.

I'm closing this issue. If this doesn't fulfill your needs, please reopen and elaborate what is missing.

[2016-12-08 10:51] #92 closed

[2016-12-08 11:14] timelineAxis commented on #2417
@yotamberk :  Have a look at image, lines with black mark between two dates that's what we need. So, number of lines will be the days falls in between those two dates.
![image](https://cloud.githubusercontent.com/assets/24411932/21007895/1203d32a-bd65-11e6-91f3-9529a90bd8f7.png)

[2016-12-08 11:24] yotamberk commented on #2417
Okay I get it now. Unfortunately this is not possible yet =(
I would rephrase this issue to a new feature request.

[2016-12-08 12:09] timelineAxis commented on #2417
@yotamberk - Thanks

[2016-12-08 14:09] yotamberk commented on #2422
Hi @thomasbarone, The fix is easy. All that is missing is adding
`if (this.touchParams.itemIsDragging) { return; }`
to the beginning of `ItemSet.prototype._onDragStart` function. I'll add a PR with this fix.

[2016-12-08 14:19] yotamberk commented on #1156
This issue is resolved with  #1976 or with using `option.verticalScroll`

[2016-12-08 17:05] dockstreet commented on #2392
duplicate of

https://github.com/almende/vis/issues/1964

[2016-12-08 17:36] yotamberk commented on #1405
@marcortw What's the status for this issue. Are you planning to work on this during Christmas?

[2016-12-08 19:42] primozs opened #2428 "Moment library"
Is it possible to replace it or remove it?
Is it possible to make it smaller, by using just parts of it?
Cheers

[2016-12-08 23:22] thomasbarone commented on #2422
Thanks for the quick fix @yotamberk!

[2016-12-09 06:08] yubitib commented on #2421
I've confined the option like [this](http://jsbin.com/yuduceziza/edit?html,console,output), not it's not working please check also scroll is not working on the background

[2016-12-09 10:13] yotamberk commented on #2428
You can make a custom bundle https://github.com/almende/vis#example-2-exclude-external-libraries
but you will need to include your own momentjs version.

[2016-12-09 10:17] primozs commented on #2428
@yotamberk Hi, Thank you for your answer. Yes I know this. But I find moment a bit big library compared to alternatives.

[2016-12-09 10:20] yotamberk commented on #2421
@yubitib Scrolling has been solved in the `develop` branch. In terms of the double click, I'll check it out.

[2016-12-09 10:21] farso92 opened #2429 "mousedown mouseup not working on vis"
hi i have a problem with the use of mousedown and mouseup event in vis timeline....this is a simple example of my code....(the timeline is inside the div visualization)

$("#visualization").on("mousedown", function1);
     function function1(e) {
     console.log("mouseDown");
};

the strange thing is that click event works fine and that 1 month ago mousedown events works fine too.
I don't know wh

[2016-12-09 10:23] Tooa commented on #2429
Maybe related to https://github.com/almende/vis/issues/2421. @yotamberk can you have a look at this too?

[2016-12-09 10:24] yotamberk commented on #2198
@ihatecodinglikeking I'm closing this issue from inactivity. If you still think this issue is relevant and you'd like to elaborate what you mean in this issue, we will reopen this issue.

[2016-12-09 10:24] #2198 closed

[2016-12-09 10:26] yotamberk commented on #2428
Unfortunately vis depends on momentjs and does not support alternatives for now.
What alternatives were you considering?

[2016-12-09 10:27] yotamberk commented on #2429
I'll try it out today\tomorrow

[2016-12-09 11:30] VivekTodur opened #2430 "How to use epoch for visible range in VisTimeline"
How to use epoch as visible range for vis timeline.
Instead of date min/max range, can I set epoch directly, But while displaying epoch should get transform and display in human readable form.

Is there way which I can achieve...

instead of  [min: new Date(2013, 3, 15) | max: new Date(2013, 3, 30)] to something like [min: new epoch(1481282997)]

Thanks,
Vivek

[2016-12-09 12:39] yotamberk commented on #2430
I'm not sure what's the difference. Isn't epoch another format of time?

[2016-12-09 12:41] yotamberk commented on #2423
yes... I don;t like that rule in general...

Agreed.

[2016-12-09 14:18] almute opened #2432 "iOS: zooming and moving available only after a longer hold on the timeline"
I'm having a problem with moving and zooming the timeline on iOS devices (iOS 10).
The function is available only after a longer hold with the finger on the timeline.
Is there a possibility to change this behaviour or is this a bug?

Thanks, Almute

[2016-12-09 14:38] Tooa commented on #2432
Maybe a duplicate of https://github.com/almende/vis/issues/2123?

[2016-12-09 14:42] ilijaperovic1 opened #2433 "Vis.js movement of nodes"
I'm I am trying to make virus spreading simulation using vis.js. At first, I generate a random graph. Here is the code:

[code]

Now, I want to "revive" this graph by making movements between contiguous node. Or just continuous movement of all nodes.

[2016-12-09 16:13] easleydp commented on #152
josdejong commented on 19 Jun 2014:

Is this still on the cards? Currently there is no visual cue to alert the user that some items may be out of view.

[2016-12-09 16:33] mojoaxel commented on #2432
@almute Please make sure that you did not activate the option `clickToUse`.

[2016-12-09 16:53] almute commented on #2432
clickToUse is not activated.
And I don't think that it is a duplicate of #2123  because after longer holding on the timeline it works fine until the timeline is refreshed.

[2016-12-09 16:58] yotamberk commented on #152
I think what youre taking is a new feature requested. Please open a new issue so we can address this @easleydp

[2016-12-09 18:40] primozs commented on #2428
I started using this a while ago. https://github.com/taylorhakes/fecha

[2016-12-09 19:01] no1youknowz commented on #2002
@mepaling I'm currently looking for the same effect, how did you achieve it?  Did you see an existing example over at d3?  Thanks

[2016-12-09 20:02] spurdy commented on #1847
Looks like the 'unselect' and 'select' actions that fire before the getNodeAt method would be called removes the node.shape.width and node.shape.height which causes issues for a method that getNodeAt() calls. You can get around the issue by calling a redraw(). Here's a fiddle that shows both the problem and the work-around:
[JS Fiddle](https://jsfiddle.net/qwhzofqq/1/)

[2016-12-10 10:25] yotamberk commented on #1126
@daniel-pfeiffer, @vk7282 take a look at this: #2437
:smile:

[2016-12-10 11:51] easleydp opened #2438 "Need vertical scrollbar to go with fixed header / vertical scrolling"
Feature request re. #152 --

josdejong commented (in #152) on 19 Jun 2014:

Is this still on the cards? Currently there is no visual cue to alert the user that some items may be out of view.

[2016-12-10 11:55] yotamberk commented on #2438
@easleydp There is an option: `verticalScroll` which provides a vertical scrollbar. So the only think missing is a cue to alert items out of view.

[2016-12-10 11:59] easleydp commented on #152
OK, see #2438

[2016-12-10 12:10] easleydp commented on #2438
I visited http://visjs.org/examples/timeline/basicUsage.html and pasted  timeline.setOptions({verticalScroll: true, height: 200, start: '2014-01-01', end: '2015-01-01'}) to the JavaScript console. A scrollbar appeared but it doesn't do anything; it has no thumb and clicking on its arrows has no effect. Also, the scrollbar is on the left whereas conventionally I would expect it to be on the right (

[2016-12-11 19:37] primozs commented on #2428
When I am building the application I require only Graph2d and in webpack stats - electrify it seams moment has 429kB with all locales and vis deps 523kB. It does not seam like I would have dependencies duplicates.

[2016-12-12 03:39] ZhengxianLan opened #2440 "two straight edges overlap between two nodes."
Is there any solution for two more straight edges do not overlap ?
Currently,
[code]
the options above can make two edges separate from each other.

[2016-12-12 04:31] VivekTodur commented on #2430
Yeah, That's ture. But when I was using like this,
			min: new Date(1365724800),                // lower limit of visible range
			max: new Date(1483142399),                // upper limit of visible range
So it was not working.

Epoch needs to be converted and did using http://momentjs.com/ plugin.. Working like charm now...

Thanks,
Vivek

[2016-12-12 04:51] #2430 closed

[2016-12-12 08:45] Brancepeng opened #2441 "Why the 'value' of the nodes Module work unnormal?"
code as following:
nodes = [
        {id: 1,  value: 2,  label: 'Algie' },
        {id: 2,  value: 31, label: 'Alston'},
        {id: 3,  value: 12, label: 'Barney'},
        {id: 4,  value: 40, label: 'Coley' },
        {id: 5,  value: 17, label: 'Grant' },
        {id: 6,  value: 15, label: 'Langdon'},
        {id: 7,  value: 6,  label: 'Lee'},
        {id: 8,  value: 5,  label: 'Merlin'},

[2016-12-12 10:43] farso92 commented on #2429
nobody can help me?

[2016-12-12 11:31] AlexETF opened #2442 "Is it possible to have fixed points on node where ends of edges will be when nodes are connected"
Is it possible to achieve to have single or multiple fixed points on node shape where end of edges will be when nodes are connected. If connected nodes are moved, edges will be pointing to that fixed points. Sorry if I was not clear while trying to explain this issue.

![untitled diagram 2](https://cloud.githubusercontent.com/assets/8627527/21097831/c6821100-c066-11e6-894a-4a89a8da1dff.png)

In ap

[2016-12-12 11:58] yotamberk commented on #2429
I think an `event.stopPropagation` is can using the problem. I dont have the time right now to investigate this further. I need a few days to get to it ...

[2016-12-12 12:21] sunil-prasad-w opened #2443 "Event Position and Asset Position should be in centre"
Hi There,

I am using timeline with group example suggestion. We need to display timeline with start, end date  and one event ( Start date will be always ahead of timeline.) for one group. Currently  I am facing issue in alignment. Timeline and Event does not show in centre and event should be display  after timeline. you can better understand with attached screen.

![image-1](https://cloud.github

[2016-12-12 12:34] Alexthetiger commented on #1847
Yes, it works, thanks.

[2016-12-12 13:10] Jinkwon commented on #2336
@yotamberk Thanks!  👍

[2016-12-12 13:13] yotamberk commented on #2443
I'm sorry but i dont understand what you mean

[2016-12-12 16:55] Tooa commented on #2442
You can define different shapes for the edge start and end points. This option is described in the documentation [here](http://visjs.org/docs/network/edges.html). However, atm it is not possible to combine the circle end/start point with an arrow end/start point.

[2016-12-12 21:46] yotamberk commented on #2443
try adding to the options `stack: false`

[2016-12-12 22:55] Tooa commented on #2400
The physics configuration depends on your graph data. You can get used to the individual parameters [here](http://visjs.org/examples/network/physics/physicsConfiguration.html). Just play around a little bit. Maybe try to increase the `springLength` and adjust the `gravitationalConstant` in order to stretch the nodes away from the center.

Have you tried to disable the physics as I suggested?

[2016-12-12 23:00] Tooa commented on #2378
AFAIK there is no official option that enables such a margin. Have you modified the code that renders the network shown in your screenshot? For me the [example](http://visjs.org/examples/network/edgeStyles/arrows.html) looks different.

[2016-12-12 23:01] Tooa commented on #2376
Could you please elaborate on this?

[2016-12-12 23:06] Tooa commented on #2371
This is a known issue. See [here](https://github.com/almende/vis/issues/1321). We maybe should make this an enhancement in order to improve this feature.

[2016-12-12 23:10] mojoaxel commented on #2371
Why not call it a bug? This is clearly unexpected and unwanted behavior. But fixing it might not be simple.

[2016-12-12 23:23] Tooa commented on #1911
Can you please test with the latest visjs version again? We have tackled a few issues related to `blurEdge` and `hoverNode` in our latest release.

[2016-12-12 23:25] Tooa commented on #1915
Can you check with the latest visjs version? Is this still an issue for you?

[2016-12-12 23:31] Tooa commented on #1917
This should work with angularjs. You should get the idea.

[code]

[code]

[2016-12-12 23:39] Tooa commented on #1865
Duplicate of https://github.com/almende/vis/issues/2104. Closing in favor of the other issue.

[2016-12-12 23:39] #1865 closed

[2016-12-12 23:42] Tooa commented on #1858
I can verify this issue. Still occurs in the latest version.

[2016-12-12 23:49] Tooa commented on #1717
Also see https://github.com/almende/vis/issues/1917 how to add a fullscreen button yourself.

[2016-12-12 23:50] Tooa commented on #1856
The latest version adds [support](http://visjs.org/docs/network/edges.html) for `circle` arrow endpoints. Also see [this](https://github.com/almende/vis/pull/2066) pull-request. You may add more shapes if you like to. We are open for pull-requests.

[2016-12-13 00:04] Tooa commented on #1696
Is this still an issue for you? I successfully used visjs with angularjs and chrome myself in the past.

[2016-12-13 00:10] #1915 closed

[2016-12-13 02:05] ZhengxianLan commented on #2378
Yes,I modified it,but it's not work well.I can't calculate the angle to match the line quite well,which make the network looks ugly.

[2016-12-13 03:57] jianxia612 commented on #2376
![image](https://cloud.githubusercontent.com/assets/10516256/21127067/27418a06-c12b-11e6-8422-8087320b4eca.png) Network's Nodes layout on circle orbit.

[2016-12-13 10:08] rgrcnh commented on #1696
It is working, thx for asking!

[2016-12-13 10:08] #1696 closed

[2016-12-13 10:08] farso92 commented on #2429
i tried to use it but nothing change...i noticed an interesting thing: only the left click doesn't work, if i click with right button mousedown event works...it is very strange

[2016-12-13 10:16] logscl opened #2444 "Timeline - vis-minor ticks are sometimes not generated on DST days"
Hello,

We are facing an issue with the Timeline component of VisJs. When we render the events of a day that contains a daylight saving time switch (in this case, from summer time to winter time), the minor ticks are not generated.

Here is a fiddle that shows the error: https://jsfiddle.net/md2sdes2/1/

The first timeline has only the first tick (00h), while the second timeline (that displays the

[2016-12-13 10:32] easleydp opened #2445 "vis.js is not compatible with YUI Compressor due to use of reserved words"
Trying to use vis Timeline in a Sencha ExtJS application. The Sencha Cmd build tool uses YUI Compressor by default. It barfs on vis.js due to use of reserved words, e.g. "default" in the following:

`  function _interopRequireDefault(obj) { return obj && obj.__esModule ? obj : { default: obj }; }`

PS. I also tried using the Closure Compiler and this failed for some other reason (can't recall the

[2016-12-13 11:27] sunil-prasad-w commented on #2443
Thank you @yotamberk for the response.
We are using this code to render multiple events on the timeline. However, the way the vertical alignment of each entry is being done seems to be arbitrary.

For example: In the image below, you'll see (1) and (2) are aligned in a different way and (3) and (4) are aligned in a different way.
![image-1](https://cloud.githubusercontent.com/assets/24523193/21138

[2016-12-13 11:41] yotamberk commented on #2443
Hi @sunil-prasad-w , try using the `order` option. you can see an example here: http://visjs.org/examples/timeline/items/itemOrdering.html

[2016-12-13 11:44] yotamberk commented on #2444
@josdejong I think the PR you posted (#2290). It seems like something is still going wrong. Can you please take a look at it?

[2016-12-13 11:50] yotamberk commented on #2445
Can you submit a PR to allow the support to these tools?

[2016-12-13 17:02] dockstreet commented on #1964
Any thoughts about adding either? :

1. levelSeparation as user defined per level

and/or

2. adding the labels as part of the physics for edges and nodes

I'm consuming this library downstream from R, so I'm not sure what to express in terms of the JavaScript to help provide feedback.

[2016-12-13 19:54] mojoaxel commented on #92
@yotamberk In the context of the timeline it might be enogh to just show numbers instead of dates. But in the graph-2D a real number-scale is still needed. See #455

[2016-12-13 19:58] mojoaxel commented on #1156
Sorry, but this still doesn't work.

[2016-12-13 20:00] mojoaxel commented on #2002
@mepaling @no1youknowz Feel free to reopen this. We could change it to a "feature-request" if this is still needed.

[2016-12-14 03:18] eymiha commented on #2409
I like this... node options to define a linear gradient could be
[code]
...the gradient proceeding from one edge of a node to the other along the given angle. (With the caveat that, in the same way edges the inherit color from the nodes at both ends, color gradient calculations are slow.)

Going the next step, adding
[code]
would allow radial gradients as well. In fact, adding
[code]
could complet

[2016-12-14 03:38] eymiha commented on #2292
If you wanted to use the fillStyle and fillRect on the canvas instead of using CSS, you could
[code]
to do the fill before vis drew anything on the canvas. I'd really suggest CSS though. The backgrounds, animations and transformations available change the game.

IMHO, Vis.js should be focussed on creating and interacting with the visualized elements, not handling *everything* a user might want to

[2016-12-14 03:44] eymiha commented on #2203
This really starts to seem like a "floating node" or something like it. I can imagine wanting all of the properties of a node and its border and its label, but floating over the midpoint of an edge, not contributing to physics.

[2016-12-14 06:46] jayaprabur opened #2447 "edgeSelection to identify the nodes"
Hello All,

When I am selecting edge I wanted to identify the nodes which connected the edges. Is there any feature is available? I have google it for many times but unfortunately I didnt get it.

Any leads?

Thanks in advance.

Regards,
Jay

[2016-12-14 07:42] dmavrin opened #2448 "Performance on timeline graph"
Hello.

I want to thank the creators of this package for good work.

Secondly, I just want to notify people who encountered the same problems.

I had timeline graph with groups and a lot of items (20k+). Performance was soo bad (loading time 20s+). The only thing you need to do is define `start` and `end` date in options and performance boost is to 1s or less loading time. Thats maybe an issue or

[2016-12-14 08:06] ZedLeb commented on #211
I would like to be able to select a 'group' of edges based on user input in Shiny.  I've posted a question about this on visNetwork issues [here](https://github.com/datastorm-open/visNetwork/issues/129url)

So any further developments in this area are of great interest!

[2016-12-14 08:10] yotamberk commented on #2448
@dmavrin Thanks for sharing!

[2016-12-14 08:33] Tooa commented on #2447
An edge always connects two nodes i.e. [A] <---> [B]. Ǹot sure, why you are talking about `edges`. However, you could use the `selectEdge` event, which receives the selected edge that provides you with the adjacent nodes. I recommend you to take a look at the [documentation](http://visjs.org/docs/network/). Is this what you are looking for?

[2016-12-14 09:00] jayaprabur commented on #2447
Thanks for your reply.
My request is that when I double or single click on edge I should populate the adjacent two nodes in separate DIV.
Ex: [A]<--->[B] when I click on edge in DIV it should display the node names (from there I am connecting PHP to get more info about the nodes and display it on DIV).

[2016-12-14 09:26] Tooa commented on #2447
Then use the `selectEdge` event mentioned above. Also see [this](http://visjs.org/examples/network/events/interactionEvents.html) example.

[2016-12-14 09:35] jayaprabur commented on #2447
Yes, I have tried your example, but with that node returns always empty array.

`network.on("selectEdge", function (params) {
        console.log('selectEdge Event:', params);
    });`

The output is:

"nodes": [],
    "edges": [
        "92d73a52-d26a-4c89-9bf2-471418ae1dde"
    ],

[2016-12-14 09:38] Tooa commented on #2447
Yes, it just returns you the selected edge id. You can look up the edge in the edge dataset using this id i.e. `edges.get('92d73a52-d26a-4c89-9bf2-471418ae1dde')`

[2016-12-14 09:48] jayaprabur commented on #2447
I have used the following code. But I am receiving null values, Could you tell me where I am wrong.

`      network.on("selectEdge", function (params) {
          edges = new vis.DataSet();
          var edgeIds = edges.get(params.edges[0]);
          console.log(edgeIds);
      });`

[2016-12-14 09:50] Tooa commented on #2447
You don't need to create the dataset yourself in the event callback - it is already present.

[code]

[2016-12-14 09:54] jayaprabur commented on #2447
When I am using the above your code I am getting the following error.

[2016-12-14 10:00] Tooa commented on #2447
Are you using the code from the [example](http://visjs.org/examples/network/events/interactionEvents.html) I posted?

[2016-12-14 10:10] jayaprabur commented on #2447
No. I just took portion of the code from your example. Now I have noticed that you have used nodes and edges in DataSet, which I was wrong.

Its working now! :+1:  :100:
Great Help

Thanks a lot :)

[2016-12-14 11:10] #2447 closed

[2016-12-14 11:14] AlexETF opened #2449 "Edges overlap when physics is disabled"
The behavior of network when physics is turned off suits the best for my application (it is possible to move nodes without dragging the rest of the network like when physics is enabled and default layout is used).

But, when physics is disabled, edges between nodes overlap. For example I create two nodes, and add multiple links between these two nodes. All edges will overlap. Is it possible to avo

[2016-12-14 11:17] Felix-neko opened #2450 "Need blocks and ports support (Simulink-like)"
Good morning, gentlemen!

I want to write an application, where the user is able to create some block diagrams with a few types of parametrizable blocks -- and then make the connections between the ports on the blocks.

The types of the blocks are pre-defined by me, these are the wrappers of my pre-written signal processing classes.

**Cannot you add support of blocks and ports drawing and editing

[2016-12-14 12:34] burhanusman commented on #1210
Hey @vramali1, I currently have the same requirement. Have you found anything interesting?

[2016-12-14 14:09] ephraimberkovitch opened #2451 "Setting dot color in Graph3d 'dot-color' mode"
Looking at the documentation in http://visjs.org/docs/graph3d/, I can't see how to set explicitly the dot color of a 3d graph. If in the graph style is dot-color mode, then both dot color and dot size are set by the data in style column. But it is unclear for me, by which formula it is being done, and moreover, when creating a number of simultaneously plotted graphs, I have to sync their legends a

[2016-12-14 14:23] OACDesigns commented on #1112
It looks like this bug has resurfaced.
Firefox 50.1.0 on Ubuntu.
Is anyone else experiencing this issue?

[2016-12-14 14:39] Tooa commented on #1112
Can you please open a new issue? We may miss this otherwise. Please also provide a jsbin that shows the issue and add the steps to reproduce the error. I will look into this later.

[2016-12-14 16:02] halli-pronestor opened #2453 "Timeline on IE11, 200+ groups load slow"
Just rendering groups takes 6+ secs in IE11, ~0 secs in Firefox/Chrome
[code]

[2016-12-14 17:32] OACDesigns commented on #1112
👍 will do

[2016-12-14 19:08] OACDesigns opened #2454 "Render issues with Firefox 50.1.0 on Ubuntu 16.04 LTS (64bit)"
The latest release of Firefox seems to have introduced a rendering issue on ubuntu (could it be related to https://github.com/almende/vis/issues/1112 ?).
Chrome is unaffected on the same machine

jsbin:
https://jsbin.com/goquduyuhi/edit?html,js,output

Screenshot
![hardcopy](https://cloud.githubusercontent.com/assets/2932334/21194119/0d7a05ee-c22f-11e6-9e39-1835f47c338f.png)

[2016-12-14 21:06] Tooa commented on #2454
It works for me on Linux Mint 17.3 (based on Ubuntu 14.04) with Firefox 50.1.0. Have you tried to clear the cache?

[2016-12-14 21:57] gossi opened #2455 "Timeline: Custom styles on items break selection"
When items on a Timeline vis have a custom style property given, the selection won't work. Basically, when you select an item, the positional properties (e.g. `left`) is overwridden with the custom style rsp. the positional style isn't applied. As a result, when you select an item on a timeline with custom style the item is positioned left. If you move it around or change start or end, it still wo

[2016-12-15 04:15] pallaviMN opened #2456 "Tool tip not displaying in mobile"
Hi Team,

I am using this library in one of the hybrid mobile app, its not showing "tooltip" for network graphs. We have "title" field in the JSON.

[2016-12-15 04:35] yubitib commented on #2421
OK Thanks, i need to fix the scroll in your master branch,
may you please help to it?

[2016-12-15 07:50] Tooa commented on #2421
You can [cherry pick ](https://git-scm.com/docs/git-cherry-pick)the [commit](https://github.com/almende/vis/commit/5f7a721bf9728dd1ac8390b6835c00bb779df251) from the develop branch.

[2016-12-15 09:43] yotamberk commented on #2455
@gossi Can you please supply a jsbin so we can see the problem you're encountering?

[2016-12-15 12:01] #2456 closed

[2016-12-15 12:02] pallaviMN opened #2457 "In Mobile, graph rendering takes too much time"
In Mobile, graph takes more than 2 sec to load, & even zoom in & pinch not working.  All DOM event listeners behave the same

[2016-12-15 12:04] yubitib commented on #2421
but i used bower for install libraries in my production

[2016-12-15 12:26] OACDesigns commented on #2454
yes we tried with a clean cache, no change unfortunately.
It's on a colleague's machine by the way. I can also confirm that Ubuntu 14.04 appears fine, so it must be specific to 16.04

The following error appears in the console:
[code]

[2016-12-15 13:20] OACDesigns commented on #2454
(btw I updated the jsbin to use the unminified version for a better stack trace: https://jsbin.com/damodevoha/edit?html,js,output )

[2016-12-15 13:23] mepaling commented on #2002
@no1youknowz
Sorry for the late reply. I'm busy on another project.
And please don't mind with my poor English.
I have been away of these things for several months.
Now I'm try to read my old codes about these things.

I'm also new to D3.js, so there may have a better way to achieve the goal.
Sorry for not providing codes because those things are parts of an enterprise's project.

The following op

[2016-12-15 13:41] Tooa commented on #2421
For the time being, you can build the develop branch yourself and include your own build in your production env. Otherwise, you have to wait for the next visjs release. However, this shouldn't take too long.

[2016-12-15 13:43] Tooa commented on #2457
Which mobile operating system are you using?

[2016-12-15 13:59] Tooa commented on #2453
You maybe want to dig a little bit further into this problem and identify the bottleneck causing slow render times in IE11? This would help us a lot :+1:

[2016-12-15 15:34] pallaviMN commented on #2457
I am using android & iOS & ionic framework

[2016-12-15 15:47] halli-pronestor commented on #2453
In
`Group.prototype.redraw`

i get the sum of time for just this line and it is 6 secs (it is called 999 times)
`var markerHeight = this.dom.marker.clientHeight;`

i saw that `this.dom.marker.clientHeight` was always 18 in my scenario so i just hardcoded it to test
and then the problem moves later in the function to this, i guess offsetTop is the problem
[code]

so i tested just a simple javascrip

[2016-12-15 16:36] no1youknowz commented on #2002
@mepaling thanks for your answer and your english was just fine! 👍

@mojoaxel Whilst I have an existing implementation with this library, I have decided to go with jsplumb tooklit.

[2016-12-15 17:03] gmlevin opened #2458 "error setting option in graph2d"
I want to auto scale my y-axis in graph2d. (I also want to be able to switch between fixed and autoscaled limits.) I tried setting dataAxis.left.range.max = null or undefined. Passing the value null (not the string) seems to get the desired behavior, but reports the following error. Passing undefined has the same issue.
I see this behavior with vis-4.17.0 and previous versions.

I am assuming it i

[2016-12-15 19:55] josdejong commented on #2444
I think that fix isn't yet released? Scheduled for v4.18.0?

[2016-12-15 21:25] koug44 commented on #2454
I have the same issue on Firefox 50.1.0 on ArchLinux x64. Manage to fix it by disabling the Privacy Badger addon

[2016-12-16 08:00] mojoaxel commented on #2444
Not released yet. See https://github.com/almende/vis/milestone/3 for the planed release date.

[2016-12-16 08:04] mojoaxel commented on #2351
Planned release date for 4.18.0 is the 30.12.16.
Code-freeze (no more Pull-Requests) 28.12.16.

[2016-12-16 09:31] primozs commented on #2428
I know this is not exactly the right place to open this issue but it is still related.
I made example webpack2 project where from moment you require just one function but you get the whole moment with all the locales. https://github.com/primozs/webpack2-local-modules

Maybe anybody here knows how to split moment with locales for each locale into a separate file?
Cheers

[2016-12-16 09:59] timelineAxis opened #2464 "can we format minor labels"
![image](https://cloud.githubusercontent.com/assets/24411932/21258728/506c4ad0-c3a4-11e6-9d36-8821f51c6c76.png)
I need 14 to be displayed below We and 15 below Th and so on

[2016-12-16 10:02] pallaviMN opened #2465 "Which is the last method called in vis.js file, after Network Viz is drawn?"

[2016-12-16 12:47] hitmanmcc commented on #1285
Yes, it is akin to the nature of that process. Sorry for the delay in responding to your query.

[2016-12-16 13:56] yotamberk commented on #2464
@timelineAxis you have a `format` option you can pass a function of the way you want to display the labels. It will look like this:
[code]

[2016-12-16 14:03] yotamberk commented on #2465
I think what you are looking for the `afterDrawing` used like this:
[code]

[2016-12-16 14:29] halli-pronestor commented on #2453
I optimized my test forloop with DocumentFragment from 2 secs to 39 milliSecs.
Please advice me or stop me for investigating further using DocumentFragment in vis timeline.

[2016-12-16 15:12] yotamberk commented on #2453
@halli-pronestor I'm not sure what you mean. Can you explain more what you did?

[2016-12-16 15:28] halli-pronestor commented on #2453
Running in IE
1. I tried to emulate the performance issue i had like this http://jsbin.com/qemubo/1/edit?html,js,output
2. And then used DocumentFragment to optimize like this http://jsbin.com/ropejis/edit?html,js,output

1 took 101 ms
2 took 34 ms
though when copying this out of jsBin and running in standalone index.html file it was much slower in 1, dont know why it runs faster in jsBin.

In vis

[2016-12-16 16:15] yotamberk commented on #2453
I see what you mean. Thanks! I'll have to get in to it in depth and check it out.
Thanks for your research! Very helpful =)

[2016-12-16 19:26] yotamberk commented on #2444
duplicate of #2251

[2016-12-16 19:26] #2444 closed

[2016-12-16 19:29] #2422 closed

[2016-12-16 19:56] primozs commented on #2428
ok, one option is this

in plugins
new webpack.IgnorePlugin(/^\.\/locale$/, /moment$/), // Ignore all optional deps of moment.js

[2016-12-16 19:56] #2428 closed

[2016-12-16 20:09] Tooa commented on #2102
The problem is that `this.scale` is undefined. The value is initialized [here](https://github.com/almende/vis/blob/9703462783923ceb52107f0f3fe070de7cb0fe8f/lib/timeline/component/DataAxis.js#L56) and receives a value [here](https://github.com/almende/vis/blob/9703462783923ceb52107f0f3fe070de7cb0fe8f/lib/timeline/component/DataAxis.js#L366).

This means that the `_redrawLabels` is only called when

[2016-12-16 22:09] Tooa opened #2467 "Timeline rolling mode breaks graph2D"
[This pull request](https://github.com/almende/vis/pull/2439) to the develop branch breaks parts of the graph2D component. See the following for details:

[code]

Causes

[code]

The problem is that graph2D creates the `Range` [here](https://github.com/almende/vis/blob/9703462783923ceb52107f0f3fe070de7cb0fe8f/lib/timeline/Graph2d.js#L82) with `this.body` and without an option hence the latter opti

[2016-12-16 22:16] Tooa opened #2469 "itemSet is not defined for graph2D"
This issue was introduced in https://github.com/almende/vis/commit/a32a7f77f33ecf500edf19fa529b068c88253259.

[code]
Causes

[code]

Related code
[code]

The graph2D component uses this code too, but has no `me.itemSet`.

[2016-12-16 22:31] yotamberk commented on #2469
All that is missing for this issue is to change line https://github.com/almende/vis/commit/a32a7f77f33ecf500edf19fa529b068c88253259#diff-48cd31cfd18be1ced86f34cd0c10ab53R119
 to:
`if (me.itemSet && me.itemSet.initialItemSetDrawn && properties && properties.queue == true)`

[2016-12-16 22:33] #2467 closed

[2016-12-16 22:39] yotamberk commented on #1126
Added with #2437

[2016-12-16 22:39] #1126 closed

[2016-12-16 22:40] yotamberk commented on #1746
Added with #2439

[2016-12-16 22:40] #1746 closed

[2016-12-16 22:41] #2370 closed

[2016-12-16 22:45] #2469 closed

[2016-12-16 23:23] #2102 closed

[2016-12-17 19:56] yotamberk commented on #2421
Fixed in #2473

[2016-12-17 20:00] yotamberk commented on #2429
@farso92 I noticed that the docs don't include `mousedown` and `mouseup` events (http://visjs.org/docs/timeline/#Events)  - which also means that this isn't supported yet.
Luckly for you, I've added a PR now ( #2473) that supports the requested events.
Enjoy!
It will be available in the next version update (v4.18.0) or in the `develop` branch once it is approved and merged.

[2016-12-17 20:08] yotamberk commented on #2453
@halli-pronestor After researching this more in-depth, I think the `DocumentFragment` is a very good solution! This does mean some major changes in vis... Do you want to try to submit a PR using `DocumentFragment` where needed (or at least in specific areas to try out performance improvements)?

[2016-12-17 21:05] marcortw commented on #1405
@yotamberk Seems like I have to do some work for my regular job. I probably won't find the time to work on this issue, but if I'll find it, I'll ask here first if you already started working on it.

[2016-12-17 21:09] yotamberk commented on #1405
No worries. I'll probably get to it this week/next weekend I hope.

[2016-12-17 21:17] yotamberk commented on #2132
After many thoughts about this feature, I think it's not a good idea... I would simply do the same as you did: updating the items' end date on backend. This feature will cause very problematic bugs with editing, and interaction with these types of items is not mature enough to be implemented at this point...

[2016-12-17 21:24] yotamberk commented on #1515
Duplicate of #1515

[2016-12-17 21:24] #1515 closed

[2016-12-17 21:29] yotamberk commented on #1745
@BTMorton I'm not sure I understand this feature. Can you explain? Is this still relevant?

[2016-12-17 21:32] yotamberk commented on #1934
I've added `nestedGroups` in #2416.
Does this satisfy your needs @wmyivy ?

[2016-12-17 21:36] yotamberk commented on #913
There is an example of how to do this without an internal option:
http://visjs.org/examples/timeline/interaction/navigationMenu.html

[2016-12-17 22:01] kixam commented on #913
That is not quite the same as the `navigationButtons` option in [Network interaction options](http://visjs.org/docs/network/interaction.html), that creates the buttons with styles and attaches event handlers, all by itself. This has 2 advantages:
* user code is much simpler; and more importantly,
* user experience would be consistent between Network and Timeline if Timeline would have such a all-i

[2016-12-18 00:05] Tooa commented on #2375
I change this issue to a feature request. However, in my opinion it would be better to keep visjs as simple as possible and visualization oriented. Expensive calculations like centrality measures should be tackled on the server side and just being visualized on the client side.

[2016-12-18 00:10] Tooa commented on #2458
Can you provide a jsbin showing the issue and describe the steps to reproduce it? Then, I will be able to debug the code and find the problem.

[2016-12-18 00:11] Tooa commented on #2450
Similar to https://github.com/almende/vis/issues/2442 regarding the connection points.

[2016-12-18 00:23] Tooa commented on #2441
The [documentation](http://visjs.org/docs/network/nodes.html) describes how the scaling is applied.

[code]

with customScalingFunction defined as:

[code]

As far as I can tell `min` and `max` don't change in your example i.e. `2` and `40`. The value `total` changes after your update, but is not used in the default scaling function. All other variables stay the same. So based on the documentation

[2016-12-18 00:50] Tooa commented on #1882
Works for me: https://jsbin.com/yuzetilise/edit?html,js,output

[2016-12-18 00:50] #1882 closed

[2016-12-18 01:04] Tooa commented on #1869
Is this still an issue for you?

[2016-12-18 02:46] pauljayd opened #2475 "Is there a way to "fitVertical()" the Timeline?"
I would like to be able to execute a function to casue the Timeline to expand such that no items are out-of-view (vertically) at the current date. IS there any way to do this?

Thanks

[2016-12-18 02:59] jianxia612 commented on #1869
now is solved

[2016-12-18 12:20] yotamberk commented on #2475
What do you mean by expand? The height becomes bigger?

[2016-12-18 12:20] #2465 closed

[2016-12-18 12:25] #1869 closed

[2016-12-18 12:53] yotamberk commented on #913
@kixam using a custom navbar is not difficult... I don't agree that having an option like in the network is "much simpler". The example is extremely simple.
In terms of consistency, the timeline and network are very different - in implementation, style, options and behavior.
I'll reopen this feature, but I can't justify the work on it.

[2016-12-18 14:28] pauljayd commented on #2475
THanks for the quick response -- sorry I wasn't clear:
I would like to be able to execute a function such that given the current view (height & width) and centered date, the zoom would be set such that no items are out of view vertically (which would require either dragging up/down or scrolling).
If no item is then visible, perhaps an option would be to move forward/backward to the nearest date wi

[2016-12-18 17:10] farso92 commented on #2429
thank you so much...that's perfect

[2016-12-18 21:12] yotamberk commented on #2475
Sorry but I'm still not clear on what you mean... Do you mean assuming you have many groups and there are items only on the center groups, that the timeline will focus on them?
The `fitVertical` option doesn't make sense because there is no vertical scaling done. Maybe you mean `verticalFocus`. It still isn't clear to me the purpose of it.