[2016-08-18 21:32] mojoaxel commented on #2017
I think we can close this.
@JamieZhang2026 Feel free to reopen if you have more questions regarding saving the position of the nodes.

[2016-08-18 21:32] #2017 closed

[2016-08-19 09:00] kuehn-sba commented on #2023
Please, can anyone test/confirm that stutter problem?

[2016-08-19 11:55] ZvikaZ commented on #2027
Well, it appears that there **is** RTL support, but it's just not documented...
Found it in examples section [http://visjs.org/examples/timeline/other/rtl.html](url).
But it should be properly documented with all other options.

Furthermore, please consider making the RTL option automatic - derived of the HTML's `dir`

[2016-08-19 12:49] steffchep opened #2029 "How to use locale correctly in timeline?"
How can I get the date format to comply with the locale I chose?
- I've included moment-with-locales*
- I set "nl" as the locale in my options. I know I must have set it in the right place, because setting anything except "nl" or "en" will cause a script error.
- date is formatted for English :(
- the same happens when I try to add "de" - as per the #Localization part of the timeline Docs
- I do n

[2016-08-19 16:19] waque opened #2030 "Get exact time with right click on Time Line"
Hello,

I'm constructing a time line in my project and for an user add a block in the time line, its used a right click context menu. With that right click i need to know the exact time to add the new block in that specific place.

Anyone know how to do it?
To help understand my problem, here is an image:
![print](https://cloud.githubusercontent.com/assets/11228988/17816225/09c8ae60-6630-11e6-8b0b

[2016-08-19 16:38] brichbe commented on #2026
Did you read the [docs](http://visjs.org/docs/timeline/#Configuration_Options) about the `format` config option?  This allows you to customize the time axis labels, per the spec of moment.js.

[2016-08-19 16:44] waque commented on #2030
Thank you brichbe!

[2016-08-19 16:45] brichbe commented on #2025
There may be a different/better way for you depending on how you're adding your item data to your DataSet, but the basic solution is simple:  before constructing the timeline itself, you could simply iterate all items of the DataSet, keep track of the time of your earliest item and the time of your latest item, then use those values to set the timeline's `start` and `end` bounds (adding/subtractin

[2016-08-19 16:47] cambrennan commented on #2025
@brichbe thanks for the response. We'll look into that solution.

[2016-08-19 20:39] JamieZhang2016 opened #2031 "Network: How to Select Multiple Nodes in JS function AFTER Network build"
AFTER Network build, I'd like to find a solution in my js function , to select multiple nodes. For now I can select one node in my codes, as below:
MyJSFunction = function () {
                    //set selected Nodes
                    try {
                        _network.selectNodes([testNodeId]);
                    }
                    catch (err) {
                        //alert(err);

[2016-08-19 21:54] sbussetti commented on #657
+1 on this.  Same issue exists for dragging items around.  Even if I change the position of the item / customTime at the same time that I am moving the window around, the item immediately moves back  to it's previous position -- I assume because of this issue where the internal drag handler is not getting adjusted if the window is moved during a drag operation.  Any update?

[2016-08-20 01:42] tbaltrushaitis commented on #2031
Hi!
Follow your code, here is the solution:

[code]

Hope this helps!

[2016-08-20 21:07] ZvikaZ commented on #2026
Yeah, I've read the docs.
It gives a lot of formatting possibilities for the **Gregorian** calendar.
Today's is 20th day of the 8th month of the 2016 year, and this info can be formatted in a lot of ways (20-08-16, 20/08/16, 20/8/2016, 8.20.16, August 20th 2016, 20 אוגוסט, and a lot of other combinations in various languages)

But the human cultures created other calendars as well.
Today is also 1

[2016-08-21 06:27] Rikk opened #2032 "Timeline + Groups - Two cases of severe rendering issues"
Using Timeline with Groups and stack=true (default).

## 1)
This issue took me a long time to figure out the cause...

**Severe rendering issues happen when we define `white-space: normal` for the class `.vis-item-content` and no fixed-width is defined.**

Basically, vis.js fails to calculate positions properly.

I made a modified version of the Groups demo:
http://jsbin.com/remukoqede/edit?html,o

[2016-08-21 06:46] #2025 closed

[2016-08-21 06:46] mojoaxel commented on #2025
@brichbe Please reopen if ihis is still an issue.

[2016-08-21 06:51] mojoaxel commented on #2032
@Rikk Thanks for reporting this! This looks like a bug. I'll hope somebody finds the time to look into it.

[2016-08-21 06:56] mojoaxel commented on #2031
Thanks @tbaltrushaitis !

@JamieZhang2016 Can you please close this issue, if your question is answered. Thanks.

[2016-08-21 12:11] Tazeg opened #2033 "Showcase projects : twitter users network"
Hello,
i use visjs for a network of Twitter user accounts, showing common followers and friends.
The tool is free and available here : http://twitter.jeffprod.com/
If you're not interested or consider as spam feel free to delete this post.
Regards.

[2016-08-21 12:22] mojoaxel commented on #2033
@Tazeg Thanks. Thats cool!

We should add this to the [showcases page](/vis/blob/gh-pages/showcase/index.html).

[2016-08-21 14:02] mojoaxel commented on #2032
## Issue 1:
this is a bug. If BoxItems get initially rendered of the screen and the content-width is dynamic (word-wrap, no fixed width) than the box width is determined falsely. I fixed this by rendering all boxes initially in the visible range so, the width can be determined correctly. See Pull-Request #2035

## Issue 2:
This is the easiest solution:
[code]

## infinite loop:
see #450

[2016-08-21 17:25] garthtee commented on #1781
I'd love to help :+1:  @josdejong

[2016-08-22 05:12] Rikk commented on #2032
@mojoaxel Much thanks for the prompt answer and fix!

Could you build a minified js please? Or, do you know when a new version will be released (last was April)? (No need to rush, for me it is ok to use fixed width).

About the loop, I just did a brief reading of the pointed issue, not sure it is related, as the cause here is not adding elements...

About your solution for alignment of group label

[2016-08-22 10:32] waque commented on #2030
One more thing,
Is it possible to know the person's name without using X and Y proprities? Because my timeline is scrollable in all directions.
basically i need to copy a block and add it to another person

![print2png](https://cloud.githubusercontent.com/assets/11228988/17851801/c28518ee-685b-11e6-9601-6988f54eb373.png)

[2016-08-22 10:45] #2030 closed

[2016-08-22 12:06] chat2joe opened #2036 "Graph3d - possible to pan/drag?"
I am interested in using the Graph3d as it renders much nicer than other 3D graphs I've found. A feature we need though is to be able to pan around the 3D chart as well as rotate. Plotly.js do this by dragging with the right mouse button.

Can this be achieved with vis.js?
I am asking as the docs seem to suggest it might be but I can't manage to configure it. "You can freely move and zoom in the g

[2016-08-22 13:27] JesperJohnsson commented on #2023
We're currently having the same issue on windows/mac/linux & chrome where when the user scrolls anywhere in the application the timeline starts to stutter.  Opening a new tab/window seems to solve the issue until the user scrolls again. But a more permanent solution would be nice :)

[2016-08-22 13:31] kuehn-sba commented on #2023
In my case...no problem with win7 chrome and it occurs only by using mousewheel before.

[2016-08-22 13:35] JesperJohnsson commented on #2023
Yeah we're having the problem with the mousewheel.

[2016-08-22 14:22] JamieZhang2016 commented on #2031
Thanks @tbaltrushaitis ! I will close the issue.

[2016-08-22 14:22] #2031 closed

[2016-08-22 15:15] mojoaxel commented on #2023
@JesperJohnsson Thanks for confirming this issue!! Is there a simple way to reproduce this? The (many) steps in the description are a little hard to follow.
I still don't know what you guys mean with "stutter". Is it a rendering issue or is it a problem with the interaction?

[2016-08-22 15:26] mojoaxel commented on #2036
At the moment it's only possible to rotate the camera around the chart and zoom.

Moving the chart like you descripted it is not yet implemented. @linuxnotes did some nice work in this direction in #2007, but its not jet production ready. You find his implementation in the [branch 3d-camera-orientation](/almende/vis/tree/3d-camera-orientation).

Feel free to provide improvements!

[2016-08-22 15:26] #2036 closed

[2016-08-22 15:27] kuehn-sba commented on #2023
it will freeze the gui for a time.

[2016-08-22 19:45] istasi opened #2037 "Changing levels in a hierarchical"
https://jsbin.com/muwaviniho/1/edit?js,output

Shouldn't this work?, changing the level of all the nodes in a hierarchical, then do a network.redraw ();

If i destroy and recreate it respects the newly set levels, but isn't "live" an option ?

[2016-08-23 07:13] JesperJohnsson commented on #2023
The issue doesn't seem to be happening on either safari or edge, it seems to be a problem with chrome. @mojoaxel the easiest way to reproduce the problem is to follow @kuehn-sba instructions :)

[2016-08-23 09:36] smart987 opened #2038 "need org chart example with vertical and horizontal connectors"
Hi, is it possible to build a tree structure as shown in the figure. I searched through all network examples but I did not come across any such tree structure. Could you please provide an example of this type whic have horizontal and vertical connections between the nodes? ![org](https://cloud.githubusercontent.com/assets/11309381/17887148/bda794fe-6942-11e6-9fa3-e1d61cf535cc.png)

[2016-08-23 16:04] BeCracked commented on #1959
A bit late but: Yes, worked like a charm. Thanks a lot!

[2016-08-23 16:04] #1959 closed

[2016-08-23 17:49] igorcavalcanti opened #2039 "function isOverlappingWith(obj) is not considering node's radius property"
I'm trying to use "getNodeAt" function from the Node object, but always fail to find the node when using as Network Node. Fails because the the aforementioned function is not considering the shape's radius property.

I think that body must be something like the follows:

[code]

As you can see, it's an approximation, but better than just ignore the radius property, don't you?

[2016-08-24 10:28] istasi commented on #2037
It does not make a difference if all the updates are done together though 1 .update () call.

To show the newly set levels, .destroy () and recreate appears to be the only option. Unless im missing something.

[2016-08-24 11:49] kagestrife commented on #1993
@mojoaxel Hi and sorry for the late response, I was on vacation and could not comment ASAP.

About the edges' endings, what I would like to be added is an " O ", an " X ", a " | ", a rectangular and maybe a tail " < ".

Let me know if it is doable, and thank you for the help. If I come up with other ideas, I will let you know.

[2016-08-24 11:50] capitanjacksparrow opened #2040 "Modify edges path on a network"
Would it be possible (or is it already possible) to modify the edges path on a network in vis.js? In other words, I was wondering if I could chose the path through which an edge moves from one node to the other.

Kind regards,

Lucia

[2016-08-24 12:38] mazzafuccka opened #2041 "rounded borders for image shape"
I use shape image to put html in to the node. I used useBorderWithImage: true for shapeProperties and it got all standard options like colors, borders. But I can’t make the borders to be rounded. I can make round borders inside svg object, but I cannot manipulate styles to react on highlighting and selecting the node. So it was obvious to use useBorderWithImage to have border to react – but the bo

[2016-08-24 12:38] mazzafuccka opened #2042 "select multiple nodes"
I need to be able to select multiple nodes at the same time – how can I do it?

[2016-08-24 13:06] #2042 closed

[2016-08-24 17:10] tuckwat opened #2043 "Subgroup background item overlap"
I've encountered a few bugs while trying to create subgroup labels using a background item (may be related).

The first bug occurs when a group collapses (top group if orientation:top), the background items of any subgroups can overlap.  Pan to the left or right (so that no items are visible) to reproduce:

http://jsbin.com/buqeqorahe/1/edit?html,output

The next bug occurs when orientation is bot

[2016-08-24 20:02] mojoaxel commented on #2043
@tuckwat Thanks for reporting this! Looks like subgroups are not well tester, yet.

[2016-08-25 05:09] ipavlic commented on #1839
I've tested simple network examples and they work up to 4.15.0. After that, there's an error related to missing `emitter` property.

[2016-08-25 11:35] mojoaxel commented on #2032
You can do this easily yourself:
[code]
Than you find the current develop version in the `dist` folder.

Feel free to create a new issue for that.

Yeah, I did not read it carefully enough, sorry. You could create a new Feature-Request issue for horizontal/vertical alignment of the group-labels.

[2016-08-25 11:39] mojoaxel commented on #1839
@ipavlic Thanks for confirming this, But I'm not sure if we should spend time on IE<11 support.

Is this a problem for others?

[2016-08-25 12:10] mojoaxel commented on #2038
Edges with these kind of horizontal/vertical orientation is not possible at the moment. The closest thing would be something like this:

![image](https://cloud.githubusercontent.com/assets/600565/17968510/8e01a686-6acd-11e6-94a5-01d510be0c2a.png)

[Here is the code](http://jsbin.com/meriti/2/edit?html,output).

[2016-08-25 12:10] #2038 closed

[2016-08-25 12:18] mojoaxel commented on #2039
@igorcavalcanti Thanks for reporting this.

The function [isOverlappingWidth](/almende/vis/blob/develop/lib/network/modules/components/Node.js#L421) is dependent on the shape of the node. This should/could be improved.

[2016-08-25 12:20] mojoaxel commented on #2039
@igorcavalcanti I'm not sure if this is a bug. Is there a use case where the overlap-detection is broken? Could you provide an example for this?

[2016-08-25 12:27] binloan opened #2044 "Timeline subgroup item selection forces overlap of unstacked items"
I've facing this bug in the current version of the vis timeline chart. I have multiple items intentionally overlapping another item. However they are shorter than the overlapped item but need to be selectable. Once I select an item it comes to foreground and thus overlaps the enclosed smaller item. Example:

[http://jsbin.com/fapafamiwo/edit?html,output](http://jsbin.com/fapafamiwo/edit?html,outpu

[2016-08-25 12:47] ipavlic commented on #1839
This should at least be documented _somewhere_. The diff between `Network.js` versions is really minor though (imports are done through `import` instead of `require`).

[2016-08-25 12:55] mojoaxel commented on #1993
@kagestrife Do you maybe have any demo chart for this kind of biological data? We would need to create an example for this and "real" data would be nice.

This enhancement could be done in about 1-3 hours. If I see a nice use case for this maybe I'm willing to spend the time ;-)

[2016-08-25 13:04] mojoaxel commented on #2040
There are multiple ways to influence the drawing of the edges. [Here is an example](http://visjs.org/examples/network/edgeStyles/smoothWorldCup.html).

If you want any other ways of drawing edges you relativ easily could create your own Edge implementation. [Here](/almende/vis/tree/develop/lib/network/modules/components/edges) is a good point to start.

[2016-08-25 13:04] #2040 closed

[2016-08-25 13:08] mojoaxel commented on #2041
You could try listening to the `selectNode` event and then switch the svg image to show round borders.

[2016-08-25 13:12] mojoaxel commented on #2044
This could be done by setting:
[code]
http://jsbin.com/yufupo/1/edit?html,css,output

[2016-08-25 13:12] #2044 closed

[2016-08-25 13:41] binloan commented on #2044
Very nice. Thanks for pointing this out.

[2016-08-25 14:23] capitanjacksparrow commented on #2040
Thank you very much for great hints!
Best wishes,
Lucia

[2016-08-25 21:04] Rikk commented on #2032
First, I don't use these modern JS-based package managers so I can't build it myself.

Neither the main repo or the dist folder were updated with this fix. I see it only in a commit in your own fork.

Second, this issue presents 2 bugs, I can't see a reason to create a new issue just to split out one of them.

Last, the thing that would really help me is https://github.com/almende/vis/issues/1699

[2016-08-26 01:05] allanup opened #2045 "Control node offset from end of the edge"
When manipulation interface is enabled and editEdge is called, manipulation module automatically places the control nodes on the selected edge. Most of the times the control node is placed very close to the "to" or "from" ends of the edges. In this case selecting the control node is easy with a mouse, since you can pinpoint the click to select, but on touch screen devices it gets messy. Most of th

[2016-08-26 09:16] kagestrife commented on #1993
@mojoaxel It's a particular algorithm that needs this set of icons. An example of a graph like this is: https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQRB1FsCKIoUPKIhSTGNiFMR2BrITt9bxhBZB7ul3dfzx3gSUtabw

Where instead of circles, X's or |'s might be needed. Also, let us know when the updated version is available. A simple short example on how to use it, would be more than helpful as well.

[2016-08-26 10:20] smart987 commented on #2038
Thanks Mojoaxel for the solution and for this great library. For now this solution would be fine for me.  Another small feature I need here is, when I click any child the path to it is top most parent needs to be highlighted, Is it possible? For example, if I click, Grand Grand Child 1 (assume that left most Grand Grand Child in the figure as Grand Grand Child1), then Grand Grand Child 1 -> Grand

[2016-08-26 10:55] mojoaxel commented on #2045
@allanup Thanks for reporting this. Could you please provide an simple example to show the problem.

[2016-08-26 11:01] mojoaxel commented on #1993
@kagestrife Is this an official diagram type? Has this type maybe even a name? Where is it used? I'm asking because it would be much more interesting to provide a often used diagram type instead of implementing something just for you :-)

[2016-08-26 11:04] mojoaxel commented on #2038
You must implement this yourself. You could listen to the `selectNode` [event](http://visjs.org/docs/network/#Events). And than go through all edges and select the ones you want to be selected.

As far as I not this is not planed. But feel free to create a new feature-request issue for that. That really would be a nice new edge type!

[2016-08-26 11:28] kagestrife commented on #1993
@mojoaxel Yes, its an official diagram type and its called "Partial Ancestral Graphs".
https://en.wikipedia.org/wiki/Ancestral_graph
There are some algorithms (such as FCI on the package pcalg) that output such graphs, which may use circle endpoints to indicate ambiguous orientations.
But, beyond that, we (or another user) may need some different end points for the edges that are not currently und

[2016-08-26 16:35] pallaviranadek opened #2046 "How to get the "seed" of the network after moving nodes around?"
Hi,

I am trying to get to a network layout that I like and that is the same everytime the page is reloaded.  How does one get the "seed" of the network after moving nodes around?

Thanks,
~Pallavi.

[2016-08-26 16:40] pallaviranadek opened #2047 "Layout of non-hierarchical networks"
For non-hierarchical networks, is there a way to lay out a groups of nodes from to bottom in a weighted fashion?

Thanks.

[2016-08-26 18:58] allanup commented on #2045
Thanks for your response.

I have attached an example from network manipulation. You can see how the controlnode placement can affect the operation on a touch screen device where user can not precisely select the control node.

![control_node_offset](https://cloud.githubusercontent.com/assets/848311/18017022/3a26f50e-6b84-11e6-8d4c-7695d6c06e90.png)

[2016-08-26 21:41] allanup commented on #2045
By the way I quickly tried changing the 'threshold' value in '_findBorderPositionBezier()' function to achieve desired placement of the control nodes.

[2016-08-27 00:45] allanup opened #2048 "On droping in void region, Control node should go back to the edge"
While editing an edge, if the user drags the control node and drops it in the void (i.e. does not drop it on the valid node), the edge snaps back to the original to and from points but the control node stays in the void, until the entire network is dragged and redrawn.

Please let me know if this behavior can be overloaded by using some API..

Please see the attachment below -

![control_node_rema

[2016-08-27 02:58] controversial opened #2049 "Directly draw on nodes"
Is it possible to directly draw on nodes with the canvas API? It'd be neat if a convenience API was provided that would rearrange the coordinate system to fit within the node, as well as handling masking.

Specifically, I'm trying to set opacity on a circular node image so that the node background shows through.

[2016-08-27 11:22] mojoaxel commented on #2047
@pallaviranadek Could you maybe provide an example or even a drawing of want you want to adjive? Thanks.

[2016-08-27 16:29] controversial commented on #1838
Any ideas @josdejong @AlexDM0? It seems like vis.js development has slowed down 😕

[2016-08-27 20:18] yotamberk commented on #1781
How can I submit an application to the support team?

[2016-08-27 20:39] mojoaxel commented on #1781
@yotamberk Just start helping [here](https://github.com/almende/vis/issues/1781#issuecomment-238074389).
After you started getting "into the flow" of the project you can contact @ludost with a request for access.

[2016-08-27 20:47] mojoaxel commented on #1838
see [#1781](/almende/vis/issues/1781#issuecomment-229005562) :disappointed:

[2016-08-27 20:53] controversial commented on #1838
That sucks. I can definitely help with PRs and issues, and although I’d
like to help beyond that I don’t think I’ll be able to help with code much.

On Sat, Aug 27, 2016 at 4:47 PM Alexander Wunschik <notifications@github.com>
wrote:

[2016-08-27 20:57] yotamberk commented on #1781
No problem. I've added recently the rtl to the timeline, and now working on horizontal hiding of items when not visible + horizontal scroll. I'll submit the two in two separate pull request hopefully in the next two weeks after I've fully tested them. I'll be happy to go over other pull requests and test them out.

[2016-08-27 20:58] mojoaxel commented on #1838
That would be great! I feel a little alone at the moment. A good point to start is [here](/almende/vis/issues/1781#issuecomment-238074389). Getting all these hundreds of question-issues answer/closed would be a really big help.

[2016-08-27 20:58] igorcavalcanti commented on #2039
Hi!

Sorry by delay... Now, hands on it!

Well, I picked a random example in JSFiddle (like here: http://fiddle.jshell.net/austim/1bjeattn/2/light/), put one of their nodes with "shape: 'diamond'" and I tried to pick that node using the pointer presented in click's function parameter.

If it is not enough, please tell me. I'll be glad to help you. Vis Network is pretty cool tool.

[2016-08-27 20:59] controversial commented on #1838
Sure! Let's move out of this thread though.

[2016-08-27 21:15] controversial commented on #2049
Clarification: I know it's possible to draw on the canvas, but I feel like it's lacking ease of drawing directly on nodes. Perhaps this should be an `enhancement` rather than a `question` @mojoaxel

[2016-08-27 21:19] controversial commented on #2002
This isn't currently possible easily. You could look into disconnecting a node from the graph by eliminating edges to it, then positioning it with `fixed` and directly below the other node. You'd then have to listen for changes to the node's position with the [`dragging` event](http://visjs.org/docs/network/#Events) and update the position of the fixed node.

But there isn't a convenient built-in

[2016-08-27 21:20] mojoaxel commented on #2032
The fix is now in the `develop` branch, but I cannot say when the next version will be released.

One "issue" should only contain one issue, so that it could be handled separately.
Vertical label alignment is not an bug but maybe a missing feature. So it should be handled separately as a "feature-request".

I see no chance that that gets implemented at the moment. We are trying to keep the project

[2016-08-27 21:20] #2032 closed

[2016-08-27 21:31] controversial commented on #2033
@mojoaxel Is the showcases page anywhere on GitHub? It'd be nice if the whole website were published; that way people could contribute to the website or submit PRs for showcases. Personally, the screenshot for [my showcased project](http://luke.deentaylor.com/wikipedia) is outdated and I may move it to a different domain. Being able to submit a PR would be much easier than having to ask one of you

[2016-08-27 21:35] controversial commented on #1999
Check out [Painter's Algorithm](https://en.wikipedia.org/wiki/Painter%27s_algorithm), it may be what you need.

Additionally, as @mojoaxel said above, this kind of general question is much better suited for [StackOverflow](https://stackoverflow.com/). If you asked on StackOverflow with the [vis.js tag](http://stackoverflow.com/questions/tagged/vis.js) you could probably get an answer much more eas

[2016-08-27 21:39] controversial commented on #1978
@kummi87 Have you resolved this issue? If so, please close it. If not, might we be able to help further?

[2016-08-27 21:40] controversial commented on #1977
@CoupleHowe Have you resolved this issue? If so, please close it. If not, this question might be a better fit for [StackOverflow](https://stackoverflow.com/).

[2016-08-27 21:41] controversial commented on #1975
@cuixiaona Have you resolved this issue? If so, please close it. If not, might we be able to help further?

[2016-08-27 21:43] controversial commented on #1965
Note that Safari doesn't appear to support HTML in Canvas at all, not even in the latest preview versions. This is a non-standard hack in the first place, iirc.

[2016-08-27 21:44] controversial commented on #1941
You can also increase the value of `physics.barnesHut.avoidOverlap` to 1.0 in your options.

[2016-08-27 22:41] Rikk commented on #2032
Maybe a donation link somewhere could help? (Paypal)

[2016-08-28 08:05] mojoaxel commented on #2033
You find the whole website it in the `gh-pages` branch. [Here](/almende/vis/blob/gh-pages/showcase/index.html) is the showcase file. Feel free to add interesting showcases and by creating pull requests.

[2016-08-28 08:08] #1797 closed

[2016-08-28 08:08] #1937 closed

[2016-08-28 08:20] mojoaxel commented on #2032
Good idea. I'll discuss it with the maintainer. I hope we'll find a way for the future.

[2016-08-28 08:57] mojoaxel commented on #1207
I'm closing this issue because of inactivity.
@ChenMachluf If you (or anybody else) thinks this should be reopened, just let us know.

[2016-08-28 08:57] #1207 closed

[2016-08-28 11:26] kummi87 commented on #1978
I've had a look at it again. It seems to be a security issue in Google Chrome and Microsoft Internet Explorer. Mozilla Firefox worked fine. Thanks again for the help!

[2016-08-28 12:45] #1978 closed

[2016-08-29 08:21] mojoaxel commented on #1699
There is a [jquery plugin for gantt charts](http://mbielanczuk.com/jquery-gantt/):

![image](https://cloud.githubusercontent.com/assets/600565/18045261/474f8d68-6dd2-11e6-9e61-fd61e063aed3.png)

Maybe you can use this instead?

[2016-08-29 12:51] Stexxen commented on #1706
Looking at this in more detail, the color setting when adding an edge works correctly, but when updating an edge (with a different color) it doesn't update the color even though the edges dataset has the correct color values.

[2016-08-29 13:16] Stexxen commented on #1706
Sorry @mojoaxel I posted too soon. Without clustering edges.update() works fine and colors change. but once the edge is connected to a node that is clustered then it doesn't.

That said, this issue does appear to show a bug with the configurator. as it does not change the edge color when inherit is set to 'false'

I am going to look into the cluster edges problem in more detail and raise a separat

[2016-08-29 14:14] smart987 opened #2053 "new feature request to have horizontal and vertical connectors"
Hi, This is to request to support new feature Horizontal and vertical connectors. Ref issue can be found at https://github.com/almende/vis/issues/2038.

Thanks.

[2016-08-29 14:21] pallaviranadek commented on #2047
Sure @mojoaxel.  The documentation for "Network - layout" suggests "Ideally you try with an undefined seed, reload until you are happy with the layout and use the getSeed() method to ascertain the seed."  But when nodes are added on the fly or there are too many nodes where having to do numerous "reloads" is not practical, **it would be very useful to be able to give certain nodes "weights" where

[2016-08-29 14:23] mazzafuccka opened #2054 "Bug with arrow in network"
When using hierarchial directed layout and arrows for edges and having only two connected nodes - having this bug
http://screencast.com/t/iwf1MT4MmBJN

[2016-08-29 15:22] mazzafuccka commented on #2054
I've noticed that it happens when arrows are rendered strictly vertical

[2016-08-29 15:24] mazzafuccka commented on #2054
or strictly horizontal

[2016-08-29 15:25] dragonzone commented on #2046
Instead of getting the seed, you want to save the X & Y coordinate of the nodes. This is probably what you are looking for: https://github.com/almende/vis/issues/2017

[2016-08-29 18:22] mojoaxel commented on #2054
@mazzafuccka Thanks for reporting this. Could you maybe create a very minimal example code to clarify the described issue. This would be a big help in reproducing (and fixing) it.

[2016-08-29 18:24] mojoaxel commented on #2053
Here is an example:
![org](https://cloud.githubusercontent.com/assets/11309381/17887148/bda794fe-6942-11e6-9fa3-e1d61cf535cc.png)

[2016-08-29 18:56] mojoaxel commented on #2046
You could try `getSeed()` like [explained in the docs](http://visjs.org/docs/network/layout.html?keywords=getSeed). Let us know if it works!

[2016-08-29 19:03] mojoaxel commented on #2046
duplicate of #2017

[2016-08-29 19:03] #2046 closed

[2016-08-29 22:58] mojoaxel commented on #776
See also #415

[2016-08-29 23:01] #776 closed

[2016-08-29 23:08] mojoaxel commented on #1612
@itfourp Maybe you could find the time to share your current  state as an simple example e.g. on jsbin!? It would be much easier to get to the root of the problem.

[2016-08-30 03:38] mazzafuccka commented on #2054
Hey, I've found reason - I've passed string "1" to borderWidth property - that caused the problem. The only thing you can fix - is to add parseInt() to the input if this property. However, borderWidthSelected parses strings ok)

[2016-08-30 05:28] mojoaxel commented on #2054
Thanks for finding that! I'll keep the issue open until I've fixed that.

[2016-08-30 07:34] itfourp commented on #1612
@mojoaxel Hey, thank you for answering. I found a workaround for the problem a while ago.

[code]

Since that prevented selecting items I had to modify the setSelection event.

[code]

Not quite the best solution, but for now it works.

[2016-08-30 08:45] mojoaxel commented on #1612
@ttjoseph Thanks for providing the code-snippets. Maybe we can Integrate it in the library? Feel free to create a Pull Request :wink:

[2016-08-30 08:54] mojoaxel commented on #2047
I know no way achieving this. There is no concept of up or down in a network chart only layouts.

What you could do is provide fixed x/y coordinates for each node. This way you could implement your own positioning algorithm.

I'm closing this question for now. Feel free to just ask if you need further help.

[2016-08-30 08:54] #2047 closed

[2016-08-30 08:58] mojoaxel commented on #2054
The [docs](http://visjs.org/docs/network/nodes.html?keywords=borderWidth) state that `borderWidth` has to be a number. I say we are good for now. Maybe we need better type-checks for the parameters but that is something for another issue...

[2016-08-30 08:58] #2054 closed

[2016-08-30 19:48] roboslone commented on #1904
Don't you need to also call `redraw()` after adding items?

[2016-08-31 06:02] mengyaow opened #2056 "[Timeline] How can I make the group height smaller?"
![height](https://cloud.githubusercontent.com/assets/3876784/18117741/58b98b1e-6f83-11e6-9d67-8fd0322d3ee9.png)

How an I make the gap smaller?
It looks like the group height are computed on the flight

[2016-08-31 07:05] ProwlingDuck opened #2057 "Network: Drawing order"
Hi,

First of all let me start of by saying I love your work, it's helping us out a great deal in the development of our new project. It just works fantastically and the code looks really slick. I'm learning a lot from going digging through it!

Great documentation also, keep up the good work!

I was wondering though if there was a way to exert control over the order in which things are drawn on t

[2016-08-31 07:58] JesperJohnsson commented on #2023
What's the status of this issue, is it something you are trying to fix @mojoaxel, or is it further down on your priority list? :P

[2016-08-31 08:14] mojoaxel commented on #2023
@JesperJohnsson I'm not the lead-developer or something...I'm just a guy like you that is helping out, trying to keep this project from collapsing under a mountain of issues :wink:

I'll be happy to review and merge a pull request but I don't think that I'll find the time to fix this issue myself in the near future.

To be honest: I still have problems reproducing this. I think we need a really si

[2016-08-31 08:32] mojoaxel commented on #2057
maybe #2049 is related!?

It looks like we need a new example for manual drawing on network charts!

[2016-08-31 08:40] kuehn-sba commented on #2023
The above example shows **when** and **when not** the issue will produced.
If you only want test the bug then try only these steps:

0. Take a OSX or Debian with Chrome
1. Open: http://visjs.org/examples/timeline/other/performance.html
2. draw 10000
3.  resize the browser window to a small size, so that a vertical scrollbar appears
4.  use the mouse wheel to scroll the window to the bottom (don't

[2016-08-31 08:58] mojoaxel commented on #2056
You can decrease the margin between items by setting the `margin` option:
[code]

Also you could remove the items top/button-margin via css:
[code]

[Here](http://jsbin.com/monihe/1/edit?html,output) is an example based on [the basic group example](http://visjs.org/examples/timeline/groups/groupsOrdering.html):

![image](https://cloud.githubusercontent.com/assets/600565/18122438/d6f0ed70-6f69-11e6

[2016-08-31 08:58] #2056 closed

[2016-08-31 08:59] mojoaxel commented on #2056
By the way: I really would like to see this kind of questions on [stackoverflow](http://stackoverflow.com/tags/vis.js)!

[2016-08-31 11:02] mojoaxel commented on #2023
Ok, I created an [example on jsbin](http://jsbin.com/pojano/2/edit?js,output) with a lot of content to scroll. With this it should be easy to reproduce this issue without the window resizing:

1. Go to http://jsbin.com/pojano/2/edit?js,output
2. Use mouse wheel to scroll the output down an up again
3. Try to move the timeline left/right

I still don't see stutters after vertical scrolling :perseve

[2016-08-31 11:07] mojoaxel commented on #2023
AHH! Now I see what you meen. I think I can reproduce it now:

1. Go to http://jsbin.com/pojano/2/edit?js,output
2. Open the HTML Panel at the top.
3. Close the HTML Panel at the top.
4. Try to move the timeline left/right

Looks like an browser (Chrome) issue to me. This will be hard to figure out.

[2016-08-31 11:22] JesperJohnsson commented on #2023
Yeah I think it's a chrome specific issue, tried my application on safari, chrome, edge and it's only chrome that I get the problem.

[2016-08-31 15:03] mojoaxel commented on #2023
Ok. I think we can close it here.
Feel free to [report it to the Chrome dev team](https://bugs.chromium.org/p/chromium/issues/entry).

[2016-08-31 15:03] #2023 closed

[2016-08-31 18:01] kuehn-sba commented on #2023
That was a fast decision without knowing the real reason about that behaviour...

[2016-09-01 07:05] mojoaxel commented on #2023
@kuehn-sba Feel free to reopen the issue if you still think this is a vis.js problem! Because the issue seems to only appear on Chrome I think we reasonably can assume that it is a browser issue.

In any case, there are no commercial support for this project at the moment (see #1781), so there is almost no chance that somebody will take the time to debug this edge case in depth!

[2016-09-01 08:00] mojoaxel commented on #972
Since 996298793e06e45c21d9d362fe603a1d8925367c there is a function `updateClusteredNode` for that.

fixed with #2055

[2016-09-01 08:00] #972 closed

[2016-09-01 08:01] mojoaxel commented on #1920
duplicate of #972

[2016-09-01 08:01] #1920 closed

[2016-09-01 08:02] mojoaxel commented on #1920
fixed with #2055

[2016-09-01 08:43] smart987 opened #2058 "netwrok tree view jumbling up"
Hi,
I am using the tree structure formed with network layout but the view is jumbling up when I add more or equal number of child nodes of its parent. The Root node is going down and the current node is going up.  Is it a bug and is there any fix for this? I want Root node always on top and the tree structure remaining the Original manner no matter how many child nodes we add.

I have attached the

[2016-09-01 17:42] Tooa opened #2059 "onlyDynamicEdges property rearranges fixed nodes for dynamic edges"
Hi,

I use dynamic edges for my graph and store the positions of the nodes after the graph is stabilized. When I remove nodes and edges from the graph and update it again with the same nodes including fixed x, y positions and `onlyDynamicEdges: true` the nodes rearrange.

[Here is the example to reproduce](http://jsbin.com/zemiredopo/1/edit?html,output) -- click the button.

According to the docum

[2016-09-01 18:08] mojoaxel commented on #2058
answerd on [stackoverflow](http://stackoverflow.com/a/39269067/722162)

[2016-09-01 18:08] #2058 closed

[2016-09-01 22:35] Tooa commented on #2059
Hi,

I just debugged the code and it seems that after updating the datasets the [stabilize()](https://github.com/almende/vis/blob/develop/lib/network/modules/PhysicsEngine.js#L599) method is not called again. Therefore, the [_freezeNodes](https://github.com/almende/vis/blob/develop/lib/network/modules/PhysicsEngine.js#L565) method is not called and the nodes are thus not fixed.

[Here's](http://js

[2016-09-01 23:05] chungtinhlakho opened #2060 "make vis-saturday and sunday available on monday view"
It appears that the day classes (vis-monday-sunday) is only available at about 2 week view.  Can we somehow make this available when looking at a monthly view.  Thanks

[2016-09-02 10:46] mojoaxel commented on #1993
I still have problems finding a definition or something about these "Ancestral Graphs". There are no examples of the symbols you described.

I could take the time to implement this new feature but I would need a specific definition what kind of symbols you want to use and what they should represent.

If that is just something for one specific project, than you must find another way (e.g. drawing a

[2016-09-02 13:39] kagestrife commented on #1993
@mojoaxel , Thanks for your answer.

What we need exactly, is just a different ending point (a small circle instead of an arrow) for some of our network edges, regardless of the type of the network or  the method being used.
Just for the record, this is going to be used for the output of the FCI algorithm (R package pcalg, https://cran.r-project.org/web/packages/pcalg/pcalg.pdf).
The circle end-po

[2016-09-02 15:14] itfourp commented on #1612
The first code snippet is done in the view that I used the vis-timeline in, so I cannot integrate that code. The second one was more like a dirty quick fix to make it work for me (and could probably be done much better).
I'll create a Pull Request for the second part of the code once I've got the time to put it into the latest version.

[2016-09-02 16:06] JamieZhang2016 opened #2061 "Network: performance issue with large number of Nodes and Edges"
I build a network chart in my web page using VIS, which has 86 Nodes and 2051 Edges. When I try to drag some nodes, it's really slow. Does anyone can give me some ideas how can we improve the chart performance when has a large number of Nodes or Edges?

ps: Because I cluster some nodes into groups, that's why the number of Nodes < the number of Edges

[2016-09-02 19:09] dragonzone commented on #2061
We had same issue, you can try to turn on hideEdgesOnDrag option, which will improve greatly. Read here for more detail: http://visjs.org/docs/network/interaction.html

[2016-09-04 08:31] mojoaxel opened #2064 "Timeline: Items jump to left:0 after selecting"
In the [current develop branch](f1a403b6be570e81c86652e54aa61c726b7ff504) there there seems to be a bug with selected items:

1. Open the [basisUsage](/almende/vis/blob/master/examples/timeline/basicUsage.html) example.
2. Select the items by clicking on them.

The Items jump to left:0.
This seems not to be the case for the items in the first row.

![vis_issue2062](https://cloud.githubusercontent.

[2016-09-04 08:40] mojoaxel commented on #1993
I'll try to look into this. But I can't promise to do that in the next days...

[2016-09-04 08:54] mojoaxel commented on #2060
I think this is already fixed in #2014

[2016-09-04 08:54] #2060 closed

[2016-09-04 09:04] mojoaxel commented on #1950
What is the usecase for this? I mean is there anything related to "week" at the moment? Can you elaborate further? Thx!

I think you could hide given weekdays with css and only show the monday label, but there is nothing like a week number yet.
This could be a nice Feature-Request. We easily could add the week-number as a css flags (e.g. "vis-week23" or something similar).

[2016-09-04 10:29] Chroedde opened #2065 "Loading data from database"
Hi guys,
I have a problem. I store all the nodes and edges in a MySQL database where the load_network.php gives me all the data in one json. So far, everything works. I do it with:

[code]

As said, so far everything works! Now, within the draw() function I want to notice when some nodes have been changed and want to store them in the database:

[code]

My problem is now: It doesn't recognize the

[2016-09-04 12:54] mojoaxel commented on #2038
also on [stackoverflow](http://stackoverflow.com/questions/39096205/family-chart-with-horizontal-and-vertical-line-connectors-using-vis-js)

[2016-09-04 16:10] roboslone opened #2067 "Is there any way to ensure item label is visible?"
It's about timeline.

Items displayed as points , that are placed at the end of timeline get their labels cut:
![Screenshot](https://api.monosnap.com/rpc/file/download?id=eHrTEL6i219Xfa9nI5AKAIVqQEWWyJ)

And not only points are affected:
![Screenshot-2](https://api.monosnap.com/rpc/file/download?id=ftzUOlUmm8RgnpjA8RSRjf4jWIKUWn)

Is there a way to ensure label is always visible? For instance, it

[2016-09-04 19:24] Tooa commented on #2065
The dataset does not update positions for dragged nodes. So instead, use the nodes provided in the ``params`` parameter of your ``dragEnd`` callback. The parameter provides you with the dragged nodes and the position. See:

[code]
 [Source](http://visjs.org/docs/network/)

Best Uli

[2016-09-04 23:58] Chroedde opened #2068 "data in editEdge"
Hello,
please, could you help me with a little thing? I have the following in the manipulation options:

	`editEdge: function (data, callback) {
		document.getElementById('operationEdge').innerHTML = "Edit Edge";
		document.getElementById('edge-id').value = data.id;
		document.getElementById('edge-label').value = data.label;
		document.getElementById('edge-title').value = data.title;
		document.ge

[2016-09-05 09:58] Tooa commented on #2068
Hi,

you can use the ``selectEdge`` event that provides you with the id of the selected edge. Then just update the edge in the underlying edge dataset.

I strongly recommend you to read the [documentation](http://visjs.org/docs/network/). Furthermore, please use [stackoverflow](http://stackoverflow.com/questions/tagged/vis.js) for questions in future. Moreover, close your issues when the answer so

[2016-09-05 20:03] proy87 opened #2069 "How to store tree state?"
I want to store tree position after dragging.
I'm using the following code (coffeescript):

[code]

But when I restore positions, relative node position is preserved, but overall tree tends to be centered.
How to avoid centering?

[2016-09-05 20:25] proy87 commented on #2065
Try to use `network.body.nodes` instead of `data`

[2016-09-06 05:19] chungtinhlakho commented on #2014
Do we know when the schedule release is for this fix?

[2016-09-06 06:06] PalanivelLakshmi opened #2070 "Is there any option to display current time of vis-custom-time-bar with attached?"
User will get the attentation of where the custom time bar is. Please update me if option is already avaliable or let me know any other options.

[2016-09-06 06:18] vshekharjha opened #2071 "physics Configuration customization"
![screenshot- domain date time](https://cloud.githubusercontent.com/assets/4456273/18263420/8e8a76ba-7427-11e6-9d49-162fa41cf192.png)

I want only checkbox enable disable physics i do not want other option ?

[2016-09-06 07:11] mojoaxel commented on #2014
We are already planing the next release. I can not give a date yet. But you can simply build your own version at any time.

[2016-09-06 07:15] mojoaxel commented on #2071
@vshejharjha Sorry but the only way would be to build your own config panel.

[2016-09-06 07:15] #2071 closed

[2016-09-06 10:40] 2dvisio opened #2072 "Overlap in bar charts"
Hope my Issue does not 'overlap' with any other here. I searched the base and found nothing related to this.

Bar charts do not handle properly plots with gaps.

Here are some examples directly from the page of the visjs.org examples.
I intentionally created gaps in the data stream of each example.

This is true no matter what is the combination of parameters:
Sidebyside when using groups:
![graph

[2016-09-06 10:53] mojoaxel commented on #2072
@2dvisio Thanks for reporting this. I'm not sure what you meen by "gaps in the data stream". Could you maybe provide an example of your `items` that cause the problem. Thanks!

[2016-09-06 11:00] mojoaxel commented on #2070
I'm not sure what you mean!? The is a default marker of the current time. Just open e.g. the [basic example](http://visjs.org/examples/timeline/basicUsage.html) and scroll to "today". There is a marker in form of a red line.

You can disable this by setting `showCurrentTime: false` in the options.

[2016-09-06 11:03] 2dvisio commented on #2072
Sure thing.

If I take the common example:
![graph2d___bar_graphs_side_by_side_example_with_groups](https://cloud.githubusercontent.com/assets/925236/18271207/e806c7b0-7428-11e6-8085-2e6a9ec0fb5f.png)

With data:

[code]

And I remove altogether the data of say the  2014-06-14:

[code]

then I obtain this graph:
![graph2d___bar_graphs_side_by_side_example_with_groups](https://cloud.githubuserconte

[2016-09-06 11:04] mojoaxel opened #2073 "Example: save and load the state of network charts"
We get a lot of questions about saving the current position of nodes e.g. to a server and initialize charts with this data. I think a new example would be very helpful!

[2016-09-06 11:04] mojoaxel commented on #2073
would fix #2069

[2016-09-06 11:08] 2dvisio commented on #2072
BTW.

With the ugly (null) fix:

![graph2d___bar_graphs_side_by_side_example_with_groups](https://cloud.githubusercontent.com/assets/925236/18271521/6c1c0fdc-742a-11e6-946a-d89c1023bba4.png)

![graph2d___bar_graphs_side_by_side_example_with_groups](https://cloud.githubusercontent.com/assets/925236/18271534/83856ea2-742a-11e6-9041-9da16830657b.png)

The second one is wrong as it displays zero (whic

[2016-09-06 11:17] mojoaxel commented on #2072
@2dvisio Thanks for the detailed infos.

I can confirm this is a bug. [Here is a jsbin that shows the issue](http://jsbin.com/sewejad/5/edit?js,output).

[2016-09-06 12:33] vshekharjha opened #2074 "physics Configuration max value of slider"
While customizing the configuration option i found an issues whenever user slide the slider at it max the maximum value increase randomly or with some specific number
Plz check the link below for reference

http://visjs.org/examples/network/physics/physicsConfiguration.html

how can i  fix the max value of the slider ?

[2016-09-06 12:44] PalanivelLakshmi commented on #2070
I'm asking is there any option to add custom popover message?. Whenever we do mouse over of the customTimeBar, it'll show the time information, the same information I need to show always.

[2016-09-06 14:09] mojoaxel commented on #2070
@PalanivelLakshmi Sadly I see no way to do that at the moment. We would need a `mousemove` event handler for that and something to get the time of a given x/y position.

[2016-09-06 14:09] #2070 closed

[2016-09-06 14:18] mojoaxel commented on #2074
The default configuration is build in a way to increase the range of the value if a very high value is picked (See [here](/almende/vis/blob/0666cb142c1fedaf63580a3cd94cb99f210d4325/lib/shared/Configurator.js#L346)).

The configurator is more for development than for using in production. If you want to make physics settings changeable you should implement your own inputs for the value you want to c

[2016-09-06 14:18] #2074 closed

[2016-09-06 19:24] EliasGabrielsson commented on #2000
@mojoaxel
I have experienced the same problem.

Loaded _vis.js_ and _vis.css_ as a static components.
Eg. `<script>...</script>`

As I understood it is hammer.js not a requirment for the production release?
[code]

[2016-09-07 03:14] hoyeunglee opened #2075 "how to highlight node"
i search with keyword, still can not highlight it
query string already has keyword
but after randomly click one of node, the specified node still not be highlighted
file:///C:/Users/martlee2/Downloads/balair2.html?keywordsa=1

[code]

[2016-09-07 06:56] mojoaxel commented on #2075
@hoyeunglee Sorry, but this is not a help forum for Javascript. Please ask questions regarding your application e.g. on [stackoverflow](stackoverflow.com/tags/vis.js).

[2016-09-07 06:56] #2075 closed

[2016-09-07 07:07] mojoaxel commented on #2000
This is strange! What are the steps to reproduce this? The normal examples obviously work.

[2016-09-07 09:18] dragos090 opened #2076 "Prevent the elements from the time axis to be removed based on the current view"
Hello,

I'm using the vis timeline for a project i'm working on and it's the perfect solution for what i'm trying to achieve. Now i only have one problem:

My timeline is usually one year long or so and the time axis is scaled by month. You can zoom out until you have the whole year in your view and zoom in until you have one month in the view. I want to keep the time axis elements (all the months

[2016-09-07 10:03] artipixel commented on #507
+1

[2016-09-07 16:24] Chroedde opened #2077 "network.getPositions"
Hi,
with network.getPositions(network.body.nodes.id); I get an json-formatted array like:
[code]
It's kind of nasty to get easy access to the x and y values. My question is if it would be possible to change it in a future version of vis so that one gets ist like:
[code]

[2016-09-07 17:34] ngbravo commented on #2000
I have only been able to reproduce this with my first example. It is strange indeed

[2016-09-07 18:47] mojoaxel commented on #2077
This would be a breaking change. I would prefer to add another function for that.

[2016-09-07 20:30] EliasGabrielsson commented on #2000
It´s look like there is some conflicts while loading materializeCSS with vis.js.

Check this out: https://ipfs.io/ipfs/QmbuwUuT3AKXss98RNotL65nCZhskEje9pbCdESbxTGD2p

[2016-09-07 20:33] ngbravo commented on #2000
@EliasGabrielsson I am also using Materialize, didn't think that would have been the issue. Try loading vis first, that worked for me.

Still, this should not be an issue

[2016-09-07 20:39] EliasGabrielsson commented on #2000
Works perfect, thx. This can be closed. @mojoaxel

[2016-09-07 20:40] ngbravo commented on #2000
I don't think this should be closed. This should definitely not be happening.

[2016-09-08 07:04] mojoaxel commented on #2000
To fix this we will need to reproduce it.

[2016-09-08 07:06] EliasGabrielsson commented on #2000
Check my link above

Den 8 sep. 2016 9:05 fm skrev "Alexander Wunschik" <notifications@github.com

[2016-09-08 07:23] mojoaxel commented on #2000
@EliasGabrielsson Now I see. Thanks.

[Here is a jsbin](http://jsbin.com/sawiri/1/edit?html,console) that shows the problem. Vis.js seems not to work with `materialize.js`.

[2016-09-08 07:29] mojoaxel commented on #2000
A quick fix would be to import `hammer.js` manually after `materialize.js` and before `vis.js`.
[Here is a working example](http://jsbin.com/sawiri/2/edit?html,console).

[2016-09-08 07:58] Chroedde commented on #2077
Ok, thanks. I did it with a function.

[2016-09-08 08:02] Chroedde commented on #2068
ok, mach ich. :-) Leider funktioniert es mit der selectEdge-Funktion auch nicht. Hier sagt er mir - warum auch immere - "getSelectedEdges is not defined".

[2016-09-08 08:12] mojoaxel commented on #2077
I'm closing this, but feel free to reopen and create a pull request for this!

[2016-09-08 08:12] #2077 closed

[2016-09-08 08:31] Tooa commented on #2068
Can you provide a JSFiddle of the problem you are facing with ``selectEdge``? It would be also helpful having a JSFiddle for your original problem with the manipulation system.

I had a look into the [code](https://github.com/almende/vis/blob/10300d90a9c02e981dc640ff4d1723d6a4efaadb/lib/network/modules/ManipulationSystem.js#L1133) and it seems that the ``editEdge`` function does not support a call

[2016-09-08 08:37] Chroedde opened #2078 "network.getSelectedEdges()"
Hi,
is there a way to get the full details of a selected edge, e.g. by using network.getSelectedNodes()? At the moment I only get the id, but not title, no label, etc.
Thanks and best regards!

[2016-09-08 09:12] Tooa commented on #2078
Why should you use ``network.getSelectedNodes`` to get information about the edge? Here's an [example](http://jsfiddle.net/771fox0o/22/) showing how to get all information about a edge when clicking on it.

Your question is basically a duplicate of #2068 and I already told you the solution there. Please use Stackoverflow for questions in future and read the documentation!

[2016-09-08 09:31] Chroedde commented on #2068
Hi Tooa,

First, thanks for the answer. Yes, it seems that title and label are misssing in this defaultData variable. Would be great if you would add it in a future version.

But for now I seem to be too stupid. Sorry for that. ;-) I give you the parts of my code.

1) New dataset (data comes from a database):
`nodes = new vis.DataSet(data[0].nodes);
edges = new vis.DataSet(data[1].edges);

var dat

[2016-09-08 11:24] Chroedde commented on #2068
BTW, the same is with deleteNode and deleteEdge when you want to make a dialog with the question if one is sure to delete or cancel. -> data.id is accessible, data.title and data.label not. Maybe you could add these to data also to the regarding defaultData variables?

Thank you!! And excuse my maybe stupid questions.

[2016-09-08 12:28] Lennyman opened #2079 "Stacking data in Graph3D"
Is there any way of stacking data in Graph3D (and specifying the colour of each item)

Think of a giant Rubic Cube with 10 x 10 squares, each with a different colour.

Cheers,

Paul

[2016-09-08 15:23] EliasGabrielsson commented on #2000
Now when we have a ducktape solution I guess this issue does not be prioritized. An interesting thought is if this occurs with other css framework as well, bootstrap and the like.

@ngbravo Could you update the issue label to something like "Vis.js and MaterializeCSS needs specific load order to work" or similar.

[2016-09-08 15:24] ngbravo commented on #2000
@EliasGabrielsson sure thing!

[2016-09-08 18:41] JamieZhang2016 commented on #2061
Thanks dragonzone! I will check the solution

[2016-09-08 21:22] #2061 closed

[2016-09-08 21:42] mojoaxel commented on #2078
duplicate of #2068

[2016-09-08 21:42] #2078 closed

[2016-09-08 22:18] clojj commented on #507
+1

[2016-09-09 00:29] carueda opened #2080 "Timeline: degraded performance since 3.12?"
I just upgraded vis from 3.12. (Apr'15) to the latest as of today 4.16.1 (Apr'16) in one of my applications.  The needed adjustments were rather straightforward, basically just by reviewing HISTORY.md and the updated documentation (thanks!).

The only "major" update I needed to do was to adjust a few vis-related CSS name changes. In particular, **no** changes at all in code (only the updated vis d

[2016-09-09 03:00] carueda commented on #2080
Ah, in one other test I just noticed this warning in my the console:

![image](https://cloud.githubusercontent.com/assets/556505/18373957/8493d98a-75fd-11e6-9474-0b8452ef318c.png)

Some quick googling points to http://stackoverflow.com/a/39187679/830737 ... Seems like Hammer would have to be updated first ...

[2016-09-09 03:23] carueda commented on #745
After a long while I just tried to reproduce this..

The example is now located at http://visjs.org/examples/timeline/groups/subgroups.html. I opened it on Chrome Canary (Version 55.0.2853.0 canary) and followed the steps. No TypeError anymore.

Wanted to close this entry but seems like there may still be failing cases (mentioned by @josdejong ).

[2016-09-09 08:25] mojoaxel commented on #2000
see also #1602

[2016-09-09 08:28] mojoaxel commented on #202
see also #1602

[2016-09-09 08:48] mojoaxel commented on #745
There are quite some [open subgroup issues](/almende/vis/search?q=subgroups&state=open&type=Issues&utf8=%E2%9C%93), but I'm not sure somebody will find the time to fix the implementation as a whole!?

But this one we can close I think.

[2016-09-09 08:48] #745 closed

[2016-09-09 09:38] garmoshka-mo opened #2081 "General bug: network.DOMToCanvas is not a function"
[code]

canvasToDOM works, while DOMToCanvas gives: `basicUsage.html:53 Uncaught TypeError: network.DOMToCanvas is not a function`

See `examples/network/basicUsage.html`

[vis (1).zip](https://github.com/almende/vis/files/463669/vis.1.zip)

Documentation says `DOMToCanvas` is a function - http://visjs.org/docs/network/#methods

[2016-09-09 09:41] garmoshka-mo commented on #2081
For those, who need to get it work - temporary workaround is:

[code]

This will move to DOM's x:500 y:100

[2016-09-09 12:30] wcbagley opened #2082 "Network Node sizes"
In the Network library, is it possible to set a nodeDistance parameter per node? In the repulsion solver there is a "nodeDistance" parameter but it seems to be global to all nodes. Can each node have its own nodeDistance to allow nodes of different sizes?

[2016-09-09 13:30] mojoaxel commented on #2082
According to the [docs](http://visjs.org/docs/network/nodes.html) there is no nodeDistance for each node. You could try to give each node a `mass`, but I have no idea if this works.

You definitely could set the `length` of all edges by hand and disable physics.

Maybe someone else has an Idea? [Here is a nice playground for experiments](http://jsbin.com/jukafos/2/edit?js,output).

[2016-09-09 15:31] fgolemo opened #2083 "Batch update nodes, delay redraw?"
Hi guys,

Question: **Is there any method or trick that would allow me to do 10-20 `nodes.update()` with redrawing the network only once after all the updates or when I explicitly call `redraw()`?**

Background:

I have a large network (3000 nodes, avg 16 edges per node). The drawing itself is smooth, but i'm interacting with the graph: I allow the user to click a node in the network and change it

[2016-09-09 15:51] brichbe commented on #2083
As mentioned in the [docs](http://visjs.org/docs/data/dataset.html#Data_Manipulation), the DataSet's update() method accepts either a single item, or an **array of items**.  Presumably this will only redraw the graph once after that collection of nodes is updated, so you should try doing this by combining the changed node with its connected nodes into an array and calling update() once.

[2016-09-09 15:52] fgolemo commented on #2083
Aw, sweet, thanks! :) That's perfect, didn't see that.

[2016-09-09 16:51] anguila opened #2084 "Nodes/Edges update with clusterd nodes make the clustered node visible"
On a network graph with clusters, if you change a property of a node in the network, and you update the data set (node/edge), all the clustered nodes became visibles for no reason.

Is quite annoying, as I wanted to gray down other nodes on click event, and it works fine (based on one of the online examples) if we don't have any cluster, but if you cluster them, once the network is updated all clu

[2016-09-10 00:24] ceomuse commented on #1781
Hello, I'm afraid I don't have the skills to assist but perhaps I can help in so other ways. I can provide a paid staff we've contracted for the next few years. The other is that dirty word, money to pay for some additional help. I like what you're doing and see some features we may be able to utilize in one of our projects down the road.

May we help and if so, who is the best contact?

[2016-09-10 15:13] Chroedde opened #2087 "Function: Getting all nodes/edges connected to a nodes accessed by node id"
Hi,

could you give me a hint if there is a way to get the node IDs of all nodes that are connected to a specific node that I access by its ID. Is there already a pre-defined function?

If not directly: Is it possible to get the whole params of a node like if I do something like
`network.on("click", function(params) {});`?
Here I get for example:

`{
   "nodes":[...],
   "edges":[...],
   "pointer

[2016-09-11 22:52] fgolemo commented on #2083
Guys, you can close the issue if you want. That answer by @brichbe totally solved my problem.

[2016-09-12 00:40] AdamNowaczyk commented on #1979
@ShaneAlderton, thanks for reporting this. Just voting for fixing this as we're using he feature. So far I'll stick to 4.15.1 and will wait for the fix.

[2016-09-12 00:43] Chroedde commented on #2087
Got it, thanks.

[2016-09-12 00:43] #2087 closed

[2016-09-12 00:45] Chroedde opened #2088 "Node scaling by number of connected edges"
Hi,
my nodes do not have values (yet). Is it possible to scale them just by the number of edges connected to the nodes?
Thanks and best regards

[2016-09-12 07:16] josdejong commented on #1781
Thanks for your offer @ceomuse. I think it's best to send an email to Andries Stam (andries@almende.com) for financial/business related ideas, and to contact Ludo (@ludost) for technical ideas.

[2016-09-12 08:24] mojoaxel commented on #2088
You can use the `size` option at your nodes. To calculate the size you can manually count the edges for each node in your "edges" array.

[2016-09-12 08:25] mojoaxel commented on #2083
@fgolemo You opened the issue. You also can close it if your question is answered ;-)

[2016-09-12 08:25] #2083 closed

[2016-09-12 08:52] Chroedde commented on #2088
Thanks. Sure, thats possible. My idea was to do calculate the node value as number of edges connected to this node and then to make a scaling function. The problem is that it's going to be quite dirty when I have to update the node values for every change I do. For deleting nodes or edges it's not the problem. But when I edit edges I do not have access to the "old" from and to value anymore so tha

[2016-09-12 09:36] mojoaxel commented on #2088
I don't see the problem.

There is (obviously) no build in function for that.

_(By the way: This here is actually not a support forum. If you don't want to report a bug or have a question about the inner functionality of the library please [read the docs](http://visjs.org/docs/network/), look through [the examples](http://visjs.org/network_examples.html) and ask remaining questions e.g. on [stack

[2016-09-13 00:34] MrSaints commented on #1693
If anyone else encounters this issue, be sure to check your `x` and y` fields. In my case, it was set to `null`, and caused the error mentioned in this issue. Simply setting it to 0 resolved the issue.

[2016-09-13 01:41] Ackii opened #2090 "Graph2D : Stacking data in line"
**Graph2d Stack Options can not be changed to 'false' from 'true'.**

1. Stack option was set with 'false'. (Graph was shown correctly.)
![example_01](https://cloud.githubusercontent.com/assets/22161096/18458051/bc4624de-7998-11e6-9fab-77788e865f29.png)

2. Stack option change to 'true' from 'false'. (Graph was shown correctly.)
![example_02](https://cloud.githubusercontent.com/assets/22161096/184

[2016-09-13 07:12] mojoaxel commented on #1693
@MrSaints It would be great, if you could create a very simple example to reproduce this and create a new issue for that. That should not be the case! We need better error-handling here.

[2016-09-13 07:13] mojoaxel commented on #1693
duplicate of #1625

[2016-09-13 07:13] #1693 closed

[2016-09-13 07:23] mojoaxel commented on #2090
@Ackii Can you please provide your `options` too. Thx!

[2016-09-13 07:51] Ackii commented on #2090
With options:
<pre>
  var options = {
      stack: false,
      dataAxis: {
                 left: {
                        range: {
                                min: 0, max: 100
                               }
                       }
                },
      shaded: {
              orientation: 'zero',
              },
      drawPoints: false,
      style: 'line',
      interpolation: false

[2016-09-13 08:01] mojoaxel commented on #2090
Looks like a bug to me: It is possible to change the `stack` option from **false** to **true**, but not back from **true** to **false**.

I can reproduce this: http://jsbin.com/dubido/3/edit?js,output

[2016-09-13 08:02] mojoaxel commented on #2090
@Ackii Thanks for reporting this!

[2016-09-13 09:21] kuehn-sba commented on #2023
I had report to the chrome dev team:
https://bugs.chromium.org/p/chromium/issues/detail?id=646294

[2016-09-13 09:54] balguri23 commented on #1781
Interested to pick some bugs, what next?

[2016-09-13 10:00] JesperJohnsson commented on #2023
Chrome on Windows is where I get the problem so, it doesn't work there as you stated @kuehn-sba

[2016-09-13 15:30] ghaliano commented on #242
Any progress on this?

I wrote this example in order to hack the clustering future

It's a data grouping based on timeline scale

`var clusteriser = function(timeline){
	this.timeline = timeline;

	this.getDiffDate = function(date1, date2){
		var second=1000;
		var minute = second*60;
		var hour = minute*60;
		var day = hour*24;
		var month = day*31;
		var year = month*12;

		// Convert both dates

[2016-09-13 21:51] clottman opened #2092 "Gaps between timeline intervals"
On a data set where the items are sequential timeline ranges with no gaps in the data, there are gaps (white lines you can see around 13:20 and 13:55 on the example shown) between intervals at some zoom levels. Zooming in or sliding the timeline makes the gaps disappear, but often causes new ones to appear in different locations.

I'm setting a custom background-color and color on .vis-item border

[2016-09-13 22:53] mojoaxel commented on #2092
@clottman Thanks for reporting this. I would like to create an running jsbin demo to get to the button of this. Could you maybe provide code and styles to reproduce this issue!?

[2016-09-13 23:36] clottman commented on #2092
Thanks for your help @mojoaxel. Here's a [JSBin](https://jsbin.com/huwatilose/edit?html,js,output), and the corresponding [Gist](https://gist.github.com/anonymous/568996767601b20e584f99b7794c36b9) reproducing the issue. You'll probably have to zoom in to see it; it can be pretty intermittent.

[2016-09-14 10:22] frittola commented on #1765
Hi,
sorry, I do not undestand how i can remove or update an existing group.

Thanks

[2016-09-14 20:51] pgoldweic opened #2094 "can't get multiple node selection to work (network interaction)"
I need to know what are *all* the nodes being selected when somebody clicks on the network.  I am using a set of network options that includes a 'multiselect: true' setting, but when I do a click followed by CTRL-click (windows) on the network, only one node seems be recognized. I've tried obtaining the selected nodes in the following ways:
1- the 'on click' event handler attached to the network.

[2016-09-15 12:21] MisterDev opened #2095 "[BUG?] background-image in item.style not working?"
Building a Timeline in my `Ionic1` app, I'm trying to dynamically set a `background-image` to my items using the `style` property.
This is my item object:
![screen shot 2016-09-15 at 14 06 55](https://cloud.githubusercontent.com/assets/11232797/18549358/4557a5f2-7b4e-11e6-901b-fbc8c98f4467.png)

But when it is rendered the image is not displayed because `background-image` is set to `url('http')`

[2016-09-15 12:47] caracal7 commented on #784
Anybody solve delay problem in the last vis.js version?

[2016-09-15 14:55] brichbe commented on #2095
When you specify that image URL in javascript those two forward slashes after "https" are being treated as a comment.

One workaround could be encoding that URL, but instead I'd recommend you specify your item background image using CSS, by using the `className` property instead of the `style` property.

Define the item with something like:
`className: 'bgimage'`

And in your CSS add something lik

[2016-09-15 15:22] MisterDev commented on #2095
Thanks for your reply.

I'm confused, the style property should be a string and afaik javascript doesn't treat `//` inside a string as a comment:
![screen shot 2016-09-15 at 17 11 51](https://cloud.githubusercontent.com/assets/11232797/18555366/ead3b282-7b67-11e6-99a1-e8a351631d81.png)

so this  should be treated as a string
[code]

Or am I just misunderstanding what you mean?

I can't use a CSS c

[2016-09-15 15:34] brichbe commented on #2095
Yes a var String with forward slashes isn't a problem, but I just meant it seems that forward slashes within the style property String value are strangely being treated as a comment, so it's still worth investigating if this is an unexpected side effect with something VisJs is doing.

Regardless, since you've found your solution using templates it's probably best to close this ticket for now, but

[2016-09-15 16:15] pgoldweic commented on #2094
Turns out that this was actually my mistake (I was accidentally using a different set of network options which did not include the multiselect setting :-(). Please ignore.

[2016-09-15 16:15] #2094 closed

[2016-09-15 17:03] MisterDev commented on #2095
Oh, I thought you meant to say that this is how it should work.

I opened this issue to figure out what's going on, not only to find a workaround. If this is not the expected behavior I think this issue should be kept open.

[2016-09-15 19:18] roboslone opened #2096 "Timeline's "rangechanged" is fired repeatedly on zoom"
To reproduce, add following event listeners:
[code]
And zoom timeline with pinch or mouse wheel.
Console output looks like this:
[code]

And also (naturally) all changes happen because of user zoom, so `byUser` is always `true`.

Dragging timeline seems okay, `rangechange` fires repeatedly, but `rangechanged` - only once.

[2016-09-16 07:18] mojoaxel commented on #2096
I see, what you mean: http://jsbin.com/wowiro/2/edit?console,output

Sadly that is not easy to fix. The Mouse Wheel sends single increments if used. There is no way of knowing if the user is planing to using the wheel more in the next milliseconds.
The only way I see is to delay the `rangechanged` event by setting a timeout and wait for other mousewheel events. But "slow" scrolling would than repr

[2016-09-16 07:18] #2096 closed

[2016-09-16 07:49] mojoaxel commented on #1765
@frittola Here you go: http://jsbin.com/conicu/1/edit?html,js,console,output

![image](https://cloud.githubusercontent.com/assets/600565/18578903/cc5ee2aa-7bf2-11e6-963a-31c2962de048.png)

[2016-09-16 07:49] #1765 closed

[2016-09-16 08:16] mojoaxel commented on #2092
@clottman Thanks for reporting this! And thanks for the dummy-code, that helps A LOT!

It's a rounding issue! The left `position` and the `width` are calculated as float values. The browser then decides how to round them. In some circumstances a gap of 1px can occur. In the example below the width of elementA is rounded down while the left position of the next elementB is only just rounded up.

[c

[2016-09-16 09:16] AleksejDomash opened #2097 "DataSet.update doesn't work for objects from iframe (gwt usage issue)"
https://github.com/almende/vis/blob/master/lib/DataSet.js checks data parameter in update method using data instanceof Object. It won't work if data has been created in iframe.
Here is explanation:
https://groups.google.com/forum/#!topic/google-web-toolkit/CdgvqajYeDI

Proposal if to move instanceof checks to separate class as util methods and introduce additional check using toString method, like

[2016-09-16 11:21] FoxWhite commented on #1909
@mojoaxel well the issue is not relevant to me anymore (I managed with some hacking), however it might be a thing to improve. So I guess you might consider moving it to the backlog and close the issue here.

[2016-09-16 11:35] mojoaxel commented on #1909
@FoxWhite Thx for the feedback.

There is no build-in way to "merge" edges. This can simply be done by hand if needed. If anybody thinks this should be part of the library feel free to open a feature-request issue for that, then we can discuss it.

[2016-09-16 11:35] #1909 closed

[2016-09-16 11:37] mojoaxel commented on #2097
@AleksejDomash Thanks for reporting this. Could you please provide a simple example (e.g. jsbin) that shows how to reproduce this problem!?

[2016-09-16 12:48] roboslone commented on #2096
@mojoaxel , thanks for reply, but your last link doesn't show any solution :(
I've tried to implement event delay yesterday, but with no success (not really a frontend guy here) :(
Could you please provide an example?

[2016-09-16 14:08] clottman commented on #2092
It looks like the left & width values are calculated to match up unrounded, though I'm not familiar with the underlying code. Would it be possible to round the values of Element A explicitly before calculating the left value for Element B?

[2016-09-17 09:29] NorbertSandor opened #2098 "Timeline item resizing is not working when some time has elapsed after pressing the left mouse button"
Browser: Firefox 48.0

Problem: resizing an item works only if you start resizing immediately (fast enough) after pressing the left mouse button. If you wait some time, resizing won't happen.

Steps to reproduce:
- go to http://visjs.org/examples/timeline/editing/editingItemsCallbacks.html
- select "item 4"
- move to cursor to the left side of "item 4" (the cursor's shape changes to "resize" mode)

[2016-09-18 00:26] renancastro commented on #1846
It is the same as issue #617

[2016-09-18 14:28] nikitakurylev opened #2100 "Network: Zoom button doesn't work like expected"
Hi,
Zoom button doesn't work correctly, it zooms to the center of network, not to the center of screen.
It supposed to work like traditional (google) map zoom button.
Not sure if it is bug.

Thanks and best regards

[2016-09-19 02:21] tomzx commented on #2100
Hello @nikitakurylev, could you provide a link to an example with those zoom buttons? Using the mouse does zoom to where the cursor is, while zoom buttons would need a viewport coordinate to specify where the zoom should occur, none being given would imply the center of the viewport.

[2016-09-19 02:28] tomzx commented on #2098
I could reproduce this with Firefox 43.0.1, 45.0.2, 47.0.1 as well as on Chrome 53.0.2785.116 m, so it does not seem to be browser related.

[2016-09-19 02:33] tomzx commented on #2069
Hi @proy87,

Are you talking about the camera/view position?

If you look at http://visjs.org/docs/network/#methods, you can use `getScale()`/`getViewPosition()` and `moveTo()` which should allow you to save/restore the camera position.

[2016-09-19 03:43] tescott opened #2102 "Click event reports an error"
I created an event that fires when the user clicks on the graph2d object.

Example:

[code]

When it fires in the browser, I see the following error traceback:

Digging into the code, this corresponds to:

[code]

I just started using vis.js today, so I'm not sure what is intended here.

UPDATE:
Just discovered this happens regardless of whether I have an event defined or not.  I deleted the event

[2016-09-19 07:03] mojoaxel commented on #2098
@NorbertSandor Thanks for reporting this and also to @tomzx for confirming this.
I consider this a minor issues, because it does not break anything. Is that a problem for your guys?

[2016-09-19 07:05] mojoaxel commented on #2100
Here is an example: http://visjs.org/examples/network/other/navigation.html

[2016-09-19 07:09] mojoaxel commented on #2102
@tescott Can you please provide a simple example (e.g. on [jsbin](jsbin.com)) that shows when the problem occurs. Thx!

[2016-09-19 07:14] mojoaxel commented on #1846
duplicate of #617

[2016-09-19 07:14] #1846 closed

[2016-09-19 07:19] lehuyhuan opened #2103 "Customize the edge types of vis.network"
Dear all,

The edge in vis.network is simple, Can anyone show me the way to modify the source code (vis.min.js) to create a new edge type with support 2 color and 2 label at both site. I mean when an edge connected by 2 node (in my scenario is 2 router) So I want to add 2 label in both size to show the interface is connected and the color to show the state of both interface.

I am trying to read v

[2016-09-19 07:29] mojoaxel commented on #2096
http://jsbin.com/wowiro/4/edit?console,output

[2016-09-19 07:35] NorbertSandor commented on #2098
I was surprised but it is really confusing/annoying for the end users. The biggest problem is that the timeout is relatively short so it is very easy to run into this error...

[2016-09-19 07:41] mojoaxel opened #2104 "Edge Labels at both sides of the edgle"
Make it possible to set individual Edge labels to both sides of a edge.

Example:
![image](https://cloud.githubusercontent.com/assets/600565/18625188/1445657e-7e4d-11e6-92db-d9801e5af0bd.png)

[2016-09-19 07:42] mojoaxel commented on #2103
@labianchin Sady this is not possible at the moment. I've created a new feature-request for something similar: #2104

Also if you want to change the source you should never try to change the minified (vis.min.js) version, but the original source.

[2016-09-19 07:42] #2103 closed

[2016-09-19 07:43] mojoaxel commented on #2098
Ok! Than I recommend trying to increase this timeout ;-)

[2016-09-19 07:44] roboslone commented on #2096
@mojoaxel , thanks a lot! That's exactly what I was looking for. Do you think this should be mentioned in docs?

[2016-09-19 07:58] mojoaxel commented on #2096
@roboslone No I don't think so. This has nothing to do with vis.js. If anybody is searching for this She hopefully finds this issue ;-)

[2016-09-19 10:35] lehuyhuan commented on #2104
Hi Mojaxel,

I find out that, the code behind the vis.js which drawlabel but don't know how to add one more label, the original label is passed via edge.options object. I tried to add one more attribute 'label1':'test' into edges dataset but when I console.log the edge.options there is no out put of 'label1'.

Please help me to know where I can define a new label for one edge, thanks so much!!!

[2016-09-19 13:11] tescott commented on #2102
Sure thing!  Here's an example: [http://jsbin.com/qayajuzeza/1/edit?html,output](url)

I'm using Chrome.  I hit F12 to bring up the Dev Tools.  Click anywhere on the graph and you'll see the error appear in the Dev Tools console.

[2016-09-19 15:02] egorlitsky opened #2105 "Several clusters for nodes"
I want to cluster the nodes in the new clusters after opening this cluster. I.e. I have a cluster with nodes, after opening this cluster I want to cluster these nodes to the new clusters.

I have a solution of this issue with invocation of 'redraw' method.
But may I do it without 'redraw' the network?

Thank you!

[2016-09-19 18:26] nikitakurylev commented on #2100
![tos](https://cloud.githubusercontent.com/assets/21079118/18643751/14d7fd1e-7eaf-11e6-845b-01084b25c3c4.gif)
Firstly I zoom it with mouse wheel, and then with zoom button.
I can get coordinates with `getViewPosition()`, but how can I set them for zoom button?

Thanks

[2016-09-19 23:27] FrissAnalytics opened #2108 "how to clear the canvas in a network after using network.on("beforeDrawing""
Hi,

from the [renderEvents example](http://visjs.org/examples/network/events/renderEvents.html) in vis.js network I was able to create a nice background circle given a node id.

My question is this: how can I dynamically remove a background circle after it is drawn and e.g. set it on say another node? In other words, after I draw stuff, how can I remove it and draw something else?

I've played ar

[2016-09-20 03:11] tescott commented on #2102
I'm wondering if this is due to no data being present.  If I have a Graph2d that has some data points, I don't get the error when I click on the graph.

[2016-09-20 07:02] mojoaxel commented on #2102
I can confirm this! http://jsbin.com/nizehoj/1/edit?html,output

[2016-09-20 07:16] mojoaxel commented on #2064
fixed with 6539ca74ed149d5d9695f64b61831d23f02908c9

[2016-09-20 07:16] #2064 closed

[2016-09-20 07:18] mojoaxel commented on #2092
fixed with d9576bee502314ec4686a505b51ba24d0d742388
Thanks @Iskander508

[2016-09-20 07:18] #2092 closed

[2016-09-20 09:59] magicsass commented on #450
I'm currently facing the same issue about the infinite looping.
I'm loading a json file containing 900 points (x, y, group).
The warning is appearing after the 119th point.

I don't know if that might help :)

[2016-09-20 14:52] FrissAnalytics commented on #2108
in relation to my previous question, is it correct that every time you call network.on("beforeDrawing" and past it a different anonymous callback function, that function is also registered, in which case you can end up with multiple functions being called each time on using beforeDrawing?

I couldn't find any documentation on unbinding specific events or how to get a list of these? Perhaps I shoul

[2016-09-20 15:55] clottman commented on #2092
Thank you @lskander508 and @mojoaxel!

[2016-09-21 00:51] AdamNowaczyk opened #2110 "Max value for right y-axis doesn't seem to work"
Hi,

I'm having strange problem. I'm using Graph2d to plot line charts with two y-axis (left and right). However I have problem with setting the max value for the right axis, please see this example:
http://jsbin.com/zolewoqaxa/edit?js,output

Additionally, I don't know how to 'reset' max value to original approach. The reason for doing this is that for some small values, I want predefined max val

[2016-09-21 07:15] mojoaxel commented on #2110
@AdamNowaczyk Thanks for reporting this. And special thanks for the example, that helps a lot!

Looks like a bug to me...

[2016-09-21 07:44] AdamNowaczyk commented on #2110
@mojoaxel, not a problem. Definitely a bug. If you're changing the max value for the right axis, it's totally underterministic what value will be displayed. Everything seems to be working fine for the left axis.

This is quite blocking for us as we are displaying CPU and Memory graph that way where left axis shows CPU/Memory % usage and right axis shows GB of RAM. We need both axis to be 'aligned'

[2016-09-21 09:17] nononoy commented on #1957
Hi. Is there any hack how i can do that without waiting for a pacth?

[2016-09-21 09:57] agenestar commented on #455
Hello,
Has this enhancement been implemented yet?
Thanks for the library 😄

[2016-09-21 11:38] FrissAnalytics commented on #2108
ok, I found a workaround. Here's what I ended up doing (caveat: likely this is crappy JS code)

I use three parts: (1) a call to  network.on("beforeDrawing, (2) a helper function that can draw a drawBackgroundCircle, which takes a reference to an element el and ctx, which is passed in automatically by vis.js, and (3) an element el that holds (a) a vis.js network and (b) some additional data used t

[2016-09-21 12:40] gabriellima commented on #784
Guys,
Looking at Hammer website with Chrome, I found out that its homepage example has `touch-action: none` instead of `touch-action: pan-y`.

How may I use this option inside vis Timeline ?

[2016-09-21 13:44] ArunSivagnanam opened #2112 "Timeline: input fields as content in item blocks?"
Hi, is there a way to make input fileds as content in item blocks in timeline? Right now it seams like the events are blocked

[2016-09-21 14:23] vasadhananjay opened #2113 "Adding edges between nodes in Timeline? Possible?"
I'm trying to create a gantt chart with timeline. Need to add lines between various items in the timeline's dataset. Has anybody been able to do something similar?

[2016-09-21 16:06] vasadhananjay commented on #2113
Nevermind. Looks like someone beat me to the [punch](https://github.com/almende/vis/issues/1699)...

[2016-09-21 16:06] #2113 closed

[2016-09-21 16:42] mepaling commented on #2002
@controversial Sorry for the late reply and thank you for your response, but I finally switched to d3.js. Now I think I should close the issue.

[2016-09-21 16:42] #2002 closed

[2016-09-22 02:25] controversial commented on #2002
Great, glad you resolved it.

[2016-09-22 07:35] mojoaxel opened #2114 "Tracking Feature Requests on GitHub"
We should get rid of [the feature Request page](http://visjs.org/featureRequests.html) and track feature requests as issues on github. The manual effort to synchronize is just too great!

* [x] Reopen all issues listed on the [featureRequests page](http://visjs.org/featureRequests.html) and label as "enhancement"
* [x] Check the status of these issues, rename the title to something understandable.

[2016-09-22 07:35] mojoaxel commented on #2113
duplicate of #1699

[2016-09-22 07:59] #2108 closed

[2016-09-22 08:05] mojoaxel commented on #1957
In my opinion the edges should not overlap with both, physics enabled or disabled.
Here is a little demo of the problem: http://jsbin.com/duqasu/2/edit?html,js,output

[2016-09-22 08:10] mojoaxel commented on #1957
enable physics ;-)

[2016-09-22 08:13] nononoy commented on #1957
Can i enable physics in hierarchical directed network layout?

var nodes = new vis.DataSet([
 {id: 1, label: '1'},
 {id: 2, label: '2'},
]);
var edges = new vis.DataSet([
  {id: 1, from: 1, to: 2},
  {id: 2, from: 1, to: 2},
]);

As the result I get only one visible edge.

[2016-09-22 08:17] mojoaxel commented on #2110
Setting `max: null` should work in my opinion. It doesn't! Some improvements needed here also!
At the moment is is just not possible to reset a `max` value.

To be honest: It doesn't look good! If you need bugs to be fixed you'll have to do it yourself of find/pay somebody to do it. Here is not much going on and I'm just helping out.

[2016-09-22 08:24] mojoaxel commented on #1957
It looks like thats a problem of his own: http://jsbin.com/duqasu/3/edit?html,js,output

[2016-09-22 12:54] dragonzone commented on #2105
You do not need to redraw the whole network when trying to cluster nodes or cluster inside other clusters. The network.cluster() should handle it for you. You can view example here: http://visjs.org/examples/network/other/clustering.html

Notice it does not have to do any redrawing.

[2016-09-22 13:31] matikucharski commented on #2080
+1 Same with my code. I updated from Jun '15 version to newest and I can see big regression in performance when scrolling and zooming timeline.

[2016-09-23 09:46] matikucharski commented on #2080
Now I noticed that this "degraded performence" is NOT occurring on Firefox. It is still smooth there for me. Only on Chrome I can see a really bad performance.

[2016-09-23 15:07] sunsetjunks commented on #242
+1 for clustering. The old timeline had a problem with groups, so we transferred to vis-timeline, but we have quite a lot of data to display and the component becomes unusable :-/

[2016-09-23 22:20] pbernim opened #2115 "Overflow date range"
Hi

Why this data works fine:

var items = new vis.DataSet([
        {"content": "Item 1", "start": new Date(-700, 0, 1), "end": new Date(-500, 0, 1), "id": 1},
        {"content": "Item 2", "start": new Date(-400, 0, 1), "end": new Date(-200, 0, 1), "id": 2},
        {"content": "Item 3", "start": new Date(-600, 0, 1), "end": new Date(-300, 0, 1), "id": 3},
        {"content": "Item 4", "start":

[2016-09-23 22:51] egorlitsky commented on #2105
I don't agree. I need to redraw the network because new clusters (clustered after draw() invocation) will be 'undefined' in 'network' object. In 'network' -> 'clustering' there are no the new clusters. New clusters appear in network object only after clustering from draw() function. I have tried your examples...

Thank you

[2016-09-23 23:06] lucasf10 opened #2117 "Save timeline"
Is it possible somehow to save the timeline created into an image or an svg?
I'm working on an interactive timeline maker for an university project and was wondering that.

Thank you.

[2016-09-24 01:59] dragonzone commented on #2105
It will be hard to resolve your issue if I cannot see you code. You can either create a little program on https://jsfiddle.net/ or awhile back I created a little sample program of what I had learn while researching vis.js and have put it on GitHub. You can go there & study it yourself.

https://github.com/dragonzone/JsSamplerApp

Good luck!

[2016-09-24 09:09] pbernim commented on #2115
Hi,

I used this conversor:

http://www.epochconverter.com/

Why the positive years betwee 1 and 99 fail?

p.e.:

year 10 gives 1910

with negative year it works

year -10 gives -10

Thanks!

[2016-09-25 08:56] pbernim commented on #2115
Finally I found the solution  with setUTCFullYear function:

 var theBigDay = new Date();

end: theBigDay.setUTCFullYear(10),

[2016-09-25 10:06] ram-c commented on #1781
Sure :) I'll be happy to help! I'll start with bug regression/testing

[2016-09-25 13:47] tescott opened #2118 "docs / graph2d options / interpolation.parameterization references wrong example"
The description in the graph2d docs for interpolation.parameterization references Example 7 which links to the Sorting and Scrolling example.  It should link to Example 6, Interpolation.

[2016-09-25 18:51] ns-nikhilsheth opened #2119 "Actual vs estimated visualization in timeline"
Hi, is it possible to visualize actual and planned/estimated dates (total 4 dates ) as one item?
I tried creating background item for min and max of the 4 dates. It works. Now i would like to plot ranges for delayed start(actual start - estimated start), then progress (actual start to now) for incomplete tasks..and so on.
I am not sure how to do it? I have two questions
- is it possible to achieve

[2016-09-26 05:45] #2115 closed

[2016-09-26 09:52] lukasw44 opened #2120 "do not scale when change size"
How can i disable scaling when i change screen size, so basically i wanna scroll my timeline when screen is small but not scale:

<img width="265" alt="screen shot 2016-09-23 at 17 13 17" src="https://cloud.githubusercontent.com/assets/3924636/18830016/c7d707bc-83d6-11e6-9749-d729b9e18ada.png">

and that how its look like when its scale:

<img width="228" alt="screen shot 2016-09-26 at 10 49 25" s

[2016-09-27 04:58] bardcrack commented on #1781
My English no is very good, but i want Help for this project.

[2016-09-27 08:41] qazimir opened #2121 "Nodes click, blur, hover events issue"
I found this issue:

There is a on click, hoverNode and  blurNode functions in my network.

When I place cursor inside node hover is fired, thats OK.
When I click inside the same node then both click and blur function are fired.
Still inside the same node, when I move cursor hover is fired again.

You can try it in fiddle: https://jsfiddle.net/ve8cshvh/6/ just open console and click on node.

Q.

[2016-09-27 09:26] mojoaxel commented on #2121
@Iskander508 Can you have at look at this, please!

[2016-09-27 10:15] qazimir commented on #1957
I also solve this with physic on load. And after stabilisation done I turn off physic for nodes.

[2016-09-27 10:19] nononoy commented on #1957
Did you do it in hierarchical directed network layout case?

[2016-09-28 10:31] Tooa opened #2122 "Edge hover is not properly removed in dense network"
Hi,

take a look at [this example](http://jsbin.com/nuhexutabo/1/edit?html,output) and dive with the cursor through the middle of the network. You will notice that the "hover" is not cleaned after the cursor leaves the edge.

The issue is maybe related to [this pull-request](https://github.com/almende/vis/pull/1922). However, the problem also occurs with the latest develop branch! I think [this](h

[2016-09-28 10:48] MiikaL opened #2123 "iOS pinch zoom no longer works"
Hi there,

Previous to the iOS 10 update, it was possible to use "pinch zoom" on the visjs Timeline as long as the page had the meta tag <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />. The newest version of iOS Safari no longer respects this meta tag, which has consequently also broken the pinch zoom functionality of the Timeline. Is there a solution for

[2016-09-29 20:31] daniel-pfeiffer commented on #1179
Hi @josdejong, as you said on Aug 14 2015: it is for other types of items.  So I figured we can reduce the problem by only applying the ¼ heuristic to items withouth end:
[code]

[2016-09-29 21:20] ankitgoyal100 opened #2125 "Disable physics for a node when a user drags it"
How do I disable physics for a certain node when a user "interacts" with the node (ex. drags/clicks the node). I am manually adding "physics: false" to the data and reloading it but the graph has to re-stabilize and it's not ideal. What's the best solution?

[2016-09-29 22:12] mojoaxel commented on #2122
@Tooa Thanks for that detailed report!!

[2016-09-30 12:36] dragonzone commented on #2125
You are setting it wrong, therefore, not working correctly for you. You need to read the documentation more carefully. Here it is: http://visjs.org/docs/network/physics.html#

It needs to be something like this:

[code]

[2016-09-30 17:57] anz000 commented on #1784
Hi @dragonzone , could you give more info on 1. converting nodes/edges to JSON and 2. convert to DOT? Will the visualization look be preserved?

[2016-09-30 18:51] dragonzone commented on #1784
You take the vis.js network nodes & edges and convert them to DOT format. An example of DOT file format is this: http://graphs.grevian.org/example#example-4

When you export, you need to set the X & Y coordinate in vis.js and add them to your DOT file so it will preserve the exact look that is on vis.js network.

[2016-10-01 04:15] anz000 commented on #1784
Great Info. I played around with DOT format, and converted to vector pdf, I believe it meets my requirement.

I'm currently using visNetwork in R, so I don't know if I could get all X,Y co-ordinate to recreate exactly like vis.js graph. How can I get the XY co-ordinate and integrate that information into the DOT file?

Thanks in advance.

[2016-10-01 09:40] dragonzone commented on #1784
I have not tried, but I think once you create the vis.js network, you will have a reference to the network object. From there, you can use that network reference to get all the nodes and edges and their coordinates. I have written a quick sample on how to get the nodes X & Y coordinates from there onward for another issue awhile back: https://github.com/almende/vis/issues/2017

[2016-10-01 12:42] nicolasbd commented on #2117
You could use a library like [html2canvas](https://html2canvas.hertzen.com/examples.html)

[2016-10-01 18:01] 2dvisio opened #2126 "How to add SVG attributes?"
I've got into the problem of adding tooltip to a complex Graph2d element (many many groups, because some items got to be connected by lines while other don't).

Solved it two different ways and the less ugly one at the moment is making use of the click listener to get the closest point so as to display an HTML div with the tooltip text inside.

However, a much less ugly way of doing it (IMHO) coul

[2016-10-01 19:30] DavePosner opened #2127 "Grouping Nodes to move together as one unit"
(This may be related to #685?)  I want to represent a network of components in vis.  The components have multiple connection points ("pins").  So I'd like to represent a component as a cluster of nodes which move together.  If this hasn't been done I'm willing to do it but would appreciate a suggestion for strategy.
Something like:
![image](https://cloud.githubusercontent.com/assets/22565740/19016

[2016-10-02 07:13] vickyscorpions opened #2128 "Use Map on Image's specific areas.........."
Hi Team of Great People,

I have created a network graph using Vis. Now, here you can see the image is placed in the center, I want to divide this image into like different parts and want to make those clickable...like e.g if someone clicks the
top left of the image, I want to do hide specific nodes and show the related nodes. Same for other specific areas like we use maps in html. Can you please

[2016-10-02 07:33] mojoaxel commented on #2127
see also #2066 for the "bubbles"

[2016-10-02 14:59] DavePosner commented on #2127
Note that what I'm requesting is different from what vis calls "clustering" which collapses a subgraph associated with an arbitrary set of nodes.  (jung calls that feature "collapsing").  What I want is the ability to associate a collection of nodes in the layout and have those nodes move together.  What I'd imagine doing to implement this  is to have an optional "cluster" property associated with

[2016-10-02 15:03] DavePosner commented on #2127
Note that what I'm requesting is different from what vis calls "clustering" which collapses a subgraph associated with an arbitrary set of nodes. (jung calls that feature "collapsing"). What I want is the ability to associate a collection of nodes in the layout and have those nodes move together. What I'd imagine doing to implement this is to have an optional "cluster" property associated with nod

[2016-10-02 18:36] Tooa commented on #1894
Hi,
works for me with the current version (4.16.1). See [this](http://jsfiddle.net/1fb2b0u1/2/) fiddle.

@mojoaxel looks like we can close this issue then.

Best Uli

[2016-10-02 19:45] #1894 closed

[2016-10-02 20:10] Tooa commented on #2121
@qazimir I've clicked on node 4 and the following messages are logged to the console: ``hover executed``, ``click executed``. Cannot reproduce your issue.

Best Uli

[2016-10-02 20:25] anz000 commented on #1784
Thank you for redirecting me to the right direction.

The graph looks good. I was playing around with managing edges as in Vis. The "splines=curved" settings curves the edges too much, but I guess I can live with that.

[2016-10-03 07:22] vickyscorpions commented on #2128
Hello...Is there someone to help :( ??

[2016-10-03 09:39] Tooa opened #2129 "Participate in Hacktoberfest"
Hi,

I suggest participating with visjs in the current running [Hacktoberfest](https://github.com/blog/2260-hacktoberfest-is-back). It's really simple:

[code]

Such labeled issues can be seen [here](https://github.com/search?l=JavaScript&q=state%3Aopen+label%3Ahacktoberfest&ref=advsearch&type=Issues&utf8=%E2%9C%93). Thereby, we may attract new developers for visjs. Here are some of my favorite is

[2016-10-03 10:50] mojoaxel commented on #2129
Nice! If anybody wants to suggest an issue, just post it here!

[2016-10-03 10:56] mojoaxel commented on #1444
I have started implementing new edge-endings. see #2066 and #1993

[2016-10-03 11:02] mojoaxel commented on #1993
this is actually a duplicate of #1444 , but lets keep it open until @kagestrife has what he needs.

[2016-10-03 11:15] mojoaxel commented on #2128
If you have project specific questions please use [stackoverflow](http://stackoverflow.com/questions/tagged/vis.js).

[2016-10-03 11:15] #2128 closed

[2016-10-03 11:19] mojoaxel commented on #2121
I also **can not reproduce** this in Chrome and Firefox.

[2016-10-03 11:23] mojoaxel commented on #2127
I would call this "grouping" instead of clustering.

[2016-10-03 11:50] DavePosner commented on #2127
Much clearer, thanks.

[2016-10-03 13:37] DavePosner commented on #2127
I'm glad Alexander changed the name of this feature request so that I can talk about "clustering" in the sense vis.js is already using it.  Clustering is important to my application because it gives the user a way to define higher level subsystems by clustering the components of the subsystem.  (I haven't checked but I assume clustering is hierarchical -- clusters of clusters and so on.)  For this

[2016-10-03 20:35] JamieZhang2016 opened #2130 "Network - Question - How to only allow Horizontally drag for network chart?"
I created a network chart using vis.js. In Options -> Interaction, we can set "drawView" to enable or disable the chart dragging. However, is there a way for me to only allow Horizontally dragging the chart?

[2016-10-03 21:29] AndrewSpeed commented on #2073
Hi, I'm happy to take a look at this, to make sure I understand correctly, you're looking for an example with the ability to import and export the network as JSON?

[2016-10-04 02:52] farhanansari opened #2131 "Graph2d: Unable to flip Y-Axis"
Went though the documentation here: http://visjs.org/docs/graph2d/#graph2dOptions but unable to find a way to flip Y-Axis.  I understand that it will also flip X-Axis which is fine.  Following is a very simple code Im using:

`                    var dataset = new vis.DataSet(json.result);
                    var options = {
                        start: moment().subtract(1, 'month').format('YYYY

[2016-10-04 09:35] mojoaxel commented on #2073
@AndrewSpeed That would be much appreciated!
I'm thinking of a new [network example](/almende/vis/tree/master/examples/network/other) with a simple network, that has a "Save to JSON" button and a "Load from JSON" to demonstrate how x/y positions could be saved and restored.

[2016-10-04 09:53] AndrewSpeed commented on #2073
No problem, I'll take a look at this later today.

[2016-10-04 15:21] dragonzone commented on #2130
Yea it's pretty easy, you can check it out a quick snippet I created here:

https://jsfiddle.net/pfvbmnub/

[2016-10-04 16:21] JamieZhang2016 commented on #2130
Thanks dragonzone! I will check it out.

[2016-10-04 16:27] roboslone opened #2132 "Allow no "end" for "range" items in timeline"
This is a feature request for timeline.
#### What?

Allow "range" items to have no `end`.
#### Why?

To correctly display events, that aren't finished at the moment.
#### How?

On `currentTimeTick` set some item attribute representing `end` to `new Date()`, but don't touch real `end`.

I think that could be done using event listeners without any changes to vis.js library, but it seems to me that d

[2016-10-04 16:31] JamieZhang2016 commented on #2130
Hey dragonzone, I tried your snippet and it locks the vertical drag, but only for the Nodes. Actually I want to  lock vertical drag for the whole canvas, which is the whole network chart. I tried many ways but could not achieve this goal. Thanks a lot.

[2016-10-04 17:04] weisebrazil commented on #1757
@Arik100 @josdejong any progress about it?

[2016-10-04 17:18] dragonzone commented on #2130
I am not quite sure what you mean, if you can create a snippet like I did to view it, that would greatly help. But in the example I had, none of the nodes can be drag vertically, which is the whole network chart. You can also define that option before drawing your network:

[code]

[2016-10-04 17:23] JamieZhang2016 commented on #2130
we can use your snippet. If you drag the network chart, try to don't select any node or edge, and move your mouse, you will find the whole chart is moving, both vertical and horizontal.
Then come to my request, I'd like to disable the vertical movement as I described above. What I've tried is doing something on the canvas, or the wrapped div. Because I haven't got a clear idea, so we can use your

[2016-10-04 17:50] dragonzone commented on #2130
I see. For that, you will probably have to create a fork & modify vis.js yourself. Basically, inside the vis.js code (which I look at while back), there is a 'dragging' event, which will add/subtract both the x & y from the previous point, hence moving the whole network. All you need is set diffY = 0 (which is the vertical) and only the x-axis will move. Hope this helps.

[2016-10-04 17:52] JamieZhang2016 commented on #2130
Good idea, I will try. Thanks a lot!

[2016-10-04 19:15] josdejong commented on #1757
@weisebrazil no sorry. See #1781.

[2016-10-04 22:01] jankdiss commented on #582
is this implemented ?, I have urgent requirement that need to create item by drag and drop

[2016-10-04 22:58] mojoaxel commented on #582
@jankdiss I don't think there is a reference  implementation of drag&drop yet. But feel free to provide one ;-)

[2016-10-04 23:45] jankdiss commented on #582
@mojoaxel cool thank you very much , can you provide me some reference. it is very urgent work

[2016-10-05 00:52] jankdiss commented on #582
can I get work around for following in vis time line

1. Smooth animation on drag item, instead of click and drag. ( i.e. network animation)
2. Drop item in to time line from external component
3. Change the time bar line potion ( make centre, currently using two time line )

[2016-10-05 03:33] joyfementira opened #2133 "We need your help #1781"
I'm willing to help this project and future collaboration.

**JOY FEMENTIRA**
Project Manager / Web Developer
www.jfementira.com | www.jfdevelopments.com

[2016-10-05 05:35] pjama opened #2134 "[printBuffer] Uncaught TypeError: Cannot read property 'type' of undefined"
I'm experiencing this error on a tap event (on a graph node)

![screen shot 2016-10-04 at 10 30 12 pm](https://cloud.githubusercontent.com/assets/306321/19102110/6689eb0c-8a82-11e6-8606-5fec905e85fb.png)

Any advice would be appreciated, thanks.

[2016-10-05 07:37] mojoaxel commented on #2133
@joyfementira Nice! You can just start [here](/almende/vis/issues/1781#issuecomment-238074389). There is no special treatment or something...We are happy for anybody that can help!

[2016-10-05 07:37] #2133 closed

[2016-10-05 07:38] mojoaxel commented on #2134
@pjama Could you please provide a simple [jsbin](http://jsbin.com/) dummy to reproduce this. That would help a lot!

[2016-10-05 14:46] JMazzucco commented on #582
@jankdiss take a look at what I have so far.

In my app, there is a div with an ID of 'incoming' that contains a bunch of draggable cards.
When a card is dropped within the Timeline, the card is removed and a new timeline item is created.

      $( "#incoming" ).sortable({
        items: ".card",
        cursor: "move"
      })

      $( ".vis-group" ).droppable({
        accept: '.card',

[2016-10-05 15:06] egorlitsky opened #2135 "Images for nodes from sprite"
Hi!

How I can use images for nodes from sprite?
In node.image (from docs) I can set only url of image. But what to do if the image is in the sprite?

In Ext.js I usually use a 'background-position' of CSS.

Thank you

[2016-10-05 18:21] JamieZhang2016 commented on #2130
Thanks dragonzone! I tried the idea you provided to create a fork vis.js and set diffY = 0, it achieves my goal.

[2016-10-05 18:21] #2130 closed

[2016-10-05 18:58] pjama commented on #2134
@mojoaxel, I was mistaken and, in fact, the issue was not with the vis.js library. Apologies for the confusion.

[2016-10-05 18:58] #2134 closed

[2016-10-05 19:20] ghkmca opened #2136 "hOW TO FIX CUSTOM TIME LINE, SHOULD NOT BE MOVABLE"

[2016-10-05 20:41] #2136 closed

[2016-10-06 11:18] rapitkan commented on #1539
@ligadata-alaa Hi! Have you made a pull request about one line your fix? I used the fix and it really works. Thank you.

[2016-10-06 13:23] mojoaxel commented on #1539
The code [mentioned above](/almende/vis/issues/1539#issue-124557509) is generated by webpack and not part of the vis.js sources. You should not change this! If you have further problems integrating vis.js with require.js please check the [given example](/almende/vis/tree/master/examples/timeline/other/requirejs) or create a new issue.

[2016-10-06 17:26] 2dvisio opened #2137 "Duplicate UUID in dataset using Safari"
Hello,

I am implementing this: http://jsfiddle.net/jnpwzn3c/1/ as a dashboard for one of our projects. However, although all works in Chrome and Firefox, for some reason two of the graphs are not displayed in Safari.

In Safari the Weight and Step plot are not displayed and I get this error:
"Error: Cannot add item: item with id cc173118-c076-4de0-a1dd-14a343cc9ec4 already exists"

Any clue anyon

[2016-10-07 10:16] Tooa commented on #2137
Can you provide a **minimal** example that shows the issue? Your example contains a lot of code. Therefore it is hard to actually focus on the real issue.

Best Uli

[2016-10-07 13:38] 2dvisio commented on #2137
I have digged in my own code (here a slimmer version: http://jsfiddle.net/jnpwzn3c/6/ .
Apparently I had a bug in `fillDates` (caused by the `Date.toISOString()` function that duplicated some of the keys in the array that I fed to Dataset.

The new function `fillDatesFixed` used here: http://jsfiddle.net/jnpwzn3c/7/ does not duplicate data, thus no problems in generating the bar chart.

However, t

[2016-10-07 14:09] mojoaxel commented on #2137
@2dvisio If you think you found a bug please open a new issue.

[2016-10-07 14:09] #2137 closed

[2016-10-07 15:25] JamieZhang2016 opened #2138 "Network - Question - How to reposition nodes after openCluster()?"
Please see my screen shots:
![2016-10-07 10_11_55-stratozone](https://cloud.githubusercontent.com/assets/20972448/19195620/fe439410-8c77-11e6-9d5e-1626413f5689.png)
![2016-10-07 10_11_06-stratozone](https://cloud.githubusercontent.com/assets/20972448/19195622/fe50a998-8c77-11e6-803c-b27ced3c270d.png)
![2016-10-07 10_10_48-stratozone](https://cloud.githubusercontent.com/assets/20972448/19195621/fe4

[2016-10-07 15:28] JamieZhang2016 commented on #2138
The group "Unknown Role" is the open cluster example in my question. Picture 2 shows all nodes are Crowded together when I call openCluster().

Below is my codes:

            network.on('doubleClick', function (properties) {
                var clickedNodeId = properties.nodes;

                if (clickedNodeId.toString().indexOf('cluster') != -1) {
                    if (properties.nodes.lengt

[2016-10-07 17:40] dragonzone commented on #2138
Make sure the network's physics are enabled. Seems to work fine. Here is example of clustering you can view: https://jsfiddle.net/jfycv5ar/

[2016-10-07 21:34] JamieZhang2016 commented on #2138
Thanks dragonzone, I know why they crowded together after un-cluster, because I set the physics as false, because I don't want the nodes are jumping when drag them or open cluster.

So if I need to set physics as true, do you know how to avoid the "jumping" on the nodes? I've read the document for a while but didn't find the solution. Thanks a lot!

[2016-10-07 21:41] JamieZhang2016 commented on #2138
Basically what I want is to keep the chart the same as before when I set physics as false. But since I met the problem in the screen shots, I need to set physics to true, I think perhaps there are some setting in physics options can achieve my goal.

[2016-10-08 00:22] dragonzone commented on #2138
If you are turning the physics off & want to preserve all the nodes in the same position after they are un-clustered, then the only way I can come up with is the following:

1) Before clustering all the nodes into parent node, you will need to get & set the current X & Y coordinates of all those nodes (as in one of your old post: https://github.com/almende/vis/issues/2017)
2) Do you clustering to

[2016-10-08 08:23] lehuyhuan commented on #2104
Dear all,
After some days to reading the code and try to modify, I have edited the code and got the result
- one edge has 2 label for description
- one edge has 2 color parameter for visual scene when monitor the network (is used to monitor the traffic on network)
![canvas](https://cloud.githubusercontent.com/assets/22288683/19211583/2e5a44da-8d6a-11e6-8b42-9f734edabcb0.png)

But when I increase t

[2016-10-08 12:53] mafzst commented on #1951
@asiegfried Not working for me :(

[2016-10-08 20:02] mojoaxel commented on #1951
@mafzst Can you please provide an simple example of your problem e.g. on [jsbin](jsbin.com).

[2016-10-08 22:10] TheoAndersen opened #2139 "Is this possible: Grouping of network nodes inside a visible box?"
I'm just looking at vis, which seems to be a great, really simple too use framework for diagramming.

In the diagramming type I'm trying to make, i need a way create several groups on a set of nodes, where the groupings might overlap nodes.

The best way to visualize this would be some sort of box grouping, with a slightly transparent background.

The only sort of grouping I've been able to find,

[2016-10-09 03:09] glampr opened #2140 "Hierarchical layout produces very "stretched" networks"
By just modifying the 'nodeSpacing' options of the network, I get really different results for the network.
An example can be found in this plunker https://plnkr.co/edit/QKgaku?p=preview
Initially the network layouts fine, but try to change nodeSpacing from 250 to 260 for example, then the layout seems totally wrong.

[2016-10-09 10:56] mafzst commented on #1951
@mojoaxel Actually I haven't this issue anymore. I encounter it when I provide an empty groups object in constructor.
It seems to me over complicated to me to share an example because I've wrapped the timeline in Reactjs components.

[2016-10-09 12:33] FrissAnalytics commented on #2108
ok for anyone who needs this, from the [documentation](http://visjs.org/docs/network/) it clearly reads that via the snippet below you can add a function like this:

[code]

and you can remove it via:

[code]

for a given event e.g. "beforeDrawing" you can specify multiple callback functions, but when you want to remove a specific one, you have provide the **identical** function again.

However, i

[2016-10-09 16:44] mojoaxel commented on #1951
Closing...Feel free to reopen if the problem still exists and can be reproduced.

[2016-10-09 20:40] yotamberk commented on #2119
One way to do it is by defining the two times as one subgroup and set the timeline options with
`stack: false` - this will cause times to overlap. Unfortunately it is not possible yet to define non-stacking in a subgroup and stacking between subgroups so in this solution the subgroup will only supply some sense to times that belong to the same planned/estimate date pair.
It might be a good feature

[2016-10-09 20:44] yotamberk commented on #2132
Sounds like a good idea! Quite useful!

[2016-10-09 20:47] wimrijnders commented on #1781
Hi Almende,

This is to inform you that I have forked vis.js and am currently refactoring the Graph3D part.
My ultimate goal is is make multiple graphs ('groups' I believe they are called elsewhere), but this is the first step.

I'm rearranging the code so that the parts per graph style are grouped together in 'style handlers', in the process getting rid of all the tests on selected style such as:

[2016-10-09 20:56] yotamberk commented on #2112
You can use the `template` option. see http://visjs.org/docs/timeline/#Templates

[2016-10-10 00:13] aurium commented on #1994
Can you please show one or some test expressions and the expected graph in logarithmic Z axis?

[2016-10-10 01:28] lucasf10 commented on #2117
Hey Nicolas, thanks for answering. I did it with html2canvas but it doesn't save the full timeline, only whats showing, so if its a really big TL it's not very useful. Any other idea?

[2016-10-10 07:35] qazimir commented on #2121
Try move with mouse inside the node and then click on the node.

[2016-10-10 09:30] wimrijnders commented on #1781
Question, wrt. my previous post here:

I'm making the changes in the master branch - I understand that these should later be pulled into the develop branch.
But shouldn't I have done the changes in the develop branch to begin with?

Just wondering.

[2016-10-10 09:56] Stexxen commented on #1781
@wimrijnders Hi is there any reason you are specifically forking vis.js and not adding your changes as a pull request?

[2016-10-10 09:59] wimrijnders commented on #1781
OK, my ignorance is showing here....

I thought that was how a pull request worked, i.e. you fork, make changes
and return the changes from the fork in a pull request.

If this is not the way to do it, please advise me what the correct
procedure is.

Met vriendelijke groet,

Wim Rijnders
http://axizo.nl

On Mon, Oct 10, 2016 at 11:56 AM, Steven <notifications@github.com> wrote:

[2016-10-10 10:09] Stexxen commented on #1781
Sorry that was my assumption, that you meant fork as in a permanent one.
Please ignore me :-S

In regards to your changes, any pulls must be done on the develop branch, not the master.
Cheers,
S.

[2016-10-10 10:16] wimrijnders commented on #1781
Ah, ok. No, I wasn't planning on maintaining a fork myself! I have every
intention of folding the changes back to the main project. I have enough
kids to take care of :-).

Pulls to the develop branch: understood. But chould I also be doing the
changes in the develop branch? I used the master as base right now.

Met vriendelijke groet,

Wim Rijnders
http://axizo.nl

On Mon, Oct 10, 2016 at 12:09 P

[2016-10-10 10:18] Stexxen commented on #1781
yes please make changes to develop branch, as that has quite a few pulls already done on it. So is significantly ahead.

[2016-10-10 10:21] wimrijnders commented on #1781
OK thanks, will do. I'll merge my changes into develop and continue from
there.

Met vriendelijke groet,

Wim Rijnders
http://axizo.nl

On Mon, Oct 10, 2016 at 12:18 PM, Steven <notifications@github.com> wrote:

[2016-10-10 15:12] egorlitsky commented on #2135
Ok. I think that еhis functionality is not present in the Vis.js library.
Thank you!

[2016-10-10 15:12] #2135 closed

[2016-10-10 17:34] mojoaxel commented on #2121
@qazimir I don't see an issue here. Please describe in more detail what your problem is.

[2016-10-10 17:36] mojoaxel commented on #2117
I see no way of doing that. Nodes get removed, when they leave the visible space. Maybe there is a way to write your own renderer based on the timelines data but that would be complicated. Sorry.

[2016-10-10 17:36] #2117 closed

[2016-10-10 20:57] yotamberk commented on #2080
I'm having the same problem...
I'm investigating this now and testing the code - I hope to understand what's causing this majour degraded performance soon...

[2016-10-10 22:23] yotamberk commented on #2027
Hey @ZvikaZ, I'm not sure the rtl should be derived automatically from the HTML's `dir`.
You might want a left-to-right timeline in a rtl website. Furthermore, I don't think it's fair to enforce rtl with an external attribute.
I did add an appropriate documentation for the `rtl` option. I hope this satisfies users.

[2016-10-11 03:57] ankitgoyal100 opened #2142 "Network node `x` and `y` coordinates not working"
Hi, when I try to manually set a node's `x` and `y` coordinates, nothing changes and the nodes stay in their default stabilized position. What am I doing wrong?

Here are the options I'm passing to my network:
[code]

[2016-10-11 05:21] ZvikaZ commented on #2027
Please read again my original post.
By default, when the timeline is inside an RTL element, it's not rendered as a regular LTR timeline - it's rendered with mistakes...

In the current situation, if the user has an RTL document, and he wants an LTR timeline, he has to wrap it in an LTR div, and don't give the timeline any parameters.
If he wants it to be an RTL timeline, he should give it the corr

[2016-10-11 06:20] yotamberk commented on #2027
Ok i see what you mean.
It can be done.
Do you want to submit a PR or do you want me to take a shot at it?

בתאריך 11 באוק׳ 2016 8:21 לפנה״צ,‏ "Zvika" <notifications@github.com> כתב:

[2016-10-11 06:21] ZvikaZ commented on #2027
Well, if you can do it it'd be great.
Thanks!

בתאריך 11 באוק׳ 2016 09:20,‏ "yotamberk" <notifications@github.com> כתב:

[2016-10-11 06:26] yotamberk commented on #2027
I'll give it a go during the holidays. Chag Sameah! ;)

בתאריך 11 באוק׳ 2016 9:22 לפנה״צ,‏ "Zvika" <notifications@github.com> כתב:

[2016-10-11 07:08] qazimir commented on #2121
Hi, I forget to test it in other browsers. It seems to be problem only in chrome. My current chrome version is 53.0.2785.143 m (64-bit).

Problem is that the blur event executes after click on node. If you don't see the problem then it is probably bug in my browser.

Sorry for false alert ;-)

[2016-10-11 13:38] dragonzone commented on #2138
After doing some more research, you can do the following, which was in the vis network doc. Here is the code:

https://jsfiddle.net/r4ks0hk7/

Basically, vis network has a method called openCluster() (http://visjs.org/docs/network/#methods), which allows you to pass the options, where the options will be the original x & y coord of the nodes before they were clustered. This works even when the phy

[2016-10-11 13:49] dragonzone commented on #2142
There is an example here that sets the x & y coord for you to study. Hope this help.

https://github.com/almende/vis/issues/2017

[2016-10-11 17:20] ankitgoyal100 commented on #2142
@dragonzone I am correctly setting the `x` and `y` keys of the node but the pre-defined node locations are not reflected on the graph. Here is my node json:

[code]

What am I doing wrong?

[2016-10-11 17:37] ankitgoyal100 commented on #2142
@dragonzone it seems to be an issue with `hierarchicalLayout` enabled. I don't think I can preset node locations with this option enabled. Is that correct? If so, how do I work around this?

[2016-10-11 18:28] JamieZhang2016 commented on #2138
dragonzone, really appreciate your detailed information! I will try your solution.

[2016-10-11 22:04] yotamberk commented on #2080
Hi again,
I've done some tests and it seems that in the develop branch there is no performance issue.
I'm not sure what exactly solved the problem but someone's PR eliminated the jittery behavior!
I suggest  trying the develop branch build in your application and see if that's better.

@mojoaxel - do you know when a release is planned? I think this issue is quite serious and should be fixed ASAP.

[2016-10-11 22:39] yotamberk commented on #1906
Sounds like a good idea!
Can you submit a PR with this addition?

[2016-10-11 23:50] dragonzone commented on #2142
Once the hierarchical layout is enabled, it takes precedence over the x & y coord of the node. In you case, if you want to manually set the x & y coord, you should not set anything in the options's layout hierarchical (just leave it blank) and use the default layout.

[2016-10-12 19:40] 4integration opened #2144 "Possibility to use onClick to show more info"
Hi,

Is it possible to use onClick/onHover and to show a popup with HTML formatted text on timeline? If so I cannot find the docs or solution; grateful for any help.

/ Joacim

[2016-10-12 20:23] yotamberk commented on #2144
Currently there is no such option. It's a good feature request!

The way I did it is by injecting a popup via the `template` option. This can work but it really depends what you are using:
- Using pure html/css, you can inject via the `template` a div with your popup (you can add one manually with your HTML and CSS) with `display: none` and have it change to `display:block' with the css pseudo `:h

[2016-10-13 03:46] wimrijnders opened #2146 "Question: Which documentation generator is assumed?"
I'm currently looking at the code for the graph3d part, and wondering about what format to use for the header comments.

Is there a documentation generator prescribed for the code within the vis.js project? When I encounter e.g. this:

[code]

...it looks suspiciously like _jsdoc_. Is this correct, or is another documentation generator used?

[2016-10-13 07:48] 4integration commented on #2144
Ok, thanks for your input @yotamberk

I would like to keep it as simple as possible (pure html/css but since jQuery is already used that is an option) and have the data stored as JSON.
Do you have any example code that does this?

[2016-10-13 09:05] mojoaxel commented on #2027
closed with #2141

[2016-10-13 10:44] 4integration opened #2147 "Synchronize two or more timelines"
Hi,

I am trying to get two (or more) timelines synchronized as it is @ http://almende.github.io/chap-links-library/js/timeline/examples/example10_link_two_timelines.html

I can get the event and change the window but there is delay, i.e. it adjusts when stop the movement.
I can see the events being generated in log.
How can it be solved?

      // Create a Timeline
      timeline2 = new vis.Timel

[2016-10-13 12:54] 4integration commented on #2147
[roadmap.zip](https://github.com/almende/vis/files/527121/roadmap.zip)

[2016-10-13 13:02] 4integration commented on #2147
Also if I impl the event listener on both it seems to get "circular dependency" and trigger each other

[roadmap.zip](https://github.com/almende/vis/files/527128/roadmap.zip)

[2016-10-13 15:13] JamieZhang2016 opened #2148 "Network - Question - Is it possible to set interaction zoomView option dynamically."
I got a new requirement on the Network Zooming function. what I'd like to do is dynamically set Network  Zooming Enable or Disable by clicking a button.
I know when build the network we can set option, in "interaction" we can set zoomView as false or true. However that's before drawing the network chart right?

So my question is, can we dynamically set zooming enable or disable after the chart gen

[2016-10-13 15:16] JamieZhang2016 commented on #2148
I've tried to disable the network canvas "mousewheel" event, actually it works, just like we disable the Zooming on the network. But the problem is "mousewheel" will be 100% not working on the chart. But I want to keep the scrolling page on network, which by setting build in option zoomView can achieve this goal.

[2016-10-14 14:52] dragonzone commented on #2148
Almost all the network, nodes & edges options are available in this example here: http://visjs.org/examples/network/other/configuration.html

You should play around with it & at the bottom, it will generate the values of those options that were changed.

To dynamically changed those options, there is a network.setOptions() where you can pass those params in. Here is the example w/ what you are loo

[2016-10-14 15:01] JamieZhang2016 commented on #2148
dragonzone, the network.setOptions works great! Thanks a lot for your help!

[2016-10-14 15:09] dragonzone commented on #2148
NP. You have a few other issues open, if they work, try to close them out so they do not appear to be so many issue in this proj. This would help vis.js team greatly.

[2016-10-14 16:10] JamieZhang2016 commented on #2148
ok, I will close those already fixed.

[2016-10-14 16:10] #2148 closed

[2016-10-14 16:11] #2138 closed

[2016-10-14 21:24] 15828881249 opened #2149 "刘新磊"
刘新磊

[2016-10-14 21:26] #2149 closed

[2016-10-15 07:34] yotamberk commented on #2144
Hey @4integration ,
simply add to your timeline options:
[code]

and add style like this:
[code]
Ofcourse you can change the html and css as you want.
Hope that helps! =)

[2016-10-15 08:30] yotamberk commented on #2147
Hi @4integration ,
The example you've attached doesn't contain the server to serve the files you're calling through AJAX in your client so the example doesn't work without some changes =(

After including the data explicitly in the html, everything seemed to work fine. The only thing is that there is an animation on the movement so it seems like the movement is registering only at the end of an ac

[2016-10-15 18:48] dbkaplun opened #2151 "Support custom network hierarchical sortMethod"
Looks like this was introduced as private code but never implemented: https://github.com/almende/vis/blob/6de24a283c0ef549c616470f53aaaf0cb1488f82/lib/network/modules/LayoutEngine.js#L332

My particular use case is a [displacy](https://demos.explosion.ai/displacy/) clone for sentence diagramming.

I propose that a function, akin to the first argument to [`Array#sort`](https://developer.mozilla.org

[2016-10-16 10:32] anrehman opened #2154 "Zoom for Network, un zoom itself when scroll after zooming"
Hello,

I have used vis.js network in my project and have a very large network with around 50 nodes. To view them properly i am using the zoom functionality but after zooming when i scroll it unzoom itself.

How can i resolve that? Is it a bug in vis.js network or i have implemented it incorrectly?

Thank you

[2016-10-16 15:14] yotamberk commented on #2154
Can you supply a jsfiddle?

[2016-10-16 16:43] anrehman commented on #2154
yes, i will try to make it and then share it as early as possible

[2016-10-17 06:19] 4integration commented on #2144
Thanks @yotamberk it helps and got the idea :)
It needs some more polishing and so on but great start, thanks again

[2016-10-17 06:48] 4integration commented on #2147
It seems I missed some parts :( sorry about that.
Also fixed the data inclusion..

Two timelines, to be real-time synchronized when changed so listening on both "rangechange" and "rangechanged". This implies that if you change timeline1 it will notify timeline2 to move but then it seems that timeline2 send event "I moved" which notifies timeline1 to move and the battle is on :)

Attached updated s

[2016-10-17 07:00] yotamberk commented on #2147
It seems to work perfectly fine when setting
`timeline1.setWindow(range.start, range.end, {animation: false});`
I think the animation delay screws things up to cause some kind of loop calling one another and getting the weird behavior.
I suggest simply removing the animation with `{animation: false}`.

[2016-10-17 07:14] #2144 closed

[2016-10-17 07:26] #369 closed

[2016-10-17 07:30] #407 closed

[2016-10-17 07:53] mojoaxel commented on #2121
I still can not reproduce this with Chrome (50.0.2661.75). I say let's just forget it and reopen if the problem still exists in later browser version.

[2016-10-17 07:53] #2121 closed

[2016-10-17 08:04] mojoaxel opened #2155 "Release v4.17"
We are working on the next v4.17 release.
- [x] Checkout if we have major or minor changes.
- [x] Who should make the release? (@mojoaxel, @yotamberk, @ludost, @josdejong)
- [x] Set timeframe for the new release.
- [x] Identify major bugs and add them to the 4.17 milestone.
- [x] Fix major bugs and complete [milestone v4.17](/almende/vis/milestone/1).
# Official Release Checklist
## Build
- [x] Ch

[2016-10-17 08:04] mojoaxel commented on #2080
@yotamberk I've created issue #2155 for that. Let's talk there.

[2016-10-17 08:29] yotamberk commented on #2155
Hi @mojoaxel,
Great! I've been looking forward to this. I think we can maintain this library well.
Regarding the notes:
- the release should be only a minor - there are no major changes to justify any higher increment in version.
- We might need @ludost for the official release, or at least his approval. we can prepare all the notes and stable files. Most of the work we can divide between us (I ca

[2016-10-17 08:50] mojoaxel commented on #2155
Good! But we should be sure that existing applications can not break because of this. The last release was quite some time ago.

We can prepare the release but (I think) at the moment only @ludost can update npm.
:-) I try to get some work done this week.

That would be really great!

I think the best way to politely get rid of old issues would be to ask the owner to close it and mark the issue al

[2016-10-17 08:59] ludost commented on #2155
Hi guys,
Great work. I'm afraid that I'm not even sure if I can update Npm. But if
not I can get such permission from Alex and/or Jos. I'll make sure I get
that challenge done by tomorrow latest. (Please remind me if you didn't
hear anything by noon CEST tomorrow)

Ludo.

On Oct 17, 2016 10:50, "Alexander Wunschik" <notifications@github.com>
wrote:

the release should be only a minor - there are n

[2016-10-17 09:21] yotamberk commented on #2155
@ludost  Thanks!

@mojoaxel

Agree! How can we test this out?

Woks for me! I'll start adding this from oldest to newsest.

For now I think I'll do it manually. If I see it's too time constraining, we might consider that option.

[2016-10-17 10:54] TJRL opened #2156 "Make nodes link to url"
I'm trying to make each node in my network link to a different url. I thought of either using an onclick event like the example here: http://visjs.org/examples/network/events/interactionEvents.html , or change the html of the node like the example here: http://visjs.org/examples/network/nodeStyles/HTMLInNodes.html . But both examples seem to complicated for what I want, nor do I completely underst

[2016-10-17 10:54] mojoaxel commented on #2073
fixed with ea859d4c79fed82a426affa2dcc7cf95821e1614

[2016-10-17 10:54] #2073 closed

[2016-10-17 12:03] yotamberk commented on #2156
Hey @TJRL,
There is no easy way to add a link in html canvas...
http://stackoverflow.com/questions/6215841/create-links-in-html-canvas

I believe the best way is using an onclick event  as you suggested.

[2016-10-17 12:05] mojoaxel commented on #1444
edge type "circle" is now in the develop branch :-)

[2016-10-17 12:09] mojoaxel commented on #1993
@kagestrife The edge ending "circel" is now implemented in the "develop" branch. Can we close this issue or do you need more edge endings?

[2016-10-17 12:17] kagestrife commented on #1993
@mojoaxel I think for the time being we do not need anything else. Thanks for the help.

[2016-10-17 12:17] #1993 closed

[2016-10-17 12:45] mojoaxel commented on #642
@ebuyuk Is this still an issue? If not can you please close this. Thanks!

[2016-10-17 12:46] mojoaxel commented on #971
@andrewtennison Is this still an issue? If not can you please close this. Thanks!

[2016-10-17 12:50] mojoaxel commented on #778
@almusawi Is this still an issue? If not can you please close this. Thanks!

[2016-10-17 12:50] mojoaxel commented on #294
@mpilone Is this still an issue? If not can you please close this. Thanks!

[2016-10-17 12:51] mojoaxel commented on #450
@brichbe Is this still an issue? If not can you please close this. Thanks!

[2016-10-17 12:52] mojoaxel commented on #668
@deepika087 Is this still an issue? If not can you please close this. Thanks!

[2016-10-17 13:02] yotamberk commented on #717
Solved by #2062

[2016-10-17 13:02] #717 closed

[2016-10-17 13:07] mojoaxel commented on #680
@jrviz Is this still an issue? If not can you please close this. Thanks!

[2016-10-17 13:07] mojoaxel commented on #687
@spatialillusions Is this still an issue? If not can you please close this. Thanks!

[2016-10-17 13:09] #698 closed

[2016-10-17 13:09] mojoaxel commented on #2095
@MisterDev Is this still an issue? If not can you please close this. Thanks!

[2016-10-17 13:13] yotamberk commented on #784
@gabriellima  Do you mean to add in a PR?
Does it work for oyu when changing the CSS in the devtools?

[2016-10-17 13:15] #2080 closed

[2016-10-17 13:18] yotamberk commented on #825
@labianchin Is this problem still relevant?

[2016-10-17 13:19] mojoaxel commented on #1335
@stanleyxu2005 Please create a new issue for that if the problem still exists.

Im closing this one for now.

[2016-10-17 13:19] #1335 closed

[2016-10-17 13:22] mojoaxel commented on #1631
This looks fixes in the current version v4.16.1

[2016-10-17 13:22] #1631 closed

[2016-10-17 13:23] #1625 closed

[2016-10-17 13:25] controversial commented on #1625
Nice.

[2016-10-17 13:29] mojoaxel commented on #1625
@controversial Still not in master. But it will be in v4.17

[2016-10-17 13:30] controversial commented on #1625
Ok. No rush. Glad to see vis has some active development now.
On Mon, Oct 17, 2016 at 9:29 AM Alexander Wunschik <notifications@github.com>
wrote:

[2016-10-17 13:42] dragonzone commented on #2156
Vis.js network has a built-in event called, 'selectNode', where when node(s) are selected, it will pass in the all the nodes & edges (to & from the selected nodes), etc. that was clicked on. (Rather than the onClick event that will be fired if a node is selected or not). You then can get the selected node's ID & get it's properties back, such as URL & then redirect them to it.

Here is an example

[2016-10-17 13:43] dragonzone commented on #2156
You can go here to get the full list of events: http://visjs.org/docs/network/#Events

[2016-10-17 14:00] TJRL commented on #2156
That helps a lot! Thanks dragonzone!

[2016-10-17 14:04] #2156 closed

[2016-10-17 14:37] stanleyxu2005 commented on #1335
Just tested it, so far it is good. Thanks for the heads up.

[2016-10-17 14:52] dragonzone commented on #2139
If you are looking to drawing (for box grouping) or highlighting on the vis.js network, you can probably read this issue so it will get you some idea of how to do it: https://github.com/almende/vis/issues/977

[2016-10-17 15:11] dragonzone commented on #2084
I've been dealing alot w/ vis.js clustering and uncluster without any issue. I am not quite sure what you mean, I have example below where you can cluster them, then update the node's value without any issue:

https://jsfiddle.net/4hogk1a7/1/

If you can, modify that code to show your issue, thx!

[2016-10-17 17:07] Stexxen commented on #1979
Already fixed with https://github.com/almende/vis/commit/f516cb0721248ef5c5792195739aee1bc2e5fb79

[2016-10-17 17:09] #687 closed

[2016-10-17 17:19] MisterDev commented on #2095
Hi @mojoaxel, I haven't found why this happens and the repo has not been updated since I opened this, so I guess this strange behaviour is still here.

If you mean my issue, that's solved :)

[2016-10-17 17:46] Stexxen commented on #2110
Problem is caused by FollowScale Function here -
https://github.com/almende/vis/blob/develop/lib/timeline/component/DataScale.js#L134

Its job is to align the minor/major gridlines to appropriate values so that they line up correctly on both right and left sides.

I have a partial fix, working within these hardcoded parameters - https://github.com/almende/vis/blob/develop/lib/timeline/component/Da

[2016-10-17 18:13] #2095 closed

[2016-10-17 18:43] neolivz opened #2163 "Build creates wrong code for moment.js embed"
When web pack build is happening it is creating
[code]
this is due to the build process is repeatdly going through each of the require and embeddin it into the vis.js file. This is fine as long full require is present but in moment.js|

[code]
which causes build to create wrong output.

[2016-10-17 18:49] ankitgoyal100 opened #2164 "How to prevent horizontal arrows in a directed (UD) network"
I have a directed network and I don't want any horizontal arrows. For instance, if I have this graph:
<img width="214" alt="screen shot 2016-10-17 at 11 47 14 am" src="https://cloud.githubusercontent.com/assets/3400675/19450769/99318bc8-945f-11e6-88ae-8b1a7d765124.png"> I want node "1" to be at the top level, followed by node "2" at a lower level, followed by node "3" at the lowest level. Is there

[2016-10-17 19:13] mojoaxel commented on #2164
First you must enable hiracical Layout:
[code]
Than you can set a "level" to each node.

Here is an example:
http://jsbin.com/duqasu/4/edit?js,output

[2016-10-17 19:28] mojoaxel commented on #2163
There are multiple things to note using vis with webpack:

1) You should always importing only the vis modules that you use in your application and not the big "all-inclusive" distribution-version.

2) Vis.js is written in ES2015. You need to setup babel for this:
[code]

3) There is a problem importing moment.js with webpack. [See here](http://stackoverflow.com/questions/25384360/how-to-prevent-m

[2016-10-17 19:28] #2163 closed

[2016-10-17 19:35] ankitgoyal100 commented on #2164
@mojoaxel When there is one node at each level, one of the edges is hidden. How do I force the graph to not hide the edge.

Here is an example:
http://jsbin.com/yohawaquwo/1/edit?js,output

[2016-10-17 20:07] TheoAndersen commented on #2139
Actually I'm looking for physical grouping of elements, so that they will stay inside a drawed box (not just highlighting)

But I've been thinking that maybe i should just make it an option to just redraw the network, only showing the grouping (simplified network) - that might also be good enough

[2016-10-17 22:03] #1448 closed

[2016-10-17 22:06] #1445 closed

[2016-10-17 22:07] #2142 closed

[2016-10-18 07:14] 4integration commented on #2147
Yes, it works! Thanks @yotamberk

[2016-10-18 07:18] yotamberk commented on #2147
No problem =)

[2016-10-18 07:18] #2147 closed

[2016-10-18 08:49] mojoaxel commented on #2139
This functionality is not there yet.
Let's call it a feature-request and see if somebody will pick it up...

[2016-10-18 09:15] #1388 closed

[2016-10-18 09:18] #1339 closed

[2016-10-18 09:19] #1591 closed

[2016-10-18 09:21] yotamberk commented on #1550
@nk23 Nope. But it seems to work with two syced timelines as shown above. Does this not fit your needs?

[2016-10-18 09:21] #1550 closed

[2016-10-18 09:22] yotamberk commented on #1538
@netrc is this still a relevant problem?

[2016-10-18 09:25] yotamberk commented on #1522
@waqas7803 Is this issue still relevant? It seems to be fine now.

[2016-10-18 09:25] #1522 closed

[2016-10-18 09:27] yotamberk commented on #1489
Format for the timeAxis will now accept a function (in the next release).

[2016-10-18 09:27] #1489 closed

[2016-10-18 10:30] ClaPro opened #2169 "WebWorker + Network"
Having to deal with intense calculations, I'd like to use **webworkers** with Networks.
Not being able to pass DOM objects(container) between main thread and webworker, how i can create an instance of network = new vis.Network(container, data, options); in a worker?
I'd like to know if is possibile assign a **container** only later.

Thank you,
C.

[2016-10-18 10:51] rohanmallelwar commented on #1781
Yes, I'm interested both in learning and contributing. Let me know the process to enrol myself for this.

[2016-10-18 11:10] Tooa commented on #2169
Hi,
some time ago someone worked on a webworker version [1]. Maybe you can pick it up and finish.

[1] https://github.com/almende/vis/pull/1348

[2016-10-18 11:32] mojoaxel commented on #1550
@danielzmsutter Please consider publishing your example code (e.g. on jsbin or as pull-request). Sometimes people search for that kind of layout and it would be a nice contribution to open source!

[2016-10-18 11:36] mojoaxel commented on #1602
@yotamberk Why did you close this feature-request? I think there is still a need for this.

[2016-10-18 11:45] mojoaxel opened #2170 "Managing help"
The thread in #1781 is getting bigger and bigger. A lot of people want to help but seem not willing to RTFM (read the manual). I propose we copy the important parts of #1781 into a new markdown-page in the misc folder and close the issue. The "We need Help" links should then point to the new page.

The main topics should be:
* What is the current status and the role of almende.
* Wow can a beginne

[2016-10-18 11:45] yotamberk commented on #1602
My mistake. I thought it was implemented by your PR moving these libraries in package.json but when i read it again, i understand it doesn't fulfill this issue. Sorry about that

[2016-10-18 12:55] dragonzone commented on #2164
The edges need to have a smooth setting one of the following: 'diagonalCross' OR 'curvedCW' OR 'curvedCCW'. You can go here go get all other types: http://visjs.org/docs/network/edges.html

You can go here to view an example: https://jsfiddle.net/krp3dx1e/

Good luck!

[2016-10-18 13:14] #2164 closed

[2016-10-18 13:36] dragonzone commented on #2125
I think this issue can be closed b/c the above solution will work.

[2016-10-18 14:25] #2125 closed

[2016-10-18 14:25] palra opened #2172 "Dynamic time scale for timelines"
Hello,

I'm looking for implementing a timeline for one of my projects. I would like to know if it possible to use dynamic time scales. For instance, I need to implement a timeline covering 4 years : for the first year, the reference unit would be the trimester, for the second year the time unit would be a semester, and for the two last years the time unit would be an entire year. In other words,

[2016-10-18 14:30] mojoaxel commented on #1781
@dragonzone Can you please contact me. I would like to make you a team member if you are interested.

[2016-10-18 14:46] federicoco opened #2173 "adding Italian locale language"
I know that you only have the english and Deutsche locale languages,
I would like to ask if it was possible to add italian locale language, and I would also
provide the datas translation for italian locale language.
Maybe it would be great to add on your site a form where everyone can insert the date/locale equivalent datas in their language.

if you are interested in adding italian local language

[2016-10-18 14:46] yotamberk commented on #2172
Hi @palra ,
In the develop branch there is a new function `options.format' which takes as arguments the date, scale and step for the current label. You might be able to use that option to show labels according to date (e.g. in pseudo-code
[code]
)

If you want to play around with this, I suggest you pull the project, checkout to develop and build it. There is an example in the examples>timeline>ot

[2016-10-18 16:33] Tooa commented on #2173
Hi,
sounds great! If you provide the translation for the following two snippets, I can create a pull request.

**1. Network**

[code]

**2. Timeline**

[code]

Best Uli

[2016-10-18 18:26] federicoco commented on #2173
//Italiano
exports['it'] = {
  edit: 'Modifica',
  del: 'Cancella la selezione',
  back: 'Indietro',
  addNode: 'Aggiungi un nodo',
  addEdge: 'Aggiungi un vertice',
  editNode: 'Modifica il nodo',
  editEdge: 'Modifica il vertice',
  addDescription: 'Clicca per aggiungere un nuovo nodo',
  edgeDescription: 'Clicca su un nodo e trascinalo ad un altro nodo per connetterli.,
  editEdgeDescription: '

[2016-10-18 18:59] mojoaxel commented on #2173
This is a nice idea! Does anybody know a good way to easily add translations? Maybe introducing .po files or something? Suggestions are welcome!

[2016-10-18 20:15] Unfound opened #2177 "Vis.Js Timeline Performance"
Hi,
I have encountered a significant performance decrease when moving to Vis.js from Chaplinks. I have created two identical examples that create 10 timelines with 400 items on each timeline.

If no one can get around to fixing it I can fix it with some direction from you guys. Any help would be greatly appreciated.

Issue Links / Examples:
Production Version Using Chaplinks: http://www.archive.ar

[2016-10-18 20:46] yotamberk commented on #2177
Hey @Unfound, The performance issue has been solved in the develop branch. This issue should be fixed on the next release.

[2016-10-18 22:05] mojoaxel commented on #2114
@ludost Is it ok with you/almende if we get rid of the feature-request page again and manage them here on github?

[2016-10-18 22:21] mojoaxel commented on #2177
Nice! Can we add this to our [showcases](http://visjs.org/showcase/index.html)?

Until the v.4.17 is released (hopefully in the next weeks) you could try using an older version of vis.js like v4.7.0.

Closing this as a duplicate of #2080

[2016-10-18 22:23] mojoaxel commented on #2177
@Unfound By the way: You should set a *min* value for the timelines. I think it makes no sense to scroll too far in the past here ;-)

[2016-10-18 22:23] mojoaxel commented on #2177
@Unfound By the way: You should set a *min* value for the timelines. I think it makes no sense to scroll too far in the past here ;-)

[2016-10-18 23:03] yotamberk commented on #2067
I'm not sure what you mean. Can you take a picture or simulate how you would like it to act?

[2016-10-18 23:04] yotamberk commented on #2065
@Chroedde Are the solutions suggested supply your needs? Can we close this issue?

[2016-10-19 00:44] aakashrathore opened #2180 "Dragging external events"
Hey,
First of all, great work! You have no idea how much this timeline has helped me in my projects.
Anyway, my question is, is there any way I could drag an external event(like "Eat Breakfast") and place it on the timeline (say 8:00am Oct14 2016)? I was going through the events(not the event I talked about in the previous line) of timeline and I couldn't find hovering or getting properties based

[2016-10-19 00:48] dragonzone commented on #1781
@mojoaxel , Thanks for the invite, however, I don't think I will have that much time dedicated to the project. Further, I only have experience w/ the vis.js Network & DataSet portion only. Once in awhile in my spare time, I will try to pitch out w/ the project since @AlexDM0 had helped me alot awhile back so I want to give back and don't want the project to be abandonware.

[2016-10-19 04:30] ludost commented on #2114
Yes, no problem. Do what works best for you guys.

On Oct 19, 2016 00:05, "Alexander Wunschik" <notifications@github.com>
wrote:

[2016-10-19 07:25] mojoaxel opened #2181 "Ignore the "dist" folder in the develop branch"
We should find a way of adding the `dist`folder to gitignore, in the develop branch, but keep it version controlled in the master branch.

Anybody a idea how to do that?

[2016-10-19 07:58] mojoaxel commented on #2170
fixes with f5fe722f1f0e138912e630256482d3500da840d1

[2016-10-19 07:58] #2170 closed

[2016-10-19 08:37] mojoaxel commented on #1781
##################################################################################

Please read [the new "We need help" page](//github.com/almende/vis/blob/develop/misc/we_need_help.md)! If you want the help out [start Here](//github.com/almende/vis/blob/develop/misc/how_to_help.md).

##################################################################################
_This issue is closed now._

[2016-10-19 08:57] Tooa commented on #2173
I couldn't find any hard-coded references in the code. Maybe some `Timeline` expert can help here out and point to the respective code listing. If there is no such feature, we might create another ticket tackling this support.

Best Uli

[2016-10-19 09:38] neolivz commented on #2163
@mojoaxel
1. npm install vis gives full vis library.
2. I am using typescript/aurelia/webpack when I build it fails because the vis.js file has multiple unreachable codes (which got inserted as part of the build process from the moment.js). Which in turn makes my build failure.

Maybe it would be ideal to pick and select what features you want from visjs but when you want things up and running you

[2016-10-19 11:34] mojoaxel opened #2186 "create webpack example (project)"
There should be an example or even an example project that shows how to integrate vis.js in a webpack project.

[2016-10-19 11:35] Chroedde opened #2187 "vis.js file -> only network"
Hi,
is there a version of vis.js where only the code necessary for networt - not for timeline or 2d/3d graphs - is included? I simply ask because of size reasons.

Thanks and best regards

[2016-10-19 11:35] mojoaxel commented on #2163
You could try importing only the part of vis you really use (e.g. `dist/vis-network.min.js`).

I've created a feature request to show how to integrate vis.js in a webpack project: #2186

[2016-10-19 11:37] mojoaxel commented on #2187
Yes there is: https://github.com/almende/vis/blob/master/dist/vis-network.min.js

[2016-10-19 11:37] #2187 closed

[2016-10-19 12:32] roboslone commented on #2067
I would like labels to be visible at all time. Something like that:
![1](https://cloud.githubusercontent.com/assets/1941275/19518701/2f213e14-9611-11e6-875f-ea6414b9760e.png)

[2016-10-19 12:45] mojoaxel commented on #2173
As far as I can tell this line was not used and wrong anyway.

I created #2188 to fix this. All languages should be now available in the docs and the network manipulation example as well.

[2016-10-19 15:29] touhid1259 opened #2190 "Gradient Like color on the path of the Graph2D"
Hi

I am trying to add different color or gradient like color on the path of the graph2d but it looks like there is no straight forward way or vis way of doing it. What I am trying to achieve is - suppose there is a graph2d of some data along the time axis. Now, normally this 'some data' has average value of 20. But sometimes this value rises more than 50. So, when the value is more than 50, I am

[2016-10-19 16:41] Unfound commented on #2177
Thanks for the quick responses! Yes it can be used in the showcases. The current production version is still using chaplinks. I used 4.7.0 as suggested with no performance increase in load times. The issue I am seeing is the slow load times not the zooming.

Note the following was testing in Firefox with firebug:
Vis.js v4.7.0: 4.58s (onload: 10.64s)
Chaplinks: 3.21s (onload: 5.49s)

I have create

[2016-10-19 16:47] mojoaxel commented on #2177
If your problem are not with fast moving the timeline please try 4.16.1.
I thing in your case there are just too many complicated charts at one page. You should thing about rendering them one after another.

[2016-10-19 16:54] yotamberk commented on #2177
I agree with @mojoaxel. Consider using something a mind of lazy loading to ease the loading time of the
 latest version isnt solving the problem

[2016-10-19 17:19] Unfound commented on #2177
The original jsfiddle was using the 4.16.1 and it still had the issue. Ive tried loading one after another while waiting for the previous to complete but that just resulted in them getting added to the page as each completed. The issue appears to be linear where the more timelines you add the slower it gets. Side by side chaplinks is way faster when loading large amounts of data.

Is there any way

[2016-10-19 20:48] krishnatejareddy opened #2191 "Timeline not working properly when start date is : Day of the month without leading zeros"
Hi,
I am new to Vis.js Timeline.
I implemented timeline into my project but if start date passed as  "Day of the month without leading zeros" which means start day as "(new DateTime($timelineData[$i]->date))->format("Y-n-j H:i:s")"
day as "j" in this case consider a date will be like **2016-10-7 13:15:45** item is populating in 2016-10-1 00:00:00 but if pass like  (new DateTime($timelineData[$i]->

[2016-10-19 21:06] mojoaxel commented on #2190
The only way I can think of at the moment is to overlay a second line like so: http://jsbin.com/wutita/8/edit?html,js,output

[2016-10-19 21:26] mojoaxel commented on #2190
Gradients are not possible at the moment.

[2016-10-19 21:33] mojoaxel commented on #2191
Sorry, but I don't understand what your problem is. Can you please create a jsfiddle that shows your problem?

By the way: This seems not to be a vis.js problem. This kind of questions should be better asked e.g. on [stackoverflow](http://stackoverflow.com/questions/tagged/vis.js).

[2016-10-19 21:36] krishnatejareddy commented on #2191
Sorry for that,
Can you go to
https://jsfiddle.net/krishna0796884/cua3p78s/2/
start: '2013-04-9' but item is placing in April 1st 2013 place

[2016-10-19 21:56] mojoaxel commented on #2191
The date format is wrong. The leading "0" is missing.
`'2013-04-9'`must be `'2013-04-09'` to get parsed correctly.
Or you can even use `new Date(2013, 4, 9)` instead.

[2016-10-19 21:56] #2191 closed

[2016-10-19 22:02] yuvraj11 commented on #1731
@dapinder-dhillon Thanks for the code, made my job much easier! I am new to js and was wondering how I can show the label on only "To" edges in your example as opposed to both the edges. Any hints will be greatly appreciated.

[2016-10-19 22:15] amnond opened #2192 "MusicMap Showcase"
vis.js was exactly what I needed to create the UI  :-)

http://www.nocurve.com/musicmap/

[2016-10-20 07:27] dapinder-dhillon commented on #1731
If i understand correct that you would like to show only the forwarding edges labels from the hovered node.  You try having a small condtion in showConnectedEdgesLabels method:
[code]

[2016-10-20 07:31] yotamberk commented on #2192
Cool! We're happy your enjoying the library =) The link seems to not work properly though...

[2016-10-20 07:35] yotamberk commented on #2067
the simple way to do this is simply adding in your CSS:
[code]

Try it out and see if that's what you mean. Is this good?

[2016-10-20 07:36] mojoaxel commented on #2192
@amnond Very Cool! Can we use this on our [showcases page](http://visjs.org/showcase/index.html)?

[2016-10-20 07:40] ihatecodinglikeking opened #2193 "Horizontal Scroll on mouse wheel"
Hi,
Sorry for asking question here...
Is there any way to do horizontal scroll on mouse wheel,
I want to Zoom by ctrlKey and mouse wheel but if only mouse wheel i want to have a horizontal scroll.

Can some one help on this? Its urgent...

[2016-10-20 07:43] mojoaxel commented on #2067
I don't think there is a way to ensure this. You can make the label left- or right-aligned or centered, but that doesn't ensure that it is visible at all times. For that you would have to automatically scroll and/or zoom. This kind of (strange) behavior is not implemented.

[2016-10-20 07:43] yotamberk commented on #2193
funny you ask this, I'm going to submit a PR with this feature today =)
it should be in the develop branch the next day or two

[2016-10-20 07:48] ihatecodinglikeking commented on #2193
thanks for your reply...
Is there any immediate fix for it ?
Or should  I wait for release ?

[2016-10-20 07:50] yotamberk commented on #2193
Ummm, we are working on a release the next few weeks. You can wait for the release or clone the project and build a dist file via the develop branch, and you'll have it sooner =)

[2016-10-20 07:52] yotamberk commented on #2067
Oh I see what you mean... I understood wrong what you wanted... Yeah... it's not possible currently for now

[2016-10-20 07:56] ihatecodinglikeking commented on #2193
Thanks .... one some question :(

I have a situation here.. that height is fixed and  stack:false so one or more items can place with in 5min time.. so its looking very  bad... So is there any way that I can make items overlap one by one with some top difference  kind off ?

[2016-10-20 07:57] yotamberk commented on #2193
Can you open another issue with an sample code/image with the problem?

[2016-10-20 08:07] ihatecodinglikeking opened #2194 "CSS Trick if two items has close timings and stack:false"
I have a situation here.. that height is fixed and stack:false so one or more items can place with in 5min time.. so its looking very bad... So is there any way that I can make items overlap one by one with some top difference kind off ?

example: https://jsfiddle.net/ihatecodinglikeking/a4t2fLcc/
Here  {id: 4, content: 'item 4', start: '2013-04-16 15:30:45'},
    {id: 5, content: 'item 5', start:

[2016-10-20 08:14] yotamberk commented on #2194
It sound the you don't need the `stack:false`.
Why are you defining it as false?

[2016-10-20 08:16] ihatecodinglikeking commented on #2194
height is matter for me.. so I thought stack:false will save the height

[2016-10-20 08:23] ihatecodinglikeking commented on #2194
If items are overlapped its fine in my case... but if stack:true, item 4 is waiting for item5 to fix and then on top of its placing.. In my case I dont have that much space on vertical

[2016-10-20 08:33] yotamberk commented on #2194
Sorry but i don't see an easy way to do it. I'm trying to hack at it but it seems like you need some kind of stacking margin. It might be a cool feature request!

[2016-10-20 10:42] roboslone commented on #2067
Is it possible to implement such feature? I'm not a frontend developer myself, I'm glad to provide any help I can, but it's limited.

I guess aligning labels to left in first half of timeline and to right in the second half would help, but I'm not sure if labels would clench in the middle.

[2016-10-20 11:08] mojoaxel commented on #2067
No it realy makes no sense to implement this. You could try the following things:
* Reduce the font size
* Break the labels with a `<br>`
* Set the `max` of the timeline to something like "end of last item + 12 hours"

[2016-10-20 11:56] roboslone commented on #2067
Well, yeah, but it just doesn't seem like a good solution. I guess I would have to use it though. Thanks.

[2016-10-20 12:35] ihatecodinglikeking commented on #2194
@yotamberk so cont we achieve it right now ?

[2016-10-20 12:54] mojoaxel commented on #2194
@ihatecodinglikeking I don't understand. How do you want it to look? Can you please think about what you really want/expect, than we can see if it is possible.

If height is a problem why not making all items smaller?

[2016-10-20 14:01] ihatecodinglikeking commented on #2194
@mojoaxel  thanks for you reply...
![untitled](https://cloud.githubusercontent.com/assets/22953261/19562814/b53578c2-96ab-11e6-8a83-5384a484621c.png)

In pic I marked it...
[code]

item 4 and item 5 has same start date so `stake:true` I need to scroll/drag vertically... so to prevent that I used `stake:false` , In this case I am missing item 4 as shown here : https://jsfiddle.net/ihatecodinglikeki

[2016-10-20 15:18] yotamberk commented on #1383
hey @globegithub, is this issue still relevant? We've added vertical hidden group items as mentioned in the post. Is this sufficient for you needs?

[2016-10-20 16:52] yuvraj11 commented on #1731
Thanks man, Appreciate it! Did you find this from the documentation? Because I couldn't find it in there

[2016-10-20 17:11] ihatecodinglikeking opened #2198 "Can I load timeline with standard minor/major"
HI,

Currently timeline is trying to fit into give area with all items visible according to that minor and majors are fitting, But can I  standardized minor block to months, If I zoom, It has to work in current flow.

So In this case

[code]

I have one item 1  in 2011, item 2 in 2012 and rest in 2013.
So I want to only 2013 first, on horizontal scroll I want to see remaining, Is there any way to

[2016-10-20 17:28] yotamberk commented on #2198
Not currently. but that is a very interesting Feature Request!

[2016-10-20 17:32] ihatecodinglikeking commented on #2198
@yotamberk  So no way for now ? I stuck at horizontal scroll...  #2193 but I am trying to work around it but nothing is helping  :(

[2016-10-20 17:38] yotamberk commented on #2198
Unfortunately not... I'm still working on the horizontal scrolling. Hold you horses, it should be merged by tomorrow =) - it will be in the develop branch so you can find it there when I'll reference the issue in the next PR.

[2016-10-21 14:24] #2193 closed

[2016-10-21 14:25] yotamberk commented on #2193
You now have a new option for this `horizontalScroll`. You can see this in the `develop` branch

[2016-10-21 15:44] anrehman commented on #2154
I have used the library in java (dynamically creating the graph) so it was difficult to convert to pure JS and HTML. I have created a sample here:
[https://jsfiddle.net/anrehman/hcqvhn73/13/](url)

[2016-10-21 20:22] sawatsky commented on #1957
Due to performance reasons, I also want to have all physics disabled but still be able to see multiple edges between nodes.

As a current hack, I've turned physics: false for nodes, but left physics: true for edges. Please allow me to set both to false!

[2016-10-21 22:09] yuvraj11 opened #2203 "Network: Edge labels with border and background"
Is it possible to achieve this - Display the edge label with a border and hide the part of the edge that is underneath the label? Like in the image below.
![vis_question](https://cloud.githubusercontent.com/assets/15788034/19613232/1a937346-97a0-11e6-98f0-91ef65067d87.png)

[2016-10-22 00:14] yuvraj11 commented on #123
Hi Alex, In my scenario, I have the physics turned off. Is it possible to use nodeDistance or otherwise keep a minimum distance of fixed length between nodes?

[2016-10-22 08:31] yotamberk commented on #2203
@yuvraj11 Not possible to do it currently. It's a good feature request (very easy to implement - would you like to have a go at it? I can guide you)

[2016-10-22 08:38] Tooa commented on #2203
@yotamberk Maybe you can post the relevant code parts to change and some guidance for all here. Then someone might pick it up.

[2016-10-22 09:17] yotamberk commented on #2203
Ok so here we go:

1.  in the `lib/network/options.js` file: add to `allOptions.font` a new object field which allows:
[code]

2. in `lib/network/modules/nodeHandler.js`: add the default options for this new option.

3. in `lib/network/modules/components/shared/label.js`: locate the `_drawBackground` function and add a similar function with the name `_drawBorder` (copy and paste the `_drawBackgrou

[2016-10-22 09:19] yotamberk commented on #2203
@yuvraj11 @Tooa I've basically wrote all the PR but someone needs to implement it.
It will be good practice for whoever want to get in to helping out and donate to the library in a smooth way.

[2016-10-22 09:48] dragonzone commented on #2203
No border option, however, in the vis.js showcase, there are 2 examples of how to set background color to hide the edges, which may be enough for you.

1. http://visjs.org/examples/network/labels/labelBackground.html
2. http://visjs.org/examples/network/labels/labelColorAndSize.html

@yotamberk If you wanted to extend and add the border option, it should set 'options.edges.font.border' similar to

[2016-10-22 10:25] yotamberk commented on #2203
I missed the `edges`... you're right.
I want to let someone else implement it so they can feel they are also donating to the library

[2016-10-22 10:29] yotamberk opened #2207 "Feature Request: Support React component for groupTemplate and template"
I'm a React user and need to inject React components to the timeline templates.
It would be nice if it was possible to support React components to the templates via `ReactDOM.render` in the timeline `options.template` and  `options.groupTemplate`.

[2016-10-22 10:32] yotamberk commented on #1276
@zallek Is there still a performance issue? Can we close this issue?

[2016-10-22 15:26] #2207 closed

[2016-10-23 01:31] dragonzone commented on #2203
BTW, whoever is implementing this feature, should might as well add the same feature to the nodes also to be consistent.

[2016-10-23 11:42] yotamberk commented on #1837
@shaniR Does this solve your question? Can we close the issue?

[2016-10-23 11:49] yotamberk commented on #1810
@victorjeman A horizontal doesn't make sense unless min date and max date are defined (since time is infinite and has no start or end and dragging back or forward in time would never end). Otherwise, why would you want this feature? Does your case involve a min date and max date?

[2016-10-23 11:50] yotamberk commented on #1798
Hey @najdoni, is this still a relevant issue?

[2016-10-23 11:52] yotamberk commented on #1788
@LJack2k Is this question still relevant?

[2016-10-23 11:54] yotamberk commented on #1774
Hey @BrunoM13 Is this bug still occurring?

[2016-10-23 11:55] #1773 closed

[2016-10-23 12:00] yotamberk commented on #1762
@YiuriV please open a new issue with the new issue you're having (if still relevant) with an example.

[2016-10-23 12:00] #1762 closed

[2016-10-23 12:02] yotamberk commented on #1757
@Arik100 Is this feature still relevant?

[2016-10-23 12:03] #1760 closed

[2016-10-23 12:12] yotamberk commented on #1737
@BTMorton Is this issue still relevant?

[2016-10-23 12:16] yotamberk commented on #1715
@nothor84 Is this issue still relevant? Can we close it?

[2016-10-23 12:18] yotamberk commented on #1701
@tuckwat Is this issue still relevant? Can we close this issue?

[2016-10-23 12:24] yotamberk commented on #1699
@Rikk Did the plumpjs solve the issue? Can we close this issue?

[2016-10-23 12:24] mojoaxel commented on #1757
@yotamberk I'm also interested in this feature. We should keep it open as Feature-Request.

[2016-10-23 12:24] #1675 closed

[2016-10-23 12:26] #1674 closed

[2016-10-23 12:28] mojoaxel commented on #1674
@yotamberk Are you sure this is fixed? Maybe it's a bug?

[2016-10-23 12:29] mojoaxel commented on #1699
@yotamberk I would like to keep this feature-request open until it is implemented.

[2016-10-23 12:31] yotamberk commented on #1646
@dborchers87 You can do it via `timeline.setGroups()`

[2016-10-23 12:31] #1646 closed

[2016-10-23 12:33] yotamberk commented on #1640
@thinkpadder1 is this issue still relevant? Can we close the issue?

[2016-10-23 12:36] yotamberk commented on #1636
@roypardi this issue was solved in the current develop branch. If you still have this issue, please reopen it =)

[2016-10-23 12:36] #1636 closed

[2016-10-23 12:37] yotamberk commented on #1612
@itfourp Any update for the PR you promised? :wink:

[2016-10-23 12:42] #1570 closed

[2016-10-23 12:43] #1538 closed

[2016-10-23 12:45] yotamberk commented on #1558
@vinay3206 I'm closing this issue. If you are still having trouble, feel free to reopen it.

[2016-10-23 12:45] #1558 closed

[2016-10-23 12:48] yotamberk commented on #1485
@ktre Is this issue still relevant? Can we close it?

[2016-10-23 12:51] yotamberk commented on #1476
@Seiifer How is the PR doing? Are you still working on this? Do you need help?

[2016-10-23 12:54] #1467 closed

[2016-10-23 12:56] yotamberk commented on #1460
@mrmacmusic I'm closing this issue for now. If you are still interested in a feature of this sort, please open a new issue with the detailed feature =)

[2016-10-23 12:56] #1460 closed

[2016-10-23 12:58] yotamberk commented on #1465
@mast0r the workaround sounds like a good solution. If you still think this feature should be implemented in the library itself, please feel free to open a new issue, or reopen this one =)

[2016-10-23 12:58] #1465 closed

[2016-10-23 13:00] yotamberk commented on #1434
@jbraun27 I'm closing this issue. If you still have a question, feel free to reopen this issue and and elaborate your issue.

[2016-10-23 13:00] #1434 closed

[2016-10-23 13:02] yotamberk commented on #1429
@globegithub It seems to work fine on my machine. If you still have performance issues, feel free to reopen this issue.

[2016-10-23 13:02] #1429 closed

[2016-10-23 13:02] yotamberk commented on #1757
@mojoaxel No problem. Leaving it open

[2016-10-23 13:05] yotamberk commented on #1674
@mojoaxel  it worked for me. Unless I did something wrong, I think this issue has been resolved.

[2016-10-23 13:08] yotamberk commented on #1699
@mojoaxel Sure. I think this issue is extremely difficult to implement... I think it should be implemented with an external library (like plumbjs). I'm considering to pick this feature and see what it actually means.
Although I feel it will be much more complicated than we can handle...

[2016-10-23 13:26] yotamberk commented on #1923
@mashuai I'm sorry but I don't understand the question. Can you add a picture example of what you need?

[2016-10-23 13:29] #1393 closed

[2016-10-23 13:30] yotamberk commented on #1389
@globegithub a `verticalScroll` option has been added to the `develop` branch.

[2016-10-23 13:30] #1389 closed

[2016-10-23 13:33] yotamberk commented on #1360
@tsnolan23 Is this issue still relevant? Can we close this issue?

[2016-10-23 13:33] #1338 closed

[2016-10-23 13:37] yotamberk commented on #1336
@seminice Can we close this issue?

[2016-10-23 13:38] yotamberk commented on #1295
@paolovalladolid Is this issue still relevant?

[2016-10-23 13:42] yotamberk commented on #1193
@joseramalho Did you figure out how to do this?

[2016-10-23 13:44] yotamberk commented on #1161
@daniel-pfeiffer  This issue is solved and in the `develop` branch. If you're still having this bug, please reopen this issue.

[2016-10-23 13:44] #1161 closed

[2016-10-23 14:18] Seiifer commented on #1476
@yotamberk Sorry, I'm not, I just did it the easy way for my case.
Besides, I'm no longer in the company where I worked on it.

[2016-10-23 22:25] #1157 closed

[2016-10-23 22:27] #1060 closed

[2016-10-23 22:29] yotamberk commented on #1057
@bartwitt still relevant?

[2016-10-23 22:31] yotamberk commented on #1032
@fahussain Is this issue still relevant? Did you manage to achieve what you wanted?

[2016-10-23 22:33] #1012 closed

[2016-10-23 22:35] yotamberk commented on #1010
@veger Is this still something you need?

[2016-10-24 02:17] #1640 closed

[2016-10-24 07:44] facku8 commented on #1965
If anyone is facing the issue with Html Labels not working on Safari here is the solution:

Instead:
`new Blob([url], {type: 'image/svg+xml;charset=utf-8'});`
Replace it by:
`"data:image/svg+xml;utf8,"+ encodeURIComponent(url)`

Hope, it would be helpful and will save you some time...

[2016-10-24 08:17] mojoaxel commented on #308
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 08:20] mojoaxel commented on #207
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 08:21] mojoaxel commented on #824
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 08:26] mojoaxel commented on #685
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 08:34] Rikk commented on #1699
I think of jsPlumb as a workaround. It's a big lib, too complex, docs are confusing and most of its functions were not used. I couldn't figure out the correct way not to overlap or crossover items (it would need some logic I didn't think about); I used other visual strategies to make this supportable. Whatever, it's root use is to connect html elements on the page; these elements are the items gen

[2016-10-24 08:50] joseramalho commented on #1193
I created two instances of vis and implemented the synchronization between the two instances...

[2016-10-24 08:52] yotamberk commented on #1193
So can we close this issue or do you still want to have a Feature Request for this?

[2016-10-24 09:19] BTMorton commented on #1737
We're no longer using more than one subgroup due to encountering this issue, but will be looking to re-add it soon. I'm happy for you to close this issue for now, and then if we are still encountering it later, I will re-open it.

[2016-10-24 09:25] yotamberk commented on #1737
Can you produce a jsbin so we can help solve this problem?

[2016-10-24 09:27] veger commented on #1010
That would help a lot yes

[2016-10-24 09:58] joseramalho commented on #1193
I'm not working with the tool at this point, I would like to have it in the future, but it is your backlog :)

[2016-10-24 10:04] yotamberk commented on #2181
http://stackoverflow.com/questions/1836742/using-git-how-do-i-ignore-a-file-in-one-branch-but-have-it-committed-in-another

Or

We can simply add a different `.gitignore` file for the `develop` branch and remember to not push that file to the `master`

[2016-10-24 10:06] yotamberk commented on #2180
Sounds like a cool Feature Request!
I was thinking of implementing this in the next few days.
It's not going to be an easy task but if successful, it will be very useful!
I'll assign it to myself

[2016-10-24 10:08] yotamberk commented on #1193
Changing it to Feature request =)

[2016-10-24 10:31] mojoaxel commented on #528
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:33] mojoaxel commented on #323
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:34] mojoaxel commented on #246
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:35] mojoaxel commented on #211
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:36] mojoaxel commented on #203
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:41] mojoaxel commented on #506
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:43] mojoaxel commented on #505
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:44] mojoaxel commented on #497
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:44] mojoaxel commented on #436
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:44] mojoaxel commented on #435
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:45] mojoaxel commented on #428
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:45] mojoaxel commented on #398
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:46] mojoaxel commented on #338
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:47] mojoaxel commented on #297
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:48] mojoaxel commented on #283
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:53] mojoaxel commented on #257
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:53] #273 closed

[2016-10-24 10:53] mojoaxel commented on #240
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:54] mojoaxel commented on #273
Thanks to @yotamberk for implementing this!

[2016-10-24 10:56] mojoaxel commented on #239
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:57] mojoaxel commented on #226
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:57] mojoaxel commented on #192
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 10:59] mojoaxel commented on #455
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 11:00] mojoaxel commented on #92
This is propably a duplicate of #455 and should be fixed together.

[2016-10-24 11:00] mojoaxel commented on #92
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 11:01] mojoaxel commented on #384
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 11:04] mojoaxel commented on #821
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 11:05] mojoaxel commented on #681
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 11:05] yotamberk commented on #384
@mojoaxel I've implemented a `verticalScroll` option, so I think this can be closed. It doesn't have a `ctrlKey` but that's another feature. No?

[2016-10-24 11:05] mojoaxel commented on #516
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 11:07] mojoaxel commented on #500
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 11:08] mojoaxel commented on #388
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 11:09] mojoaxel commented on #311
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 11:11] mojoaxel commented on #282
We should provide an example that shows how to use tooltips.

[2016-10-24 11:12] mojoaxel commented on #354
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 11:13] mojoaxel commented on #314
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 11:17] mojoaxel commented on #536
Tooltips are now implemented. #2209, #1884

[2016-10-24 11:17] mojoaxel commented on #442
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 11:27] mojoaxel commented on #524
Reopening as Feature-Request issue (see #2114).
Everybody: Please feel free to implement this!

[2016-10-24 11:32] mojoaxel commented on #1005
duplicate of #524

[2016-10-24 11:32] #1005 closed

[2016-10-24 11:44] mojoaxel commented on #1653
see also #1331

[2016-10-24 11:47] #2112 closed

[2016-10-24 11:48] #2067 closed

[2016-10-24 11:50] yotamberk commented on #1966
@sd101 Is this issue still relevant?

[2016-10-24 11:51] sambaheerathan opened #2225 "Couldn't Delete multiple selected Items at once"
Hi All,

When I select multiple items and try to delete them, onRemoveGroup is not fired but onRemove get fired even though I selected multiple items? Can someone tell me what I'm missing here ?

I have my timeline configuration like below

[code]

Any help appreciated

Thanks,
Sam

[2016-10-24 11:54] mojoaxel opened #2226 "Update all example pages to new layout"
The example Pages of [graph3d](http://visjs.org/graph3d_examples.html) and [graph2d](http://visjs.org/graph2d_examples.html) are much nicer than the old layout of [timeline](http://visjs.org/timeline_examples.html) and [network](http://visjs.org/network_examples.html).

The example overview of Timeline and Network should be updated.

[2016-10-24 11:54] yotamberk commented on #1949
@jcdecauxna I think we can close this issue. @brichbe is correct, it should be passed throught the data with an end date set to `end: '2016-07-15 24:00:00'`

[2016-10-24 11:54] #1949 closed

[2016-10-24 17:00] daattali commented on #1955
So has this been implemented, or is it not going to happen? I see the issue was closed but no comment was made

[2016-10-24 17:14] yotamberk commented on #1955
I thought it was implemented with your PR. My mistake.

[2016-10-25 02:18] vflyson commented on #446
There're a few unofficial packages on atmosphere (you can search for "vis" and find them easily) but they are outdated by at least 6 months.
The reason why is because Meteor is fully integrated with node packages and you can do `meteor npm install vis --save` and then include the library into the front-end space with `import vis from 'vis';` ("ecmascript" package required for "import" to work).
If

[2016-10-25 15:51] sawatsky commented on #2068
I most definitely think that this should be a Feature-Request. We can currently get the label information about Nodes in editNode; it makes sense that we should get the label information about Edges in editEdge.

The editEdge event would also need to be fired not just when the edge's links are changed. Sometimes, a user might just want to edit the edges label and shouldn't have to arbitrarily drag

[2016-10-25 16:30] KyleDumas commented on #2177
This issue appears to be worse in Safari compared to Firefox and Chrome. I can provide a url to the development version (Proxied for the outside world) if needed via email. Thanks!

[2016-10-25 18:21] BrunoM13 commented on #1774
Hi,

I don't know sorry, I haven't check yet the last release since a while.

The last mail I received from support was on April, the 5th 2016.
"I've fixed it in the |develop| branch, it will be available in the
first next release."

Sorry I can't help you

Le 23/10/2016 à 13:54, yotamberk a écrit :

---
L'absence de virus dans ce courrier électronique a été vérifiée par le logiciel antivirus Avas

[2016-10-25 18:24] ktre commented on #1485
You can close it.

Thanks,
Joseph

On Oct 23, 2016 8:48 AM, "yotamberk" <notifications@github.com> wrote:

[2016-10-25 18:24] najdoni commented on #1798
I have not checked if it was solved. I am not using vis timeline anymore (but I might in the future).

From: yotamberk [mailto:notifications@github.com]
Sent: zondag 23 oktober 2016 13:51
To: almende/vis <vis@noreply.github.com>
Cc: Najdovski Nicolas <nicolas.najdovski@geosolutions.be>; Mention <mention@noreply.github.com>
Subject: Re: [almende/vis] First month class not properly set (#1798)

Hey

[2016-10-25 18:33] yotamberk commented on #1774
I'm closing this issue. If You see it's reoccurring , feel free to reopen this issue =)

[2016-10-25 18:33] #1774 closed

[2016-10-25 18:35] yotamberk commented on #1798
Ok, I'm closing this issue. It seems to be solved. If you see it's still happening, feel free to reopen this issue =)

[2016-10-25 18:35] #1798 closed

[2016-10-25 18:35] #1485 closed

[2016-10-25 18:44] mojoaxel commented on #2114
closed with baf8d59a3018a53f0c2d57b0dc4465108354b1a8

[2016-10-25 18:44] #2114 closed

[2016-10-25 18:49] globegithub commented on #1383
My need for Vis, or similar application, went away a while ago and I'm not
quite in touch with it and I don't know enough to answer your question.
However, it's good to know that you are doing something about it.

On Thu, Oct 20, 2016 at 8:18 AM, yotamberk [Masked] <

[2016-10-25 18:49] mojoaxel commented on #2155
created a release branch [v4.17_release](https://github.com/almende/vis/tree/v4.17_release) for the release. (Please no merges only rebase to develop!)

[2016-10-25 18:54] sawatsky commented on #1738
Perhaps there should be a way to disable zoom and prevent Nodes from being dragged past the edges. That would be ideal for me.

[2016-10-25 19:08] yotamberk commented on #1383
@globegithub We are trying to get this library up and active =) If you ever decide to use this library again, you are more than welcome to ask questions and ask for Feature Requests!

[2016-10-25 19:08] #1383 closed

[2016-10-25 20:33] mast0r commented on #1383
@yotamberk Could you please explain about vertical hidden group items? I can not find any info about it.

[2016-10-25 20:53] yotamberk commented on #1383
@mast0r It's in the develop branch until the soon to go out release. It simply means that groups that are not visible in the timeline window will not be loaded to the dom. See @oinkspoink image above where you can see that the viewport is only on the 9 top groups so only their items are loaded to the dom. Once you scroll down and expose group 10, its items will be loaded dynamically, whilst when g

[2016-10-25 21:18] mojoaxel commented on #2112
@yotamberk Thanks!
@ArunSivagnanam If you have problems with the events please let us know and reopen the issue.

[2016-10-25 21:21] yotamberk commented on #2194
@ihatecodinglikeking Sorry, but it's not possible currently. You might want to add a Feature Request for an options of `stackOffset' or something of sort. It might be a good idea!

[2016-10-25 21:31] mojoaxel commented on #2194
I also looked into this issue but couldn't find a quick fix. And than forgot to answer...
A parameter "maxHeight" maight also be an option!?

[2016-10-25 21:33] mojoaxel commented on #1955
This was fixed with adedd6a853c33184ab7c819eea1815a791267e8c

[2016-10-25 21:38] mojoaxel commented on #1966
@sd101 You could provide a time with your `start`and `end` date:
[code]

[2016-10-25 21:39] mojoaxel commented on #384
You are write! This is implemented!

[2016-10-25 21:39] #384 closed

[2016-10-25 22:00] mojoaxel commented on #2181
[I don't think git has a solution for this.](http://stackoverflow.com/a/29583813/722162) :disappointed:

At the moment the best thing would be to ignore the dist folder in all branches.
In the `master` branch we than add a commit that (re-)adds the dist folder by removing it from `.gitignore`.
We than simple rebase the master-branch before each release on the develop instead of merging the two!!
B

[2016-10-25 22:06] mojoaxel commented on #1923
@yotamberk I think what @mashuai wants is to use the mousewheel to change an item's position or size. I thinks this could already been done by overwriting the mouseWheel events!? It's not trivial but possible to do all that in the user-code.

[2016-10-25 22:11] mojoaxel commented on #1738
I think zoom could be kept enabled but hit a "border" (something like maxZoom) befor nodes start leaving the canvas. This should be implemented as an new option to be en/disabled.

I'm changing this to a Feature-Request.

[2016-10-25 22:18] mojoaxel commented on #2068
@sawatsky Good point! Could you please create a new issue for that. I think this one is already a little too confusing for a clean feature-request :wink:
Thanks!

[2016-10-25 22:18] #2068 closed

[2016-10-25 22:26] mojoaxel commented on #446
I think @vflyson has described the situation perfectly! Thanks.

[2016-10-25 22:26] #446 closed

[2016-10-25 22:30] mojoaxel commented on #2225
As descripted in the [docs](http://visjs.org/docs/timeline/) `onRemoveGroup` is fired if you delete a group, not multible items.

_Please read the [docs](http://visjs.org/docs/timeline/) and ask general problems at [stackoverflow](stackoverflow.com/tags/vis.js)._

[2016-10-25 22:30] #2225 closed

[2016-10-25 22:39] mojoaxel commented on #1010
I actually think this is a solid solution in functional programming. You have a scope problem that you have to solve in your jQuery widget. That's the way to do it!

@josdejong To be consistent we hat to do this for every callback function in vis.js. I don't like this :confused:

[2016-10-25 22:52] mojoaxel commented on #1699
Have a look into [d3.js](https://d3js.org/).

There are also more [(commercial) players](https://dhtmlx.com/docs/products/dhtmlxGantt/) out there:
![image](https://cloud.githubusercontent.com/assets/600565/19707000/4fcc88ea-9b15-11e6-98d6-9e533a2da542.png)

[2016-10-25 23:00] mojoaxel commented on #2192
_@amnond As a personal note: I realy like it! You should put it on github. This has potential!_

[2016-10-25 23:08] daattali commented on #1955
thank you @mojoaxel

[2016-10-25 23:09] daattali commented on #1955
Can you consider adding "zoomin/zoomout" as API methods of the timeline, rather than just having this as an example?

[2016-10-25 23:21] mojoaxel commented on #1955
Of course! Can you please create a new issue for that. Also feel free to provide a pull-request (this time to the develop branch, please).

[2016-10-25 23:56] daattali commented on #1955
Are you sure I should create a new issue vs reopening this one? If you look at this issue'so title and description, it was describing exactly this. That's why I was confused when the issue got closed. This issue specifically asks for adding zoom as a feature of the library.

[2016-10-26 01:08] wdanilo opened #2232 "Anchor ports for connections"
Hello!
Is it possible to add anchor points for connections? So for example, my nodes are boxes and each node has several anchors on top and I want to specify how they connect to each other, so the tips of the edges would stay in the same location (anchor) when connected to a node.

Looking at the examples I didn't see such feature available right now, if so – is there any easy way to implement it

[2016-10-26 04:49] sawatsky opened #2233 "Get edge's label from editEdge event"
We should be able to get the `label` information for edges in the `editEdge` event.

Currently, we can get `label` information for nodes from `editNode`, so it makes sense to be able to get the label from `editEdge` as well.

This will require adding another event - or adjusting the current events -  for editing edges, so that users aren't required to arbitrarily move an edge's link to trigger the

[2016-10-26 07:37] mojoaxel commented on #1955
@daattali Of course you are right.
We should remove the zoom functions from the example and move the functions to the lib.

[2016-10-26 07:38] mojoaxel commented on #2232
@wdanilo Can you maybe provide some diagram or scribble what you want to achieve. It's not clear to me.

[2016-10-26 07:59] #2100 closed

[2016-10-26 09:45] mojoaxel commented on #1718
Should be fixed with #2124

[2016-10-26 09:45] #1718 closed

[2016-10-26 09:46] mojoaxel commented on #2122
Should be fixed with #2124

[2016-10-26 09:46] #2122 closed

[2016-10-26 09:49] mojoaxel commented on #2027
There is still the issue that `<html dir="rtl">` is ignored.
@yotamberk Should we do something about this?

[2016-10-26 11:59] yotamberk commented on #2027
Umm it can be easily done. I'm just still not sure what I think about it. I think it should be done instead of the options but I don't know how to document the support of this.

[2016-10-26 12:03] yotamberk commented on #384
@mojoaxel I'm rereading this feature request and I think we can still improve what is in the `develop` branch. I should add `horizontalScrollKey` and `verticalScrollKey` and maybe `scrollSpeed` could be cool. Anyways, lots of additions can be added to this

[2016-10-26 13:10] yotamberk commented on #1923
No easy way to do it. This can be a feature request

[2016-10-26 13:19] mojoaxel commented on #2155
@yotamberk I updated the [HISTORY](https://github.com/almende/vis/blob/v4.17_release/HISTORY.md#todo-version-4170) in th "v4.17_release" branch. Maybe you can have a look if you find any mistakes. If soo feel free to provide a pull-request to the "v4.17_release" branch.

[2016-10-26 13:30] mojoaxel commented on #384
:+1: Feel free to reopen and add additional functionality!

[2016-10-26 13:45] mojoaxel commented on #2027
I think the "rtl" option should have the default value "auto". If it is set to "auto" we try to guess if the user uses "rtl" e.g. by looking for `dir="rtl"` in the html- or the root-tag, of maybe even by the browser settings.
If the user forces `rtl: false` we disable it and if it is set to `rtl: true` we enable it.

see also
* https://www.w3.org/TR/html5/dom.html#dom-dir
* https://github.com/shad

[2016-10-26 13:51] wdanilo commented on #2232
@mojoaxel: Sure, sorry for not being clear enough. This feature is widely used in libraries likr GraphViz, please take a look at the section "Record-based Nodes" here: http://www.graphviz.org/doc/info/shapes.html . As you can see on the following image, we can define some parts of the node which the edges can be connected to: [http://www.graphviz.org/doc/info/record.gif](url).

This could be used

[2016-10-26 13:52] yotamberk commented on #2155
Wow we did alot for this release! Seems like you got it all

[2016-10-26 14:01] #642 closed

[2016-10-26 15:57] charles-tainui commented on #1373
thanks a lot @OzoneGrif , i ran into the same issue -_-

[2016-10-26 16:03] sawatsky commented on #92
This would be highly helpful! I'm currently providing arbitrary DateTime data, hiding the x-axis with CSS, and using labels to represent a new x-axis. This feature would save me so much hassle!

[2016-10-26 16:28] yotamberk commented on #92
Hi @sawatsky , are you able to pick up this feature?

[2016-10-26 16:38] sawatsky commented on #92
@yotamberk I'd love to if I had the time. Unfortunately, I am completely swamped with work! I'm the only frontend developer working on a new project for network simulations.

[2016-10-26 21:49] #1942 closed

[2016-10-26 21:51] yotamberk commented on #1934
Sounds like an interesting feature request

[2016-10-27 05:52] tedwong opened #2236 "Is the dot language don't support the struct?"
For example, I try to import this:

But the generate result is not correct. Is that have some limitations?

[2016-10-27 07:34] mojoaxel commented on #2027
Here is wat [the specs](https://www.w3.org/TR/html5/dom.html#dom-dir) say:

I think we have to check every parent element of the timeline for a direction tag.

[2016-10-27 07:43] yotamberk commented on #2027
The merge request I've add does this. It checks takes the nearest parent's `dir` and uses it (unless specified explicitly in `options.rtl`)

[2016-10-27 07:45] yotamberk commented on #2236
@tedwong I'm sorry but your question is very unclear... What are you refering to? What are you trying to accomplish?

[2016-10-27 08:16] mojoaxel commented on #2027
Yes, but it the root element has no direction we have to check its parent elements up to the dom-root. Usually the direction is set in the document's root element the "<html>" tag. See [comment](https://github.com/almende/vis/pull/2235/files#r85286712).

[2016-10-27 08:35] yotamberk commented on #2198
@ihatecodinglikeking Hi again, I've added `horizontalScroll` to the `develop` branch.
I was wandering about this issue. Did you mean you want to see "2 items remaining" or something of that sort of text  (lets say on  top of the timeline time axis) if you're on the 2013 range and still have 2 items in 2011 and 2012?
If this is not what you mean, an illustration could be very useful =)

[2016-10-27 08:43] mstumpf818 commented on #1810
@yotamberk I'll third that request for a horizontal scrollbar and I agree that it only makes sense in a timeline with a min & max date.  It would be great if it was a configurable option since not all timelines need it.

[2016-10-27 08:46] yotamberk commented on #1810
@mstumpf818 Ok ok... I'll see what I can do.

[2016-10-27 09:32] mojoaxel commented on #1373
@GowrishankarGeek Please create a new Issue for your question

[2016-10-27 09:40] mojoaxel commented on #2232
@wdanilo There is no easy way to do this in vis.js. We can change this issue to a feature-request, but should clarify what you want. You want to create sections within a node and then connect edges to these sections?

[2016-10-27 10:17] yotamberk commented on #2027
Finally can be closed with #2237

[2016-10-27 10:17] #2027 closed

[2016-10-27 11:38] mojoaxel commented on #2236
@tedwong The dot language itself is not in our scope! You can test our abilities [with our example](http://visjs.org/examples/network/data/dotLanguage/dotPlayground.html).

[2016-10-27 11:38] #2236 closed

[2016-10-27 20:32] yotamberk commented on #2132
Hi @roboslone, I'm looking in to this feature and I'm wandering how did you image this. I'd like you thoughts before I apply this:
- Can an updating ranged item stop updating? How/when does it stop? Can a user stop it manually?
- After an updating item has been stopped and its end item has been set (assuming the above is possible), can a user make it again updating? How would he do it? Will the ra

[2016-10-28 08:07] #1979 closed

[2016-10-28 08:10] mojoaxel commented on #2180
duplicate of #1881

[2016-10-28 08:10] #2180 closed

[2016-10-28 08:59] yotamberk commented on #2024
Doesn't happen anymore in the `develop` branch =)

[2016-10-28 08:59] #2024 closed

[2016-10-28 09:06] mojoaxel commented on #2024
@yotamberk Yes! I have no idea why, but this is fixed :+1:

[2016-10-28 10:59] techBeck03 commented on #1964
I'm not programmer but this seemed to fix the issue for me.....haven't tested extensively though:

value: function _placeNodesByHierarchy(distribution) {
        var nodeId = undefined,
            node = undefined;
        this.positionedNodes = {};
        // start placing all the level 0 nodes first. Then recursively position their branches.
        for (var level in distribution) {
          i