[2016-12-19 00:46] pauljayd commented on #2475
Sorry again that I'm not making myself clear.
Given a Timeline with a fixed height and zoom level, some items may be vertically out-of-view or cut (see image 1):
![image1](https://cloud.githubusercontent.com/assets/5870432/21298137/80c93d3e-c55a-11e6-9762-7ad01983141f.png)

Notice the blue box-shadow at top, where item 2 is cut off.

At this point, I would like to execute a function, say "fitVerti

[2016-12-19 06:58] timelineAxis commented on #2464
@yotamberk : I tried with  minorLabels: Function(date: Date, scale: Number, step: Number) {} but its not support "a \n b" or "a <br/> b"

[2016-12-19 09:01] hardikvasa opened #2477 "Network: Getting Node data while selecting an edge"
Hi, this is a great project!

I am developing an application where I would like users to select an edge and receive data about which 2 nodes are connected to it.

Currently this is the response from mouseClick on an edge:
`{
    "nodes": [],
    "edges": [
        "ed9b03df-ae03-46c6-9be5-abde47ca9b5b"
    ],
    "pointer": {
        "DOM": {
            "x": 392,
            "y": 163
        },

[2016-12-19 10:01] nilsottesen opened #2478 "Tooltip causes issues when changing node to cluster"
I'm using  version 4.17.0, 2016-11-05
I have a title for my node, and when clicking the node I create a cluster. If the tooltip is showing during this operation, the code in line 41401 (function __checkHidePopup_, statement _overNode.id === this.popup.popupTargetId_) breaks, as overNode is undefined

[2016-12-19 10:59] Tooa commented on #2478
Can you provide a jsbin showing your error and a description that explains how to reproduce the error using that jsbin?

[2016-12-19 11:01] Tooa commented on #2477
Yes, this is possible via the [dataset](http://visjs.org/docs/data/dataset.html) of the edges. You can retrieve the edge from the edge dataset using the edge id given above i.e. edges.get('ed9b03df-ae03-46c6-9be5-abde47ca9b5b') - assuming that `edges` represents the edge dataset. The returned edge provides you with the adjacent nodes.

Does this answer your question?

[2016-12-19 11:25] arikarik opened #2479 "Can be implemented"
![support_log](https://cloud.githubusercontent.com/assets/24650063/21311167/8e46e918-c5ee-11e6-9a37-66aeb2cb9f20.png)

The number 5.0...
Can be implemented as a badge appears in the picture?

[2016-12-19 13:50] nilsottesen commented on #2478
Uli,
I’ve just started look into visjs this weekend, and I like very much what I’ve learned so far. I’m building a product that manages object graphs (Engineering Class Libraries), and have been looking for ways to visualise.

Not sure how to do what you are asking for (jsbin), so instead I made a bare bone examples that shows the issue in action.

To provoke the issue:

·         Using Chrome

·

[2016-12-19 14:34] yotamberk commented on #2475
much clearer! Thanks! No way to do this yet. I'll add this as a feature request!

[2016-12-19 15:23] gmlevin commented on #2458
I have created a jsbin based on the "Graph2d | Dynamic Styling Example".
How do I make it available to you? I exported it as a gist to
https://gist.github.com/anonymous/4d0e6235e422c906d7a427f60c79041b.

Setting the top option will set the maximum on the y-axis to 50 (larger
than needed), 10 (smaller than the actual max), undefined or null to get
the dynamic max and see the error on the console.

[2016-12-19 15:27] pgoldweic commented on #2375
Thanks for your comment, and for changing it to a feature request.

[2016-12-19 16:09] bthieurmel commented on #1911
Regarding this fiddle https://jsfiddle.net/4zt6a71m/1/, changing ressource ``vis.js`` 4.14 to 4.17, it's seems that the problem already exists : passing from edge to a node, ``blurEdge`` is not called.

Moreover, now, ``hoverEdge`` and ``blurEdge`` are called many times staying on same edge.

[2016-12-19 16:57] dp-t-rex opened #2480 "Remove some edges from a cluster"
I have a node that has edges to many nodes that are capsuled inside a cluster. So i have multiple edges between my single node an the cluster. is there a way to show just one of these edges?
Thank you and sorry for my english :)

[2016-12-19 18:35] hardikvasa commented on #2477
Thank you for your quick and precise answer. Yes, that certainly helps! :+1:

[2016-12-19 23:12] #2477 closed

[2016-12-20 02:35] CapitanMorgan commented on #2400
The [stabilized event](http://visjs.org/docs/network/#event_stabilized) might be closer to what you're looking for as it should fire when the network is stabilized or stops moving.

[2016-12-20 08:23] Tooa commented on #1911
Indeed you found a bug. Especially, the moving from an edge to a node might be a corner case, which has been not addressed in the code.

[2016-12-20 08:36] sandrotaje opened #2481 "Label improvements on Graph2D"
Hi,

it would be wonderful to have the possibility to customize how labels are rendered.
I'm speaking about Graph2D implementation. In particular i'd like an on hover functionality and i've seen that svg text element are rendered beside rect element and if you have multiple groups it is very common to have other labels or other graph line upon it.

Is it possible to have all of your labels put at

[2016-12-20 10:34] bthieurmel commented on #1911
Ok. Thanks. So waiting for fix and ready to test.

[2016-12-20 10:42] aashay0101 opened #2484 "Another way to add items on Timeline other than doubleClick on timeline."
Is there a way where I use a button to add items to the timeline instead on doubleClicking on the timeline. I need the same functionality but on a Button like a link that when clicked will trigger the timeline onAdd function.

[2016-12-20 12:11] byalekzzz commented on #2429
Already implemented selection zooming and now waiting for those mouse events to be available. Hope soon and thanks a lot!

[2016-12-20 13:22] halli-pronestor commented on #2453
I will continue my research and do some brute force hacking to see if i can accomplish my goal. If I will have any luck with that I'll submit a PR.

[2016-12-20 15:37] federicoco opened #2485 "Customizing css for timeline items"
hello,
When I generate the items for the timeline I also include className:"orangeBox" and the result is like the attached image.
**My css** is
[code]
The problem I'm encountering is that when you click it apply the css but then I see the yellow background color of vis(see second image).
What I want to achieve is to avoid that yellow color-background (that even after selected it stays the same ora

[2016-12-20 19:15] eymiha commented on #2400
It's sort of a chicken/egg with any of the events. I would have said to use the 'afterDrawing' event (that's when you get your chance to draw on the canvas after the Network has finished with it) but you need to _have_ a network before you can set the event.

The cleanest way would probably be to pass a hash of _lifecycle_ functions to the vis.Network call; a `doneLoading` function could be called

[2016-12-20 20:21] yotamberk commented on #2485
Try adding this to your css:
[code]

[2016-12-20 20:23] yotamberk commented on #2484
you can use the `timeline.setItems()` to add items to the timeline

[2016-12-20 20:28] yotamberk commented on #2379
fixed with #2474

[2016-12-20 20:28] #2379 closed

[2016-12-20 20:29] yotamberk commented on #1845
Added with #2463

[2016-12-20 20:29] #1845 closed

[2016-12-20 20:30] yotamberk commented on #2306
Added with #2476

[2016-12-20 20:30] #2306 closed

[2016-12-20 20:34] yotamberk commented on #2445
solved with #2452! Thanks again @easleydp !

[2016-12-20 20:34] #2445 closed

[2016-12-20 20:42] yotamberk commented on #2455
@gossi I don't quite understand why you would try to change the `left` property. Its position should be derived by the time it has and should not be changed externally by css.

[2016-12-20 20:45] yotamberk commented on #2453
@halli-pronestor Great! I'd love to help if you have any questions! I myself am very interested in improving the over numbered repaints occurring and are not really needed. If you have any more interesting finding, please share =)

[2016-12-20 20:53] yotamberk commented on #2123
@MiikaL The problem I see happening is that the pinch/extend stop one the timeline gets to it's maximum/minimum zoom. It has nothing to do with the screen size, but more of what's the zoom level. The event returns and stops the pinch/extend event once reaching on of these min/max zooms making it feel like it's stuck.
This can be fixed quite easily. I'll try getting to it the next few days.

[2016-12-20 20:59] yotamberk commented on #1614
@YiuriV Is this issue still relevant? I can't get your example working

[2016-12-20 21:01] yotamberk commented on #1230
fixed in 4.16.1

[2016-12-20 21:01] #1230 closed

[2016-12-21 04:49] gossi commented on #2455
No, I don't. My custom `style` is color and `background-color`. Yet they overwrite the `left` property that the timeline gives these items.

Is there a template for jsbin?

[2016-12-21 04:57] Adam5Wu opened #2487 "Network: Rapid zoom and pan animation result in corrupt internal state"
I ran into a case when two `fit()` call is made back-to-back, but on different set of nodes, the internal state of the renderer is corrupted and result in graph dancing around the mouse cursor.

The problem appears to be some sort of race condition, so it is not 100% reproducible. But if the calls are close enough, it can be produced with quite high probability (90% after several tries)

With some

[2016-12-21 07:16] Tooa commented on #2487
Can you share some code on [jsbin](http://jsbin.com/) to play around and reproduce the issue?

[2016-12-21 08:31] federicoco commented on #2485
It worked , thanks !

[2016-12-21 08:31] #2485 closed

[2016-12-21 11:09] 3dPrintHUB opened #2488 "Step and scale problem"
Hello,

I am trying to use Vis.js (timeline) to show information on my web site.
Since i am trying to put the timeline in a div into a table -> tr -> td -> div  there are many steps (about 30 or 40)
But if i put it in a div, with the same dimension, there are much more steps (about 5 to 15)
The two divs have the same dimensions.

Is there a way to set the min and max number of steps ?

I let you s

[2016-12-21 15:46] Adam5Wu commented on #2487
After narrow down the elements, the problem actually becomes more reproducible:
http://jsbin.com/wusosavuvo/edit?html,css,js,output

Please click on either node, then the renderer state becomes corrupted, and you can see the graph starts dancing around when you try to click a node again.

[2016-12-21 19:50] gmlevin commented on #1766
Has throttleRedraw been removed as an option? I noticed my code started complaining about it and hen I check the documentation, it appears to have been removed. Is there a replacement?

[2016-12-21 20:08] yotamberk commented on #1766
Yup  it has been removed

בתאריך 21 בדצמ׳ 2016 9:50 אחה״צ,‏ "gmlevin" <notifications@github.com> כתב:

[2016-12-22 09:41] ephraimberkovitch commented on #2451
I have already performed this change and submitted it to review, so the issue can be closed

[2016-12-22 09:41] #2451 closed

[2016-12-22 09:41] jimmed opened #2490 "Incompatibility with datejs; mis-use of Date.parse"
**See first: https://github.com/abritinthebay/datejs/pull/261**

Suffice to say, I'm working on a large legacy application, which makes use of datejs's `Date.parse` extensions.

When rendering a Vis.js Timeline, rendering RangeItems makes use of [`utils.convert`](https://github.com/almende/vis/blob/master/lib/util.js#L370) to coerce the start/end of the range to a number. However, when re-renderin

[2016-12-22 12:04] vondrc opened #2492 "Changing title on click on text line"
I wrote a script that changes the node title when I click on a node line.

This works in Chrome. But it does not behave properly in Firefox and I'm not sure what is the cause.
When you hover the node and click on some text line title will show up. Then if you click on another text line the title will change accordingly and so forth. Thats how it was intended.

Problem is in Firefox. When you click

[2016-12-22 13:32] yotamberk commented on #2484
@aashay0101 does this answer your question?

[2016-12-22 13:33] yotamberk commented on #2455
@gossi no template but there are many jsbin examples in other issues. Try using them.

[2016-12-22 13:34] yotamberk commented on #2443
@sunil-prasad-w Does this answer your question?

[2016-12-22 13:52] aashay0101 commented on #2484
Can your solution work with the timeline that has been already initialised?

[2016-12-22 14:19] yotamberk commented on #2484
Yes

[2016-12-22 14:45] yotamberk commented on #2490
closed with #2491

[2016-12-22 18:47] yotamberk commented on #2464
@timelineAxis You right. It isn't possible yet. I've added a fix for this here: #2493

[2016-12-22 18:52] RyanAldridge opened #2494 "Directed Hierarchy not layed out correctly"
Hi,

When representing a fairly simple org chart as a hierarchy, nodes are laid out nicely in hubsize sort method but as soon as I switch to a directed sort method the lowest nodes in the branch suddenly don't appear under their parent node and edges criss-cross all over the place.

I'm using the following layout options and just changing the sortmethod:

layout: {
            randomSeed: undefine

[2016-12-23 07:50] aashay0101 commented on #2484
@yotamberk Can I emulate the "doubleClick" on timeline by clicking on a button. The thing is I have implemented a Dialog which pops up when you doubleClick on the timeline. I want the same to happen when I click on the custom "Add Bullet" button. I know that doubleClick triggers the event with X Y co-ordinates of the mouse to figure out the snapped time where the bullet is to be added. How do I go

[2016-12-23 09:58] aashay0101 commented on #2484
Okay I think the solution provided by @yotamberk is the best way to do this, where you call `timeline.setItems()` and passing items which the timeline will automatically add. As long as a popup functionality is concerned, I called the popup separately and after the completion of popup it called the `timeline.setIems()` function. This solves the problem. Thanks a lot @yotamberk .

[2016-12-23 09:59] #2484 closed

[2016-12-23 10:23] yotamberk commented on #2484
No problem =)

[2016-12-23 10:30] federicoco opened #2499 "If Min and Max have the same date, when you drag it, the item is automatically deleted"
Hi,
I don't know if this is a bug or not :
I'm making my Timeline Draggable, and I've found that if Min and Max date are equals , the timeline behave in a strange way : the item is automatically deleted.
[code]

On **moving item**, what if item start and max/min are the same ? I see that has not been handled.
It should be impossible in real life to have max and min equals, but I discovered it beca

[2016-12-23 11:05] sunil-prasad-w commented on #2443
I am still looking issue and working with your suggestion. If I need any help I will let you know.

Thanks for your suggestion.

[2016-12-23 11:10] yotamberk commented on #2464
This will be available in the v4.18.0 or the current `develop` branch

[2016-12-23 11:10] #2464 closed

[2016-12-23 17:30] eymiha opened #2500 "Invalid type received for "enabled". Expected: bool. Received [boolean] "false""
Create a network with `options = { physics: { enabled: false } }` and look at the console output.

This seems to be related to #2452.

[2016-12-23 20:24] mojoaxel commented on #2499
@federicoco Please provide a working example including `items`and `groups` you used. Thx

[2016-12-23 21:29] wansco commented on #2123
ios10 changed the behavior of the viewport meta tag. Before ios10, you could prevent the user from scaling the screen size, but now (ios10+) pinch to zoom, zooms the screen. I think all that is needed is to cancel the event on the timeline element before it bubbles up. I haven't investigated this too thoroughly, so that might be a naive solution.

[2016-12-23 22:27] gossi commented on #2455
Ok, I tried to reproduce the problem on jsbin here: https://jsbin.com/ditonus/edit?js,output
Well, it works on jsbin o_O. What's relevant there is, you can see my used options and the item code, etc. So, I decided to take some screenshots from my problem. I took a screenshot from the timeline and the selected DOM element from the devtools. I took a series of 3 screenshot pairs:
(1) just the item o

[2016-12-24 16:18] ipavlic commented on #1839
@mojoaxel Have you decided to either support IE9 and IE10 or document that you are **not** supporting those browsers?

[2016-12-25 18:32] eymiha commented on #2500
The problem stems from the misuse of the ES6 Object Literal Property Value feature.

in `options.js` the declaration
[code]
and subsequent use
[code]
is interpreted as
[code]
not
[code]

The fix is to replace the shorthand for the bool property
[code]
with
[code]
and all other such uses in `options.js`.

[2016-12-25 23:06] amnond commented on #1442
Attached is a self contained example showing how to do this. It is based on combining various suggestions I found and some reverse engineering I did. I'm sure there's a better solution to some of the DOM/CSS hacks but at least it get the job done.

[htmlContents1.zip](https://github.com/almende/vis/files/672333/htmlContents1.zip)

Also, the issue of "WARNING: infinite loop in redraw?" in the conso

[2016-12-26 15:41] #2500 closed

[2016-12-27 01:28] aakashrathore opened #2503 "Unix Timestamp compression."
Hey,
 I was wondering if there is a way to compress UNIX timestamps to "Human Readable characters." For eg: compressing 14,000,000,000 to 14B.
So I am basically designing a timeline which displays dates from the start of the universe to the time you're reading this. Since date datatype cannot display dates at the start of the universe I am using Unix timestamps to display astronomical dates. here

[2016-12-27 03:05] dancingalone opened #2504 "is it possible to display timeline by duration from zero to one hour"
hi everyone thanks for a great lib. I am a new guy for js, so far i meet a new requirement that i need to display the timeline like this pic
<img width="674" alt="2016-12-27 10 56 09" src="https://cloud.githubusercontent.com/assets/2200697/21489291/bfb5af44-cc23-11e6-8293-8c737b13ffb3.png">
is it possible to fix it using vis

[2016-12-27 03:11] ssabba opened #2505 "how to link two timelines?"
Hello, I have a question.

I know "link_two_timelines" example in chap-link timeline.

[http://almende.github.io/chap-links-library/js/timeline/examples/example10_link_two_timelines.html](url)

Maybe, it used the "get(set)VisibleChartRange" function.

But I can't find any methods, options for link two timelines in visjs.

What should I do?

[2016-12-27 07:31] yotamberk commented on #2503
Hey @aakashrathore, you can use the `format` option with a function and change the label to you format. Checkout the docs: http://visjs.org/docs/timeline/#Configuration_Options

[2016-12-27 07:34] yotamberk commented on #2504
duplicate of: #92

try this:
[code]

[2016-12-27 07:34] #2504 closed

[2016-12-27 07:39] yotamberk commented on #2505
checkout #2147

[2016-12-27 07:41] 3dPrintHUB commented on #2488
Update :
My bad, there was a font-size : 10% in a css style that I import, but I did not wrote, that's why I did not find it.

Bye bye

[2016-12-27 07:41] #2488 closed

[2016-12-27 22:55] redcameron opened #2507 "How to change node height"
I was wondering. Is there a way to adjust the height of a node and leave the width the way it is? I have seen nothing in the documentation that suggests that this is possible.

[2016-12-27 22:59] aakashrathore commented on #2503
I though that would work too, but what the issue is, time is a multiple of 60 (hope you understand what I mean here) whereas years isn't. So labeling doesn't seem to be working for me.
 Here is a screenshot of what I am trying to achieve.
<img width="1434" alt="screen shot 2016-12-27 at 3 56 10 pm" src="https://cloud.githubusercontent.com/assets/11655317/21510120/0d30181c-cc4d-11e6-8449-688396b5ac

[2016-12-28 00:09] eymiha commented on #2507
Yes, in the next release.

[2016-12-28 01:57] ssabba commented on #307
very good

[2016-12-28 02:01] ssabba commented on #2505
thank you yota.

[2016-12-28 08:24] easleydp commented on #2500
Concerned that this regresses part of the #2452 fix, i.e. reintroduces use of reserved word _boolean_. When used as an object literal key, 'boolean' must be quoted (as yotamberk did it in 534ad9f)

[2016-12-28 08:51] SergeyBondarenko opened #2508 "Draw line to X-axis for type point."
Is it possible to draw a line to the X-axis for the `item 1`, the same way it is done for the `item 6`?
![screenshot from 2016-12-28 09-49-39](https://cloud.githubusercontent.com/assets/5389745/21517937/2839656e-cce3-11e6-816c-0fdd79344355.png)

[2016-12-28 08:52] yotamberk commented on #2500
What if the key is in quotation mark?Will that solve the problem?
The problem with the  #2452 fix is that it introduced errors in options with boolean values. It seems that the only way to use your fix without breaking other code is by changing `Validator` to be able to handle 'bool' instead of 'boolean'. Can you take care of that?

[2016-12-28 08:54] yotamberk commented on #2508
item 6 is a `boxItem` while item 1 is a `pointItem`. Why not simply make item 1's type to a `box`?

[2016-12-28 08:56] yotamberk commented on #2508
If you want to make it look different than the box item, I suggest you play with the css

[2016-12-28 09:04] easleydp commented on #2500
Yes, if the key (being a reserved word such as _boolean_) is in quotation marks I believe that will solve the problem. In other words, like you did it in 534ad9f.

If you still think changing `Validator` is necessary please let me know.

[2016-12-28 09:14] yotamberk commented on #2500
I think we can do without changing `Validator`

[2016-12-28 10:03] colotiline opened #2509 "Network. Empty nodes in a hierarchical network"
Hello.

I've got an issue with VisJs Network. A hierarchical network doesn't draw nodes when I have more than 200 of them, also zoom completely destroys a network. As opposite a non-hierarchical network draws all nodes.

A hierarchical network:
![image](https://cloud.githubusercontent.com/assets/5231197/21519120/e96eba50-ccfb-11e6-89b4-84a2ad2371b5.png)

A non-hierarchical network:
![image](https:

[2016-12-28 11:13] eymiha commented on #2500
If this is an issue then replacing my changes with { 'boolean' : bool } in option.js should fix the problem.

No change to Validator.js should be needed.

[2016-12-28 13:57] timelineAxis opened #2510 "rendering vis item range initially"
About rendering vis range :
Currently we have restricted date range to some extend . Timeline is showing items which are within that date range when user 1st time render on the screen . When user change the date range then items should get increased . In zoom out all items are get displayed which are in new date range . In zoom in all items still are get displayed which are rendered till the date

[2016-12-28 15:21] #2507 closed

[2016-12-28 15:25] mojoaxel commented on #1442
@amnond Maybe jsbin.com is a better solution to provide code-examples. ZIP-Archives tend to be unsecure ;-)

[2016-12-28 15:36] redcameron commented on #2507
Is there a date for when that will be merged to almende/vis?

[2016-12-28 16:04] mojoaxel opened #2511 "Timeline option `throttleRedraw` was removed without increasing MAJOR version number"
see https://github.com/almende/vis/issues/1766#issuecomment-268621788

Remove a public (documented) option is a "breaking change". Breaking changes need a Major Version update.

[2016-12-28 16:04] mojoaxel commented on #1766
@yotamberk If a option has been removed without increasing the MAJOR version number this is an bug. We should check it out. I opened #2511 for that.

[2016-12-28 16:21] mojoaxel commented on #2511
This was introduced by #2091 with c130f0b01f91a96dfd215d5c80eb0351dddca62e
WE NEED TO BE MORE CAREFULLY!

[2016-12-28 16:50] mojoaxel commented on #1515
duplicate of #1699

[2016-12-28 16:53] mojoaxel commented on #2469
fixed by @Tooa with #2469

[2016-12-28 18:40] yotamberk commented on #2511
@mojoaxel I agree. We didn't think about that at the time we approved it. We can add a stub `redrawThrottle` saying in the console that this option has been deprecated and will be removed in the next major. What do you think?

[2016-12-29 14:25] mojoaxel commented on #2300
fixed by @yotamberk with #2416

[2016-12-29 15:33] mojoaxel commented on #2351
Due to multible problems and a flood of new issues we have to move the release date.

New Planned release date for 4.18.0 is the 15.01.17.
Code-freeze (no more Pull-Requests) 11.01.17.

[2016-12-29 22:54] aakashrathore commented on #2503
Nevermind, I fixed it. Just had to change the minorText labels and "text" in the vis.js file. Let me know if you want me to branch it.
Thanks.

[2016-12-29 23:58] yotamberk commented on #2503
That would be great if you submitted a PR

[2016-12-29 23:58] #2503 closed

[2016-12-30 03:13] lewisjb commented on #2510
I had a quick look into this and there seems to be a fairly simple solution:

Changing [timeline/component/Group.js:34](https://github.com/almende/vis/blob/master/lib/timeline/component/Group.js#L34) to instead set to `this.checkRangedItems` to `true`, will ensure that the rendering will check for those elements on the first render.

[2016-12-30 04:35] roboslone commented on #2300
Thanks!

[2016-12-30 07:21] gerardp commented on #2300
Thanks !!

[2016-12-30 09:54] yotamberk commented on #2510
@lewisjb do you want to add a PR for this?

[2016-12-30 09:54] #2505 closed

[2016-12-30 09:55] yotamberk commented on #2505
@ssabba my pleasure :smile:

[2016-12-30 10:00] yotamberk commented on #2508
@SergeyBondarenko Does this answer your needs?

[2016-12-30 17:09] yotamberk commented on #338
Added to the next release with #2498. Thanks @lewisjb!

[2016-12-31 00:00] lewisjb opened #2515 "[Timeline] itemover & itemout fired multiple times in HTML items"
JSBin: http://jsbin.com/fixegibizu/1/edit?html,console,output

As you can see, the events are fired when you move the cursor around the HTML item.

This also impacts HTML tool-tips from #2498

Explanation of why:
(source) [PR 2498 Comment](https://github.com/almende/vis/pull/2498#issuecomment-269835435)
"The `mouseover`/`mouseout` event is being fired on child elements. In this case it was somethi

[2016-12-31 00:04] lewisjb opened #2516 "[Timeline] Add an option to HTML tool-tips to make them follow the cursor"
[Feature request]
From: #2498

It would be nice to have an option like `tooltipFollowMouse`, which when enabled will make the tool-tip follow the cursor.

It might be more beneficial to add a generic `tooltip` option, which accepts an object, and has `followMouse` as an acceptable sub-option. (As this then makes it cleaner if we want to add more options to tool-tips later)

[2016-12-31 16:02] marcortw commented on #450
In addition to my previous comment: I saw this popping up again, this time on chrome 55 (maybe already earlier). I tracked it down to a css property of a surrounding container which had its width set to 95%. Commenting this out brings it down to an acceptable level, e.g. a single warning. In my case, it seems to be related with my bootstrap setup with nested containers and the width of boxes. I fi

[2016-12-31 17:40] mojoaxel commented on #2280
I can not reproduce this anymore.
This was propably fixed with #2513 and/or #2466.

[2016-12-31 17:40] #2280 closed

[2016-12-31 18:43] mojoaxel commented on #497
@yotamberk created in #2519 a new example [expectedVsActualTimesItems](https://github.com/almende/vis/blob/develop/examples/timeline/items/expectedVsActualTimesItems.html) to demonstrate something like this.

[2016-12-31 18:43] #497 closed

[2016-12-31 18:52] mojoaxel commented on #2511
Fixed with #2514 by re-adding docs for *trottleRedraw*. If used a "deprecated" warning is thrown.

[2016-12-31 18:52] #2511 closed

[2016-12-31 18:55] #2274 closed

[2016-12-31 18:55] #2300 closed

[2016-12-31 18:55] #338 closed

[2016-12-31 19:15] mojoaxel commented on #226
@yotamberk fixed this with #2473

[2016-12-31 19:15] #226 closed

[2016-12-31 19:15] mojoaxel commented on #2421
@yotamberk fixed this with #2473

[2016-12-31 19:15] #2421 closed

[2016-12-31 19:16] mojoaxel commented on #2429
@yotamberk fixed this with #2473

[2016-12-31 19:16] #2429 closed

[2016-12-31 20:51] yotamberk opened #2522 "Right button (contextmenu) while dragging item makes items uneditable"
It seems to be because of
https://github.com/almende/vis/pull/2427/files#diff-d3c0773c9b1eaa102ae263e2f400774dR1216

[2017-01-01 14:54] dimaxweb opened #2523 "Network - node show input links"
Hi,
In my use case I need to visualize network card with ports , as a part of whole network , where edges to other elements can be connected through those port. Currently I don't find any api / option on nodes ,is it possible ?

[2017-01-02 02:07] FilipQL opened #2524 "vis.js Network & Vue.js - the setData method is not working properly"
Hi,

I am using [Vis Network](http://visjs.org/docs/network) with [Vue.js](https://vuejs.org) and I created a very simple app but it is not working properly.

## https://jsfiddle.net/Filip_Z/3ead4r51/1/

The problem is that after applying the `setData` method, wrong labels are displayed. As you can see in the example, when you click on the button - this Vue method will be executed:
[code]
So there

[2017-01-02 10:25] Silobrlst opened #2525 "mousemove event is not triggered in chrome"
When I press and hold the left mouse button in Network mousemove event is not triggered in chrome, but in firefox all works fine.
Can this be fixed for chrome?

[2017-01-02 15:15] yotamberk commented on #2423
Hey @mojoaxel , I think this codeclimate is not very useful... I don't find it useful at all. I've tried taking its advise and it simply isn't relevant. I think we should remove it.

[2017-01-02 18:00] FilipQL opened #2528 "Node with id=0 cannot be deleted"
Hi,

I have a very simple app created with Vis and the problem is that the node with id=0 cannot be deleted. All of the other nodes can be deleted.

Here is the example: https://jsfiddle.net/Filip_Z/9k2s3dgj/7/

[code]

As @danieldiekmeier [suggested](https://github.com/vuejs/vue/issues/4622#issuecomment-269956193), this is most likely because Vis checks for truthy-ness in the ids (because if you

[2017-01-03 00:53] lewisjb commented on #2528
This appears to actually be a problem with DataSet. I noticed the same problem in some of the Timeline examples ([Ordering of groups](http://visjs.org/examples/timeline/groups/groupsOrdering.html) and [Subgroups](http://visjs.org/examples/timeline/groups/subgroups.html))

I did some debugging, and found that it _is_ because of a 'truthy-ness' check.
The issue is here: [DataSet.js:682](https://gith

[2017-01-03 05:01] lewisjb commented on #2510
@yotamberk It appears that this actually isn't an issue in the develop branch. I haven't found the exact commit that fixed it, but if I try that fiddle's code with a freshly compiled vis.js; it shows Wikimania from the start. Would you be able to confirm this?

[2017-01-03 06:25] jhabap18 opened #2531 "vis.js afterdrawing() function- not able to remove any text or any div which I set custom"
Hi, I am able to add a text or any drawing from afterdrawing function

graphWidget.on("afterDrawing", function (ctx) {
                          ctx.fillText("ABC", nodePosition[nodeId].x, nodePosition[nodeId].y + 52);
});
If I want to remove "ABC" which I set here I am not able to remove it
Please tell me the way.

[2017-01-03 06:33] jhabap18 opened #2532 "hover event -not able to show anything on hover which I am writing for particular node inside hoverNode function"
network.on("hoverNode", function (params) {
                     nodes._data[params.node].title="ABCD";
                  });

It is not showing "ABCD" on hover on the node on which I  am hovering.

My requirement is like that I can not write hover text at the time of initialization under title field in node.
I have to write in customized manner on hoverNode function only. Please suggest a way.

[2017-01-03 07:57] camous commented on #2480
Similar question here. I can't find a way to get all the edges associated with one cluster, in order trying to remove them myself. I thought that getClusteredEdges methods could do the job, but it's actually taking an edge as parameter rather a cluster node id.

![image](https://cloud.githubusercontent.com/assets/8566299/21602247/4897c70c-d192-11e6-9699-478163c8af33.png)

[2017-01-03 10:50] #2508 closed

[2017-01-03 11:48] Tooa commented on #2532
Can you provide a minimal example of your problem via [jsbin.com](jsbin.com)? Is your `hoverNode` callback executed?

[2017-01-03 12:04] Tooa commented on #2525
Am I wrong or is there no `mousemove` event mentioned in the network [docs](http://visjs.org/docs/network/)? Can you elaborate on this and provide a minimal example of your problem on [jsbin.com](jsbin.com)?

[2017-01-03 12:53] Tooa commented on #2524
Can you reproduce the problem without using `vue`? Please share the issue via [jsbin.com](jsbin.com).

[2017-01-03 19:50] yotamberk commented on #2528
fixed with #2530

[2017-01-03 19:50] #2528 closed

[2017-01-03 19:54] yotamberk commented on #2226
see #2527, #2533

[2017-01-03 20:36] hawkeyeaz1 opened #2536 "3d bar graph data array unsorted"
If you pass Graph3d an array (for data) and the array is not sorted the graphed result breaks visual usability.

Ex: graph = new vis.Graph3d(container, [ {x: 1, y: 3, z: 0}, {x: 0, y: 0, z: 0} ], { style: 'bar' });

[2017-01-03 20:50] FilipQL commented on #2524
@Tooa Yeah, this works without Vue, but can't see why it doesn't work with Vue. Anyway, it seems that this has nothing to do with Vis. Thanks!

[2017-01-03 23:09] Alex-Dim opened #2537 "arrows.to.type : Default is arrow. Also possible is circle. Can there be title?"
Is there possibility to add  type of endpoint on edge to be title so i can write some short text instead of circle or arrow.
Best regards to vis team from Alex.

[2017-01-03 23:33] Tooa commented on #2537
Do you mean something like [this](https://github.com/almende/vis/issues/2104)?

[2017-01-03 23:42] Alex-Dim commented on #2537
@Tooa i think this could be very helpfull, i'll try to incorporate this to my test project.On endpoints i need some small portions of text on each side and on hover over edge i need some bigger text and i think this could work.
p.s. Do you have source code of this update and user guidance how to implement this update?
Best regards @Tooa.

[2017-01-04 00:00] Alex-Dim commented on #2104
Do you have source code of this update and user guidance how to implement this update?
Best regards @lehuyhuan.

[2017-01-04 02:04] lewisjb opened #2538 "[Timeline] [dev branch] Major axis labels displaying wrong value"
This is on the dev branch so I don't have a JSBin, but I do have screenshots.

The below screenshots are for http://visjs.org/examples/timeline/groups/groups.html

This is what it looks like on the website:
![screenshot_2017-01-04_11-55-35](https://cloud.githubusercontent.com/assets/17665267/21629537/16fd715e-d275-11e6-84de-ca6abea6291c.png)

And this is what it looks like locally from dev:
![scre

[2017-01-04 07:06] alotan commented on #917
having the same problem, using version 4.9.
the chart is also circling around her self and i can't stop it

my code:
var nodes = new vis.DataSet(nodes_array);
// create an array with edges
var edges = new vis.DataSet(edges_array);

 // create a network
 var container = document.getElementById(target);
 var data = {
      nodes: nodes,
      edges: edges
};

    var options = {
	  "physics": {

[2017-01-04 07:08] mojoaxel commented on #917
@alotan Please use version 4.17.

[2017-01-04 07:16] Silobrlst commented on #2525
http://jsbin.com/zakojenako/edit?html,console,output

[2017-01-04 08:21] alotan commented on #917
did not help

[2017-01-04 08:27] alotan commented on #917
http://be-strategic.solutions/Untitled-1.jpg

[2017-01-04 12:50] JijDaar opened #2540 "Graph3d axis labels seems floating"
Hi,

The axis labels of my graph3d (dot cloud color) seem to be "floating in space" and not attached to the right axis. It is already wrong for the default x,y,z labels. I'm using 4.17.0.

Thanks,
Albert.

[2017-01-04 12:52] Tooa commented on #2540
Can you provide your problem via [jsbin.com](jsbin.com)?

[2017-01-04 14:14] amkazan commented on #528
want this too!

[2017-01-04 18:33] mojoaxel commented on #2515
The easiest way is to disable mouse-events for all elements inside an item. This could be done in css.

Here is the working example with the css hack: http://jsbin.com/neqixoreka/1/edit?html,css,console,output

[2017-01-04 19:41] mojoaxel commented on #917
@alotan It would be much easier to figgure out your problem if you could provide an simple example e.g. at jsbin.com

[2017-01-04 21:29] yotamberk commented on #2538
@lewisjb Ummm I must admit I have no idea why this is happening... The commit shouldn't have affected this... I'll have to get in to it. Not sure yet how to approach this...

[2017-01-04 21:32] #2443 closed

[2017-01-04 21:33] #2419 closed

[2017-01-04 21:35] yotamberk commented on #2390
@federicoco After thinking about this more, the only way I see to do this is by doing this with on item update event. You will have to update the item to have a subgroup corresponding to the mouse position with "what", get the item, and add its subgroup to your item.
Is this clear?

[2017-01-04 21:36] yotamberk commented on #2338
@EmanuelOverflow is this still relevant?

[2017-01-04 21:42] yotamberk commented on #2321
see this #2147

[2017-01-04 21:42] yotamberk commented on #2321
@Broekhuis does this help?

[2017-01-04 21:44] yotamberk commented on #2043
solved with #2519

[2017-01-04 21:44] #2043 closed

[2017-01-04 21:46] yotamberk commented on #1737
Fixed with #2519

[2017-01-04 21:46] #1737 closed

[2017-01-04 21:47] yotamberk commented on #1530
fixed with #2519

[2017-01-04 21:47] #1530 closed

[2017-01-04 22:56] brucekoski opened #2542 "ReferenceError: loadJSON is not defined"
Trying to read data from json file but get ReferenceError: loadJSON is not defined.
This working code fails when I add line 'var json = loadJSON("../data/data.json");'

Thanks

<!doctype html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <script src="../app/bower_components/vis/dist/vis.js" type="text/javascript" ></script>
    <link  href="../app/bower_components/vis/di

[2017-01-04 23:55] Tooa commented on #2542
Looks like the `loadJSON` function is not implemented as API method of visjs. It's defined [here](https://github.com/almende/vis/blob/9703462783923ceb52107f0f3fe070de7cb0fe8f/examples/network/exampleUtil.js)  and only used for the example [here](https://github.com/almende/vis/blob/9703462783923ceb52107f0f3fe070de7cb0fe8f/examples/network/data/importingFromGephi.html).

I think it does not make sen

[2017-01-05 01:23] lewisjb commented on #2538
@yotamberk I had another look into it and found the issue.

You changed `document.createTextNode(text);` to `var content = document.createElement('div');` (and then set the `innerHTML`), but outside that if-statement, you are trying to set the value of that div via `label.childNodes[0].nodeValue`; but, `childNodes[0]` is `content`, not the text node inside `content`. So any changes to the content

[2017-01-05 05:02] lewisjb opened #2543 "[util] extend() should be a deep-copy"
[util.extend](https://github.com/almende/vis/blob/develop/lib/util.js#L178) and [util.selectiveExtend](https://github.com/almende/vis/blob/develop/lib/util.js#L198) currently only copy over the first layer.

This can cause issues, seeing as the most common use for these functions is for options.
Specifically: `this.options = util.extend({}, this.defaultOptions);`
With a shallow-copy, any object-ba

[2017-01-05 09:17] yotamberk commented on #2510
Confirmed!

[2017-01-05 09:17] #2510 closed

[2017-01-05 11:24] ohhoney1 commented on #1503
I feel very upset about it.

[2017-01-05 13:55] mojoaxel opened #2546 "Automate release process"
**We really need to do something about the release process of this library!**
There is way too much manual work required to create a release. That is why canches bulk up and then releases even get harder to do.

Let's think about what we can improve..

## Thinks we should/could automate:

### Automatic test (travis-ci)
* Did any of the existing parameters/options change => Breaking change. This co

[2017-01-05 14:59] yotamberk commented on #2546
I'll take care of pluging in Travis CI

[2017-01-05 15:57] emiliosalazardonate opened #2547 "Editing text in a timeline doesn't work for me."
After trying a lot of browsers and OS (including a Mac with Chrome 55.0), I haven't  been able to edit the item names in this example:
http://visjs.org/examples/timeline/editing/editingItemsCallbacks.html

I don't know if anybody else had this problem???

Thanks,
Emilio.

[2017-01-05 16:55] Tooa commented on #2546
We could automate the changelog generation process similar to the angularjs team. They have restrictions for their commit messages ([reference](https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#-git-commit-guidelines)). You can then check whether the commit message meets the criteria with Travis by running a script like [this](https://github.com/JensRantil/angular.js/blob/ffe93bb36

[2017-01-05 17:01] Tooa commented on #2547
Updating an entry via double clicking does not work for me either. Are they supposed to be editable via double click? @yotamberk can you have a look at this?

[2017-01-05 17:44] dockstreet commented on #1911
This fix would really help out, looking forward to it

[2017-01-05 22:25] Broekhuis commented on #2321
Thank you, looks promising... although it doesn't mention anything about synchronizing timelines with _different scales_, which is what I need.. I'll look into it this weekend.

Regards,

Erik

[2017-01-06 00:24] dalzell99 opened #2548 "[graph3d] Get y-axis range"
Hello, is it possible to get the y-axis range for a graph? If not, I would like to request it please be added. I think the ideal place for it would be in the graph2d.getWindow() function. Thanks

[2017-01-06 10:27] JijDaar commented on #2540
Hello,

It's difficult to have the my app, including data, simulated in jsbin.

But I have some more information:

- I'm not setting the axis min/max values. It seems to autoscale, but I can't find it on the manual pages.

- The position of the labels seem to depend on the x,y,z-values of the data. My data values differ a lot between the three axis: x: 44.794 -45.069, y: 0.5766 - 0.61, z: 8.85e-6

[2017-01-06 11:16] yotamberk commented on #2547
@emiliosalazardonate When was it editable by double clicking? Was it like that in previous versions?

[2017-01-06 11:32] yotamberk commented on #2547
Works on `develop` branch. @Tooa can you check again?

[2017-01-06 14:28] Tooa commented on #2547
Yes, works on the `develop` branch.

[2017-01-06 14:28] #2547 closed

[2017-01-06 17:43] albertotimoteo opened #2552 "Fixate Timeline"
How can I fixate my div timeline, so it'll be always on the bottom of the screen?

[2017-01-06 19:14] yotamberk commented on #2552
Add to your css (assuming the dive has a class of `timeline`)
[code]

[2017-01-06 19:49] salmasalem opened #2553 "JavaScript code - Your help needed PLEASE"
Hi everyone,

I'm new in JavaScript and I'm in the process of modifying an open source template and I'm stuck in passing the PHP MySQL results to a JavaScript.

I want to replace the lines 34 to 49 in the below link with a MySQL results as the following:

while($row = mysql_fetch_array($retval, MYSQL_NUM)) {
   $data[] = "{id: {$row[0]}, &nbsp;shape: 'circularImage', image: 'img/{$row[4]}', label:

[2017-01-06 21:32] Tooa commented on #2553
Hi,
this is more like a general programming question. Please use [Stackoverflow.com](Stackoverflow.com) for such questions in future. Feel free to create a new issue if you find bugs in visjs you want to report.

[2017-01-06 21:32] #2553 closed

[2017-01-06 21:33] Tooa commented on #2552
Does this answer your question @albertotimoteo? Then, feel free to close this issue.

[2017-01-07 14:02] Tooa commented on #1911
@bthieurmel @dockstreet I've created a pull request to resolve the issue here https://github.com/almende/vis/pull/2554. Can you please test whether it works for you two? There is quite a lot of logic going on in the part I've changed. So, make sure nothing else is broken.

[2017-01-07 14:23] Tooa commented on #2537
@Alex-Dim Sry, I do not have the source code from these experiments. I close this issue in favor of #2104 since it seems to be the same request.

[2017-01-07 14:23] #2537 closed

[2017-01-07 14:28] Tooa commented on #2523
Hi, this is not possible at the moment. If you like to, you can pick it up and send us a pull request. Closing in favor of https://github.com/almende/vis/issues/2442 and https://github.com/almende/vis/issues/2450.

[2017-01-07 14:28] #2523 closed

[2017-01-07 14:35] Tooa commented on #2478
I can confirm this error. Let me see if I can find some time to look into this.

[2017-01-07 15:05] Tooa commented on #2492
I have the problem you describing with Firefox also with Chrome (Version 55.0.2883.87 (64-bit)). I have to first blur the node. However, I think this is expected behavior?

[2017-01-07 15:10] Tooa commented on #2525
Thanks for your jsbin. I can confirm this issue. However, not sure where to start first to fix this issue.

[2017-01-07 15:32] #2441 closed

[2017-01-07 15:51] Tooa commented on #2299
Cannot verify this issue. This works: `var options = { interaction:{  selectConnectedEdges: false }};`

This is a bug in `4.17.0`, which is already fixed in the `develop` branch (https://github.com/almende/vis/pull/2530).

[2017-01-07 18:18] Tooa commented on #1900
Hi, can you look at the example again? It works for me using Linux Mint and Chrome Version 55.0.2883.87 (64-bit).

[2017-01-07 18:22] Tooa commented on #1864
There is no build-in option to accomplish what you are looking for. However, you can write such a behavior yourself. Just backup your labels before removing them from the dataset for each node. Once the button is pressed a second time you can just re-add the labels again. Does this answer your question?

[2017-01-07 18:36] mojoaxel commented on #2525
I can not confirm this with Chome 50.0.2661.75 (64-bit) on Linux or 55.0.2883.95 (64-bit) on Mac.
Are you guys on Windows?

[2017-01-07 18:41] Silobrlst commented on #2525
Yes I'm on windows, chrome 55.0.2883.87 m (64-bit)

[2017-01-07 18:43] Tooa commented on #1843
Hey, this works for me with the latest version from the `develop` branch. Comment if you still have problems. Thanks for your report.

[2017-01-07 18:43] #1843 closed

[2017-01-07 19:59] yotamberk commented on #2453
@halli-pronestor Hey! Any progress with this?

[2017-01-07 20:28] mojoaxel commented on #2525
I also can not confirm this on Windows with Chrome 55.0.2883.87. Strage!
Maybe I'm looking at this the wrong way? I have opend [the jsbin](http://jsbin.com/rutoyuhiyu/edit?html,console,output) and a get a lot of console.logs with the coordinates when moving the mouse over the canvas.

[2017-01-07 22:49] Tooa commented on #2525
You need to keep the **left mouse button pressed** when moving.

[2017-01-07 23:34] Tooa commented on #1726
Can you provide your problem on [jsbin.com](http://jsbin.com/)? I will look into it.

[2017-01-08 08:10] mmcnl commented on #1517
I can confirm this is still an issue; `rm -r node_modules; npm install` did not help.

[code]

and running @ipavlic's code in node produced an empty output file:
[code]

[2017-01-08 08:24] mojoaxel commented on #2525
:-) Sorry..My mistake.

:+1:  **Still working for me on:**
* Chrome 50.0.2661.75 (64-bit) on Linux

:-1: **Not working with:**
* Chrome 56.0.2924.51 beta (64-bit) on Linux
* Chrome 55.0.2883.95 (64-bit) on Mac
* Chrome 55.0.2883.87 on Windows

Here is a minimal Canvas-Test-Case: https://jsbin.com/dofiroy/1/edit?html,console,output
This simple test-case works in all chrome version for me. So maybe

[2017-01-08 09:02] Tooa commented on #1517
Have you tested this against the latest version on the `develop` branch?

[2017-01-08 09:37] Tooa commented on #2525
Looks like. The Canvas Test-Case example works for me with Chrome 55.0.2883.87 (64-bit) on Linux Mint 17.3.

[2017-01-08 10:00] mojoaxel commented on #2525
I've found the problem:
https://github.com/almende/vis/blob/develop/lib/module/hammer.js#L7

Maybe @josdejong can fix this!?

[2017-01-08 15:58] cfwillis commented on #2414
I get same error doing any build, tried to fix but no luck... anyone else fix or know workaround?

[2017-01-08 17:21] mmcnl commented on #1517
Thanks for the tip, @Tooa, using the develop branch did work. However, the process resulted in files that were larger than the files I found in the master branch `dist` folder:
[code]
vs
[code]

[code]

[2017-01-08 17:28] Tooa commented on #1517
Why should they match? Our `develop` branch is the latest edge version. Once it is stable enough we merge it with master and release. This approach is based on [this](http://nvie.com/posts/a-successful-git-branching-model/) model. Maybe I got you wrong.

[2017-01-08 17:32] mmcnl commented on #1517
I wouldn't expect them to match exactly, but as my goal was to use the smallest js file possible, the `vis-network.min.js` file already included in the `dist` folder of `master` branch is about 30% smaller than the custom build I was able to make. I'm not sure if that indicates that I was doing something wrong in my build process or just that there is more code in the `develop` branch. In any case

[2017-01-08 19:37] mojoaxel commented on #1517
@Tooa wie should kewp an eye in the site. Maybw @mmcnl is right and something is wrong. New issue?

[2017-01-08 19:38] mojoaxel commented on #2543
:+1:

[2017-01-09 04:54] michelson opened #2556 "how to optmize/speed up rendering on network"
Hi, we are using vis js to render our graphs, fantastic library!

we are rendering graphs with a limit of 170 nodes, as you zoom the graph you get slow rendering when labels start to appear.

we are using edges with labels and physics configured with this settings:

[code]
is there some fine tuning you would recommend me in order to speed up the rendering ?

you can see a live example at: http://v

[2017-01-09 07:50] emiliosalazardonate commented on #2547
Does this mean that it will be fixed in the next release?

Thanks,
Emilio.

[2017-01-09 09:03] yotamberk commented on #2547
Yup :smile:

[2017-01-09 09:33] mojoaxel commented on #2104
@lehuyhuan It realy would help, if you could provide us with your changes to achieve this. Also pull-request are very welcome!

[2017-01-09 09:44] mojoaxel commented on #2104
@eymiha Maybe thats something for you :wink:
It looks like a highly requested feature, that seems not to be that difficult!?

[2017-01-09 10:14] mojoaxel commented on #1517
I had a look on the file-sizes again. I see no significant change comparing `master` to `develop`.  I also created a simple custom.js as descriped in the [Example 1](https://github.com/almende/vis/blob/develop/README.md#examples-of-custom-builds). I see no unexpected file-sizes there.

[2017-01-09 11:03] halli-pronestor commented on #2453
No progress i had to put it on hold. I needed to come up with a concrete solution fast, so i implemented
_lazyloading_ where i spin up new timeline each screen size on scroll/resize. And then on `rangechange `only `setWindow `on the visible timelines. So i am just working with 1-2 screen size of data on events. That also scales better. Hope though i will find time to look at the underlying perform

[2017-01-09 11:47] msibibo commented on #2556
google around for slow rending of network graph....seems this SO thread is related
http://stackoverflow.com/questions/41547217/visjs-stops-responding-on-node-count-40

[2017-01-09 15:30] eymiha commented on #2104
Hmmm... I agree, the ends of the edges can get busy when many come into a node. There are a few alternatives (like moving an edge's end-label closer to the center in direct proportion to how many edges are coming into that end's node) to relieve the crowding. I could also see the same to/middle/from paradigm already used for arrowheads being in effect here.

As an aside, perhaps the right answer i

[2017-01-09 15:32] LLTommy commented on #2556
Hi there!
How do you define 'slow rendering'? I ask this, because if I click on your example, I feel like it is doing ok.

However, if you want to speed up things (and I think that is where the problem lies) ... if you zoom in and out while the graph is still rearranging itself (e.g. after dragging some nodes around), there is just a lot to do for your browser. An easy solution is to show the netw

[2017-01-09 15:37] LLTommy commented on #2532
I agree with Tooa, we need a little more to be able to help. I tried pretty much all other events but 'hoverNode' and they all worked fine with that syntax you posted up there.

[2017-01-09 15:51] LLTommy commented on #2494
From my experience, just to change the sort method is often not enough. Also try to play with other parameters (e.g. mass of node and edges) to get better results. Unfortunately, there is not one set of options that works for all cases, so I ended up with a brute force 'try and error' approach.

Maybe you kind find additional hints by studying old issues, e.g.: https://github.com/almende/vis/issue

[2017-01-09 15:54] michelson commented on #2556
Hi @LLTommy, sure! please give me some pointers to implement that and see how it works
if I wait for nodes to rearrange it could take a long time too right ? I guess the rearranging will depend on how is physics configured right ?
I'm looking for the most efficient physics configuration to speed up things

[2017-01-09 15:56] LLTommy commented on #2509
I don't really have an idea, just something I realised by clicking on your jsbins: In the console it complains about a missing file (404). Why is that, what file is that?

[2017-01-09 16:02] LLTommy commented on #2556
No, the loading does not really take a lot of time. It saves computational power I think because you separate the two steps (1 physic calculation, 2 display and render the network).... if you don't separate it, your script in parallel calculates the physics (It's a force model, so every edge and node influences the others!) and display/animate the network.

Anyway, check out this official vis exam

[2017-01-09 16:09] michelson commented on #2556
thanks @LLTommy ! , I will check that, I hope it improve performance

[2017-01-09 16:10] LLTommy commented on #2405
I like the idea. But it should be possible already to build a visjs version only including parts of the lib (See **Custom builds** on the starting page). Wouldn't a better support of custom builds accomplish that goal? I'd suggest to have different versions of visjs to download (visjs-whole, visjs-network, visjs-3d, ...) ... that would kind of help already and would be kind of a 'splitting up ligh

[2017-01-09 16:15] LLTommy commented on #2480
I agree that this is a bit of a problem. I found a workaround but it's not nice. If you just care about not displaying multiple edges, you can kind of accomplish that by setting the clusterEdgeProperties/physics to false. Then it seems like there is only one edges, because all the edges to the cluster are overlapping. This takes care of the visual part, but of course if you want to compute somethi

[2017-01-09 16:18] LLTommy commented on #2449
What you are looking for is not to use physics for the nodes but use physics for the edges. I don't know if there is a workaround, but did you try something like giving the nodes mass 0 - which might not include them in the physical model) while giving your edges a mass?

[2017-01-09 18:53] FilipQL opened #2557 "Vis Network: Get the data about the Edges [fromId, toId]"
I am using Vis Network and the manipulation module is enabled so I can draw (add/delete) nodes & edges. After I finish with drawing nodes and edges, I would like to get information about what is drawn - about the current graph. Specifically, I would like to get information about all edges that are in the current graph, in the format like this:

[code]
So, to be clear, when we want to generate a gr

[2017-01-09 21:44] dalzell99 commented on #2548
I found the y-axis range under graph2d.linegraph.(yAxisLeft || yAxisRight).scale.(_end || _start)

[2017-01-09 22:25] JoshDreamland commented on #2494
Same problem, here. I get criss-crossing when one tree takes up too much horizontal space (it forces the same row of another tree into the next tree).

I've pastebinned an example, [here](http://pastebin.com/yxnvJPNY). It's fairly simple, and renders almost perfectly, with the exception of the right two trees crossing one another. Reference render [here](http://i.imgur.com/W7NPndP.png).

As with t

[2017-01-09 22:37] camous commented on #2480
nice finding ! seems to be correct (only one edge between 2 clusters now), but the overall repartition is 'different' :)
![image](https://cloud.githubusercontent.com/assets/8566299/21786466/3c30eb56-d6c4-11e6-8b7f-a68d69e52ea3.png)

[2017-01-10 02:07] dockstreet commented on #1911
short answer:
I created a couple of plunkers. This fix seems to work, in regards to the issue found.

long answer:
That said, I believe I may have uncovered another issue in the current development snapshot with IE11 and network.

When I try to do anything with network in IE11, I get :

'Symbol' is undefined

This which does not occur in vis 4.17.0 with network .
This behavior does not occur in Ed

[2017-01-10 05:15] msibibo opened #2558 "vis js loads very slow for high number of nodes ( > 40 nodes )"
I originally posted on [ stackoverflow ](http://stackoverflow.com/questions/41547217/vis-js-stops-responding-on-node-count-40).

first of all, i would like to say its an awesome library and hell simple to integrate...Kudos to that!!!

Coming to my problem :

my problem is that for node count < 40, it works fine, but increase the node count and i get the below error on mozilla, chrome just stops re

[2017-01-10 05:48] msibibo commented on #2558
Sample video from the webpage showing a vis network.

[video link](http://www.screencast.com/t/firKhfitgz5a)

I have been continuously trying to zoom in and zoom out, but notice the lag in the effect.Same *slowness*, i am talking about

[2017-01-10 09:25] LLTommy commented on #2480
Hm, could you explain in more detail what you mean by the overall 'repartition is different'? I don't really understand what you mean or what you'd like the graph to look like.

However, this is definitely a hack/workaround and not a real/nice solution. However, might be good enough for some case.

[2017-01-10 10:50] camous commented on #2480
I wasn't clear sorry :(
physic do the one edge job but _explode_ the "grouping" of cluster. I have no layout/physic configuration for the chart.

- with physic = false on clusterEdgeProperties
![image](https://cloud.githubusercontent.com/assets/8566299/21803505/a805b7a6-d72a-11e6-8680-4d523808fc4a.png)

- without
![image](https://cloud.githubusercontent.com/assets/8566299/21803513/b07d8c7e-d72a-11

[2017-01-10 12:09] LLTommy commented on #2480
Ah now I see what you mean - Clusters kind of are pushed to the outside with this workaround - right? Well if so, I have the same behaviour and I just accepted it so far. Maybe there is a way to change the Cluster/physics options to fight the problem a bit (mass of Cluster nodes? We just turned off physics for the edges!) but I don't know. But please report back if you find something useful, I mig

[2017-01-10 13:58] Tooa commented on #1911
@dockstreet Can you create a new issue for this problem? It helps to maintain the overall overview.

[2017-01-10 14:07] Tooa commented on #2558
Probably the same issue as https://github.com/almende/vis/issues/2556. Well, you have quite a lot of edges with labels there. We had some attends to implement the physics with web workers, but no one finished that work :( See [here](https://github.com/almende/vis/pull/1348) and [here](https://github.com/almende/vis/pull/1440).

We have two mechanisms to improve the stabilization i.e. `adaptiveTime

[2017-01-10 14:31] sarrek opened #2559 "Vis Timeline - Change max width (in px) of all columns"
Hello,

First of all, congratulations for your job!

I need to change the max width of all columns, so that they are smaller, block at 50px.
I don’t need the name of day.

I have returned the code in all directions, change the date ranges manually, change the width, I cannot change that.

Is the momentjs that manage that?

Another thing, I would like to prevent the system from spending days, when

[2017-01-10 14:42] dockstreet commented on #1911
will do & thanks

[2017-01-10 14:53] dockstreet opened #2560 "IE11 - 'Symbol' is undefined when trying to use network"
Hi,

In validating another issue https://github.com/almende/vis/issues/1911

discovered that snapshot in develop 4.18 works fine in Edge/Chrome/Firefox, but throws an error in  IE11 when trying to instantiate vis Network

'Symbol' is undefined is the error

Plunker created to reproduce the error
https://plnkr.co/edit/MX1agpoRYgYbgC23NAhl?p=preview

[2017-01-10 14:59] Tooa commented on #2560
Maybe one of this issues helps https://github.com/angular/angular/issues/7914 https://github.com/AngularClass/NG6-starter/issues/114 ?

[2017-01-10 15:17] sarrek commented on #2559
After more research, here is the probleme :

`  TimeAxis.prototype._repaintLabels = function () {
    var orientation = this.options.orientation.axis;

    // calculate range and step (step such that we have space for 7 characters per label)
    var start = util.convert(this.body.range.start, 'Number');
    var end = util.convert(this.body.range.end, 'Number');
    var timeLabelsize = this.body.ut

[2017-01-10 16:00] dockstreet commented on #2560
Looks like it could. I wonder...  Source map was added after the last 4.17 release.
There is something here as well, seems like a polyfill could help fix this:

https://github.com/Financial-Times/polyfill-service/issues/715

[2017-01-10 16:52] msibibo commented on #2558
I did referred to the #2556 before reporting the problem, did almost all possible research through google and SO.nothing helped though.JS is not something m very familiar with, sorry! :(

precalculation is an option but not in all the cases.what do you suggest captain tooa?

[2017-01-10 17:56] dockstreet commented on #2560
Ok. Update... found a fix for IE11. What I did was

npm install babel-polyfill --save
npm install --save-dev babel-plugin-transform-runtime
npm install --save babel-runtime

and npm run build and copied the minified vis.js.min to the plunker I was testing with in IE11, it then worked fine.

What I believe happened was the babel-loader was added in this commit, which works fine except for IE11

htt

[2017-01-10 19:00] josdejong commented on #2525
@mojoaxel If I find some time I will look into it but I can't make any promises.

I think [`preventDefault: mouse`](https://github.com/almende/vis/blob/develop/lib/module/hammer.js#L7) is there to prevent selecting text while dragging the mouse, it does not stop propagation so it should not block other event listeners like mousemove. But looking at your [latest jsbin](https://jsbin.com/dofiroy/2/e

[2017-01-10 21:06] colotiline commented on #2509
@LLTommy, hi. I don't see any 404 error.

[2017-01-10 22:03] Pratik--Patel opened #2561 "Issue when opening a cluster containing other clusters"
First of all, thanks for the great library!

I am using visjs network module.
When I try to programmaticaly open up a cluster containing other clusters, I get an exception from vis.js saying 'Cannot set property 'vx' of undefined'. The same issue is described here in this [SO question](http://stackoverflow.com/questions/36895691/nested-clusters-in-vis-js-networks-causing-problems)

I modified the

[2017-01-10 22:26] dalzell99 opened #2562 "[graph2d] Adding the group id to SVG elements to help custom styling"
Feature request. I would like the group id added to the SVG elements on the graph2d so they can be styled more easily. A custom attribute like data-group-id would be perfect.

[2017-01-11 06:27] gbrault opened #2563 "syntax tree display"
Hi!

thanks a lot for this library!

just to provide a usage case

result is here:

https://github.com/gbrault/railroad-diagrams/blob/gh-pages/live/doc/svg/expression-results.png

And railroad script is used for validation parser generator

https://github.com/gbrault/railroad-diagrams/blob/gh-pages/live/doc/readme.md

I wouldn't have the chance to do this work without vis.js

Thanks again!

Gilber

[2017-01-11 09:13] tejashree2012 opened #2564 "Almende Timeline: Highlighting weekends with different colors"
I want to highlight weekends and non business hours in different background color on timeline.
Can I do this?
For eg: Saturday and Sundays  and non business hours will be shown in grey color and rest of the days in white. Even after zoom in, grey color should be displayed on that particular day.

Kindly let me whether we can achieve this in timeline?

[2017-01-11 09:33] LLTommy commented on #2509
At least if you start it in a new window (full screen), it says 404 and the file that it tries to get is  https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.map ... I don't know about a vis.map file so that is why I was confused/curious. Might have nothing to do with your actual problem though.

[2017-01-11 11:44] msibibo commented on #2558
can we add this network in an iframe on the page and keep rendering separately? without affecting the mail document load time and lag?

[2017-01-11 12:13] albertotimoteo commented on #2552
It doesn't work, I have tried this before, and then I tried again. Vis simply doesn't draw my timeline and gives me a warning:
`Something is wrong with the Timeline scale. Limited drawing of grid lines to 1000 lines.
TimeAxis._repaintLabels @ vis.js:25198
TimeAxis.redraw @ vis.js:25084
(anonymous) @ vis.js:19556
Core._redraw @ vis.js:19555
(anonymous) @ vis.js:779`

I created a div just like the p

[2017-01-11 12:59] ihabadly opened #2565 "Suggestion: Colour for "line" style in grap3d"
Thanks for the great effort, is it possible to add style line colour to work with the style "line" in the graph3d.

[2017-01-11 13:10] Tooa commented on #2563
Very Cool! Can we use [this](https://rawgit.com/gbrault/railroad-diagrams/gh-pages/live/live.html) for our [showcases page](http://visjs.org/showcase/index.html)? Feel free to create a pull request with the showcase.

[2017-01-11 13:23] Tooa commented on #2525
@josdejong The canvas test case shows that it works using only `hammer.js`. Compare the working example to [this](http://jsbin.com/rutoyuhiyu/1/edit?html,console,output). You will notice that when keeping the left mouse button pressed while moving, no more console logs are issued. However, this works in the canvas test case, which does not rely on visjs. Thus, it has to be an error in visjs.

[2017-01-11 13:36] josdejong commented on #2525
ah, now I see. The [jsbin](http://jsbin.com/rutoyuhiyu/1/edit?html,console,output) now indeed keeps working when dragging. Yesterday I tried and it *stopped* working when dragging - not sure what was going on then now it works correctly.

[2017-01-11 15:59] dockstreet commented on #2560
@Tooa / @mojoaxel
it may be of benefit to add this polyfill into the v4.18 release milestone?

perhaps for IE11  and from what I've been reading (but not tested) Safari compatibility and it looks like the solution is straightforward by adding the dependencies for babel

[2017-01-11 20:14] gbrault commented on #2563
I agree of course. How can I manage to do this pull request? Can you guide me?

[2017-01-11 20:42] Tooa commented on #2563
You need to fork this repository and checkout the develop branch. Then take a look at [this](https://github.com/almende/vis/pull/2101/files) pull request for the files you need to provide/change. Once you did commit the changes to your local repository on a separate branch you can use the Github Web-Interface to create the pull request. Make sure your pull-request is to the `develop` branch. Let m

[2017-01-11 23:09] FilipQL opened #2567 "Vis Network + vue.js: When adding a new edge - all nodes become red and edges overlap"
Hi,

In which case Vis changes the color of nodes to red?

I have created a very simple app using [Vue.js](https://vuejs.org/) & [Vis Network](http://visjs.org/docs/network/). You can take a look at it here: **https://jsfiddle.net/Filip_Z/2ewtzh7w/1/**
For some reason, when I add a new edge - all nodes become red and every newly added edge will overlap with the existing one:

![1](https://cloud.gi

[2017-01-12 03:20] dalzell99 commented on #2562
I didn't read the docs well enough as groups have a classname prop for this.

[2017-01-12 03:20] #2562 closed

[2017-01-12 07:24] zyu539 opened #2568 "Make certain nodes draggable"
Hi there,
Is it possible to make some nodes (e.g. nodes with certain id or shape) draggable while others not? If so, how can I make it? Thanks a lot

[2017-01-12 08:49] gbrault commented on #2563
Actually, it seems the showcase are in the gh-pages branch, can you confirm?

[2017-01-12 08:59] mojoaxel commented on #2563
Yes. You'll need to make a pull-request to the gh-pages branch. Please make sure to base it on the current ph-pages branch and not develop. Thx.

[2017-01-12 09:25] gbrault commented on #2563
I did submit the pull-request! Hope this will work. let me know. You can then close the ticket!

Gilbert

[2017-01-12 13:24] Tooa commented on #2567
There was a similar problem with the dataset where all nodes got the title 4 after an update [here](https://github.com/almende/vis/issues/2524)? Looks like visjs does not work properly with vue.js or something is missing on the vue.js side in order to work properly with visjs. This issue is really strange.

[2017-01-12 14:03] Krewn opened #2570 "Is there a cdn for vis?"
So I have for convenience been referencing vis off of their web site `<script type="text/javascript" src="http://visjs.org/dist/vis.js"></script>` Tho based on the docs here it seems that those maintaining the project would rather see us download the source ourselves. Hence the question, is there any recommended cnd for vis and could we add that information to the readme / website.

[2017-01-12 14:19] Tooa commented on #2570
What about [this](http://visjs.org/) (link from cdnjs.com)? :D

[2017-01-12 14:30] Tooa commented on #2568
Sure. See the documentation for the flag `dragNodes` [here](http://visjs.org/docs/network/interaction.html) i.e. `When true, the nodes that are not fixed can be dragged by the user.`. Thus, you just have to put the property `fixed` for the respective [nodes](http://visjs.org/docs/network/nodes.html).

Does this answer your question?

[2017-01-12 19:54] dockstreet commented on #2351
Hi, I put in a pull request here that may help with an issue? If it is valid, I would like to see if it could make into the release
https://github.com/almende/vis/pull/2566

[2017-01-12 22:41] RyanAldridge commented on #2494
Spent another 20 minutes playing with settings this evening. Haven't found a solution yet though. Will report again when I have more time.

[2017-01-12 23:28] zyu539 commented on #2568
Cool, It works. Thanks a lot.

[2017-01-13 01:13] lewisjb commented on #2564
You'll want to look at http://visjs.org/docs/timeline/#Styles
The example there even has the greyed weekends. I'll leave it as an exersize for the reader on how to do it for non-business hours

[2017-01-13 01:19] lewisjb opened #2572 "[Timeline] Tooltip not disappearing on mobile & scrolling."
I have come across two scenarios where the tooltip won't disappear (as `mouseout` isn't triggered).

1. On mobile
2. If you are hovering over an item and scroll

The easiest fix I can think of is to store the current open tooltip in `ItemSet`, as there logically can only be one open, that way we can force the old one to be hidden before displaying a new one.

[2017-01-13 11:17] sarrek opened #2573 "[Timeline] Step decimal value, without days repeat"
Hey,

 I have a problem with step.
I want to reduce the width of all columns, for increase number of view on columns
I therefore increase the step to 0.3
Now I always have the same range,
with the days that repeats, I would like to have 1 2 3 4 5 .... not 1 1 1 1 2 2 2 2.

![sans titre](https://cloud.githubusercontent.com/assets/7814272/21928197/73c3ce84-d99a-11e6-86fe-6c752a2ede0d.png)

I think w

[2017-01-13 11:48] davidwhewell commented on #1900
My own example I built still has the same issue, in both chrome.  It references vis 4.16.1 (not a static local copy).

The example on the visjs.org site works for me on both Edge and Chrome, so obviously something has changed in the last 6 months in the example, or in visjs, to fix the issue, and I need to identify that and retrofit it into my own example.

This issue can be considered closed.

[2017-01-13 11:48] #1900 closed

[2017-01-13 12:18] #2568 closed

[2017-01-13 12:20] #2570 closed

[2017-01-13 12:36] dp-t-rex opened #2574 "[Network] Remove .once"
Is it possible to remove a listener with network.off() , that was added with network.once() ?
Thank you for your help.

[2017-01-13 17:04] mkollers opened #2575 "Network - Node rendering in Chrome sometimes fails"
Sometimes my network-graph only draws the edges in google chrome (55.0.2883.87). Then it look's like the following:

![image](https://cloud.githubusercontent.com/assets/9371455/21938181/87ff44f8-d9ba-11e6-9183-06852e75a9ba.png)

It always works fine in Edge or Firefox. Anyone else with this problem or any ideas what this can be?

[2017-01-13 19:01] mojoaxel commented on #2563
merged with #2571 an 3219c5d

[2017-01-13 19:01] #2563 closed

[2017-01-13 20:04] cyrilthank opened #2577 "InteractionEvent.html example help"
hi

can you please help me with this

document.getElementById('eventSpan').innerHTML = 'Click event' + network.getSelectedNodes() +  nodes.get(5).text;

works as expected. but due to nodes.get(5).text gives the text of node5 specifically due to the hard-code.

But the below 2 to remove the hard-code and instead give the text of the node which is selected do not work

1.
document.getElementById('ev

[2017-01-13 22:01] cyrilthank commented on #2577
Got this to work

message.innerHTML = 'Click Event' + network.getSelectedNodes() +  nodes.get(network.getSelectedNodes())[0].text

Thanks

[2017-01-13 22:01] #2577 closed

[2017-01-14 06:50] tejashree2012 commented on #2564
I tried to implement greyed weekends. However when timeline is zoomed in to hourly basis, grey color of weekends disappear. Can we achieve this. Even after Zoom in or zoom out, grey color should be displayed on that particular day.

[2017-01-14 07:15] zyu539 opened #2578 "Node intersect"
Hi there,
When using vis.js network module, is there any way to detect nodes intersection? Thanks a lot.

[2017-01-14 13:48] mojoaxel commented on #2490
Fix reverted with #2512

[2017-01-14 13:48] mojoaxel commented on #2490
fixed with #2534

[2017-01-14 13:48] #2490 closed

[2017-01-14 13:52] mojoaxel commented on #1766
@gmlevin The option `throttleRedraw` will be available again im v4.18. But it is **not implemented anymore** and will be removed in the next major release.

[2017-01-14 14:06] mojoaxel commented on #2515
Fixed by @lewisjb with #2539

[2017-01-14 14:06] #2515 closed

[2017-01-14 14:11] mojoaxel commented on #2516
Implemented by @lewisjb with #2544
Thanks!

[2017-01-14 14:11] #2516 closed

[2017-01-14 14:13] mojoaxel commented on #2538
Fixed by @yotamberk with #2551

[2017-01-14 14:13] #2538 closed

[2017-01-14 14:15] mojoaxel commented on #2478
Fixed by @Tooa with #2555

[2017-01-14 14:15] #2478 closed

[2017-01-14 14:16] mojoaxel commented on #1911
fixed by @Tooa with #2554

[2017-01-14 14:16] #1911 closed

[2017-01-14 14:18] mojoaxel commented on #2423
We should keep an eye on this and improve the usability for us in the future.

[2017-01-14 14:36] Charlie-UK opened #2579 "Network - Element Type Tooltip failing"
Hi,

I've been working with vis network charts and have run into an issue trying to use an element as a tooltip (i.e. options.nodes.title = <Element>).

This should show the issue occurring [JsBin Example](https://jsbin.com/jajonuwoyi/2/edit?html,console,output), I've attached a HTML file as an example as well as the console output seems different in JsBin ([index.zip](https://github.com/almende/v

[2017-01-14 15:14] mojoaxel opened #2580 "Graph2D breaks when zooming in/out"
You can reproduce the problem using "examples/graph2d/08_performance.html":

![peek 2017-01-14 16-10](https://cloud.githubusercontent.com/assets/600565/21955868/269c06d2-da74-11e6-86ee-a20bea4eb346.gif)

This was introduced after 4.17.0 and needs to be fixed before the 4.18 release!!

[2017-01-14 15:18] mojoaxel commented on #2580
Also the console shows errors:
[code]

[2017-01-15 09:35] yotamberk commented on #2564
@tejashree2012 Can you supply a jsbin? It will be easiest to look at with an example

[2017-01-15 09:36] yotamberk commented on #2552
@albertotimoteo  Can you please supply a jsbin so I can take a look at it?

[2017-01-15 09:38] #2580 closed

[2017-01-15 09:38] mojoaxel commented on #2522
fixed by @yotamberk with #2582

[2017-01-15 09:38] #2522 closed

[2017-01-15 09:41] mojoaxel commented on #2580
There were two issues here. One is the problem described in #2500. The other one is a really strange:

[code]

This is caused by because in [LineGraph.js#L481](https://github.com/almende/vis/blob/develop/lib/timeline/component/LineGraph.js#L481) the comparison between the IDs ("0" !== 0) fails. We have to make sure that internal ids are always of the same type.

[2017-01-15 12:11] mojoaxel commented on #2351
v4.18.0 is released.

[2017-01-15 12:11] #2351 closed

[2017-01-15 13:04] mojoaxel opened #2584 "Webpage: Missing Example Screenshots"
I updated the example overview pages in the gh-pages branch. There are still a view screenshots missing.

[2017-01-15 13:56] FilipQL commented on #2567
With Vis version 4.10.0 nodes don't turn red but the edges still overlap.

[2017-01-15 14:33] mojoaxel opened #2585 "React Example not longer working"
The [React example](http://visjs.org/examples/timeline/other/usingReact.html) has problems.

[2017-01-15 14:58] mojoaxel opened #2586 "Show/Hide timeline items according to timeline "zoom" level"
It would be nice to be able to define something like a zoom level per timeline item. Tese items than only get displayed, if you are zoomed-in at a given "level".
The zoom level in witch the item is visible could be defined by something like a `visibleRange`:

[code]

So if the zoom range is 1 month or higher (less days), than this item gets displayed. If the user zooms in until the zoom-range gets

[2017-01-15 18:58] mojoaxel commented on #2567
@FilipQL It looks like it works with v4.18.0: https://jsfiddle.net/k5z587tv/

[2017-01-15 19:33] Tooa commented on #2567
@mojoaxel doesn't work for me with your Fsfiddle. Once I attach an edge to a created node, all nodes become red.

[2017-01-15 19:57] yotamberk commented on #2585
Ah... Stupid mistake...

[2017-01-15 21:45] FilipQL commented on #2567
@mojoaxel It doesn't work.

@Tooa I'm not sure where is the problem because without Vue - everything works fine. I have started a new thread on the Vue Forum: https://forum.vuejs.org/t/vis-js-does-not-work-properly-with-vue-when-adding-a-new-edge-all-nodes-become-red-and-edges-overlap/5132 and on Laracasts: https://laracasts.com/discuss/channels/vue/visjs-does-not-work-properly-with-vue but there'

[2017-01-16 07:43] sqazzi commented on #450
I observe the problem again on version 4.17.0 - on any browser. As a result there are glitches during panning vertically and the visualization not always renders completly.  Here is the [plunk](https://plnkr.co/edit/Xllnd0?p=preview)

[2017-01-16 09:27] mojoaxel commented on #2567
@FilipQL @Tooa Sorry, my mistake. I can confirm it now.

[2017-01-16 09:30] mojoaxel commented on #450
@spazzi Thanks for providing the example! I can confirm this still exists :cry:

[2017-01-16 13:56] mkollers commented on #2575
After debugging a little bit, i figured out, that the to fat marked emits are only triggered when the nodes are not rendered:

activate
resize
startSimulation
resetPhysics
_resetData
_dataChanged
_requestRedraw
_dataUpdated
startSimulation
_requestRedraw
_dataLoaded
_repositionBezierNodes
initPhysics
_resizeNodes
_blockRedraw
startStabilizing
stabilizationProgress
**resize**
**_requestRedraw 1**
s

[2017-01-16 14:13] mkollers commented on #2575
Error occured in comination with "position: fixed"!

[2017-01-16 15:32] SoliveauN opened #2588 "Expected identifier, string or number"
Hi,
I have this error in IE 11 debug explorer :
[code]
May you have a solution ? I check issues and stackoverflow tickets with this error type, but nothing found.
It seems throwed on the loading off vis.js in the page between `<head><script>` beacons.
Thanks a lot,
Regards.

[2017-01-16 15:37] mojoaxel commented on #2588
@SoliveauN Are you using the latest release v4.18.0? What is you configuration?

[2017-01-16 15:40] SoliveauN commented on #2588
Hi,
Nope, I'm using 4.17.0 version. I have just seen the 4.18.0 version.
I use Hibernate framework, JBoss Server.
I don't have the error on Chrome,Firefox and Edge.
Do you think it will be resolved with 4.18.0 version ?

[2017-01-16 15:42] Tooa commented on #2575
Can you provide a minimal example showing the problem via [jsbin.com](jsbin.com). Please also let us know how to reproduce the error using the example.

[2017-01-16 15:50] Krewn commented on #2570
Cheers.

[2017-01-16 16:00] SoliveauN commented on #2588
With 4.18.0 version, I have this error :
[code]
An other error, but very similar.
But if I refresh, only with debug explorer opened, I have got the timeline :strange:

[2017-01-16 16:02] mojoaxel commented on #2588
Please always use the last version.

The backend framework has nothing to do with the frontend code.

Also not on Edge!? Ok, Than it might be a IE11 bug.

We improved the babel support so maybe this problem is fixed, but maybe not.

Please try the un-minifies version "vis.js" again and report the exact error shown in IEs development tools. Thanks.

[2017-01-16 16:09] SoliveauN commented on #2588
With the restore of 4.17.0 version I have got the first reported error  :
[code]
Should I downgrade more ?

[2017-01-16 16:14] mojoaxel commented on #2588
You can try that, but I don't think it will help much.

Does the same error occur if you open the [basic example](http://visjs.org/examples/timeline/basicUsage.html) on your IE11?

It looks to me like a webpack/babel incompatibility with this version of IE.
I think the best chance we have is updating webpack and babel and making sure we have all necessary babel-addons integrated to support IE11.

[2017-01-16 16:29] SoliveauN commented on #2588
I don't have the error with the example on your website, locally (via the path "C://...") and whenI include the .html file in my workspace.

[2017-01-16 18:00] Tooa commented on #2524
I debugged this issue the last three hours without success. However, I got some insights I want to share here:

The rendering for the node labels is called [here](https://github.com/almende/vis/blob/bc2bc581aaa16905f2ee15b26d3915648c34cc54/lib/network/modules/components/nodes/shapes/Ellipse.js#L55). The `Label` for a is initialized [here](https://github.com/almende/vis/blob/bc2bc581aaa16905f2ee15b

[2017-01-16 20:26] #2585 closed

[2017-01-16 23:55] maamounkhlifi opened #2589 "Problem with text inside circle ( network )"
i can't get the text inside circle to center after updating vis, it look's like the following:

![capture](https://cloud.githubusercontent.com/assets/25162634/22002828/4cd0dabc-dc4f-11e6-9d8e-a87197668954.PNG)

[2017-01-17 07:04] tomdcc opened #2590 "Zoom-in on Timeline using scrollwheel or touchpad when already at max zoom level moves range by 1ms"
Hi

**Visible behaviour:**
We are allowing users to zoom the timeline using scroll wheel / touchpad and have not altered the default `zoomMin` value of `10`. If our users scroll in until they are that far in, further zoom-ins seem to move the window to the left by 1ms.

**Expected behaviour:**
Once the zoom level is already at `zoomMin`, further zoom-in actions do nothing, leaving the visible wind

[2017-01-17 08:33] bthieurmel commented on #2589
Same bug observed after updating to ``vis.js 4.18.0``
![net_1](https://cloud.githubusercontent.com/assets/8750326/22013154/eaebf81a-dc97-11e6-8ce2-3ee590a33494.png)

[2017-01-17 08:40] bthieurmel opened #2591 "[Network] self-loop edge not always show with 4.18"
When network have "self-loop" edge (from = 1, to = 1), they are not always showed, depends of movement :
![net2png](https://cloud.githubusercontent.com/assets/8750326/22013377/f3efe1e6-dc98-11e6-8c44-fe90498afe5c.png)

[2017-01-17 08:57] marcortw commented on #1405
@yotamberk I was recently thinking of this again. Do you think it would make sense and be possible to let the library user provide/inject a custom function for the major/minor gridline calculation rather than just providing this specific feature (week-based gridlines)? Something similar to how a custom snap function can be given as a configuration option.

[2017-01-17 09:23] SoliveauN commented on #2588
Hi,
Can you explain me what is "webpack" and "babel" ? And can you just tell me how update them ?
Regards.

[2017-01-17 09:35] mkollers commented on #2575
I've tried to reproduce it in jsbin, but i don't get it working...i think it has something to to with my angular slide in animations but i'm not sure. Sorry :-(

[2017-01-17 09:35] #2575 closed

[2017-01-17 11:02] SoliveauN commented on #2588
Well, I solved it !
There was a `meta `beacon which forced the compatibility to IE8 in my head beacon. This version of IE doesn't support asynchronous loading of analytics.js librairy (googleAnalytics.js).
Thanks a lot for your help !
Best regards.

[2017-01-17 11:02] #2588 closed

[2017-01-17 13:12] Tooa commented on #2591
Can you provide a minimal example showing the problem via [jsbin.com](jsbin.com). Please also let us know how to reproduce the error using the example.

[2017-01-17 13:13] Tooa commented on #2589
About which versions are we talking - upgrading from 4.17 to 4.18? Can you tell me in which version this behaviour works as expected?

[2017-01-17 13:28] bthieurmel commented on #2591
Short example :  http://jsbin.com/fipaha/edit?html

Seems to be with dot shape. Edge from node 1 to node 1 is not always visibled (clicking Nodes / moving nodes, ....)

[2017-01-17 13:32] bthieurmel commented on #2589
Work fine with ``vis.css 4.17.0`` (label are centered), but not with ``vis.css 4.18.0``.

Simple case : http://jsbin.com/wudaji/edit?html,output

[2017-01-17 13:35] Tooa commented on #2591
I can confirm this bug. It works with 4.17 and breaks in 4.18. Thus, it was introduced in 4.18 :(

[2017-01-17 13:38] Tooa commented on #2589
You are right. Works with `4.17.0` and is broken in `4.18.0` :(

[2017-01-17 13:39] knokit commented on #2525
I've got a similar problem with the Timeline, that maybe it's connected with this one.

The mouse events stopped working on chrome, but seem to work fine on firefox - [jsfiddle](https://jsfiddle.net/knokit/v217ag47/3/)

[2017-01-17 13:40] bthieurmel commented on #2591
Not only for ``dot``, observed same bug with ``diamond``. Don"t have test all shape...

[2017-01-17 14:16] waterplea opened #2592 "Stretch groups height to fit the timeline"
I have a timeline with multiple groups. Sometimes there's a lot of them and scroll is introduced, sometimes there's not enough of them to fit the height of the time line. It would be great to have an ability to let them stretch vertically to fit the whole timeline. I tried to do that overriding default styles with flexbox model but due to nesting structure of the layout I was unable to make it wor

[2017-01-17 16:37] eymiha commented on #2591
For me, the issue can be seen:

   when opening the network, the link-to-self loop is missing...

   and then simply clicking on the canvas displays the loop.

[2017-01-17 16:49] bthieurmel commented on #2591
And movving others nodes without loop then loop flash

[2017-01-17 17:23] RaekwonStorm commented on #2123
@wansco I tried putting `event.preventDefault();` in the Range.js _onPinch function, and it seemed to help a bit, but it was still very inconsistent. It definitely zooms the screen size more frequently when pinching vertically, but it will still occasionally zoom the screen on horizontal pinch.

[2017-01-17 17:37] jtissier opened #2594 "Timeline - Uncaught TypeError: Cannot read property 'height' of undefined"
Hi all,

First I want to say how much I love vis.js library, it saved me months of time to developp a timeline like yours.

I got an error Error on visjs 4.16.1 and 4.18.0 when i try to move a subgrouped item in another group :

[code]
If I catch this error I got another one on line 22179 and when I catch the second (in a console.warn) all looks good.

How can i fix it ?

[2017-01-17 19:23] wansco commented on #2123
Its been a while since I looked at this. I pulled down the latest version and tested it on "/examples/timeline/editing/tooltipOnItemChange.html". _onPinch() didn't have the preventDefault(), but it seemed to be behaving properly. Although, when I scrolled the page and then tried to pinch the timeline while the page was still moving, I got the full page zoom.

It appears that when iOS is easing the

[2017-01-17 19:48] eymiha commented on #2591
I've got a fix for this one... I'll be doing a PR shortly.

[2017-01-17 22:31] mojoaxel commented on #2590
Thx. I can confirm problems at the max zoom level. We should look into it.

[2017-01-17 22:41] blin4444 commented on #2594
I'm receiving similar errors after upgrading from 4.17.0 to 4.18.0. Needed to downgrade back to 4.17.0.

[2017-01-17 22:42] mojoaxel commented on #2417
@omkarbodke Maybe just zooming out could do the trick?

[2017-01-17 22:52] mojoaxel commented on #2564
I remember fixing the CSS tags month ago. This should be doable overwriting the correct class-tag for weekends, but I have to check again for details.

[2017-01-17 23:00] mojoaxel commented on #2572
I can confirm that tooltips stay visible at the current position if the user scrolls, moves or zooms the timeline.

[2017-01-18 02:10] linrongbin opened #2596 "Timeline using React is not working."
http://visjs.org/examples/timeline/other/usingReact.html

[2017-01-18 06:04] thomasbarone opened #2597 "Timeline - Zooming while also dragging items"
There is an issue that occurs on the Timeline when using the CTRL key + mousewheel to zoom while simultaneously dragging an item. It causes the item being dragged to move erratically and often causes it to become way out of sync with the cursor.

This can be seen while using this example:
[http://visjs.org/examples/timeline/editing/editingItems.html](http://visjs.org/examples/timeline/editing/edit

[2017-01-18 06:19] thomasbarone opened #2598 "Timeline - Tooltip flickers when dragging item to edge"
This is a minor issue that occcurs when dragging an item with a tooltip across to the edge of the timeline so that its start date is before the visible date. It causes the tooltip to flicker.

This can be seen on the vis timeline tooltip example:
[http://visjs.org/examples/timeline/editing/tooltipOnItemChange.html](http://visjs.org/examples/timeline/editing/tooltipOnItemChange.html)

Steps to repr

[2017-01-18 06:52] #2596 closed

[2017-01-18 10:58] mojoaxel commented on #2575
@mkollers Feel free to reopen if you think its a problem with vis.js

[2017-01-18 11:06] mojoaxel commented on #2598
I can reproduce this:
![peek 2017-01-18 12-05](https://cloud.githubusercontent.com/assets/600565/22061693/77b99bb0-dd76-11e6-9d5c-c4fdc99e346a.gif)

It's really a minor issue!

[2017-01-18 16:14] Charlie-UK opened #2600 "Network - Icon Borders"
Hi,

Would it be possible to add borders to icon shapes something like:

[code]
I've been trying to add borders around font icons using the before drawing and after drawing events but I haven't been able to produce the look I would like.  The problem I am having is that I either end up with edges drawn over the border or edges in side the border area (see below)

![iconborders](https://cloud.githu

[2017-01-19 00:18] FilipQL commented on #2524
@Tooa I'm not sure but I believe that the problem is not in Vis but in how Vue's reactivity works. From the Vue documentation:

... so I guess that the answer lies here:

        data() {
            return {
                network: null,
                ...
            }
        }
       ...
        mounted() {
            this.network = new vis.Network(this.container, data, this.options);

[2017-01-19 00:34] jonathanchrisp opened #2602 "this.moment.duration is not a function error after upgrading to v4.18.0"
I've found that when using the latest version 4.18.0, moment throws an error when setting this.moment.duration. Please see below:

[code]

The line in question is:
[code]

[2017-01-19 00:51] FilipQL opened #2603 "Delete multiple selected nodes & edges - only deleteNode function is executed"
- When I delete an edge - `deleteEdge: function(deleteData, callback)` is executed and on the graph that edge is deleted (`callback(deleteData)`).
- When I delete a node - `deleteNode: function(deleteData, callback)` is executed and that node as well as all of its directly connected edges are deleted on the graph (`callback(deleteData)`).
- But when I select a node and an edge that isn't directly

[2017-01-19 03:38] jonathanchrisp commented on #2602
Just to note we are using webpack on the project and I think this is causing the issue. The code being produced is the following on the `this.moment` instance.

[code]

[2017-01-19 04:39] jonathanchrisp commented on #2602
We've decided to revert to version `4.16.1` for now.

[2017-01-19 08:39] mojoaxel commented on #2525
@knokit Please file a new issue linking to you jsfiddle. Thanks

[2017-01-19 09:05] Yuvaleros opened #2604 "[Network] - Setting widthConstraint.maximum to node causes error"
**version: 4.18.0**
When trying to add the widthConstraint maximum attribute I receive an error in the console:
"Uncaught TypeError: Cannot read property 'width' of undefined"

Works fine with widthConstraint.minimum.
[code]

[2017-01-19 09:22] waterplea commented on #2592
I've managed to override CSS using flexbox to achieve what I wanted. Not sure if my CSS would be helpful to anyone since timeline is pretty flexible and it might only work for my case. Still working on achieving other aspects of layout I want. What are those DIV for though?

`<div class="vis-group" style="height: 0px;">`

`<div style="visibility: hidden;">?</div>`

[2017-01-19 10:36] emillykkejensen commented on #620
Any news on if and when this feature will be implemented?

[2017-01-19 11:19] m212121 commented on #2253
VV c
С Уважением,
Михаил

---- On Sat, 05 Nov 2016 08:28:16 -0700 notifications@github.com wrote ----

@m212121 In thиe new release (released today!!!) there is avv timeline.zoomIn() and timeline.zoomOut() which you can use and pass as parameter the factor you want to zoom (zoom factor must be between 0 and 1)
Try it out and tell us if this is what you need =)

—
You are receiving this because you

[2017-01-19 11:19] m212121 commented on #2253
Не сбИ
С Уважением,
Михаил

---- On Sat, 05 Nov 2016 08:28:16 -0700 notifications@github.com wrote ----

@m212121 In the new release (released today!!!) there is a timeline.zoomIn() and timeline.zoomOАмut() which you can use and pass as parameter the factor you want to zoom (zoom factor must be between 0 and 1)
Try it out and tell us if this is what yo u need =)

—
You are receiving this because y

[2017-01-19 12:21] mojoaxel commented on #2604
@eymiha Can you take a look, please. Thx!

[2017-01-19 14:41] knokit opened #2605 "Mouse events not triggered in chrome"
Mouse events, on Timeline, are not triggered in chrome but seem to work fine in firefox.

For example, listening to _mousedown_ events on Timeline label elements: [jsfiddle](https://jsfiddle.net/knokit/v217ag47/4/)

Not sure if this is somehow connected with #2525

[2017-01-19 15:08] eymiha commented on #2604
It's an elusive text-formatting edge case!

The error is because 30px is not wide enough to contain the word 'Node' at the default point size. The fix is to always include the first word on each line irrespective of it's width. Otherwise we'd get into an infinite loop.

A fix will be PR'ed momentarily.

[2017-01-19 15:11] Yuvaleros commented on #2604
Thank you very much!

[2017-01-19 15:55] RaekwonStorm commented on #2602
We had the same error, and were able to fix it by adjusting that line to
`this.current.add(this.step, 'hour');`

Additionally, I was wondering if there was a particular reason you had to switch blocks nested within an if/else, rather than putting the DST logic entirely in the `hour` case (lines 196-236 of TimeStep.js).

Couldn't you just do the following:

[code]

or something to that effect?

[2017-01-19 16:07] ihatecodinglikeking opened #2607 "Can we have two types (box and point) in single timeline ?"
I am situation here,
having type : box for some items,
                     point for some items

I want to show only point items(No content) on X-axis as red color dot,
If item is box type(has content) don't show in X-axis show content in timeline space.

OR

If No content present show it as point on X-axis with red dot
If Content present show it as general box type

----UPDATED-----

After some

[2017-01-19 23:27] andrewkfiedler commented on #1839
At least in my case, I'm supporting IE10, so right now I'm limited to 4.15.0.  Not sure if others need IE9 support.

[2017-01-20 02:01] settergren opened #2608 "No highlight capability for icon nodes"
The current API does not allow for highlighting nodes (when selected) that are of shape 'icon' (without having to programmaticly listen for select events and updating the node properties).

The API documentation makes it sound like this should work:

[2017-01-20 07:14] lewisjb commented on #2607
http://visjs.org/examples/timeline/styling/itemClassNames.html (it shows examples of styling each component separately).

Specifically you would want:
`.vis-item.vis-line.indicator, .vis-item.vis-box.indicator { display: none; }`

(With giving the empty ones `className: "indicator"`)

Please remember this for reporting bugs; for general questions, sites like https://stackoverflow.com are better.

[2017-01-20 10:36] TrueFurby opened #2609 "Example: Images With Borders throws error"
Official [example](http://visjs.org/examples/network/nodeStyles/imagesWithBorders.html) for **Images With Borders** shows this for me:

![screenshot_2017-01-20_11-33-08](https://cloud.githubusercontent.com/assets/1229233/22146310/7e4a421a-df04-11e6-8eb7-a66e9f07eee7.png)

Console throws this error: ```vis.js:36032 Uncaught TypeError: Cannot read property 'borderDashes' of undefined```

I tested on

[2017-01-20 13:48] Tooa commented on #2608
Maybe related to https://github.com/almende/vis/issues/989 ? According to this, I guess the color and icon properties are separated from each other. Thus, the icon does not use the highlight from the node properties and has therefore no highlighting.

[2017-01-20 20:26] #2607 closed

[2017-01-21 15:17] hammock opened #2612 "[Timeline] Timeline.setGroups converts DataSet into DataView"
Hi there. When i use Timeline.setGroups like this:
[code]
`Timeline.groupsData` became an DataView instance ([lib/timeline/Timeline.js#L277](https://github.com/almende/vis/blob/master/lib/timeline/Timeline.js#L277)). Looks like an unexpected behavior for me. Is this needs to be fixed?

[2017-01-22 07:49] Kokozzi opened #2613 "Network - Navigation Zoom is broken (4.18)"
After #2377 commit to 4.18 Zoom events for Navigation at Network module are broken. Example of it is active at official example page - http://visjs.org/examples/network/other/navigation.html

`Uncaught ReferenceError: pointer is not defined` - when trying to zoom in or zoom out with help of bottom buttons.

[2017-01-22 14:11] Tooa commented on #2613
I can confirm this issue. There is no pointer in the scope of the button events :/

[2017-01-23 05:25] BelalAmin commented on #2586
Yes, that would be a briliant feature, if you managed to do it, please tell me how

[2017-01-23 06:46] yoavdamri commented on #2613
@Tooa, I saw it, in this case i can pass null (since the pointer is not relevant) or the translation x, y.
what do you think?

[2017-01-23 07:11] Tooa commented on #2561
I get the following error when trying the provided jsbin:

Can you provide me a working example that shows the error? Then, I will look into the issue.

[2017-01-23 07:14] #2560 closed

[2017-01-23 07:17] Tooa commented on #2584
@mojoaxel Is this still an issue or has this been fixed? For me, all examples seem to have a screenshot.

[2017-01-23 07:22] Tooa commented on #2494
@JoshDreamland any new insights on this?

[2017-01-23 07:36] Tooa opened #2614 "Timeline documentation border overlaps"
The documentation section `Configuration Options` [here](http://visjs.org/docs/timeline/) overlaps with the background border in Chrome Version 55.0.2883.87 (64-bit) and Firefox 50.1.0.

[2017-01-23 07:46] Tooa commented on #2458
I can reproduce this issue with the jsfiddle provided [here](https://jsbin.com/gifodew/edit?html,output). Just set `set max` to `undefined` and the error appears in the console. Since the [documentation](http://visjs.org/docs/graph2d/) states `All options are optional.` I guess `undefined` should be a valid input. What do you think @mojoaxel ?

Not passing the `max` field results in the expected b

[2017-01-23 14:41] gossi commented on #2455
I recently updated to 4.18, secretly hoping the problem resolves itself. Unfortunately it got worse :/ With 4.18 the selection problem I outlined above still persists but additionally, my custom styles aren't applied either. So my fancy-colored-items persist in the same color as before.

[2017-01-23 15:55] Verlaet opened #2616 "How to link a node to a url"
Hi,

my question would seem stupid but I don't write javascript.
I'd like to link each node to different URL by clicking on the node. How can I do that?

Thank you for your help! Liz

[2017-01-23 17:17] jtissier opened #2619 "nestedGroups don't reorder correctly with AJAX"
I am trying to dynamically add nested groups in my timeline after an AJAX response but I see two errors :

1. Even if I set the property "showNested: false" to my group the subgroups are still visible (I must click twice to hide them)

2. Nested groups appear AFTER all the main groups (see the screenshot)

![image](https://cloud.githubusercontent.com/assets/7328304/22213723/7ac61572-e195-11e6-8d3f

[2017-01-23 19:21] yotamberk commented on #2619
@jtissier Thanks for reporting!

[2017-01-23 20:39] lillian27 commented on #1951
Yes this is broken still/again.  Running code below in jsbin shows the previously mentioned timeline scale error.  Note this is just the basic usage example with the js/css references updated to use the cdn urls listed on the download page.  I also tried this locally with downloaded versions of the js/css with the same results.

https://jsbin.com/bocuyut/edit?html,console,output

When served local

[2017-01-23 20:40] JoshDreamland commented on #2494
My apologies; I haven't found time to file a decent patch. The problem is actually very simple; the algorithm to identify trees turned out to be correct, but the algorithm to shift trees is busted.

Essentially, `shiftTrees()` is only moving *one* tree at a time, so it will happily move one tree right inside another. For some reason, it never bothers to correct this. It computes a diff between eac

[2017-01-23 21:30] yotamberk commented on #2597
@mojoaxel I don't think it's a PRIORITY bug. This happened also in older versions of vis. The fix is simple I think. I can call `dragEnd` event when scrolling while dragging.
@thomasbarone What would be the desired behavior?

[2017-01-23 21:41] codingfriend1 opened #2624 "Hidden Dates block scroll when using zoomKey"
When you are not using the zoomKey option hidden dates allow you to scroll past hidden times with no problem. However if you have set a zoomKey you can't scroll beyond either the start or end time. It blocks you and the screen jitters.

[2017-01-23 22:20] JoshDreamland commented on #2494
It occurs to me that I'm being an idiot; we can just keep adding that value into "diff" as we go, instead of just computing a new diff every time. Nothing else will be operating on the tree during this process, so this is valid. I'll have a patch ready later tonight.

[2017-01-24 01:08] CapitanMorgan commented on #2616
Assuming you want to open a link on clicking of a single node you could do something like the example I included in this [jsfiddle.](https://jsfiddle.net/m3qrrjL7/6/) This example doesn't take into account multi selection of nodes. If you meant something else by this please clarify.

[2017-01-24 01:36] calvinrempel commented on #1934
@yotamberk
Does your implementation of nestedGroups support n-level hierarchies where n > 2? I'm not able to share a screenshot from work, so I will try my best to describe what is occurring. First, here is how I've constructed the groups (I was perhaps overly verbose as I attempted to figure out if I could do this or not!):

[code]

**Expected Output** is as follows ("v" represents a down-arrow i

[2017-01-24 02:23] gmlevin commented on #2458
What are you applying "omit" to? I believe that set_options does an update,
so if I omit the option from the argument, it stays what it had been. I
need to explicitly set it to undefined.  If you can apply omit to the
stored options, that would do what I need. Otherwise, I'll just let it
generate the error message.

Thanks for the pointer to the library. I expect it will be useful in the
future, e

[2017-01-24 06:19] yotamberk commented on #1934
The short answer is: No.
I intentionally wrote, at that time, support for only 1st degree nested groups. Support for n-th degree is possible but has to be implemented, in another PR.
Ill label this as a Feature Request and hope somebody can pick this up (or maybe i'll get to it when i have more free time...)

[2017-01-24 06:20] yotamberk commented on #2624
Can you supply a jsbin ?

[2017-01-24 06:33] calvinrempel commented on #1934
Ah sorry, I had skimmed through your PR but must have missed that. I don't believe it's an absolutely necessary feature for me at the moment, but I envision it becoming one in the future.

Thanks for the info!

[2017-01-24 08:43] Verlaet commented on #2616
Exactly what I need! More over rapid and efficient! So great.
Thank you so much!

[2017-01-24 09:10] mvdam opened #2626 "[Timeline] margin configuration option is "broken""
When upgrading from v4.16.1 to v4.17.0 / v4.18.0 the margin configuration option seems to be "broken". Timeline items that were nicely aligned after each other are now pushed to a new row. See screenshots below;

At v4.16.1 it works fine!
<img width="353" alt="v4 16 1" src="https://cloud.githubusercontent.com/assets/21951794/22240652/592650c6-e21c-11e6-8729-a805441459c8.png">

When upgrading to v4

[2017-01-24 09:11] yotamberk commented on #2626
Set the margin.vertical to -0.5

בתאריך 24 בינו׳ 2017 11:10 לפנה״צ,‏ "Martin van Dam" <
notifications@github.com> כתב:

[2017-01-24 09:12] yotamberk commented on #2626
*margin.item.horizontal

בתאריך 24 בינו׳ 2017 11:11 לפנה״צ,‏ "Yotam Berkowitz" <yotamberk@gmail.com>
כתב:

[2017-01-24 09:33] mvdam commented on #2626
Thank you, your solution works. Is it intended behaviour to use a negative value? Seems more like a hack to me?

[2017-01-24 09:36] #2616 closed

[2017-01-24 09:37] EnguerrandP opened #2627 "custom function label Graph2D"
is it possible to have the same custom function label as Timeline ?
 "Custom function label - fixes #1098 (#2145)"

[2017-01-24 09:38] yotamberk commented on #2626
It is kind of a hack. There is a bug that i couldnt solve elegantly so in
the meantime this solves it

בתאריך 24 בינו׳ 2017 11:33 לפנה״צ,‏ "Martin van Dam" <
notifications@github.com> כתב:

[2017-01-24 16:50] rasmusblockzero commented on #1825
Not sure if there is an official way of showing the tooltip but @Raghu-muninanjappa 's comment made my day (it seems to be vis-tooltip now though)

[2017-01-25 03:43] mindspank opened #2628 "Ignore window.moment"
Is there a way to force vis to use it's bundled version of moment instead of `window.moment`?

**Situation**:
vis is running inside a system that uses require.js as it's AMD loader which at some point loads an version of moment.js that insists on defining itself on `window.moment` despite being loaded using the loader.

Hence when vis loads it finds a reference to `window.moment` and later fails w

[2017-01-25 09:07] #1866 closed

[2017-01-25 18:47] ZacBrownBand commented on #2097
I ran into this same issue but while using multiple windows. I have a fix and will be opening a pr momentarily. First I wanted to update this issue.

I found a post on SO explaining why this is an issue,

[source](http://stackoverflow.com/questions/14391506/instanceof-operator-fails-when-passing-an-object-through-windows)

Here is jsfiddle showing the issue using a iFrame. [Link here](http://jsfid

[2017-01-25 19:39] mojoaxel commented on #2591
@bthieurmel Thanks for reporting this!
fixed my @eymiha with #2595

[2017-01-25 19:39] #2591 closed

[2017-01-25 19:45] Tooa commented on #2361
Can you provide us a minimal example showing the problem via [http://jsbin.com/](http://jsbin.com/) Maybe the one in the provided image?

[2017-01-25 19:47] mojoaxel commented on #2589
@bthieurmel Thanks for reporting!
Fixed by @eymiha with #2593

[2017-01-25 19:47] #2589 closed

[2017-01-25 20:30] Tooa commented on #2613
Thanks for reporting this issue. Fixed by @CapitanMorgan with https://github.com/almende/vis/pull/2615

[2017-01-25 20:30] #2613 closed

[2017-01-25 20:31] Tooa commented on #2609
Thanks for reporting this issue. Fixed by @denkiwakame with https://github.com/almende/vis/pull/2599.

[2017-01-25 20:31] #2609 closed

[2017-01-25 21:22] Tooa commented on #1848
I can confirm this issue. See jsfiddle [here](http://jsbin.com/bijoxaluxe/1/edit?html,console,output). This is indeed no expected behavior. I will look into it. Thanks for reporting it.

[2017-01-25 21:56] #1848 closed

[2017-01-26 02:26] roypardi commented on #2388
Jumping in here because I also need to implement a horizontal scrollbar for timelines which have min and max dates.

I haven't looked at the innards of the timeline code so I am talking out of my ... hat but if the min and max dates are know, and the current zoom scale(?) is known (or can be derived), shouldn't it be possible to determine the virtual width between the min and max dates at the curr

[2017-01-26 05:36] yotamberk commented on #2388
Yup, you are correct. It is possible. It simply means you need to implement a scrollbar from scrach...

[2017-01-26 07:45] zheyong91 commented on #2408
Hi all, i am facing the same issues as well. Adding close to 1k nodes on the canvas with custom images push the memory usage of the browser to almost 2gb. Is there any fix for this?

[2017-01-26 07:47] mdcanham commented on #2408
@zheyong91 I settled for using PNGs until someone has the time to look into this. As far as I am aware it is not resolved at this point.

[2017-01-26 07:56] zheyong91 commented on #2408
@mdcanham ic ok. Have you encountered a situation where the memory usage is close to 2gb because of images?

[2017-01-26 08:05] mdcanham commented on #2408
@zheyong91 No I have never encountered memory usage on that level. I am using images for the nodes that are only on the order of KBs (64x64 PNGs).

Based on the numbers that you have given each of your node images must be on the order of 1-2MB. If this is true then I would start by reducing the size of your node images, do they need to be that big.

Also are the images that you are using able to b

[2017-01-26 12:41] Tooa commented on #2458
My bad. You are right. I found the issue and fixed it in https://github.com/almende/vis/pull/2634. We will release a new version including that fix this weekend. Thanks for reporting the issue.

[2017-01-26 13:07] waterplea opened #2635 "Timeline. Visible: false doesn't work for groups"
I'm trying to hide empty groups from my timeline. For example, I create groups like that but they all are visible:

[code]

[2017-01-26 14:24] gmlevin commented on #2458
Thanks for the fix. VisJS is a great package and I like using it for many
displays.

On Thu, Jan 26, 2017 at 7:41 AM, Uli Fahrer <notifications@github.com>
wrote:

[2017-01-26 14:43] LAffairs opened #2636 "Vis timeline add custom button inside item"
I'm working with Vis timeline and I have a [Timeline](http://jsfiddle.net/e7uodse2/1066/)

I don't know if is possible or not but does vis timeline support adding custom button in the right side inside items like item 4 (for example) that only displays a message on click?

[2017-01-26 16:18] yotamberk commented on #2458
closed with #2634 . thanks @Tooa !

[2017-01-26 16:18] #2458 closed

[2017-01-26 16:26] yotamberk commented on #2636
Hi @LAffairs , You can add any html you want to the item itself. Checkout: http://visjs.org/examples/timeline/items/htmlContents.html

[2017-01-26 16:26] #2636 closed

[2017-01-26 16:29] oatesch opened #2637 "Custom class-names not working as expected"
Supplying classnames like "color-pro-notstarted", have to change
`if (e[6].qNum)`
for
`if (0)`

to work as expected.

[2017-01-26 16:41] Tooa commented on #2415
There is something strange with the automatic scaling. I will look into it. You can try playing around with `min` and `max` of the data axis. This works for example:

[code]

[2017-01-26 16:54] yotamberk commented on #2637
@oatesch This is really unclear... Can you supply an example?

[2017-01-26 16:57] #2637 closed

[2017-01-26 16:58] oatesch commented on #2637
@yotamberk established cause of problem was outside vis, closed issue.

[2017-01-26 17:01] yotamberk commented on #2637
Okey dokey.

[2017-01-26 17:05] yotamberk commented on #2573
@sarrek Did you try using the `format` with a function? Take a look at the option for this in the docs http://visjs.org/docs/timeline/#Configuration_Options `format` option

[2017-01-26 17:08] yotamberk commented on #2592
@waterplea
They were added for checking out if there was an initial change in the groups. I don't like this because it feels like a workaround for fixing this case... I'm intending to change this check. Hopefully I'll be able to clean it out for next minor.

Can you supply your CSS you've used?

[2017-01-26 17:12] yotamberk commented on #2559
@sarrek try the `format` option for controlling what will be displayed in the `minorLabel`. Does that help?

[2017-01-26 17:16] #2532 closed

[2017-01-26 17:19] yotamberk commented on #2455
@gossi
Can you please supply an updated jsbin with the problem?
I'm not managing to reproduce this...

[2017-01-26 17:32] seantrace opened #2638 "Relative rolling mode timeline"
Is it possible to create a rolling mode timeline which starts at 00:00:00 and shows time relative to a point in time when it is started rather than being always centred on the current time?

[2017-01-26 17:35] yotamberk commented on #2638
@seantrace not yet. But this could be a nice feature request!

[2017-01-26 18:16] Tooa commented on #2603
This case is not considered in the manipulation system ([code reference](https://github.com/almende/vis/blob/master/lib/network/modules/ManipulationSystem.js#L424)). It is either the node or edge `deleteFunction` that is executed. However, once we add this case the data might already be deleted from the `deleteNode` function. When the `deleteEdge` function is then called the passed selection data

[2017-01-26 18:21] Tooa commented on #2454
Is this still an issue? Have you identified any culprit like the mentioned `Privacy Badger addon`. Does it work with a vanilla Firefox installation?

[2017-01-26 18:36] Tooa commented on #2081
This seems to work fine? See [here](http://jsbin.com/qojunijiyu/1/edit?html,console,output). However, I also get this error when I copy your provided string above. Maybe something with the encoding don't know. I close this for now since my supplied example works.

[2017-01-26 18:36] #2081 closed

[2017-01-26 18:39] Tooa commented on #2084
I close this issue for now. Feel free to create a new issue if your problem still exists. However, make sure you provide a minimal example that shows the problem.

[2017-01-26 18:39] #2084 closed

[2017-01-26 19:01] Tooa commented on #1771
I think this is expected behavior. Take a look at this example [here](http://jsbin.com/qojunijiyu/1/edit?html,console,output). Once you click on one of the nodes, the `selectNode` and `selectEdge` events are fired. When you then click on the edge it is still selected. Thus, no new `selectEdge` event is fired.

The [documentation](http://visjs.org/docs/network/) states:

There is no second `selectE

[2017-01-26 19:01] #1771 closed

[2017-01-26 19:13] Tooa commented on #2579
The documentation states:

So the following works out of the box:
[code]

Do you see any benefit of passing a dom element as title?

[2017-01-26 19:54] gossi commented on #2455
It is still the same code. However, I run it inside electron (ember-electron to be clear). So I guess it must also has something to do with that environment. Shall I try to create a minimum viable version of that?

[2017-01-26 20:36] Pratik--Patel commented on #2561
I have modified and fixed the jsFiddle so that the error is demonstrated fine.

You can find it [here](http://jsfiddle.net/n3tqtzgo/10/)

[2017-01-26 20:49] brichbe commented on #2638
@seantrace Something like [this](http://jsfiddle.net/6Lcsany1/4/)?

[2017-01-26 20:52] Tooa commented on #1852
I suggest to simply change `animate` to `animation` in the documentation. Timeline and Network documentations are correct.

[2017-01-26 21:04] Tooa commented on #2110
@AdamNowaczyk

I've fixed this issue in https://github.com/almende/vis/pull/2634. We will release a new version this weekend. I try to look also in this issue.

[2017-01-26 21:44] Tooa commented on #2536
This looks like a bug to me. An example to produce can be found [here](http://jsbin.com/moyazaluqe/1/edit?html,output).I'm not really used to the `Graph3D` component. So, how does this order should be defined? Is it enough to sort by the first coordinate? Can you show some more examples? Maybe this one is special?

[2017-01-26 21:58] OACDesigns commented on #2454
I think it's safe to close this.
The issue seemed to disappear with no action taken as far as I'm aware...it may be due to an update in ubuntu

[2017-01-26 22:03] #2454 closed

[2017-01-26 22:07] Alex-Dim opened #2639 "Radius around node"
Is there any way to draw radius around some node, for example this radius represent some field of influence around node?
Thank in advance.

[2017-01-26 22:42] Tooa commented on #2090
Looks like the original data is modified [here](https://github.com/almende/vis/blob/bc2bc581aaa16905f2ee15b26d3915648c34cc54/lib/timeline/component/LineGraph.js#L679) when stacking is set to `true`. When you change the flag to `false` the data is already modified as stacked.

[2017-01-26 23:04] bradh commented on #1417
Still appears to occur with current version (develop branch as of 3456acffa173ae60f06ba8a242a243560a40066a, although that particular commit is nothing to do with this bug, just the testing point).

I couldn't reproduce with the left-right sequence, but it does occasionally occur if you go right (to get the resizing) then left.

[2017-01-27 00:02] FilipQL opened #2640 "Bootstrap affects Vis Network styling?"
I am using Vis Network and although the Bootstrap CSS file (bootstrap.min.css) is included first (before vis.min.css):
[code]
... the graph (**toolbar**) is affected:

![1](https://cloud.githubusercontent.com/assets/18264428/22355555/8e1f4aa6-e42b-11e6-8cff-21f58d6ea2e8.png)

![2](https://cloud.githubusercontent.com/assets/18264428/22355560/973c7690-e42b-11e6-88a6-c1824e006fd9.png)

Here is the de

[2017-01-27 02:57] thomasbarone commented on #2597
@yotamberk I guess the two simple choices would be to either call the `dragEnd` event to end the dragging when scrolling like you mentioned, or to disable scrolling completely during dragging, perhaps by adding a check to the `mousewheel` event handler.

Either of these would be acceptable I think.

[2017-01-27 03:02] Alex-Dim commented on #2639
What i have done:
first inside function addNode() i added "globalData" global var that collects id of node:

function addNode() {
	globalData = document.getElementById('node-id').value;
            try {
                nodes.add({
                    id: document.getElementById('node-id').value,
                    label: document.getElementById('node-label').value
                });

[2017-01-27 03:15] Alex-Dim commented on #2639
I solved this problem :
[code]

[2017-01-27 03:15] hawkeyeaz1 commented on #2536
graph = new vis.Graph3d(container, [ {x: 1, y: 1, z: 0}, {x: 0, y: 0, z: 0} ], { style: 'bar' });
graph = new vis.Graph3d(container, [ {x: 1, y: 1, z: 1}, {x: 0, y: 0, z: 0} ], { style: 'bar' });
graph = new vis.Graph3d(container, [ {x: 0, y: 1, z: 1}, {x: 0, y: 0, z: 0} ], { style: 'bar' });
graph = new vis.Graph3d(container, [ {x: 0, y: 0, z: 1}, {x: 0, y: 0, z: 0} ], { style: 'bar' }); // Reall

[2017-01-27 03:34] priyankabinani commented on #2300
Hi,

I was trying to keep all the nested groups collapsed by using showNestedGroups: false. But looks like this is not working. Any pointers?

Thanks!

[2017-01-27 03:43] priyankabinani opened #2641 "Issue collapsing the groups"
Hi,

I am using nestedGroups and I am trying to collapse all the nested groups by using showNestedGroups: false. But looks like this is not working. Any pointers?

Thanks!

[2017-01-27 03:43] weedkiller opened #2642 "creating data samples for the different or custom timelines"
Hi, first this is a wonderful lib, the data format is a little confusing. In my case I cant figure out what/how to format and send, an icon, grouping of events by activity, where the _display content items could change by date._

For e.g. how to handle different goups of information with different icons by date
10/31/2016
-  Alert! 10 robberies
-  Ozone green level
-  Weather rain

1/1/2017
-  Ozo

[2017-01-27 03:45] weedkiller opened #2643 "neighborhood"
Hi, very nice sample!! 👍  in the [neighborhood sample,](http://bit.ly/2kztGXr) the data format includes **hard coded X, Y coordinates in the JSON file,** and hard coded Div tags in the woldcup data file.

how did you figure out the placement- so,

1.  **how can we let** `vis or another 3rd party lib auto-arrange the positions of the node placements & clusters`, rather than developer performing thi

[2017-01-27 07:29] yotamberk commented on #2639
Cool! Thanks for sharing!

[2017-01-27 07:29] #2639 closed

[2017-01-27 13:14] mojoaxel commented on #2641
@priyankabinani The [official example](http://visjs.org/examples/timeline/groups/nestedGroups.html) seams to work. Can you please provide your code that causes the problem (e.g. at jsbin.com).

@yotamberk Can you please take a look at this.

[2017-01-27 13:18] mojoaxel commented on #2643
@weedkiller Please [read the docs](http://visjs.org/docs/network/) and go through [the network examples](http://visjs.org/network_examples.html)!

[2017-01-27 13:20] mojoaxel commented on #2626
@yotamberk Can you please refer to the issue number of that bug.

[2017-01-27 13:23] mojoaxel commented on #2626
@mvdam By the way: You timeline looks realy nicely styled. Is there any chance that you could provide a public example with this style? A would realy like to add something like this to our [showcases](http://visjs.org/showcase/index.html) or our [examples](http://visjs.org/timeline_examples.html).

[2017-01-27 13:27] brichbe commented on #2642
http://visjs.org/timeline_examples.html    All the source code for these examples is available for you to read and learn from.

[2017-01-27 13:47] seantrace commented on #2638
@brichbe This is exactly what I was after. Thanks for the assistance.

[2017-01-27 13:59] brichbe commented on #2638
Minor update to include a small fix I forgot about before posting yesterday:  http://jsfiddle.net/6Lcsany1/9/

Please close this issue if these examples address your question.

[2017-01-27 14:57] seantrace commented on #2638
I found and fixed that, but thanks. Am I allowed a supplementary question? I would also like to be able to pause the timeline which I could do by taking away an addition accumulated delta (restart time - pause start time). However there does not appear to be a way to exit rollingMode. _setOptions(options)_ does not appear to work for rollingMode. I tried calling _timeline.range.stop/startRolling()

[2017-01-27 15:10] priyankabinani commented on #2641
Hi,

Thanks for your quick reply. Looks like this is part of v4.18.1 I am using 4.18.0 which I got from the official download page: http://visjs.org/#download_install. Can you tell me where can I get the latest version of vis.

Thanks!

[2017-01-27 15:12] brichbe commented on #2638
@seantrace I hadn't tried that before, but I agree that setting `rollingMode` back to `false` via the options is not working as one would expect, so it does indeed appear to be a bug.

@yotamberk Did you test this when `rollingMode` was implemented?  This mode should be able to be toggled back and forth programmatically, not just an initialization setting.

[2017-01-27 15:20] priyankabinani commented on #2641
Oops.. just saw that would it be ready by - January 29, 2017. I will wait for it then. Hopefully I can download it from the main download page.

[2017-01-27 15:24] yotamberk commented on #2638
@seantrace Please open a new issue for the second question and we'll tag it as a feature request.

@brichbe No. It can be added in a feature request. It will be very easy to do.

[2017-01-27 15:24] #2638 closed

[2017-01-27 15:34] yotamberk commented on #2626
duplicate of #2318
@mojoaxel I remember referring to the PR that introduced this bug. I'll look for it again. I didn't have an elegant way of solving it so I left it as is at the time...

[2017-01-27 15:38] yotamberk commented on #2626
found it: #2107

[2017-01-27 17:11] yotamberk commented on #2597
fixed with #2645

[2017-01-27 19:22] jroetman commented on #2619
After tracing through the code some, I was able to get this working by setting the property nestedInGroup on the subgroup AND pushing that group's id to the the parent group. I'm using the code from the dist of the npm install.

Something like:
 groups.add({id : "parent1", content : "parent 1", nestedGroups: []})
 for each subgroup
      groups.add( { id: "sg1", content : "sg 1", nestedInGroup: "p

[2017-01-27 20:56] yotamberk commented on #2619
Cool! Thanks for sharing. I think we can close this issue and refer to the collapsing problem here: #2641

[2017-01-27 20:56] #2619 closed

[2017-01-27 20:58] yotamberk commented on #2594
@jtissier @blin4444  can you please supply a jsbin with an example with this error popping up?

[2017-01-27 22:20] yotamberk commented on #2590
fixed with #2646

[2017-01-27 22:23] yotamberk commented on #2641
I don't see a problem... I will have to have an example that doesn't work and study it.
@priyankabinani please supply an example jsbin with the problem and we will solve it ASAP

[2017-01-27 22:45] yotamberk commented on #2635
@waterplea It works perfectly fine for me. Can you please supply a jsbin to show the problem?

[2017-01-27 22:53] yotamberk commented on #2572
@lewisjb Can you please take care of this issue? It should be quite straight forward

[2017-01-27 22:55] yotamberk commented on #2455
yes please. I cannot recreate this scenario... A jsbin will be useful

[2017-01-28 02:52] weedkiller commented on #2642
I was looking at that, but a sample for clustering dynamic events for timelines was missing, or perhaps I was not able to figure out which one..

so, let me explain, For e.g. every morning user may want to see news, mail and inbox alert items, which are dynamic (alerts show up now, but the actual data in the bubble may relay later, based on available information updated) - I want to show them and

[2017-01-28 07:44] yotamberk commented on #2642
Clustering is not supported yet on the timeline.

[2017-01-28 09:03] yotamberk commented on #2602
@jonathanchrisp did you try upgrading your `moment.js` version?
@RaekwonStorm Can you submit a PR with your suggestion? It would be great if we could see the full solution suggestion

[2017-01-28 09:10] yotamberk commented on #450
I switched to v4.18.0 and this doesn't happen anymore (I remember solving this problem for 4.18.0. I was something to do with calculating groups' heights that are not visible)
I think we can close this issue. @sqazzi Please confirm this in your example switching the versions to 4.18.0

[2017-01-28 10:52] seantrace opened #2647 "[Timeline] Add support for dynamic changing of option rollingMode"
Please could you add a feature request to support changing the rollingMode option dynamically using setOptions method.

[2017-01-29 13:36] mojoaxel commented on #2602
@jonathanchrisp @RaekwonStorm I assume you are using an using a different `moment.js`!? Please update your moment.js version. If the problem persists please let us know!

[2017-01-29 14:17] dubacher opened #2653 "Drag one node over the other"
I would like to create new edges between nodes by dragging one node over another. "Dropping" one node over another would create a new edge between them. I had the following idea to implement this feature.

1. When drag starts I turn off the physics
2. I listen to dragEnd and hoverNode events. Because the physics is turned off I can drag one node over another one.
3. As soon as dragEnd event is tri

[2017-01-29 14:49] mojoaxel commented on #2635
I also can not confirm this with 4.18.0: http://jsbin.com/tuduru/3/edit?js,output

[2017-01-29 14:49] #2635 closed

[2017-01-29 14:50] mojoaxel commented on #2635
Nonetheless, an option `hideEmptyGroups` could be nicht feature request.

[2017-01-29 14:58] mojoaxel commented on #2626
@mvdam See https://github.com/almende/vis/issues/2318#issuecomment-262521973
closing as duplicate of #2318

[2017-01-29 14:58] #2626 closed

[2017-01-29 15:05] mojoaxel commented on #2640
I can confirm this. I'll have a look.

[2017-01-29 15:12] mojoaxel commented on #2640
This is coursed because bootstrap sets all DOM elements to `box-sizing: border-box`. I'll provide a fix.

[2017-01-29 15:17] mojoaxel commented on #2640
provides fix #2654

[2017-01-29 15:18] mojoaxel commented on #2604
@eymiha provided a fix with ~~~#2606~~~ #2650

[2017-01-29 15:28] mojoaxel commented on #2605
I can confirm this. The `mousedown` event is no longer propagated in the group label.

[2017-01-29 15:37] mojoaxel commented on #2594
Looking at [the subgroups example](http://visjs.org/examples/timeline/groups/subgroups.html) I can not reproduce this, by tracking any item to another group.
@@jtissier @blin4444 Please provide a way for us to reproduce this. Thx!

[2017-01-29 15:48] yotamberk commented on #2642
clustering of items has been requested in #242
closing this issue.

[2017-01-29 15:48] #2642 closed

[2017-01-29 15:48] #2640 closed

[2017-01-29 15:52] #2597 closed

[2017-01-29 15:52] #2590 closed

[2017-01-29 15:56] yotamberk commented on #2612
@hammock You are correct. We had to do this to be able to use a `visible` property to the group. It probably should be fixed but we currently don;t have a good solution. Do you have a solution?

[2017-01-29 15:56] #2604 closed

[2017-01-29 16:01] #2424 closed

[2017-01-29 16:02] #2448 closed

[2017-01-29 16:04] yotamberk commented on #2417
@omkarbodke closing this issue. If you want to submit a feature request with exactly what you need, please do!

[2017-01-29 16:04] #2417 closed

[2017-01-29 16:07] yotamberk commented on #2390
@federicoco I'm closing this issue. If this is still unclear, please reopen this issue and I'll help more

[2017-01-29 16:07] #2390 closed

[2017-01-29 16:10] #2338 closed

[2017-01-29 16:14] yotamberk commented on #2552
@albertotimoteo We need a jsbin in-order for us to help you. Closing this issue from inactivity. Please reopen it if the problem has not been solved and you can supply a jsbin.

[2017-01-29 16:14] #2552 closed

[2017-01-29 16:21] yotamberk commented on #1614
closed for inactivity

[2017-01-29 16:21] #1614 closed

[2017-01-29 16:24] yotamberk commented on #2321
@Broekhuis any progress?

[2017-01-29 16:25] #1918 closed

[2017-01-29 16:30] yotamberk commented on #784
Doesn't happen anymore in 4.18.0 with chrome 55.0.2883.87

[2017-01-29 16:30] #784 closed

[2017-01-29 16:39] yotamberk commented on #297
This is possible by CSS `text-align: center;` to the `.vis-time-axis .vis-text`

[2017-01-29 16:39] #297 closed

[2017-01-29 16:46] yotamberk commented on #398
Reoccurring items should be implemented by the user. I advise to do it using a loop with @josdejong suggestion and add a property for the item to indicate it's a reoccurring event (add an icon to the event using this property).

Closing this issue unless we are convinced this should be implemented on vis side

[2017-01-29 16:46] #398 closed

[2017-01-29 17:33] mojoaxel opened #2655 "Patch Release 4.18.1"
We are working on the next v4.18 release.
- [x] Checkout if we have major or minor changes.
- [x] Who should make the release?
- [x] Set timeframe for the new release.
- [x] Identify major bugs and add them to the 4.18.1 milestone.
- [x] Fix major bugs and complete [milestone v4.18.1](/almende/vis/milestone/5).
# Official Release Checklist
## Build
- [x] Change the version number of the library in

[2017-01-29 19:33] mojoaxel commented on #2655
Done!
https://github.com/almende/vis/releases/tag/v4.18.1

[2017-01-29 19:33] #2655 closed

[2017-01-29 19:35] mojoaxel commented on #2584
I added the missing the timeline screenshots and updated all existing with 276175e8c41c3ddc7c0aa2a00136aecaac15f1d3.
Some screenshots are still missing for [network](http://visjs.org/network_examples.html)

[2017-01-29 20:40] yotamberk commented on #2655
GJ! Thanks! @mojoaxel

[2017-01-29 20:41] TheBigApple opened #2657 "ToolTip Ballons & Hyperlinks for Nodes :Feature-Request"
ToolTip Ballons & Hyperlinks for Nodes
(Use this as the basis Example: vis-4.18.0/examples/network/nodeStyles/groups.html )

Please add these functions:

Tool-Tip Balloon Feature:
When the 'Node-Hub' is highlighted (been clicked), then on Hover a Tool-Tip Balloon description pops up for the Hub descriptions (Macro description of the Cluster).

When the 'Edge-Nodes' is highlighted (been clicked), t

[2017-01-30 04:52] lewisjb commented on #2572
Would it be more beneficial to only have one tool-tip DOM object, and instead of creating new ones when needed then hiding/showing them, just change it's value etc? Because currently if you have a lot of data in your timeline you can end up with a lot of tooltips in the DOM.

[2017-01-30 08:51] jtissier commented on #2594
I will try to provide you a jsbin soon

[2017-01-30 10:03] Charlie-UK commented on #2579
Hi,

I my case my the benefit is that I am able to reuse a tooltip component common to the overall  application.

It wouldn't be a great problem if I needed to recreate the tooltip component as a HTML string but it's obviously a cleaner solution if I can reuse existing software.

---- On Thu, 26 Jan 2017 19:13:57 +0000 notifications@github.com wrote ----

The documentation states:

When nodes or e

[2017-01-30 10:30] chillinski commented on #2396
What about using a scroll-spy script that renders and updates a time axis next to the canvas with the hierarchical tree. If you scroll the canvas the axis will update itself and vice versa.
You may use the "dragStart", "dragEnd" and "dragging" events

[2017-01-30 12:19] waterplea commented on #2592
Hey, here's CSS I used. I think it's all that is relevant, basically I've made things stretch using flex and overwritten the inline top styles for vis-line. I also got rid of 0 height and visibility hidden items:

[code]

[2017-01-30 14:19] JorisPhilipsen opened #2659 "How can I retrieve the current status of the showNestedGroups property when a user clicks on it?"
I want to be able save the users UI state in the local storage. I'm currently using something like this:

[code]

[2017-01-30 18:13] mojoaxel commented on #2579
The [docs](http://visjs.org/docs/network/nodes.html) say "String or Element". Looks like a bug to me!

[2017-01-30 18:42] brichbe commented on #2641
The confusion here may be due to the documentation saying the property is `showNestedGroups`, but the implementation expects `showNested` ...

[2017-01-30 18:48] priyankabinani commented on #2641
Thanks brichbe! That was exactly the issue the documentation for showNestedGroups says - "Assuming the group has nested groups, this will set the initial state of the group - shown or collapsed."
I used the nestedGroups and works. Thanks for all your inputs. Vis is awesome library!

[2017-01-30 19:03] yotamberk commented on #2641
@brichbe thanks for the clarification! We will fix this in the docs ASAP

[2017-01-30 19:03] #2641 closed

[2017-01-30 19:05] brichbe commented on #2659
Yeah, unfortunately there is no documented way to do that currently.  This will need to be a feature request so that the visibility state of nested and non-nested groups can be retrieved dynamically and/or emitted during relevant events

[2017-01-30 19:08] yotamberk commented on #2659
@JorisPhilipsen you have the groups' data. When you toggle a nesting group, the `showNestingGroups` will toggle and if you look at the groups' data you should see the state of the groups and save that to local storage.

[2017-01-30 19:10] yotamberk commented on #2572
@lewisjb yes! I think only one tooltip should be available at all times

[2017-01-30 19:10] yotamberk commented on #2564
@mojoaxel can you check this again please?

[2017-01-30 19:19] brichbe commented on #2659
@yotamberk can you verify that?  On a click event I'm logging the groups dataset and I see that the nested groups have `visible` and `nestedInGroup` properties that top-level groups do not have, but I'm not seeing the top-level groups' `showNested` property being toggled.

[2017-01-30 19:37] yotamberk commented on #2659
@brichbe yeah.. you're right... I'll have to check it out. Give me a few days, I have a lot of other things I'm working on.

[2017-01-30 23:12] blin4444 commented on #2594
It will be a bit difficult for me to do because I am using Vis commercially.

[2017-01-31 01:27] jroetman opened #2661 "Calculate width of an item being added"
I'm attempting to create some items using d3js. The only issue I'm having is determining the width of my svg canvas.

Are there methods exposed to calculate the width of an item being added?

I'm adding new items through a template as follows:

[code]
Element doesn't seem to be what I want.  Ideally I could do this:
[code]

[2017-01-31 06:20] zheyong91 commented on #2408
@mdcanham ic thank you for your help, managed to solve it by using font awesome as an alternative.

[2017-01-31 08:31] JorisPhilipsen commented on #2659
I've currently solved the problem in the following manner.

[code]

It works well for my simple use case but it's not an ideal solution. I'm a big fan of the vis.js library and thank you for your quick replies!

[2017-01-31 08:42] zheyong91 commented on #989
@AlexDM0 Hi Alex. Can I check on the status of this feature request?

[2017-01-31 08:47] mvdam commented on #2626
@mojoaxel Unfortunately I can't give you a live example of our timeline. However if you wish I can create lookalike for the examples page?

[2017-01-31 08:54] bvisick opened #2663 "How to centre major labels in timeline?"
I want to centre the text for the major labels in a timeline and leave the minor labels left-aligned. I've tried:
[code]
which centres the minor labels and leaves the major labels left-aligned, the opposite of what I want. Is there a way of doing this? Thanks.

[2017-01-31 09:05] beeva-ivanmarques commented on #533
Is there any news on this topic?

[2017-01-31 09:33] zheyong91 opened #2664 "Change Icon size for each node dynamically"
Hi all,

I am putting this question out to the floor because i can't find any solution to this question.

What i need to do is to change the node size of a particular node based on some algorithm. The problem is , setting node.size works when the node's shape is image, but it does not work when the node's shape is an icon. Any work around for this?

[2017-01-31 10:16] mojoaxel commented on #533
@beeva-ivanmarques This is a very old issue. If you still think this is a problem please open a new issue.

[2017-01-31 10:18] mojoaxel commented on #2626
@mvdam That would be amazing! At the moment almost all Timelines look the same. If you can com up with a nice styled example I'm more than happy to add it to our examples or showcases.

[2017-01-31 10:19] mojoaxel commented on #2641
@yotamberk Is this fixed? Can you please link the PR number. Thx!

[2017-01-31 10:23] mojoaxel commented on #2082
closing because of inactivity

[2017-01-31 10:23] #2082 closed

[2017-01-31 10:25] mojoaxel commented on #2088
closing because of inactivity

[2017-01-31 10:25] #2088 closed

[2017-01-31 10:28] mojoaxel commented on #2664
see
* https://github.com/almende/vis/issues/2082#issuecomment-245913285
* https://github.com/almende/vis/issues/2088#issuecomment-246280457
* https://github.com/almende/vis/issues/2298#issuecomment-259921322
* http://visjs.org/examples/network/labels/labelMargins.html
* http://visjs.org/examples/network/data/scalingNodesEdgesLabels.html

[2017-01-31 10:28] #2664 closed

[2017-01-31 10:31] AlexDM0 commented on #989
Hi,

I'm not working on visjs anymore so you'd have to refer this to the current maintainers.

Regards

[2017-01-31 10:31] mojoaxel commented on #989
@zheyong91 Alex is no longer working on this project.
@Tooa Can you help?

[2017-01-31 10:35] mojoaxel commented on #2661
@jroetman You know...this is vis.js and not d3.js !?

[2017-01-31 10:35] #2661 closed

[2017-01-31 10:37] mojoaxel commented on #2572
see #2662

[2017-01-31 12:12] mojoaxel commented on #2564
@tejashree2012 Please have a look at the [gridStyling example](http://visjs.org/examples/timeline/styling/gridStyling.html). There the weekend (Saturday and Sunday) are marked dark-gray.
At the moment this marks disappear if you zoom in, so that the hours of the day are displayed. Also the css-class-tags disappear if you scroll out so much than 2 days get grouped together.

You can set a min and m

[2017-01-31 12:12] #2564 closed

[2017-01-31 13:09] sqazzi commented on #450
I've switched to v.4.18.1. The glitches are gone. For me is OK.
However, when the browser is zoomed to 110%, the console warnings "infinite loop in redraw?" are back - thankfully without visible glitches.

[2017-01-31 13:11] zheyong91 commented on #2664
Thanks @mojoaxel for the links. But j am referring to this issue. https://github.com/almende/vis/issues/989

[2017-01-31 13:43] mojoaxel commented on #2664
@zheyong91 Ah, I see. Sorry!
Still a duplicate of #989

[2017-01-31 13:44] mojoaxel commented on #989
This is marked as "breaking change".
But now we have @eymiha in the team. Maybe he is willing to give this a try?

[2017-01-31 13:46] mojoaxel commented on #989
Maybe this helps: http://visjs.org/examples/network/nodeStyles/icons.html

[2017-01-31 17:56] balguri23 opened #2665 "Hiding and showing sub tree on double click on node"
I have a requirement to hide (collapse ) and show all nodes connected to the double clicked node. Is there any way to achieve this?

[2017-02-01 01:13] tomdcc commented on #2586
We would definitely use this, we're currently looking at how to do this manually.

One comment - for our needs the zoom level would need to be customisable somehow, either by specifying a window size (current end - start or percentage of total) or providing a custom function. Where we need these to kick in isn't on standard date etc blocks.

[2017-02-01 09:45] EmanuelOverflow commented on #2338
Sorry, it is not relevant anymore. Thank you for your help!

[2017-02-01 17:14] 4integration opened #2666 "Ordering in timeline"
Hi,

I might be tired or stupid...I want to get timeline items to be ordered by Id with lowest Id on top. Please advise

[2017-02-01 17:18] brichbe commented on #2666
http://visjs.org/examples/timeline/items/itemOrdering.html

[2017-02-01 17:49] 4integration commented on #2666
I have tried it:

  function orderById (a, b) {
    // order by id
    return a.id - b.id;
  }
and

	var options =  {
		order: orderById,
		start: startTime,
		end: endTime,
		editable: false
	};

I strictly want the item ID =1 at top and ID=2 next etc

[2017-02-01 23:47] FilipQL opened #2668 "Vis Network Manipulation Buttons: change focus on click?"
I am creating an app using [Vue.js](https://vuejs.org/) and [Vis.js Network](http://visjs.org/docs/network/). I have one text field (HTML input element) above the graph. When this input element has focus, when I click on any button on the [Manipulation toolbar](http://visjs.org/docs/network/manipulation.html), this text field still has focus:

![ovs mesh google chrome 2017-02-02 00 21 13](https://

[2017-02-02 11:59] mojoaxel commented on #2665
Please have a look at the [Clustering examples](http://visjs.org/network_examples.html#clustering).
If this doesn't help you please go to stackoverflow.com

[2017-02-02 11:59] #2665 closed

[2017-02-02 16:46] fstefani opened #2669 "[Timeline] Vertical group labels"
![image](https://cloud.githubusercontent.com/assets/1169746/22558424/e96b3c34-e96d-11e6-92c7-561699f87284.png)

I would like to align group labels like the image above and keep them centered, both vertically and horizontally, if someone adds new items to the group. Is there a way to achieve that right now?

Thank you for your help,
Francesco

[2017-02-02 19:00] yotamberk commented on #2669
you can do this with Css..
play around with: `transform: rotate(270deg);` and flexbox to get it aligned to the center.

[2017-02-02 19:01] yotamberk commented on #2666
@4integration please supply a jsbin so we can see better

[2017-02-02 19:06] yotamberk commented on #2663
Centered compared to what? They are programmed to be visible as much as possible so this is not possible with only css.

[2017-02-02 19:08] yotamberk commented on #2659
I think we can close this issue. If you want this as a feature request, please open a new issue and describe the feature.

[2017-02-02 19:08] #2659 closed

[2017-02-02 19:10] #2132 closed

[2017-02-02 19:16] yotamberk commented on #436
This feature doesn't make sense... Backgrounds are not supposed to be editable by nature. If you want an editable event, just use an item... Subgroups are the same story. You define a subgroup as a container and not as an item. Closing this issue.

[2017-02-02 19:16] #436 closed

[2017-02-02 19:26] yotamberk commented on #2097
closed with #2631. Thanks @ZacBrownBand!

[2017-02-02 19:26] #2097 closed

[2017-02-02 19:29] iislam commented on #242
I was able to cluster data on zoom.
![time-f-2](https://cloud.githubusercontent.com/assets/4976631/22564825/89475c9c-e94b-11e6-9d30-2ff884306791.gif)

I have written a [blog post here](https://medium.com/@iftekharul/creating-a-timeline-of-events-based-on-customer-feedback-79e6d3d50575#.9ia5pm4kc) about I was able to do it :)

[2017-02-02 19:51] yotamberk commented on #242
@iislam very cool! Thank you!

[2017-02-02 20:05] mojoaxel commented on #2663
It is not possible to change the alignment of the major-labels at the moment, because they don't have a defined `width`.
For the minor-labels a center-alignment is no problem, because thay have a width [TimeAxis.js#L262](https://github.com/almende/vis/blob/master/lib/timeline/component/TimeAxis.js#L262).

[2017-02-02 20:22] mojoaxel commented on #242
@iislam Amazing! Is there any chance that we can use something like this for our [showcases](http://visjs.org/showcase/index.html)?

[2017-02-02 20:31] iislam commented on #242
Sure! Let me PM you

[2017-02-03 00:07] rsrinivasan15 opened #2671 "Hierarchical network graph causes edges to cross"
I am trying to create a hierarchical network graph but the edges are crossed in some cases. The following jsbin reproduces this issue https://jsbin.com/qahuda/edit?html,js,output . Any pointers towards fixing this would be helpful.

[2017-02-03 06:06] tomdcc opened #2672 "Timeline itemover / itemout do not pass through the original event"
Version 4.18.1.

Event callbacks registered for `itemover` / `itemout` do not get the original mouse event as the `event` property on the passed `props` object. Instead they seem to get an object whose value is `{isTrusted: true}`.

This stops us from implementing a more custom hover mechanism using the mouse position to place the hover as we don't have access to the original mouse position.

[2017-02-03 06:21] tobibeer commented on #652
Here's a visual representation of what we're after with a hyperbolic tree representation, that better focuses on a central spot https://www.youtube.com/watch?v=pwpze3RF55o while easily and fluifly navigating around.

[2017-02-03 08:39] mojoaxel commented on #242
I added a showcase with #2673 to http://www.iftekhar.me/ibm/ibm-project-timeline/

[2017-02-03 09:46] mojoaxel commented on #1834
closing because of inactivity

[2017-02-03 09:46] #1834 closed

[2017-02-03 09:47] #2169 closed

[2017-02-03 09:47] mojoaxel commented on #1980
closing because of inactivity

[2017-02-03 09:47] #1980 closed

[2017-02-03 09:48] mojoaxel commented on #1977
closing because of inactivity

[2017-02-03 09:48] #1977 closed

[2017-02-03 09:48] mojoaxel commented on #1975
closing because of inactivity

[2017-02-03 09:48] #1975 closed

[2017-02-03 09:49] mojoaxel commented on #1962
closing because of inactivity

[2017-02-03 09:49] #1962 closed

[2017-02-03 09:49] mojoaxel commented on #1917
closing because of inactivity

[2017-02-03 09:49] #1917 closed

[2017-02-03 09:50] mojoaxel commented on #1874
closing because of inactivity

[2017-02-03 09:50] #1874 closed

[2017-02-03 09:50] mojoaxel commented on #1856
closing because of inactivity

[2017-02-03 09:50] #1856 closed

[2017-02-03 09:50] mojoaxel commented on #1785
closing because of inactivity

[2017-02-03 09:50] #1785 closed

[2017-02-03 09:50] mojoaxel commented on #2003
closing because of inactivity

[2017-02-03 09:50] #2003 closed

[2017-02-03 09:51] mojoaxel commented on #1896
closing because of inactivity

[2017-02-03 09:51] #1896 closed

[2017-02-03 09:51] mojoaxel commented on #2350
closing because of inactivity

[2017-02-03 09:51] #2350 closed

[2017-02-03 09:51] mojoaxel commented on #2310
closing because of inactivity

[2017-02-03 09:51] #2310 closed

[2017-02-03 09:51] mojoaxel commented on #2309
closing because of inactivity

[2017-02-03 09:51] #2309 closed

[2017-02-03 09:52] mojoaxel commented on #2257
closing because of inactivity

[2017-02-03 09:52] #2257 closed

[2017-02-03 09:52] mojoaxel commented on #1829
closing because of inactivity

[2017-02-03 09:52] #1829 closed

[2017-02-03 09:52] mojoaxel commented on #1806
closing because of inactivity

[2017-02-03 09:52] #1806 closed

[2017-02-03 09:53] mojoaxel commented on #1725
closing because of inactivity

[2017-02-03 09:53] #1725 closed

[2017-02-03 09:54] mojoaxel commented on #2299
fixed by @lewisjb with #2530

[2017-02-03 09:54] #2299 closed

[2017-02-03 09:56] mojoaxel commented on #2624
Closing because of inactivity.
Feel free to reopen if this is still an issue!

[2017-02-03 09:56] #2624 closed

[2017-02-03 09:58] mojoaxel commented on #1919
closing because of inactivity

[2017-02-03 09:58] #1919 closed

[2017-02-03 09:59] mojoaxel commented on #2282
Closing because of inactivity.
Feel free to reopen if this still is an issue!

[2017-02-03 09:59] #2282 closed

[2017-02-03 10:00] mojoaxel commented on #2400
Closing because of inactivity.
Feel free to reopen if this still is an issue!

[2017-02-03 10:00] #2400 closed

[2017-02-03 10:00] mojoaxel commented on #1864
Closing because of inactivity.
Feel free to reopen if this still is an issue!

[2017-02-03 10:00] #1864 closed

[2017-02-03 10:01] mojoaxel commented on #2573
Closing because of inactivity.
Feel free to reopen if this still is an issue!

[2017-02-03 10:01] #2573 closed

[2017-02-03 10:06] mojoaxel commented on #808
This implemented since 4.16.0

[2017-02-03 10:06] #808 closed

[2017-02-03 10:07] mojoaxel commented on #676
@brichbe Is this still an issue?

[2017-02-03 10:08] mojoaxel commented on #835
@fennekit Is this still an issue?

[2017-02-03 10:09] mojoaxel commented on #1245
@MusicalCreeper01 Is this still an issue?

[2017-02-03 10:10] mojoaxel commented on #943
@micek13 @tbaltrushaitis Is this still an issue?

[2017-02-03 10:11] mojoaxel commented on #1320
@sachin-samel Is this still an issue?

[2017-02-03 10:13] mojoaxel commented on #1364
@pheraph @schotman Is this still an issue?

[2017-02-03 10:14] #1375 closed

[2017-02-03 10:17] mojoaxel commented on #1454
Closing because inactivity.
Feel free to reopen if this still is an issue.

[2017-02-03 10:17] #1454 closed

[2017-02-03 10:18] mojoaxel commented on #1578
@au-arena Is this still an issue?

[2017-02-03 10:19] mojoaxel commented on #1564
Should be fixed!?

Closing because inactivity.
Feel free to reopen if this still is an issue.

[2017-02-03 10:19] #1564 closed

[2017-02-03 10:21] mojoaxel commented on #1342
@dragonzone Is this still an issue?

[2017-02-03 13:17] mojoaxel commented on #2672
@yotamberk Can you have a look please. We have to be careful with the events!

[2017-02-03 13:19] yotamberk commented on #2672
Sure. I have a list of thing i need to get to. Hopefully tonight/tomorrow

[2017-02-03 13:21] mojoaxel commented on #2671
I'll updated the example to the latest version: https://jsbin.com/naxawo/1/edit?js,output

@rsrinivasan15 What behavior would you expect here?

[2017-02-03 13:27] mojoaxel commented on #2672
No rush! But i thing you are the master of the timeline events, now ;-)

[2017-02-03 13:52] 4integration commented on #2666
I am not very used to jsbin so cannot it to work at all (not sure if/how to link the JS to HTML or if that done automatically) but here it is:
https://jsbin.com/lalaranimu/edit?html,js,output

[2017-02-03 15:26] #676 closed

[2017-02-03 21:11] MusicalCreeper01 commented on #1245
@mojoaxel no idea, I'm no longer employed to the person I was working for when using this library.

[2017-02-03 21:11] #1245 closed

[2017-02-03 21:34] FilipQL opened #2674 "Vis Network Manipulation: Stay in "add node" mode"
When we want to add a new node, we need to click on the "Add Node" button:

![edit fiddle - jsfiddle - mozilla firefox 2017-02-03 22 14 04](https://cloud.githubusercontent.com/assets/18264428/22608690/4028e922-ea5e-11e6-85a0-671fa8850812.png)

then Vis goes in "_add node mode_" - the toolbar changes to:

![edit fiddle - jsfiddle - mozilla firefox 2017-02-03 22 17 34](https://cloud.githubuserconten

[2017-02-03 22:19] dragonzone commented on #1342
I haven't updates our vis.js version lately, so I don't know. But go ahead & close it. If I have issues in future, I'll reopen it.

[2017-02-03 22:19] #1342 closed

[2017-02-04 01:13] upbeat21 opened #2675 "Edges with same from and to got combined to one"
Hi, I have couple of edges shared same "from" and "to" value. And when the vis.js render, it'll combine them to only one edge. I have different labels for these edges and I want to separate them into different edges. I have tried to put different ids to these edges but it does not work. Hope someone can help me please.

[2017-02-04 11:48] jonathanchrisp commented on #2602
@yotamberk / @mojoaxel - apologies for the delay. Updated moment and moment-timezone to latest versions and I'm still able to replicate the same issue unfortunately. Did you see/investigate @RaekwonStorm's comment above?

[2017-02-04 17:01] yotamberk commented on #2666
@4integration I don't see the problem... It looks ordered by id

[2017-02-04 21:28] rcrath commented on #652
@tobibeer If you can come up with a win 95 or 98 virtual machine, I might still have a copy of Inxight , the hyperbolic browser in the  demo. LMK if interested!  I was crushed when support for this failed after win 98.  It was my main file explorer.  The javascript versions are no doubt easier to work with, but the app had some really cool well thought out features (mostly demoed in the video: qui

[2017-02-05 10:35] gerardp opened #2676 "[Timeline] Bug ordering nested groups"
Hi,
Nested groups are not sorted when the parent has 'showNested: false'.

[2017-02-05 17:23] macleodbroad-wf commented on #1763
Any update on this?

I just did the graph2d typescript definitions manually. :(

I would much rather contribute my time to automating the generation of typescript definitions.

[2017-02-05 18:17] mojoaxel commented on #2676
@gerardp Can you please provide a simple [jsbin](http://jsbin.com/?html,output), to demonstrate the bug.

[2017-02-05 18:20] mojoaxel commented on #2440
duplicate of #1957

[2017-02-05 18:20] #2440 closed

[2017-02-05 18:20] mojoaxel commented on #2449
duplicate of #1957

[2017-02-05 18:20] #2449 closed

[2017-02-05 18:21] mojoaxel commented on #1899
closed due to inactivity.

[2017-02-05 18:21] #1899 closed

[2017-02-05 18:23] mojoaxel commented on #1662
closed due to inactivity

[2017-02-05 18:23] #1662 closed

[2017-02-05 18:23] mojoaxel commented on #2675
duplicate of #1957

[2017-02-05 18:23] #2675 closed

[2017-02-05 18:51] AoDev opened #2677 "Network clustering: Cannot read property 'font' of undefined"
Hi, I have basically copied the example of clustering [here](https://github.com/almende/vis/blob/master/examples/network/other/clustering.html).

Just using my own data.

when initiating the graph
[code]

When getting the data (before, I add a group property to each node)
[code]

My graph config
[code]

Stacktrace:
[code]

I believe it breaks in Label, [here](https://github.com/almende/vis/blob/1a

[2017-02-05 19:45] mojoaxel commented on #2677
@AoDev Thanks for the details problem description. But I can not reproduce this problem with your example-code: http://jsbin.com/foyufig/1/edit?html,js,console,output

Can you please try to reproduce the error in a public jsbin. Thanks.

[2017-02-05 21:45] AoDev commented on #2677
Thanks, I'll try tomorrow.

What I can say is, by removing the `nodes.font.multi` from my config, which is currently set to `html` currently, then it will render the cluster properly. Mainly because this `propagateFonts` seems to run only when the multi option is set.

[2017-02-06 01:51] aaraggornn opened #2679 "TypeError: Cannot read property 'hasOwnProperty' of null"
Upgrading from 4.17 to 4.18.1 I get the following error:
[code]
Downgrading back to 4.17 works correctly. My project is an Angular2 project.
I create the Timeline with the following line:
[code]
this.dataSets.active.items is a `new vis.DataSet<vis.DataItem>()` with groups a DataSet of DataGroup

[2017-02-06 02:33] terenceyw opened #2680 "Doubleclick event not fired on a datapoint if timeline.editable is set to true"
#1127 said this was fixed but I still have this issue

As title says doubleclick event when you doubleclick a datapoint will only fire if the timeline is not editable.

A workaround I tried is to set the timeline to non-editable but individual data points editable.  However when editable is true for a data point, updateTime (horizontal dragging) is false,  which I need.

[2017-02-06 10:21] gerardp commented on #2676
(I am not sure that the bug comes from the property "show Nested: false".)
http://jsbin.com/relegoheze/edit?html,output

The order should be:
clean house
cook
shop

But in the example the output is:
clean house
shop
cook

[2017-02-06 10:58] tbaltrushaitis commented on #943
@mojoaxel, don't know if this actual for the latest version. Will check and back with results, but not earlier than next week.
Thank you!

[2017-02-06 12:18] DrRefactor opened #2681 "Network: Adding nodes and edges in hierarchical graph without changing positions or order x-wise"
Hi, I need to add nodes in hierarchical graph without moving previous ones, like it happens in centric layout, where current nodes stay in their positions and new ones fit somewhere.
Holding their order x-wise would satisfy me also.
Is there any way to achieve this? Can't attach example atm, could provide it later if needed, but issue is quite simple.
EDIT:
To be clear, I'm adding nodes along with

[2017-02-06 13:21] netbrothers-tr opened #2682 "Missing way to interact with tooltips in Timeline module"
What I want to achieve is to enable the user to interact with the (built-in) tooltip, e.g. to click on a link in the tooltip's html. Maybe I just don't see how this works. Thanks for your suggestions and replies everyone!

[2017-02-06 16:10] RaekwonStorm commented on #2602
@yotamberk / @mojoaxel / @jonathanchrisp - Apologies for the delay on my end as well. I've submitted a PR #2683 with the changes I mentioned in the comment above. Thanks for keeping up on this!

[2017-02-06 16:31] LAffairs opened #2684 "Vis js display items issue"
I have a display issue when adding regular items, combined with point items inside background area.

My first item, with Id=1 should somehow become the header of the background area and the rest of the other items should enter bellow, inside the background area:

![image](https://cloud.githubusercontent.com/assets/25368113/22655242/37e8eda2-ec98-11e6-89f9-b62c7f3520ba.png)

**header item**
items.a

[2017-02-06 17:54] BrandonNoad opened #2685 "Unmet peer dependency webpack@1 || 2 || ^2.1.0-beta || ^2.2.0-rc"
When I run `npm install vis`, I'm getting the following warning:

[code]

[2017-02-06 18:12] mmcnl commented on #1185
Being able to update the opacity of a node independently from the rest of its existing color options would be very helpful for my application. Being able to do something like this
[code]
would mean that my updating code could change the opacity without having to maintain the state of the existing color of the node (when changing opacity via `rgba`).

[2017-02-06 20:50] yotamberk commented on #2685
@mojoaxel Can you take care of this?

[2017-02-07 14:19] MohsenEbrahimi86 opened #2688 ""editNode". Expected: function. Received [String] "undefined""
Hi.
I'm newbie to vis.js. I'm not really a java script programmer. I have extended vis.js addon for vaadin.
It is discontinued about two years ago according to github tracks. [This project](https://vaadin.com/directory#!addon/visjs-addon) is an wrapper interface that calls
vis.js network functions via vaadin java code. When i run a code, i have watched title error _"editNode". Expected: function.

[2017-02-08 03:24] tomdcc opened #2689 "Timeline: Feature request: zoomIn/zoomOut methods accept same animation options as e.g. setWindow"
Could then just pass on to setWindow call. This would occasionally be useful to zoom immediately or slow down the animation (our app has a "slow-animations" mode to help debug rendering issues).

[2017-02-08 03:29] tomdcc commented on #2689
Alternately, for the second use-case, a way to set the default animation options would be very useful.

[2017-02-08 03:45] rretter commented on #2685
Just installed node.js, which worked.
Just *tried* to install vis, which didn't, reporting this same problem.
Not so great a sign when software doesn't even *install* correctly.
Is installing even tried before a version gets put forth for general use?

[2017-02-08 09:11] gerardp commented on #2676
@mojoaxel Any idea on this bug and how to fix it?

[2017-02-08 09:31] Bulledesavon opened #2690 "Vis js timeline not showing title on background item"
Hi,

I have a problem using vis.js 4.17.0 timeline. In some circumstances, the title attribute (tooltip) of my background items don't show up and I don't understand why.
Here is my code:
[code]
Hovering the "B1" items shows their periode of time, but hovering the "Exclusion" item does not show anything.

Am I doing something wrong?

Thanks

[2017-02-08 13:58] brichbe commented on #2690
It's a known issue, so this is a duplicate of #778

[2017-02-08 14:05] brichbe commented on #2684
Please provide a working example on jsbin.com or jsfiddle.net

[2017-02-08 15:30] Clarence344 opened #2692 "Timeline redraw"
Hey guys,

I have a question about to change only an item and redraw the timeline without reload the hole timeline. How can I solve this problem!? My Timeline is connected with ajax to an database, and If I change the data I want that the items in timeline automatically changed.

I want to set an Interval for changing the items

`var items = new vis.DataSet([
       {id: 1, content: 'item 1', grou

[2017-02-08 15:32] Bulledesavon commented on #2690
Ok, thank you. I looked but didn't find this one.

[2017-02-08 15:32] #2690 closed

[2017-02-08 15:35] brichbe commented on #2676
This does appear to be a bug where the `groupOrder` is not applied to the nested groups (or a feature request for creating a new `nestedGroupOrder` timeline configuration option...).

@gerardp until this is fixed, I believe you'd have to work around this with the understanding that the groups are ordered in the DataSet by their 'id' value, so that's the order the _nested_ groups are getting displa

[2017-02-08 15:44] brichbe commented on #2692
Don't destroy and re-create the timeline each time.  You simply need to [add/update/remove](http://visjs.org/docs/data/dataset.html#Data_Manipulation) your items in the DataSet as needed, and the timeline will reflect those changes automatically.

[2017-02-08 16:01] Clarence344 commented on #2692
thanks a lot!!!! :) 👍

[2017-02-08 19:15] yotamberk commented on #2685
@BrandonNoad Thanks for reporting.
@rretter It's kind of rude to answer like that... Sometime we miss things... We are currently working on automated tests so we don't have these kinds of misses. In any case, a bit of manners would be appreciated... We do this project for fun - we don;t get paid to do this...

[2017-02-08 19:20] yotamberk commented on #2682
Hi @netbrothers-tr , the timeline has a builtin tooltip that only appears on hover. You can't interact with it because it will disappear if you try to move your mouse on it.

The best bet is to use an external tooltip that will appear onclick of the item.
 OR
this could be a feature request to implement a tooltip that will stay static when hovering on it.

For the meantime, I would go for the firs

[2017-02-08 19:22] yotamberk commented on #2679
@aaraggornn Can you supply a jsbin? It's difficult to reproduce without a working example of the bug

[2017-02-08 19:24] yotamberk commented on #2680
@terenceyw Can you please supply a jsbin? It would help to isolate the problem with an example

[2017-02-08 19:26] yotamberk commented on #2676
@gerardp Thanks for reporting. In the meantime, @brichbe 's suggestion is a great workaround

[2017-02-08 19:30] yotamberk commented on #2666
@4integration You've forgot to include visjs to the jsbin so the example doesn't work.
In the second example, the items are position correctly. The items are not colliding so they shouldn't be higher than `Test 2.3`.
The first example does seem to be incorrect.

[2017-02-08 19:33] yotamberk commented on #2663
The only workaround I could think of is to add a `margin-left' to the label-major but It won't promise it to be always in the center. If you want this as a feature request, please open a new issue with the feature explained.

[2017-02-08 19:33] #2663 closed

[2017-02-08 19:35] yotamberk commented on #2594
@jtissier @blin4444 any progress? I want to help but I can't reproduce it. I need your examples

[2017-02-08 19:40] mojoaxel commented on #2685
I'll try to take a look later tonight.
@rretter Yes, oft course we test the lib before releasing. Not sure what went wrong here...

[2017-02-08 19:45] yotamberk commented on #2685
Whoops. I didn't mean to close it... sorry

[2017-02-08 20:45] dubacher commented on #2653
Is it possible to get answer to my question? Let me know in case I need to express my question more clearly.

[2017-02-08 20:59] mojoaxel commented on #2685
Looks like this was introduced in #2513 (4.18.0).
Because I had webpack@2 installed globally I did not noticed the problem during testing. Sorry!

[2017-02-08 21:02] mojoaxel opened #2694 "update webpack and babel"
We should change the build process to leverage the new features introduced in webpack v2

[2017-02-08 21:06] mojoaxel commented on #2423
I say code-climate looks good so far: https://codeclimate.com/github/almende/vis/trends

[2017-02-08 21:06] #2423 closed

[2017-02-08 21:09] mojoaxel commented on #2423
There are still some issues:
https://codeclimate.com/github/almende/vis/issues

Feel free to tackle tham at any time!

[2017-02-09 08:26] netbrothers-tr commented on #2682
Hi @yotamberk , thank you for the clarification! It helped. I will, for now, try to include an external library but I think it makes a lot of sense to built this functionality directly into vis. 😃

[2017-02-09 09:49] helgphi opened #2696 "Timeline with start-time or end-time not working on iPhone or IE with Win10"
Hi,

tested a few thing about json and start: "2017-02-09 10:40:00" or end:"...." at different browsers. On Firefox everything is working fine. But on Safari or Chrome at iPhone (6Plus) the Item will fix positioned on left side.

When i change the json file from
"[{"id":1,"content":"Urlaub","start":"2017-02-06 11:00:00","end":"2017-02-08 11:30:00","group":17} (-> not working at iPhone, but Firefox

[2017-02-09 13:28] mojoaxel opened #2697 "Linting and codeing style"
We should discuss about introducing linting and enforcing some coding style.

[2017-02-09 13:28] mojoaxel commented on #2697
@AoDev introduced linting with #2695

[2017-02-09 13:31] mojoaxel commented on #2697
The reason we did not use linting until now is mainly because it would destroy the "blame" history and some contribution statistics. I personally planned enabling linting and enforcing some code style wit the next real big break. Such a break could be the splitting of the project (#2405).

[2017-02-09 13:34] AoDev commented on #2697
Actually, the reason I have decided to send a PR is because there is an eslint file in the repo. But, the dependencies are not installed and so my editor what crying because it could not find eslint to lint the code.
While I think linting is definitively necessary, and it also helps find bugs, if you think that it's not the right time for it, I'd remove the eslint file from the repo.

But when you

[2017-02-09 13:43] stoyanmkd opened #2698 "Timeline groupsData.update() not working in 4.18.1"
Hi, guys, thanks for improving this wonderful library!

I've just updated from visJs 4.17.0 to 4.18.1 and noticed groupsData.update() in Timeline module's not working  anymore. At the same time itemsData.update() is working like a charm.

Example:
[https://jsbin.com/yomecikila/edit?html,js,output](https://jsbin.com/yomecikila/edit?html,js,output)

Cheers,
Stoyan

[2017-02-09 13:44] brichbe commented on #2682
I disagree with this becoming a feature request to be built into vis.

As @yotamberk explained, you're not talking about a tooltip, you're talking about a _popup_ that allows the user to click on a link, which are different things.  Popups are easily implemented by handling the timeline click|doubleClick|contextmenu event you want, and then using a 3rd party lib to display the popup you need, so t

[2017-02-09 13:55] brichbe commented on #2698
https://jsbin.com/jadaparofa/1/edit?html,js,output

You need to use the public/documented APIs, which means using update() of the DataSets you supplied to the timeline.

[2017-02-09 13:55] netbrothers-tr commented on #2682
@brichbe you convinced me.

[2017-02-09 13:55] #2682 closed

[2017-02-09 14:56] stoyanmkd commented on #2698
Thank you!

[2017-02-09 14:56] #2698 closed

[2017-02-09 17:26] BrandonNoad commented on #2685
I was able to install 4.18.0...but not 4.18.1.

[2017-02-09 17:58] mojoaxel commented on #2685
Strange. Should be fixed now.
We should keep a close eye on this topic during the next release.

[2017-02-09 18:42] VRspace4 opened #2699 "Numerical Y-Axis in Timeline"
Hi, is it possible to configure the Y-Axis to be numerical in the timeline control so that the items can be dragged freely not only horizontally but also vertically?

[2017-02-09 19:31] rbkn commented on #1951
I'm having this issue using the npm import of the library within the Ember js framework - I can import the js files as a module, but the CSS is normally managed by the framework at compile-time and this error appears to result.

[2017-02-09 19:47] mojoaxel opened #2700 "Replace `console.log` with a minimal logging function/library"
We should enforce the eslint rule "no-console" by removing all console.logs and replacing them with a basic logging function that can show debug warnings and errors.

[2017-02-09 19:50] mojoaxel commented on #2697
I'm totally with you on the benefits of linting, but I'm not sure about the right moment to change a big part of the existing code.
Maybe we can start with a very minimal linting and enroll a much more strict linting with the v5 release!?

[2017-02-09 19:54] mojoaxel commented on #2700
Maybe it's enough to allow `warn` and `error` and remove all other messages?

[code]

[2017-02-09 20:51] AoDev commented on #1805
Hi, I have not been able to reproduce this. Here is a pen.
http://codepen.io/AoDev/pen/OWBddY

If I understand well, there is a different issue mentioned here which is updating data (edges) while some nodes are clustered, but that should be a different issue.

@shockdm Do you see anything wrong with that pen and is this still an issue?

[2017-02-10 04:27] roboslone commented on #1417
This is happening to me while using [react-visjs-timeline](https://github.com/Lighthouse-io/react-visjs-timeline) and custom CSS with `.vis-item .vis-item-overflow {overflow: visible;}`:
<img width="764" alt="screen shot 2017-02-10 at 07 26 16" src="https://cloud.githubusercontent.com/assets/1941275/22814161/4369bd38-ef62-11e6-93a6-2a75ce3e51bb.png">

Is there a way to make timeline consider whole

[2017-02-10 09:17] 4integration commented on #2666
Strange JSBin have
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.js"></script> on HTML

https://jsbin.com/naruvagisa/1/edit?html,output

Ok, I understand about the second example where they are not colliding. But if I want them to be strictly ordered by Id - is that possible?

[2017-02-10 09:55] Alex-Dim opened #2701 "Force click on zoom-out button inside navigation menu"
Is there any way to make force click on zoom out button inside navigation menu.I tried so many ways but neither works for me, i'm desperate , pls help me :)

[2017-02-10 09:59] krispyp commented on #2685
I'm getting this with 4.18.1. I'm not installing dev dependencies, and then cannot shrinkwrap due to unmet peer dependency.

It seems the problem is that you have babel-loader as a dependency:
https://github.com/almende/vis/blob/master/package.json#L33

I can only see it being used by a gulpfile, so probably this should be a dev dependency.

The problem happens because babel-loader has a peer dep

[2017-02-10 12:47] Clarence344 commented on #2692
So sorry, but I got an error with my function, do you know whats wrong?

Uncaught TypeError: items.on is not a function
    at Object.success (timeline.php:762)
    at fire (jquery.js:3099)
    at Object.fireWith [as resolveWith] (jquery.js:3211)
    at done (jquery.js:8264)
    at XMLHttpRequest.<anonymous> (jquery.js:8605)

`function red() {

 $.ajax({
    url: 'my-php-file.php',
	dataType:"json

[2017-02-10 12:48] Clarence344 commented on #2692
So sorry, but I got an error with my function, do you know whats wrong?

Uncaught TypeError: items.on is not a function
at Object.success (timeline.php:762)
at fire (jquery.js:3099)
at Object.fireWith [as resolveWith] (jquery.js:3211)
at done (jquery.js:8264)
at XMLHttpRequest. (jquery.js:8605)

`function red() {

$.ajax({
url: 'my-php-file.php',
dataType:"json",
success: function (data) {

items.

[2017-02-10 14:37] brichbe commented on #2692
You need to provide a full working example on jsbin/jsfiddle for help.

[2017-02-10 15:04] brichbe commented on #2666
Yes, by setting a unique `subgroup` value for each of your items, declaring the group they belong to and specifying its `subgroupOrder`, and setting the timeline to disable stacking (and removed using `orderById`).

I modified your Test 1:  https://jsbin.com/yuyejumelu/1/edit?html,output

[2017-02-10 20:47] yotamberk commented on #2700
I think we should allow warn and error

[2017-02-10 20:48] yotamberk commented on #2699
@VRspace4 I really don;t understand what you mean. Can you supply an illustration?

[2017-02-10 20:50] yotamberk commented on #2701
did you try `timeline.zoomOut`?

[2017-02-11 00:24] blin4444 commented on #2594
@blin4444 did you receive my emails? Thanks.

[2017-02-11 00:25] Alex-Dim commented on #2701
It zoomOut just timeline but not topology.Thanks for trying to help me :)
I don't know why doesn't work force click, it works force hide() for example , but not force click.

[2017-02-11 02:06] AoDev commented on #1218
@mojoaxel I was checking the code regarding this today and I actually made the clustering work and support node removal while clustered. But as I read the code, I got many questions and I wonder if it would be possible to speak with someone about it.

[2017-02-11 02:07] AoDev commented on #1291
@mojoaxel I was checking the code regarding this today and I actually made the clustering work and support node removal while clustered. But as I read the code, I got many questions and I wonder if it would be possible to speak with someone about it.

[2017-02-11 04:39] Alex-Dim commented on #2701
Problem solved in harder way.
I took one function from vis.js core library and made some changes:
I created new emty object:
 someNew = {};

`function zooming1(scl) {
				someNew.body.view.scale = scl;
				var t = someNew.body.view.scale,
					e = someNew.body.view.scale / (1 + someNew.options.keyboard.speed.zoom),
					i = someNew.body.view.translation,
					o = e / t,
					n = (1 - o) * someNew.

[2017-02-11 07:07] AlexDM0 commented on #1218
Hi @AoDev,

I wrote that code. The general idea is that each cluster is a new node that creates its own edges and hides the nodes and edges it replaces. On opening up the cluster it goes by its list to show the nodes it has hidden and delete all edges it created. The idea was to leave the original data intact, where in the old version the nodes were all potential clusters. The tricky part comes in

[2017-02-11 08:36] yotamberk commented on #2701
@Alex-Dim I'm glad you made it work. I'm still not sure what you mean by

Can you share your example in a jsbin so we can all enjoy and see your accomplishment?

[2017-02-11 08:40] yotamberk commented on #2699
Oh I think I understand what you mean. In the group itself to have control on it's height?
If so, the answer is no. But, you can control the `order` of items. You can give items a value (say "priority") and order it by that value.
Does this help?
If you want something more sophisticated, we can make it a Feature request

[2017-02-11 08:43] yotamberk commented on #2696
@helgphi a solution for this is to simply convert your time to ISOStrings.
It's not a good idea in general to give time fields a non-time value

[2017-02-11 09:16] yotamberk commented on #778
The solution is to add to `.vis-item: {    z-index: 1;  }`
I will add a PR soon

[2017-02-11 09:17] yotamberk commented on #2690
The solution is to add to `.vis-item: { z-index: 1; }`
I will add a PR soon

[2017-02-11 09:46] AoDev commented on #1218
@AlexDM0 Thanks for the answer. Sorry, before I commented on the wrong issue because I had another opened in the browser. https://github.com/almende/vis/issues/1291 . But it's all related.

I wish to know more about what is the responsibility of what.
* What is `this.body` ?
* What is `this.body.nodes` versus `this.body.data.nodes` ?
* Also `clusterNode.containedNodes` is I guess used for what you

[2017-02-11 09:58] yotamberk commented on #2598
Fixed with #2702

[2017-02-11 11:55] helgphi commented on #2696
@yotamberk ok, sorry I don't know exactly what you mean, but every change of the format: "start":"2017-02-06 11:00:00","end":"2017-02-08 11:30:00" will kill the items in the timeline. By the way, the example "Data serialization" won't work on iPhone and IE under Win10: http://visjs.org/examples/timeline/dataHandling/dataSerialization.html
(when you delete the time-value and load it with the button

[2017-02-11 16:13] yotamberk commented on #2672
solved in #2704

[2017-02-11 16:50] yotamberk commented on #2647
added with #2705

[2017-02-11 16:52] yotamberk commented on #1405
@marcortw sorry for the delay... I just saw this now...
Yeah that would be a cool feature request. But I think we should first implement week-based gridlines.

[2017-02-11 19:36] FilipQL opened #2707 "Show the "Edit Node" button in the toolbar only if a selected node belongs to a specific group"
I am using Vis Network with the manipulation module and the toolbar is always visible:

[code]
I have two different groups (types of nodes): `switch` & `host`. For example:

[code]
Only one type of of nodes should be editable - nodes that belong to the specific group ('switch') should be editable. When I select any node - in the toolbar the "Edit Node" button is displayed:

![network _ manipulatio

[2017-02-11 21:24] AlexDM0 commented on #1218
Hi,

The body is the main variable containing the data, it is passed from module to module.

Internally, every data is transformed into the dataset. Regarding the rest, these questions might've better pointed at the current maintainers. I thought you were referring to in depth questions in the clustering itself but those are largely basic network core questions.

The clustering code is kind of del

[2017-02-11 22:56] primozs opened #2710 "DataSet efficient remove all items by group"
Is there some efficient way to remove all items that belong to a group? Items with the same group id.

This is very slow on large datasets:
[code]
Cheers!

[2017-02-11 23:51] roypardi opened #2711 "Prevent a Vis.js Timeline from resizing "unnecessarily""
Does anyone know how to prevent a Vis.js Timeline from resizing "unnecessarily"? By "unnecessarily" I of course mean relative to a visual context not the "code context". In the screengrab below, I understand that the code is "doing its job", as it were, but the visual result is not acceptable: the layers should not be collapsing "just because they can". It is visually very distracting.

I've tried

[2017-02-12 00:15] #2710 closed

[2017-02-12 00:15] primozs commented on #2710
I made my one reference of previous items..

[2017-02-12 18:01] yotamberk commented on #2711
@roypardi what would you expect to happen? How do you see the timeline staying at a min height? How would it know what groups to keep big?

[2017-02-12 18:06] yotamberk commented on #2696
@helgphi It's not great behavior... We need to solve this

[2017-02-12 20:35] roypardi commented on #2711
In my attempts to avoid this behavior, I've tried things in the setup options like specifying a minHeight of 700px and a height of 700px but the timeline still collapses the layers to be as shallow  (compact) as possible.

So I would expect the TL to not change the layout height when it doesn't absolutely need to. In the example gif above, it clearly doesn't "need to".

I think I understand the is

[2017-02-12 23:04] aaraggornn commented on #2679
Here is a jsbin with a version of what I'm currently using.
http://jsbin.com/gemitiy/edit?html,js,output
If you change the version to 4.17.0 in the html it will work as intended

[2017-02-13 11:45] Ohng opened #2712 "How can add multiple time-axis in Timeline?"
I want to add more time-axis in Timeline such as UTC/GMT, GMT+2

For now, I use two timelines and the one on top doesn't load any data, it shows only the time-axis. Then, sync it when the other timeline moves.

Is there any better way to do this?

Thank you very much.

[2017-02-13 14:08] colotiline commented on #2509
Everything is ok when I remove edges below:

[code]

Continue searching for reasons.

[2017-02-13 14:11] colotiline commented on #2509
The hierarchical version with removed edges http://jsbin.com/basopehequ/edit?output.

[2017-02-13 14:22] colotiline commented on #2509
Everything became more interesting. The only one edge that I should remove is:
[code]

[2017-02-13 14:32] colotiline commented on #2509
The graph is collapsed when I try to connect edge `28106` and `10209503`.

![image](https://cloud.githubusercontent.com/assets/5231197/22887138/f37ae704-f211-11e6-9918-63170de4ca90.png).

Digging further.

[2017-02-13 15:56] CharlesNo opened #2713 "Modify the doc to link verticalScroll and maxHeight options"
Hello,

I think you should put on the documentation http://visjs.org/docs/timeline/ that if verticalScroll is true maxHeight should be set. (verticalScroll alone don't do anything without maxHeight).
I know it's obvious but it can save a minute.

[2017-02-13 22:24] terenceyw commented on #2680
https://jsbin.com/soqesuguqi/1/edit?html,output

First one is when timeline editable is true, double click event only registered when doubleclicking outside points not on points

https://jsbin.com/nutavodumi/edit?html,output

Second one when timeline editable is false, and item 4 editable is true, updateTime is false which I need to be true.

[2017-02-14 01:47] BTooLs opened #2715 "Q, How do I force redraw of the edges after moving nodes w/o physic"
Hello, first of all good job!

I have a small issue, I have nodes (A and B). Between them an edge, is a straight line.
After I move the node B in the opposite side (180 around A), the edge is curved now.
The physics module is disabled (otherwise this problem wouldn't exists), the nodes are manually positioned.
How do I force the edge to be recalculated/redraw for the new positions after moving nod

[2017-02-14 08:42] bradh commented on #2712
Do you mean two timelines? Like in https://github.com/almende/vis/issues/2147?
Or do you mean a second set of labels on a single timeline? Maybe a picture?

[2017-02-14 08:45] bradh commented on #2713
Do you mean at https://github.com/almende/vis/blob/master/docs/timeline/index.html#L1137 ?

Perhaps you could create a Pull Request for the change you expect to see?

[2017-02-14 08:46] Ohng commented on #2712
Thank you very much.

I mean more set of labels on a single timeline like the attached picture.

![timeline](https://cloud.githubusercontent.com/assets/8686773/22921528/65f4daa0-f29a-11e6-9eb8-48849ec9fc63.jpg)

[2017-02-14 09:58] CharlesNo commented on #2713
Hello,

I hope I did it right, first time I do it. My pull request can be seen on the list of pull requests (I think).

Thanks for the link and advice. :)

[2017-02-14 10:09] derfericb commented on #1490
Hello,

I know this post is very old but the answer does not fit to my question.
Once I modified tha node in the network graph, I would like this modification be reported in my JS file (on my hard drive).

[2017-02-14 14:15] jtissier commented on #2594
Sorry I can not share the whole code and it is very difficult to reproduce this bug for now because I have to finish the project soon.

For now I just add some try/catch to prevent the error when I drag an item between groups and the script failed to calculate height of subgroup (probably because the subgroup has been removed dynamically in my code)

I updated to 4.18.1 and the same error occurs i

[2017-02-14 15:22] CodeTroopers opened #2720 "Editable issue"
The css class vis-editable is always applied on items althought the editable property is set to false.
See this [plunkr](http://plnkr.co/edit/faL6epsZ0Tj10lYmGZKx?p=preview)
The property is converted in object in item constructor :
` if (this.data && this.data.hasOwnProperty('editable')) {
      if (typeof this.data.editable === 'boolean') {
        this.editable = {
          updateTime: this.dat

[2017-02-14 15:33] priyankabinani opened #2721 "horizontal scroll bar on timeline"
Hi,

I looked around on the documentation but could not find one. Do you have any horizontal scroll bar on timeline?

Thanks,
pdaga

[2017-02-14 17:56] yotamberk commented on #2720
You're right. Will be fixed

[2017-02-14 17:58] yotamberk commented on #2721
duplicate of #2388

[2017-02-14 17:58] #2721 closed

[2017-02-14 18:49] AoDev commented on #2697
I often use [standardjs](http://standardjs.com/) in my projects or in our company.
There are also other solutions like [prettier](https://github.com/jlongster/prettier) but, I haven't used this one.
There will always be a few rules that go against personal tastes but in general one get quickly used to it and the point is not having decisions based on personal taste to avoid discussions XD.

[2017-02-14 18:51] AoDev commented on #2694
Would you ditch `gulp`? it seems rather useless when you have webpack + npm.

[2017-02-14 19:21] mojoaxel commented on #2694
With gulp everything is in one place at the moment. I have no problem replacing gulp with some nice well-structured npm-scripts, but I'm not investing time in this at the moment.

[2017-02-14 20:05] mojoaxel commented on #1951
We should fix this: http://jsbin.com/xuxeve/2/edit?html,console,output

[2017-02-14 20:42] mojoaxel commented on #2598
fixed by @yotamberk with #2702

[2017-02-14 20:42] #2598 closed

[2017-02-14 20:46] mojoaxel commented on #778
fixed by @yotamberk with #2703

[2017-02-14 20:46] #778 closed

[2017-02-14 21:16] mojoaxel commented on #2405
We already have this: https://github.com/almende/vis/tree/master/dist

[2017-02-14 21:27] mojoaxel commented on #2405
It would more be an change in the projects organisation. The different parts than could have different maintainer and a different release cycle. Also issues could be tracked separately.

[2017-02-14 22:58] FilipQL opened #2724 "Vis Network: Get connected edges that connect to nodes from the specific group"
[getConnectedEdges(nodeId)](http://visjs.org/docs/network/#methodInformation) returns an array of edgeIds of the edges connected to this node. But how can I filter these edgeIds? For example, I need to filter them and get only edgeIds that are connected to the nodes that belong to a specific group (for example: group: 'switch')?

So, to be clear - for a specific node (nodeId) I need an array of ed

[2017-02-14 23:43] Rockson opened #2725 "Vis Timeline: setOptions height is resetting orientation"
Hello, thanks for your awesome work.
I had problem changing the height of the timeline when orientation.item = 'top'. It looks like it's resetting orientation.item to its default value (bottom).
`timeline.setOptions({height: "400px"})`

[2017-02-15 00:09] Rockson commented on #2725
Moreover i think that if orientation.item = "top" this css should be applied.

Because if the height of the timeline is higher than the vis-itemset height,  background items that don't belong to a group won't be showed correctly.

[2017-02-15 01:23] pawanrawal commented on #1064
Is there anyway to make this happen without commenting out the code? I would prefer the user to click on the network and that should focus it instead of a mouseover event.

Right now it causes a scroll on hover which is a bit abrupt.

[2017-02-15 07:00] 4integration commented on #2666
@brichbe Thanks that did the trick, thanks

[2017-02-15 09:00] adamgalmor opened #2726 "Memory leak"
Hello

Im using the visjs V4.18.1 timeline graph in my Ionic2 app.
Even though I destroy the graph on my control distractor, I can see a this memory leak (only on my Android device):

![image](https://cloud.githubusercontent.com/assets/2060170/22967122/d0bf568e-f36d-11e6-814d-5d043fb7d564.png)

[2017-02-15 11:21] RealRegatta opened #2727 "Template with editing item"
In the timeline, the template function can not use the editing item to display modifications
In this [plunkr](http://plnkr.co/edit/aE6RLeuJaby4WiFcnmIu?p=preview), I wish display the edited tminus property during the edition phase (it is displayed only after edition).
The template function could use the editing item or could have a second parameter with the editing item

[2017-02-15 11:57] OliveSaikiran opened #2728 "How to get the date time while dropping a file/how to give start date(our own date time) while dropping a file based on mouse move?"
I would like to know,

How to give a custom or our own date time while dropping a file in Timeline ?

If we give Start date and End date , before dropping that file it is working fine. But i would like to drop a file based on mouse move.

In Timeline, dropped file is able move from one date time to another date time.

But I need to drop a file based on mouse move.

Please help me in this scenario.

[2017-02-15 13:08] ThijsBroersen opened #2730 "onselect always emitted after deselect event"
I noticed a select event is always fired after deselecting a single node when multiple nodes are selected. This behavior does not look OK! I found the following related code:
[code]
rearranging the if statements seems to solve the problem:
[code]
For edges the same situation applies...
Am I missing something?

[2017-02-15 14:43] victorpratama opened #2731 "Multiple Timeline"
I have 2 timeline in 1 page, i want to drag item from 1st timeline to my 2nd timeline, is it possible to do it?

[2017-02-15 14:47] #2731 closed

[2017-02-15 14:47] victorpratama commented on #2731
i shoul post this on stackoverflof instead

[2017-02-15 15:34] RaekwonStorm commented on #2602
@yotamberk / @mojoaxel / @jonathanchrisp - Apologies for the delay on my end as well. I've re-submitted a PR #2732 with the changes I mentioned in the comment above. Thanks for keeping up on this!

[2017-02-15 16:08] ThijsBroersen commented on #2730
Yup, I was missing something. Closed issue

[2017-02-15 16:08] #2730 closed

[2017-02-15 16:18] sunsetjunks commented on #282
Hello! graph2d has a wonderful performance, sampling, etc. But I really miss the basic tooltip functionality...

When could we get it working? Thanks!

[2017-02-15 16:43] oussjarrouse commented on #450
Hello, I am using v.4.18.1. when i zoom the browser to 80% or lower (with option autoResize: true) the dataset disappears from the graph2d view with 'Warning! Infinite loop in redraw?'. When i zoom the browser to 90% or 100% then force a redraw on the Graph2d the dataset reappears...

That must be related to this issue!

[2017-02-15 21:03] yotamberk commented on #2727
I don't understand what you're asking. You want to see the time change while moving an item?

[2017-02-15 21:04] yotamberk commented on #2728
Take a look at this example (specifically the forth item with the fixed times)
http://visjs.org/examples/timeline/other/drag&drop.html

[2017-02-15 21:05] yotamberk commented on #2726
Thanks for reporting! Does this happen in other devices? Did this happen to you in previous versions?

[2017-02-15 21:06] yotamberk commented on #2725
Can you supply a working example? It would be easier to examine

[2017-02-15 21:26] yotamberk commented on #2679
Thanks! The problem is here: https://github.com/almende/vis/blob/bc2bc581aaa16905f2ee15b26d3915648c34cc54/lib/timeline/component/item/Item.js#L45

it should be `this.data.editable` instead of `data.editable`

We will fix this ASAP

[2017-02-15 21:32] Rockson commented on #2725
Sure

Remove the CSS fix and you'll se the problem
https://jsfiddle.net/r33j3033/

Click the **first** button and you'll see that the vertical alignment of the group has changed.
Moreover after clicking the first button click above group1, the library will throw an error in the console.
While if you click the **second** button( "+ orientation") the alignment won't change.

https://jsfiddle.net/kzy

[2017-02-15 21:38] yotamberk commented on #2679
Thanks! there was a mistake in there was a mistake in the code. I submitted a PR to fix this

[2017-02-15 21:46] yotamberk commented on #2725
@Rockson There error occurs because you loaded a huge range of years, and while trying to zoom out, the timeline is trying to draw all the lines of the timescale. because it is limited to 1000 lines, it crashes...

In terms of the bugs: Their seems to be the same bug with previous versions. I'll try to check it out the next few days.

[2017-02-15 21:49] yotamberk commented on #2711
@roypardi This will require some breaking changes. Can you please add the example from stackoverflow?

[2017-02-15 21:51] yotamberk commented on #2692
@Clarence344 Can you give an example?

[2017-02-15 22:30] Rockson commented on #2725
@yotamberk
https://jsfiddle.net/r33j3033/5/
https://jsfiddle.net/kzy7jgf2/3/

Maybe I misunderstood you, by the way I've changed the range of those examples with a smaller one, the bug persists.

[2017-02-15 22:40] roypardi commented on #2711
Hi – here's a link to my question (same as here): [How to prevent a Vis.js Timeline from resizing “unnecessarily”?](http://stackoverflow.com/questions/42182604/how-to-prevent-a-vis-js-timeline-from-resizing-unnecessarily) and the answer:

[code]

[2017-02-16 00:57] FilipQL opened #2736 "Vis Network: Wrong edgeData.from & edgeData.to?"
When you redirect an edge to a node with bigger id - **edgeData.from** and **edgeData.to** will have wrong values in some cases.

https://jsfiddle.net/Filip_Z/pruaeLgq/1/

For example, there is an edge which connects the node with `id = 2` and the node with `id = 1`. When you redirect that edge **from** the node with `id = 2` **to** the node with `id = 4` => `edgeData.from = 4` and `edgeData.to =

[2017-02-16 06:14] OliveSaikiran commented on #2728
Hi yotamberk,

Thanks for the Suggestion.

But "dragstart" is not woking. It is not calling the respective function.
So am unable to move forward.

Please help me in this scenario.

Thanks in advance.

[2017-02-16 07:17] RealRegatta commented on #2727
Yes

[2017-02-16 08:45] bradh commented on #2720
I've got a somewhat related fix in https://github.com/almende/vis/pull/2737 however after reading this, I'm not sure I really understand how `editable` in the `data` properties is supposed to work with `editable` in the `option` properties.

What is the truth logic that is intended?

[2017-02-16 11:15] Tooa commented on #2736
Thanks for reporting all these issues - especially in modules that are not tested by a huge base of users. Lately, I got quite busy. I will take a look once I'm free again. Don't stop reporting! :+1:

[2017-02-16 11:23] Tooa commented on #2707
Sounds like a good use case. What about the `disableEditMode` [function](http://visjs.org/docs/network/#methodManipulation)? It will close the complete toolbar, right? Can you think of a nice way of implementing your proposed feature? Maybe we can add methods to enable/disable each button individually? Any better or other suggestion?